<!-- finder modal for adding elements -->

<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row toolbar">
        <div class="col-sm-8">
          <ul class="list-inline ">
            <li><label class="title" translate>GENERIC.FilterBy</label></li>
            <li>
              <button tooltip="template"
                  tooltip-trigger
                  tooltip-animation="false"
                  tooltip-placement="bottom"
                  data-toggle="tooltip"><i
                  class="btn btn-sm btn-info btn-circle fa large-icon fa-file-o template"
                  ng-class="{ active: finder.isResourceTypeActive('template') }"></i></button>
            </li>
            <li>
              <button tooltip="element"
                  tooltip-trigger
                  tooltip-animation="false"
                  tooltip-placement="bottom"
                  data-toggle="tooltip"><i
                  class="btn btn-sm btn-info btn-circle fa large-icon  fa-file-text-o element"
                  ng-class="{ active: finder.isResourceTypeActive('element') }"></i></button>
            </li>
            <li>
              <button tooltip="metadata"
                  tooltip-trigger
                  tooltip-animation="false"
                  tooltip-placement="bottom"
                  data-toggle="tooltip"><i
                  class="btn btn-sm btn-info btn-circle fa large-icon  fa-tags metadata"
                  ng-class="{ active: finder.isResourceTypeActive('instance') }"></i></button>
            </li>
            <li class="spacer"></li>
            <li>
              <button
                  class="tool grid-view"
                  type="button"
                  tooltip="view as grid"
                  tooltip-trigger
                  tooltip-animation="false"
                  tooltip-placement="bottom"
                  data-toggle="tooltip"
                  ng-if="finder.isResourceViewMode('list')"
                  ng-click="finder.setResourceViewMode('grid')"><i
                  class="fa fa-th"></i></button>
            </li>
            <li>
              <button type="button"
                  class="tool list-view"
                  tooltip="view as list"
                  tooltip-trigger
                  tooltip-animation="false"
                  tooltip-placement="bottom"
                  data-toggle="tooltip"
                  ng-if="finder.isResourceViewMode('grid')"
                  ng-click="finder.setResourceViewMode('list')"><i
                  class="fa fa-list-ul"></i></button>
            </li>
            <li>
              <div class="btn-group dropdown">
                <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i
                    class="fa fa-sort  inline "></i></button>
                <ul class="dropdown-menu dropdown-menu-left">
                  <li><a ng-click="finder.setSortOption('name')"><i class="fa fa-check"
                      ng-class="finder.sortName()"></i><span
                      translate="DASHBOARD.sort.name"></span></a></li>
                  <li><a ng-click="finder.setSortOption('createdOnTS')"><i class="fa fa-check"
                      ng-class="finder.sortCreated()"></i><span translate="DASHBOARD.sort.createdOnTS"></span></a></li>
                  <li><a ng-click="finder.setSortOption('lastUpdatedOnTS')"><i class="fa fa-check"
                      ng-class="finder.sortUpdated()"></i><span
                      translate="DASHBOARD.sort.lastUpdatedOnTS"></span></a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div ng-if="finder.isSearching" class="search-result"></div>
            </li>
          </ul>
        </div>
        <div class="col-sm-4 pull-right">
          <form id="finder-search-form">
            <div class="form-group  floating-label-wrapper">
              <input autocomplete="off" ng-keyup="$event.keyCode == 13 && finder.search(finder.searchTerm)"
                  type="search"
                  class="form-control search-input"
                  id="finder-search-input" placeholder="Search" aria-label="Search" ng-model="finder.searchTerm"
                  with-floating-label/>

              <a class="clear do-search" ng-click="finder.search(finder.searchTerm)"><i class="fa fa-search"></i></a>
              <a class="clear clear-search" ng-show="finder.searchTerm" ng-click="finder.search('')">
                <span class="fa fa-remove"></span></a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="finder.resourceViewMode == 'grid'" cedar-infinite-scroll load-more="finder.loadMore()"
      class="modal-body scrollable-content">
    <section class="all-items-view " ng-class="as-modal">
      <div class="container-fluid">
        <div class="populate-form-boxes">
          <div class="grid-view">

            <!-- show the folders first -->
            <div ng-show="!finder.isSearching" class="group">
              <div ng-if="finder.isFolder(resource)"
                  class="form-box-container folder"
                  ng-class="{ selected: finder.isResourceSelected(resource) }"
                  ng-repeat="(index, resource) in finder.resources">


                <div ng-click="finder.selectResource(resource)"
                    ng-dblclick="finder.openResource(resource)"
                    class="form-box  ">
                  <div class="box-content text-center folder">
                    <div class="folderIconContainer">
                      <i style="font-size:20px" class="fa" ng-class="finder.getResourceIconClass(resource)"></i>
                    </div>
                    <div class="folderTitle">{{ resource.displayName }}</div>

                  </div>
                </div>
              </div>
            </div>

            <!-- then the elements -->
            <div class="group">
              <div ng-if="!finder.isFolder(resource)"
                  class="form-box-container"
                  ng-class="{ selected: finder.isResourceSelected(resource) }"
                  ng-repeat="(index, resource) in finder.resources">

                <div
                    ng-click="finder.selectResource(resource)"
                    ng-dblclick="finder.openResource(resource)"
                    class="form-box">

                  <div class="box-content text-center " ng-class="finder.getResourceTypeClass(resource)">

                    <div class="title-icon"><i class="fa"
                        ng-class="finder.getResourceIconClass(resource)"></i>

                    </div>
                    <div class="title">
                      {{ resource.displayName }}
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div cedar-infinite-scroll load-more="finder.loadMore()" ng-show="finder.resourceViewMode == 'list'" class="modal-body scrollable-content" >
    <section class="all-items-view " ng-class="as-modal">
        <div class="populate-form-boxes">
          <div class="list-view">
            <div class="info-side">
              <div class="info" ng-if="finder.selectedResource" >
                <div class="title-icon" ng-class="finder.selectedResource.nodeType"><i
                    class="fa"
                    ng-class="finder.getResourceIconClass(finder.selectedResource)"></i>
                </div>
                <div class="title" ng-class="finder.selectedResource.nodeType">
                  {{ finder.selectedResource.displayName }}
                </div>
                <table class="table-details">

                  <tbody>
                  <tr>

                    <td class="label">Location</td>
                    <td>{{ finder.selectedResource.displayPath }}</td>
                  </tr>
                  <tr>
                    <td class="label">Owner</td>
                    <td>{{ finder.selectedResource.ownedByUserName }}</td>
                  </tr>
                  <tr>
                    <td class="label">Modified</td>
                    <td>
                      <span class="no-wrap">{{ finder.selectedResource.lastUpdatedOnTS | prettyDate }}</span>
                      by
                      <span class="no-wrap">{{ finder.selectedResource.lastUpdatedByUserName }}</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="label">Created</td>
                    <td>
                      <span class="no-wrap">{{ finder.selectedResource.createdOnTS | prettyDate }}</span>
                      by
                      <span class="no-wrap">{{ finder.selectedResource.createdByUserName }}</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="label">Publicly readable</td>
                    <td>{{ finder.selectedResource.isPubliclyReadable }}</td>
                    </td>
                  </tr>
                  <tr>
                    <td class="label">Publicly writable</td>
                    <td>{{ finder.selectedResource.isPubliclyWritable }}</td>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="description">

                  <div ng-if="!finder.editingDescription" class="description-text">
                    {{ finder.selectedResource.description }}
                  </div>
                </div>
              </div>
              <div class="info" ng-if="!finder.selectedResource" >
                <div class="no-title" translate>GENERIC.SelectToViewDetails</div>
              </div>
            </div>

            <div   class="list-side ">
              <!-- group by kind -->
              <!-- folders -->
              <div ng-show="!finder.isSearching && finder.hasFolders()" class="category" translate>GENERIC.Folders
              </div>
              <div ng-show="!finder.isSearching" ng-if="finder.isFolder(resource)" class="box-row"
                  ng-class="{ selected: finder.isResourceSelected(resource) }"
                  ng-click="finder.selectResource(resource)"
                  ng-dblclick="finder.openResource(resource)"
                  ng-repeat="(index, resource) in finder.getFolders()">

                <div class="cell type"><i ng-class="finder.getResourceIconClass(resource)"
                    class="btn btn-sm btn-info btn-circle fa large-icon " aria-hidden="true"></i></div>
                <div class="cell resource">{{ resource.displayName }}</div>
              </div>
              <!-- elements -->
              <div ng-show="finder.hasElements()" class="category" translate>GENERIC.Elements</div>
              <div ng-if="!finder.isFolder(resource)" class="box-row"
                  ng-class="{ selected: finder.isResourceSelected(resource) }"
                  ng-click="finder.selectResource(resource)"
                  ng-dblclick="finder.openResource(resource)"
                  ng-repeat="(index, resource) in finder.getElements()">

                <div class="cell type" ng-class="finder.getResourceTypeClass(resource)"><i
                    ng-class="finder.getResourceIconClass(resource)"
                    class="btn btn-sm btn-info btn-circle fa large-icon " aria-hidden="true"></i></div>
                <div class="cell resource">{{ resource.displayName }}</div>
              </div>
            </div>


          </div>

        </div>

    </section>
  </div>

  <div class="modal-footer">

    <div class="row">
      <div class="col-lg-8 breadcrumbs-sb ">
        <p ng-show="!finder.isSearching">
          <span ng-repeat="folder in finder.pathInfo">
              <a ng-click="finder.goToFolder(folder['@id'])"
                  class="breadcrumbs">{{finder.breadcrumbName(folder.displayName)}}</a> /
            </span>
          <a class="breadcrumbs">{{finder.breadcrumbName(finder.currentPath.displayName)}}</a>
        </p>

        <p ng-show="finder.isSearching && finder.hasSelection()">
          <span ng-repeat="folder in finder.selectedPathInfo">
              <a ng-click="finder.goToFolder(folder['@id'])" ng-model="folder"
                  class="breadcrumbs">{{finder.breadcrumbName(folder.displayName)}}</a> <span ng-show="!$last">/</span>
            </span>

        </p>
      </div>
      <div class="col-lg-4 finder-actions">
        <div class=" clear-save">
          <button ng-click="finder.hideFinder()" type="cancel" class="btn btn-clear  " class="canc">Cancel</button>
          <button ng-disabled="!finder.hasSelection()" type="button" class="btn btn-save  "
              ng-click="finder.openResource()" type="button" class="subm">Open
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
