<!-- finder modal for adding elements -->

<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">

      <div class="row">

        <div class="col-lg-8 toolbar">
          <button
              class="tool"
              type="button"
              tooltip="view as grid"
              tooltip-trigger
              tooltip-animation="false"
              tooltip-placement="bottom"
              data-toggle="tooltip"
              ng-disabled="finder.isResourceViewMode('grid')"
              ng-click="finder.setResourceViewMode('grid')"><i
              class="fa fa-th"></i></button>
          <button type="button"
              class="tool"
              tooltip="view as list"
              tooltip-trigger
              tooltip-animation="false"
              tooltip-placement="bottom"
              data-toggle="tooltip"
              ng-disabled="finder.isResourceViewMode('list')"
              ng-click="finder.setResourceViewMode('list')"><i
              class="fa fa-list-ul"></i></button>
        </div>

        <div class="col-lg-4">
          <form>
            <div class="form-group  floating-label-wrapper">
              <input autocomplete="off" ng-keyup="$event.keyCode == 13 && finder.search(finder.searchTerm)"
                  type="search"
                  class="form-control search-input"
                  id="search1" placeholder="Search" aria-label="Search" ng-model="finder.searchTerm"
                  with-floating-label/>

              <a class="clear do-search" ng-click="finder.search(finder.searchTerm)"><i class="fa fa-search"></i></a>
              <a class="clear clear-search" ng-show="finder.searchTerm" ng-click="finder.search('')">
                <span class="fa fa-remove"></span></a>
            </div>
          </form>
        </div>

      </div>
    </div>

    <div class="modal-body">

      <!--all items view -->
      <section class="all-items-view " ng-class="as-modal">
        <div class="container-fluid">

          <div class="row populate-form-boxes">

            <div class="list-view" ng-if="finder.resourceViewMode == 'list' && finder.resources.length > 0">

              <div class="box-title">
                <div class="cell type"></div>
                <div class="cell resource">Title</div>
                <div class="cell date">Created</div>
                <div class="cell date">Modified</div>
              </div>

              <!-- folders first -->
              <div ng-if="finder.isFolder(resource)" class="box-row"
                  ng-class="{ selected: finder.isResourceSelected(resource) }"
                  ng-click="finder.selectResource(resource)"
                  ng-dblclick="finder.openResource(resource)"
                  ng-repeat="(index, resource) in finder.resources">

                <div class="cell type"><i ng-class="finder.getResourceIconClass(resource)"
                    class="btn btn-sm btn-info btn-circle fa large-icon " aria-hidden="true"></i></div>
                <div class="cell resource">{{ resource.displayName }}</div>
                <div class="cell date">{{ resource.createdOnTS | prettyDate }}</div>
                <div class="cell date">{{ resource.lastUpdatedOnTS | prettyDate }}</div>
              </div>

              <!-- then elements -->
              <div ng-if="!finder.isFolder(resource)" class="box-row"
                  ng-class="{ selected: finder.isResourceSelected(resource) }"
                  ng-click="finder.selectResource(resource)"
                  ng-dblclick="finder.openResource(resource)"
                  ng-repeat="(index, resource) in finder.resources">

                <div class="cell type" ng-class="finder.getResourceTypeClass(resource)"><i
                    ng-class="finder.getResourceIconClass(resource)"
                    class="btn btn-sm btn-info btn-circle fa large-icon " aria-hidden="true"></i></div>
                <div class="cell resource">{{ resource.displayName }}</div>
                <div class="cell date">{{ resource.createdOnTS | prettyDate }}</div>
                <div class="cell date">{{ resource.lastUpdatedOnTS | prettyDate }}</div>
              </div>

            </div>

            <div class="grid-view" ng-if="finder.resourceViewMode == 'grid'">

              <!-- show the folders first -->
              <div class="group" >
                <div ng-if="finder.isFolder(resource)"
                    class="form-box-container folder"
                    ng-class="{ selected: finder.isResourceSelected(resource) }"
                    ng-repeat="(index, resource) in finder.resources">


                  <div ng-click="finder.selectResource(resource)"
                      ng-dblclick="finder.openResource(resource)"
                      class="form-box  ">
                    <div class="box-content text-center folder">
                      <div class="folderIconContainer">
                        <i style="font-size:20px" class="fa" ng-class="finder.getResourceIconClass(resource)"></i>
                      </div>
                      <div class="folderTitle">{{ resource.displayName }}</div>

                    </div>
                  </div>
                </div>
              </div>

              <!-- then the elements -->
              <div class="group">
                <div ng-if="!finder.isFolder(resource)"
                    class="form-box-container"
                    ng-class="{ selected: finder.isResourceSelected(resource) }"
                    ng-repeat="(index, resource) in finder.resources">

                  <div
                      ng-click="finder.selectResource(resource)"
                      ng-dblclick="finder.openResource(resource)"
                      class="form-box">

                    <div class="box-content text-center " ng-class="finder.getResourceTypeClass(resource)">

                      <div class="title-icon"><i  class="fa"
                          ng-class="finder.getResourceIconClass(resource)"></i>

                      </div>
                      <div class="title">
                        {{ resource.displayName }}
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="modal-footer">

      <div class="row">
        <div class="col-lg-8 breadcrumbs-sb " >
          <p>
          <span ng-repeat="folder in finder.pathInfo">
              <a ng-click="finder.goToFolder(folder['@id'])"
                  class="breadcrumbs">{{finder.breadcrumbName(folder.displayName)}}</a> /
            </span>
            <a class="breadcrumbs">{{finder.breadcrumbName(finder.currentPath.displayName)}}</a>
          </p>
        </div>
        <div class="col-lg-4 finder-actions">
          <div class=" clear-save">
            <button ng-click="finder.hideFinder()" type="cancel" class="btn btn-clear  " class="canc">Cancel</button>
            <button ng-disabled="!finder.hasSelection()" type="button" class="btn btn-save  "
                ng-click="finder.openResource()" type="button" class="subm">Open
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>