<div id="privacy-policy" class="container-fluid" >


      <div class="navbar-back flex" style="font-size: 16px;cursor: pointer;">
        <div class="back-arrow-click flex-left" style="margin-right: 10px;font-weight: 100;font-size: 18px;" ng-click="goToDashboardOrBack()">
          <i class="back-arrow fa fa-arrow-left"></i>
          <div class="document-title" style="margin-left: 10px;font-weight:normal">Settings</div>
        </div>
      </div>

      <div class="content" >
        <p class="new-ui-toggle">
          <label> Test New Metadata Editor UI </label>
          <label class="switch">
            <input type="checkbox" ng-click="toggleMetadataEditorV2()" ng-model="useMetadataEditorV2" >
            <span class="slider round"></span>
          </label>
        </p>
        <p>We are currently testing a beta UI for creating and editing of instances. You can switch and test this new UI
           with the toggle above. You can always switch back to legacy UI during this test phase.
        </p>
      </div>

  </div>

