<!--gray populate a form modal slide up/down section -->
<section class="form-populate collapse in" id="favorites">
  <!-- container -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12 clearfix">
        <div class="pull-left">
          <h4>Populate a form</h4>
        </div>
        <div class="pull-right">
          <p><a href="#fsModal" data-toggle="modal">More <i class="fa fa-arrow-down"></i></a></p>
        </div>
      </div>
    </div>
    <!-- template boxes (4 columns) -->
    <div class="row populate-form-boxes">
      <div class="col-md-3 col-sm-6" ng-repeat="(key, form) in dc.forms" ng-show="key < 4">
        <div class="form-box">
          <a href="#n" class="box-content text-center">
            <i class="fa fa-file-text-o"></i>
            <p>{{ form.name }}</p>
          </a>
        </div>
      </div>
    </div>
    <!-- template boxes (4 columns) -->
  </div>
  <!-- container -->
  <!-- modal -->
  <div id="fsModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <!-- dialog -->
    <div class="modal-dialog">
      <!-- content -->
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 clearfix">
                <div class="pull-left">
                  <h4>Populate a form</h4>
                </div>
                <div class="pull-right">
                  <p><a href="#n" data-dismiss="modal">Less <i class="fa fa-arrow-up"></i></a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- header -->
        <!-- body -->
        <div class="modal-body">
          <div class="container">
            <div class="row populate-form-boxes">
              <div class="col-md-3 col-sm-6" ng-repeat="(key, form) in dc.forms">
                <div class="form-box">
                  <a href="#n" class="box-content text-center">
                    <i class="fa fa-file-text-o"></i>
                    <p>{{ form.name }}</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- body -->
        <!-- footer -->
        <div class="modal-footer"></div>
        <!--<div class="modal-footer"></div>-->
        <!-- footer -->
      </div>
      <!-- content -->
    </div>
    <!-- dialog -->
  </div>
  <!-- modal -->
</section>
<!--gray populate a form modal slide up/down section -->

<!--all items view -->
<section class="all-items-view">
  <a class="push-pull-box" data-toggle="collapse" href="#favorites" aria-expanded="false" aria-controls="collapseExample">
    <i class="fa fa-caret-down"></i>
    <i class="fa fa-caret-up"></i>
  </a>
  <!-- container -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12 clearfix">
        <div class="pull-right">
          <p><a href="#n" class="breadcrumbs">Home</a> / My Workspace</p>
        </div>
      </div>
    </div>
    <div class="row populate-form-boxes">
      <div class="col-md-3 col-sm-6" ng-repeat="(index, resource) in dc.resources">
        <div class="form-box">
          <div class="box-content text-center">
            <i class="fa fa-file-text-o"></i>
            <p>{{ resource.name }}</p>
          </div>
          <div class="quick-details-box">
            <p>{{ resource.description }}</p>
            <ul class="list-inline">
              <li><button class="btn  btn-sm btn-info btn-circle"><i class="fa fa-times"></i></button></li>
              <li><button class="btn  btn-sm btn-info btn-circle"><i class="fa fa-question"></i></button></li>
              <li><button class="btn  btn-sm btn-info btn-circle"><i class="fa fa-info"></i></button></li>
              <li><button class="btn  btn-sm btn-info btn-circle"><i class="fa fa-pencil"></i></button></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
