<!--gray populate a form modal slide up/down section -->
<section class="form-populate collapse in" id="favorites">
  <!-- container -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12 clearfix">
        <div class="pull-left">
          <h4>Populate a form</h4>
        </div>
        <div class="pull-right">
          <p><a href="#fsModal" data-toggle="modal">More <i class="fa fa-arrow-down"></i></a></p>
        </div>
      </div>
    </div>
    <!-- template boxes (4 columns) -->
    <div class="row populate-form-boxes">
      <div class="col-md-3 col-sm-6" ng-repeat="(key, form) in dc.forms" ng-show="key < 4">
        <div class="form-box">
          <a href="#n" class="box-content text-center">
            <i class="fa fa-file-text-o"></i>
            <p>{{ form.name}}</p>
          </a>
        </div>
      </div>
    </div>
    <!-- template boxes (4 columns) -->
  </div>
  <!-- container -->
  <!-- modal -->
  <div id="fsModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <!-- dialog -->
    <div class="modal-dialog">
      <!-- content -->
      <div class="modal-content">
        <!-- header -->
        <div class="modal-header">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 clearfix">
                <div class="pull-left">
                  <h4>Populate a form</h4>
                </div>
                <div class="pull-right">
                  <p><a href="#n" data-dismiss="modal">Less <i class="fa fa-arrow-up"></i></a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- header -->
        <!-- body -->
        <div class="modal-body">
          <div class="container">
            <div class="row populate-form-boxes">
              <div class="col-md-3 col-sm-6" ng-repeat="(key, form) in dc.forms">
                <div class="form-box">
                  <a href="#n" class="box-content text-center">
                    <i class="fa fa-file-text-o"></i>
                    <p>{{ form.name}}</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- body -->
        <!-- footer -->
        <div class="modal-footer"></div>
        <!--<div class="modal-footer"></div>-->
        <!-- footer -->
      </div>
      <!-- content -->
    </div>
    <!-- dialog -->
  </div>
  <!-- modal -->
</section>
<!--gray populate a form modal slide up/down section -->

<!--all items view -->
<section class="all-items-view ">
  <a class="push-pull-box" data-toggle="collapse" href="#favorites" aria-expanded="false" aria-controls="collapseExample">
    <i class="fa fa-caret-down"></i>
    <i class="fa fa-caret-up"></i>
  </a>
  <!-- here are the right and left sides.  these are currently hidden -->
  <div class="row-offcanvas row-offcanvas-right row-offcanvas-left">
    <!-- START LEFT SIDE -->
    <div class="sidebar-offcanvas-left" id="sidebar-left">
      <div class="filter-options">
        <div class="clearfix reset-text">
          <div class="pull-left">Filter By</div>
          <div class="pull-right"><a href="#n">Reset</a></div>
        </div>
        <ul class="list-unstyled clearfix">
          <li><a href="#">Author<i class="fa fa-caret-down pull-right" aria-hidden="true"></i></a></li>
          <li><a href="#">Status<i class="fa fa-caret-down pull-right" aria-hidden="true"></i></a></li>
          <li><a href="#">Term<i class="fa fa-caret-up pull-right" aria-hidden="true"></i></a>
            <ul>
              <li><a href="#n"><i class="fa fa-caret-right" aria-hidden="true"></i>Test</a></li>
              <li>
                <a href="#n"><i class="fa fa-caret-down pull-down" aria-hidden="true"></i>Concepts (14)</a>
                <ul>
                  <li><a href="#"><i class="fa fa-caret-down" aria-hidden="true"></i>SNOMED-CT (6)</a>
                    <ul>
                      <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>mumblecore (100)</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- END LEFT SIDE -->
    <!-- RIGHT SIDE -->
    <div class="sidebar-offcanvas-right" id="sidebar-right">
      <div class="filter-options rightside">
        <div class="clearfix reset-text">
          <div class="pull-right"><a href="#n"><i class="fa fa-times" aria-hidden="true"></i></a></div>
        </div>
        <h4>Name Goes Here</h4>
        <table class="table">
          <tbody>
            <tr>
              <td class="left"><strong>Type:</strong></td>
              <td>Metadata</td>
            </tr>
            <tr>
              <td class="left"><strong>Location:</strong></td>
              <td>My Folder</td>
            </tr>
            <tr>
              <td class="left"><strong>Owner:</strong></td>
              <td>Name</td>
            </tr>
            <tr>
              <td class="left"><strong>Modified:</strong></td>
              <td>Date by Name</td>
            </tr>
            <tr>
              <td class="left"><strong>Opened:</strong></td>
              <td>Date by Name</td>
            </tr>
            <tr>
              <td class="left"><strong>Created:</strong></td>
              <td>Date by Name</td>
            </tr>
          </tbody>
        </table>
        <h4>Description</h4>
        <p>Description text goes here.</p>
      </div>
    </div>
    <!-- END RIGHT SIDE -->
  </div>
  <!-- THIS IS THE END OF THE RIGHT SIDE AND LEFT SIDE -->
  <!-- container -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12 clearfix">
        <div class="pull-right">
          <p><a href="#n" class="breadcrumbs">Home</a> / My Workspace</p>
        </div>
      </div>
    </div>
    <div class="row populate-form-boxes">
      <div class="col-md-3 col-sm-6" ng-repeat="(index, resource) in dc.resources">
        <div class="form-box">
          <div class="box-content text-center">
            <i class="fa fa-file-text-o"></i>
            <p>{{ resource.name}}</p>
          </div>
          <div class="quick-details-box">
            <p>{{ resource.description}}</p>
            <ul class="list-inline">
              <li><button class="btn  btn-sm btn-info btn-circle"><i class="fa fa-times"></i></button></li>
              <li><button class="btn  btn-sm btn-info btn-circle"><i class="fa fa-question"></i></button></li>
              <li><button class="btn  btn-sm btn-info btn-circle"><i class="fa fa-info"></i></button></li>
              <li><button class="btn  btn-sm btn-info btn-circle"><i class="fa fa-pencil"></i></button></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
