<div class="container">
    <div class="row">
        <section id="dashboard-list" class="dashboard-elements">
            <div class="col-sm-3">
                <h2 class="section-title" ng-bind="sectionTitle"></h2>
                <a ng-href="#{{createLink}}" class="btn btn-create-new"><span translate>GENERIC.CreateNew</span> <i class="cedar-svg-plus"></i></a>
            </div>
            <div class="col-sm-9">
                <div class="dash-header">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="{{'GENERIC.Search' | translate}}" aria-label="{{'GENERIC.Search' | translate}}"
                               ng-model="searchText">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
			      </span>
                    </div>
                    <a class="back" href="/dashboard"><i class="fa fa-arrow-left"></i> <span translate>GENERIC.Back</span></a>
                </div>
                <div class="margin-reset-row">
                    <section ng-if="itemType == 'elements'">
                        <div class="template-item" ng-repeat="element in allTemplateElements | filter:{title:searchText}"
                             cedar-resize-square="true">
                            <cedar-box
                                    type="{{CONST.boxType.ELEMENT}}"
                                    description="{{element._ui.description}}"
                                    title="{{element._ui.title}}"
                                    object-id="{{element['@id']}}"
                                    allow-remove="true"
                            >
                            </cedar-box>
                        </div>
                    </section>

                    <section ng-if="itemType == 'templates'">
                        <div class="template-item" ng-repeat="template in allTemplates | filter:{title:searchText}"
                             cedar-resize-square="true">
                            <cedar-box
                                    type="{{CONST.boxType.TEMPLATE}}"
                                    description="{{template._ui.description}}"
                                    title="{{template._ui.title}}"
                                    object-id="{{template['@id']}}"
                                    allow-remove="true"
                            >
                            </cedar-box>
                        </div>
                    </section>

                    <section ng-if="itemType == 'instances'">
                        <div class="template-item" ng-repeat="instance in allTemplateInstances | filter:{_ui:{templateTitle:searchText}}"
                             cedar-resize-square="true">

                            <cedar-box
                                    type="{{CONST.boxType.INSTANCE}}"
                                    description="{{instance._ui.templateDescription}}&lt;br/&gt;{{'(' + (instance['pav:createdOn'] | date:'short') + ')'}}"
                                    title="{{instance._ui.templateTitle}}"
                                    object-id="{{instance['@id']}}"
                                    allow-remove="true"
                            >
                            </cedar-box>
                        </div>
                    </section>

                </div> <!-- /.margin-reset-row -->
            </div> <!-- /.col-sm-9 -->
        </section>
    </div> <!-- /.row -->
</div> <!-- /.container -->
