<div class="form-group floating-label-wrapper btn-start-over-group clearfix">
  <button type="button" class="btn btn-start-over" ng-click="cctopdc.reset()">Start Over</button>
</div>

<div class="form-group form-group-actions clearfix" ng-class="{'is-searching': cctopdc.isSearching(), 'is-browsing': cctopdc.isBrowsing(), 'is-creating-class': cctopdc.isCreatingClass()}">
  <div class="field-search">
    <div class="input-group field-search-input-group">
      <input id="field-search-input" type="text" class="form-control field-search-form-control" placeholder="Search for a class in BioPortal" aria-label="Field Search" ng-model="cctopdc.fieldSearchTerms" ng-focus="cctopdc.startFieldSearch()" ng-blur="cctopdc.endFieldSearch()" ng-keyup="$event.keyCode == 13 && cctopdc.fieldSearch($event)" with-floating-label="" />
      <span class="input-group-addon" ng-click="cctopdc.fieldSearch()">
        <img src="../img/search-icon.png" />
      </span>
    </div>
  </div>
  <div class="field-browse">
    <div class="more-items" ng-if="!cctopdc.fieldActionSelection">
      <button type="button" class="btn btn-field-browse btn-block" data-toggle="dropdown" aria-expanded="false" ng-click="cctopdc.fieldBrowse($event)">
        <span class="pull-left text">Browse ontologies</span> <i class="fa fa-angle-down fa-2x pull-right"></i>
        <span class="clearfix"></span>
      </button>
    </div>
    <div class="input-group ontology-search-input-group" ng-if="cctopdc.isBrowsing()">
      <input id="ontologi_search_input" type="text" class="form-control ontology-search-form-control" placeholder="Search" aria-label="Browse" ng-model="cctopdc.ontologySearchTerms" ng-keyup="cctopdc.prepareForOntologySearch($event)" with-floating-label="" />

      <span class="input-group-addon" ng-click="cctopdc.ontologySearch()">
        <img src="../img/search-icon.png" />
      </span>
    </div>
  </div>
  <div ng-if="cctopdc.includeCreateClass" class="field-create-class">
    <div class="input-group btn-create-class" style="width: 100%">
      <button type="button" class="std-button btn" style="width: 100%" ng-click="cctopdc.fieldCreateClass()">Create New Class</button>
    </div>
  </div>
</div>

<div class="preloader" ng-show="cctopdc.searchPreloader"></div>

<!-- Add Ontology Class / Value Sets -->
<div class="clear form-group add-ontology-class" ng-controller="provisionalClassController as pcc" ng-if="cctopdc.includeCreateClass && cctopdc.fieldActionSelection == 'create'">

  <ng-include src="'scripts/controlled-term/create-ontology-class.html'"></ng-include>
  <div class="clear btn-create-class">
    <button type="button"
            class="std-button btn"
            ng-click="pcc.saveAsFieldItem(pcc.provisionalClass)"
            ng-disabled="!pcc.isValid()">Create Class
    </button>
  </div>

</div>

<!-- Field Search Results and Ontology Tree -->
<div class="clear search-results-section" ng-if="cctopdc.searchResults.length > 0">
  <div class="search-results-headers" ng-hide="cctopdc.fieldTreeVisibility">
    <table class="table table-condensed results-headers-table search-results-headers-table" ng-if="cctopdc.isSearching()">
      <thead>
        <tr>
          <th>Class</th>
          <th>Ontology</th>
        </tr>
      </thead>
    </table>

    <table class="table table-condensed results-headers-table browse-results-headers-table" ng-if="cctopdc.isBrowsing()">
      <thead>
        <tr>
          <th>Ontology</th>
          <th>Categories</th>
          <th>No Classes</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="search-results" ng-hide="cctopdc.fieldTreeVisibility">
    <div class="no-search-results" ng-show="cctopdc.searchNoResults">No results.</div>
    <div class="table-responsive results-table-container">
      <table class="table table-hover results-table search-results-table" ng-if="cctopdc.isSearching()">
        <tbody>
          <tr ng-repeat="result in cctopdc.searchResults" ng-click="cctopdc.selectFieldClass(result.details)">
            <td>{{result.prefLabel}}</td>
            <td>{{result.ontology.name}} ({{result.ontology.id}})</td>
          </tr>
        </tbody>
      </table>

      <table class="table table-hover results-table browse-results-table" ng-if="cctopdc.isBrowsing()">
        <tbody>
          <tr ng-repeat="result in cctopdc.searchResults" ng-click="cctopdc.selectFieldOntology(result)" ng-show="cctopdc.isOntologyNameMatched(result)">
            <td>{{result.name}}</td>
            <td>{{result.details.categories.join(", ") || "-" }}</td>
            <td>{{result.details.numberOfClasses | returnNullIfEmpty}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="field-tree clear" ng-show="cctopdc.fieldTreeVisibility">
    <div class="field-tree-header table-style">
      <div class="ontology-tree-header table-cell-style" ng-if="cctopdc.isCurrentOntology()">
        <h4>
          <a class="pull-left" ng-click="cctopdc.hideFieldTree()">
            <img src="../img/left-arrow.png" />
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;{{cctopdc.currentOntology.info.name}}
        </h4>
      </div><!-- /.ontology-tree -->

      <div class="field-details-view table-cell-style" ng-if="cctopdc.isCurrentOntology()">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="detail-view-tab active">
            <a href="#class-details" aria-controls="class-details" role="tab" data-toggle="tab">Class Details</a>
          </li>
          <li role="presentation" class="detail-view-tab">
            <a href="#ontology-details" aria-controls="ontology-details" role="tab" data-toggle="tab">Ontology Details</a>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="field-tree-details">
      <div class="ontology-tree pull-left" ng-if="cctopdc.isCurrentOntology()">
        <div class="tree tree-view-ul tree-view list-unstyled class-tree-container" ng-if="!cctopdc.currentOntology.info.flat">
          <cedar-class-tree
              tree="cctopdc.currentOntology.tree"
              selected-node="cctopdc.selectedClass1"
              is-selected-callback="cctopdc.checkIfSelected"
              get-class-details-callback="cctopdc.getClassDetails">
          </cedar-class-tree>
        </div>
        <div class="tree tree-view-message" ng-if="cctopdc.currentOntology.info.flat">Tree browsing not supported for this ontology</div>
      </div><!-- /.ontology-tree -->

      <div class="field-details-view pull-right" ng-if="cctopdc.isCurrentOntology()">
        <div class="tab-content">
          <div id="class-details" class="tab-pane active" role="tabpanel">
            <div class="no-selected-class text-center" ng-hide="cctopdc.classDetails">No class is selected</div>
            <div class="table-responsive">
              <table class="table table-striped">
                <tbody ng-show="cctopdc.classDetails">
                  <tr>
                    <th>Name</th>
                    <th>{{cctopdc.classDetails.prefLabel}}</th>
                  </tr>
                  <tr>
                    <td>ID</td>
                    <td>{{cctopdc.classDetails['@id']}}</td>
                  </tr>
                  <tr>
                    <td>Definition</td>
                    <td ng-if="cctopdc.classDetails.definition[0]">{{cctopdc.classDetails.definition[0]}}</td>
                    <td ng-if="cctopdc.classDetails.definitions[0]">{{cctopdc.classDetails.definitions[0]}}</td>
                    <td ng-if="!cctopdc.classDetails.definition[0] && !cctopdc.classDetails.definitions[0]">-</td>
                  </tr>
                </tbody>
              </table>
            </div><!-- /.table-responsive -->
          </div><!-- /.class-details -->
          <div id="ontology-details" class="tab-pane" role="tabpanel">
            <div class="table-responsive">
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <th>Name</th>
                    <th>{{cctopdc.currentOntology.info.name}}</th>
                  </tr>
                  <tr>
                    <td>Acronym</td>
                    <td>{{cctopdc.currentOntology.info.id}}</td>
                  </tr>
                  <tr>
                    <td>@id</td>
                    <td>
                      <a ng-href="{{cctopdc.currentOntology.info['@id']}}" target="_blank">{{cctopdc.currentOntology.info['@id']}}</a>
                    </td>
                  </tr>
                  <tr>
                    <td>Description</td>
                    <td>{{cctopdc.currentOntology.info.details.description | htmlToPlainText}}</td>
                  </tr>
                  <tr>
                    <td># of Classes</td>
                    <td>{{cctopdc.currentOntology.info.details.numberOfClasses | returnNullIfEmpty}}</td>
                  </tr>
                </tbody>
              </table>
            </div><!-- /.table-responsive -->
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
