<div class="form-group menu-form">
  <div class="controlled-terms controlled-term-options">
    <div class="class-container">
      <div class="added-field-classes">
        <div class="class-list-container">
          <div class="class-list-table">
            <table  class="table table-hover table-striped ">
              <thead>
              <tr>
                <th>{{'GENERIC.Name' | translate}}</th>
                <th>{{'GENERIC.Description' | translate}}</th>
                <th>{{'GENERIC.Source' | translate}}</th>
                <th>{{'GENERIC.Identifier' | translate}}</th>
                <th><button class="close" style="left:0;color:#000" type="button"
                    tooltip-append-to-body="true"
                    uib-tooltip="{{'GENERIC.Close' | translate}}"
                    aria-label="Close"><span
                    aria-hidden="true" >&times;</span></button></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-if="addedFieldKeys.length > 0" ng-repeat="key in addedFieldKeys">
                <td>
                  {{getPrefLabel(key)}}
                </td>
                <td>
                  {{getClassDescription(key)}}
                </td>
                <td>
                  {{parseOntologyName(key)}}
                </td>
                <td>
                  {{getClassId(key)}}
                </td>
                <td>
                  <div class="class-delete" ng-click="deleteFieldAddedItem(key);$event.stopPropagation();"
                      tooltip-append-to-body="true"
                      uib-tooltip="{{'GENERIC.Remove' | translate}}">
                    <i class="fa fa-times-circle"></i>
                  </div>
                </td>
              </tr>
              <tr ng-if="addedFieldKeys.length == 0" class="empty">
                <td colspan="5" >{{'GENERIC.Empty' | translate}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

