<div class="form-group menu-form">
  <div class="controlled-terms controlled-term-options">
    <div class="class-container">
      <div class="added-field-classes">
        <div class="class-list-container">
          <div class="class-list-table">
            <table  class="table table-hover table-striped ">
              <thead>
              <tr>
                <th>Type</th>
                <th><button class="close" style="left:0;color:#000" type="button" ng-click="dialogOpen = false"
                            tooltip-append-to-body="true"
                            uib-tooltip="{{'GENERIC.Close' | translate}}"
                            aria-label="Close"><span
                    aria-hidden="true" >&times;</span></button></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-if="terms && terms.length > 0" ng-repeat="term in terms">
                <td>
                  {{term}}
                <td>
                  <div class="class-delete" ng-click="deleteFieldAddedItem(term);$event.stopPropagation();"
                       tooltip-append-to-body="true"
                       uib-tooltip="{{'GENERIC.Remove' | translate}}">
                    <i class="fa fa-times-circle"></i>
                  </div>
                </td>
              </tr>
              <tr ng-if="!terms || terms.length == 0" class="center empty">
                <td colspan="5" style="text-align:center;">Empty</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


