<div class="controlled-terms controlled-term-options">

  <div class="form-group floating-label-wrapper field-filter clearfix"
      ng-class="{'value-filter': ctdc.filterSelection == 'values', 'field-filter': ctdc.filterSelection == 'field', 'property-filter': ctdc.filterSelection == 'properties'}">

    <controlled-term-search
        field-name="ctdc.q"
        search-term="ctdc.options.term"
        search-mode="ctdc.filterSelection"
        add-callback="ctdc.addCallback"
        reset-callback="ctdc.startOver"
        current-ontology="ctdc.currentOntology"
        selected-ontologies = "ctdc.selectedOntologies"
        advanced="ctdc.options.advanced"
        selected-class="ctdc.selectedClass"
        is-loading-class-details="ctdc.isLoadingClassDetails"
        is-creating-mappings="false"
        is-creating-vs="false"
        tree-visible="ctdc.treeVisible"
        modal-id="ctdc.modalId"
        search-scope="ctdc.searchScope">
    </controlled-term-search>

    <div ng-if="ctdc.filterSelection == 'properties' || ctdc.filterSelection == 'field'">
      <div class="class-actions" ng-if="ctdc.hasPermission('write');">
        <div class="class-action" ng-if="ctdc.selectedClass.prefLabel">
          <div class="action-msg">
          <span translate="GENERIC.clickOkToSelect"
              translate-values="{ term: ctdc.selectedClass.prefLabel, ontology: ctdc.currentOntology.info.id }"></span>
          </div>

          <div ng-if="ctdc.filterSelection == 'properties'">
            <div>
              <button type="button" class="std-button btn btn-add-term"
                  ng-click="ctdc.addProperty(ctdc.selectedClass.id, ctdc.selectedClass.prefLabel,ctdc.selectedClass.definition); ctdc.startOver()">
                <span translate>GENERIC.Ok</span></button>
            </div>
          </div>

          <div ng-if="ctdc.filterSelection == 'field'">
            <div>
              <button type="button" class="std-button btn btn-add-term"
                  ng-click="ctdc.addClass(ctdc.selectedClass, ctdc.currentOntology); ctdc.startOver()"><span translate>GENERIC.Ok</span>
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="value-filter" ng-if="ctdc.filterSelection == 'values'">

      <!--Show preloader only if the tree and class details preloader is not shown-->
      <div ng-if="!ctdc.treeVisible && ctdc.isLoadingClassDetails">
        <div class="loader2"></div>
      </div>

      <div
          ng-if="(ctdc.selectedClass || ctdc.currentOntology) && !ctdc.isLoadingClassDetails && !ctdc.isLoadingOntologyDetails">
        <div class="class-actions">
          <div class="element-toggles">
            <!--Add Term-->
            <div ng-if="ctdc.selectedClass.type == 'OntologyClass' || ctdc.selectedClass.type == 'Value'"
                class="element-toggle-add-values"
                ng-class="{active: ctdc.stageValueConstraintAction == 'add_class'}"
                ng-click="ctdc.stageOntologyClassValueConstraint(ctdc.selectedClass)">
              <span translate>GENERIC.Term</span>
            </div>
            <!--Add Branch-->
            <div ng-if="ctdc.selectedClass.type == 'OntologyClass' && ctdc.selectedClass.hasChildren"
                class="element-toggle-add-values"
                ng-class="{active: ctdc.stageValueConstraintAction == 'add_children'}"
                ng-click="ctdc.stageBranchValueConstraint(ctdc.selectedClass)">
              <span translate>GENERIC.Branch</span>
            </div>
            <!--Add Ontology-->
            <div ng-if="(ctdc.selectedClass.type == 'OntologyClass') || (!ctdc.selectedClass && ctdc.currentOntology)"
                class="element-toggle-add-values"
                ng-class="{active: ctdc.stageValueConstraintAction == 'add_ontology'}"
                ng-click="ctdc.stageOntologyValueConstraint()">
              <span translate>GENERIC.Ontology</span>
            </div>
            <!--Add Value Set -->
            <div ng-if="ctdc.selectedClass.type == 'Value'  || ctdc.selectedClass.type == 'ValueSet'"
                class="element-toggle-add-values"
                ng-class="{active: ctdc.stageValueConstraintAction == 'add_entire_value_set'}"
                ng-click="ctdc.stageValueSetValueConstraint()">
              <span translate>GENERIC.ValueSet</span>
            </div>
          </div>
        </div>

        <!-- Tabs content -->
        <div class="tabs-content" ng-if="ctdc.stageValueConstraintAction">

          <!--Add class (tab content)-->
          <div ng-if="ctdc.stageValueConstraintAction == 'add_class'">
            <table class="table table-values-info">
              <tr>
                <th translate>GENERIC.TermId</th>
                <td>{{ctdc.stagedOntologyClassValueConstraints[0].uri}}</td>
              </tr>
              <tr>
                <th translate>GENERIC.TermName</th>
                <td>{{ctdc.stagedOntologyClassValueConstraints[0].prefLabel}}
                </td>
              </tr>
              <tr>
                <th translate>GENERIC.UILabel</th>
                <td><input type="textfield" class="form-control"
                    ng-model="ctdc.stagedOntologyClassValueConstraints[0].label"/></td>
              </tr>
            </table>
          </div>

          <!--Add Branch (content)-->
          <div
              ng-if="ctdc.stageValueConstraintAction == 'add_children' && ctdc.stagedBranchesValueConstraints.length > 0">
            <table class="table table-values-info">
              <tr>
                <th translate>GENERIC.TermId</th>
                <td>{{ctdc.stagedBranchesValueConstraints[0].uri}}</td>
              </tr>
              <tr>
                <th translate>GENERIC.TermName</th>
                <td>{{ctdc.stagedBranchesValueConstraints[0].name}}
                </td>
              </tr>
            </table>
          </div>

          <!-- Add Ontology (tab content)-->
          <div
              ng-if="ctdc.stageValueConstraintAction == 'add_ontology' && ctdc.stagedOntologyValueConstraints.length > 0">
            <table class="table table-values-info">
              <tr>
                <th translate>GENERIC.OntologyId</th>
                <td>{{ctdc.stagedOntologyValueConstraints[0].uri}}
                </td>
              </tr>
              <tr>
                <th translate>GENERIC.OntologyName</th>
                <td>{{ctdc.stagedOntologyValueConstraints[0].name}}
                  ({{ctdc.stagedOntologyValueConstraints[0].acronym}})
                </td>
              </tr>
              <tr>
                <th translate>GENERIC.NumberTerms</th>
                <td ng-if="ctdc.stagedOntologyValueConstraints[0].metricsAvailable">
                  {{ctdc.stagedOntologyValueConstraints[0].numTerms | number}}
                </td>
                <td ng-if="!ctdc.stagedOntologyValueConstraints[0].metricsAvailable" translate>GENERIC.NA</td>
              </tr>
            </table>
          </div>

          <!-- Add Value Set (tab content)-->
          <div
              ng-if="ctdc.stageValueConstraintAction == 'add_entire_value_set' && ctdc.stagedValueSetValueConstraints.length > 0">
            <table class="table table-values-info">
              <tr>
                <th translate>GENERIC.ValueSetId</th>
                <td>{{ctdc.stagedValueSetValueConstraints[0].uri}}</td>
              </tr>
              <tr>
                <th translate>GENERIC.ValueSetName</th>
                <td>{{ctdc.stagedValueSetValueConstraints[0].name}}</td>
              </tr>
              <tr>
                <th translate>GENERIC.Category</th>
                <td>{{ctdc.currentOntology.info.fullName}}</td>
              </tr>
              <tr>
                <th translate>GENERIC.NumberTerms</th>
                <td>{{ctdc.stagedValueSetValueConstraints[0].numTerms | number}}</td>
              </tr>
            </table>
          </div>

        </div>

        <!--Class Actions-->
        <div class="class-actions" ng-if="ctdc.hasPermission('write');">
          <div class="class-action" ng-if="ctdc.stagedOntologyClassValueConstraints.length > 0
        || ctdc.stagedOntologyValueConstraints.length > 0 || ctdc.stagedValueSetValueConstraints.length > 0">
            <div class="action-msg">
            <span ng-if="ctdc.stageValueConstraintAction == 'add_class'" translate>
              GENERIC.addSelectedTerm
            </span>
              <span
                  ng-if="ctdc.stageValueConstraintAction == 'add_ontology' && (ctdc.selectedClass.type == 'OntologyClass' || !ctdc.selectedClass)"
                  translate>
              GENERIC.AddOntology
            </span>
              <span ng-if="ctdc.stageValueConstraintAction == 'add_entire_value_set'" translate>
              GENERIC.AddValueSet
            </span>
              <span ng-if="ctdc.stageValueConstraintAction == 'add_children'" translate>
              GENERIC.AddDescendants
            </span>
            </div>
            <button type="button" class="std-button btn btn-add-term"
                ng-click="ctdc.addValueConstraint(ctdc.stageValueConstraintAction)">
              <span translate>GENERIC.Add</span>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div style="height: 400px"></div>

</div>

