<div class="controlled-terms controlled-term-options">

  <div class="form-group floating-label-wrapper field-filter clearfix" ng-if="ctdc.filterSelection == 'properties'">

    <controlled-term-search
        field-name="$root.finalTitle"
        search-mode="ctdc.filterSelection"
        add-callback="ctdc.addProperty"
        reset-callback="ctdc.startOver"
        current-ontology="ctdc.currentOntology"
        selected-class="ctdc.selectedClass"
        is-loading-class-details="ctdc.isLoadingClassDetails"
        is-creating-mappings="false"
        is-creating-vs="false"
        tree-visible="ctdc.treeVisible"
        modal-id="ctdc.modalId"
        search-for="properties">
    </controlled-term-search>

    <div class="class-actions">
      <div class="class-action" ng-if="ctdc.selectedClass.prefLabel">
        <div class="action-msg">
          <span>Click OK to select the property <span class="highlighted">'{{ctdc.selectedClass.prefLabel}}'</span> from {{ctdc.currentOntology.info.id}}</span>
        </div>
        <div>
          <button type="button" class="std-button btn btn-add-term"
              ng-click="ctdc.addProperty(ctdc.selectedClass.id); ctdc.startOver()">OK
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group floating-label-wrapper field-filter clearfix" ng-if="ctdc.filterSelection == 'field'">

    <controlled-term-search
        field-name="$root.finalTitle"
        search-mode="ctdc.filterSelection"
        add-callback="ctdc.addClass"
        reset-callback="ctdc.startOver"
        current-ontology="ctdc.currentOntology"
        selected-class="ctdc.selectedClass"
        is-loading-class-details="ctdc.isLoadingClassDetails"
        is-creating-mappings="false"
        is-creating-vs="false"
        tree-visible="ctdc.treeVisible"
        modal-id="ctdc.modalId"
        search-for="classes"
        >
    </controlled-term-search>

    <div class="class-actions">
      <div class="class-action" ng-if="ctdc.selectedClass.prefLabel">
        <div class="action-msg">
          <span>Click OK to select the term <span class="highlighted">'{{ctdc.selectedClass.prefLabel}}'</span> from {{ctdc.currentOntology.info.id}}</span>
        </div>
        <div>
          <button type="button" class="std-button btn btn-add-term"
              ng-click="ctdc.addClass(ctdc.selectedClass, ctdc.currentOntology); ctdc.startOver()">OK
          </button>
          <!--<button type="button" class="std-button btn btn-add-term"-->
          <!--ng-click="ctdc.addClass(ctdc.selectedClass, ctdc.currentOntology); ctdc.startOver()" data-dismiss="modal">-->
          <!--Cancel-->
          <!--</button>-->
        </div>
      </div>
    </div>
  </div>

  <div class="value-filter" ng-if="ctdc.filterSelection == 'values'">

    <controlled-term-search
        field-name="$root.finalTitle"
        search-mode="ctdc.filterSelection"
        add-callback="ctdc.addValueConstraint"
        reset-callback="ctdc.startOver"
        current-ontology="ctdc.currentOntology"
        selected-class="ctdc.selectedClass"
        is-loading-class-details="ctdc.isLoadingClassDetails"
        is-creating-mappings="false"
        is-creating-vs="false"
        tree-visible="ctdc.treeVisible"
        modal-id="ctdc.modalId"
        search-for="classes"
        >
    </controlled-term-search>

    <!--Show preloader only if the tree and class details preloader is not shown-->
    <div ng-if="!ctdc.treeVisible && ctdc.isLoadingClassDetails">
      <div class="loader2"></div>
    </div>

    <div ng-if="(ctdc.selectedClass || ctdc.currentOntology) && !ctdc.isLoadingClassDetails && !ctdc.isLoadingOntologyDetails">
      <div class="class-actions">
        <div class="element-toggles">
          <!--Add Term-->
          <div ng-if="ctdc.selectedClass.type == 'OntologyClass' || ctdc.selectedClass.type == 'Value'"
              class="element-toggle-add-values"
              ng-class="{active: ctdc.stageValueConstraintAction == 'add_class'}"
              ng-click="ctdc.stageOntologyClassValueConstraint(ctdc.selectedClass)">
            <span>Term</span>
          </div>
          <!--Add Branch-->
          <div ng-if="ctdc.selectedClass.type == 'OntologyClass' && ctdc.selectedClass.hasChildren"
              class="element-toggle-add-values"
              ng-class="{active: ctdc.stageValueConstraintAction == 'add_children'}"
              ng-click="ctdc.stageBranchValueConstraint(ctdc.selectedClass)">
            <span>Branch</span>
          </div>
          <!--Add Ontology-->
          <div ng-if="(ctdc.selectedClass.type == 'OntologyClass') || (!ctdc.selectedClass && ctdc.currentOntology)"
              class="element-toggle-add-values"
              ng-class="{active: ctdc.stageValueConstraintAction == 'add_ontology'}"
              ng-click="ctdc.stageOntologyValueConstraint()">
            <span>Ontology</span>
          </div>
          <!--Add Value Set -->
          <div ng-if="ctdc.selectedClass.type == 'Value'  || ctdc.selectedClass.type == 'ValueSet'"
              class="element-toggle-add-values"
              ng-class="{active: ctdc.stageValueConstraintAction == 'add_entire_value_set'}"
              ng-click="ctdc.stageValueSetValueConstraint()">
            <span>Value Set</span>
          </div>
        </div>
      </div>

      <!-- Tabs content -->
      <div class="tabs-content" ng-if="ctdc.stageValueConstraintAction">

        <!--Add class (tab content)-->
        <div ng-if="ctdc.stageValueConstraintAction == 'add_class'">
          <table class="table table-values-info">
            <tr>
              <th>Term Id</th>
              <td>{{ctdc.stagedOntologyClassValueConstraints[0].uri}}</td>
            </tr>
            <tr>
              <th>Term Name</th>
              <td>{{ctdc.stagedOntologyClassValueConstraints[0].prefLabel}}
              </td>
            </tr>
            <tr>
              <th>UI Label</th>
              <td><input type="textfield" class="form-control"
                  ng-model="ctdc.stagedOntologyClassValueConstraints[0].label"/></td>
            </tr>
          </table>
        </div>

        <!--Add Branch (content)-->
        <div
            ng-if="ctdc.stageValueConstraintAction == 'add_children' && ctdc.stagedBranchesValueConstraints.length > 0">
          <table class="table table-values-info">
            <tr>
              <th>Term Id</th>
              <td>{{ctdc.stagedBranchesValueConstraints[0].uri}}</td>
            </tr>
            <tr>
              <th>Term Name</th>
              <td>{{ctdc.stagedBranchesValueConstraints[0].name}}
              </td>
            </tr>
          </table>
        </div>

        <!-- Add Ontology (tab content)-->
        <div
            ng-if="ctdc.stageValueConstraintAction == 'add_ontology' && ctdc.stagedOntologyValueConstraints.length > 0">
          <table class="table table-values-info">
            <tr>
              <th>Ontology Id</th>
              <td>{{ctdc.stagedOntologyValueConstraints[0].uri}}
              </td>
            </tr>
            <tr>
              <th>Ontology Name</th>
              <td>{{ctdc.stagedOntologyValueConstraints[0].name}}
                ({{ctdc.stagedOntologyValueConstraints[0].acronym}})
              </td>
            </tr>
            <tr>
              <th>No. terms</th>
              <td ng-if="ctdc.stagedOntologyValueConstraints[0].metricsAvailable">{{ctdc.stagedOntologyValueConstraints[0].numTerms | number}}</td>
              <td ng-if="!ctdc.stagedOntologyValueConstraints[0].metricsAvailable">n/a</td>
            </tr>
          </table>
        </div>

        <!-- Add Value Set (tab content)-->
        <div
            ng-if="ctdc.stageValueConstraintAction == 'add_entire_value_set' && ctdc.stagedValueSetValueConstraints.length > 0">
          <table class="table table-values-info">
            <tr>
              <th>Value Set Id</th>
              <td>{{ctdc.stagedValueSetValueConstraints[0].uri}}</td>
            </tr>
            <tr>
              <th>Value Set Name</th>
              <td>{{ctdc.stagedValueSetValueConstraints[0].name}}</td>
            </tr>
            <tr>
              <th>Category</th>
              <td>{{ctdc.currentOntology.info.fullName}}</td>
            </tr>
            <tr>
              <th>No. terms:</th>
              <td>{{ctdc.stagedValueSetValueConstraints[0].numTerms | number}}</td>
            </tr>
          </table>
        </div>

      </div>

      <!--Class Actions-->
      <div class="class-actions">
        <div class="class-action" ng-if="ctdc.stagedOntologyClassValueConstraints.length > 0
        || ctdc.stagedOntologyValueConstraints.length > 0 || ctdc.stagedValueSetValueConstraints.length > 0">
          <div class="action-msg">
            <span ng-if="ctdc.stageValueConstraintAction == 'add_class'">Click to add the selected term</span>
            <span
                ng-if="ctdc.stageValueConstraintAction == 'add_ontology' && (ctdc.selectedClass.type == 'OntologyClass' || !ctdc.selectedClass)">Click to add all the terms from the selected ontology</span>
            <span
                ng-if="ctdc.stageValueConstraintAction == 'add_entire_value_set'">Click to add all the terms from the selected value set</span>
            <span ng-if="ctdc.stageValueConstraintAction == 'add_children'">Click to add all the descendants of the selected term</span>
          </div>
          <button type="button" class="std-button btn btn-add-term"
              ng-click="ctdc.addValueConstraint(ctdc.stageValueConstraintAction)">Add
          </button>
        </div>
      </div>

    </div>
  </div>
  <div style="height: 400px"></div>
</div>

