
<!-- tabs -->
<uib-tabset active="activeTab" id="controlled-term-tabs"  class="hidden">
<uib-tab index="0" heading="Property" ng-click="tsc.setFieldPropertiesMode()"></uib-tab>
<uib-tab index="1" heading="Field" ng-click="tsc.setFieldTypesMode()"></uib-tab>
<uib-tab index="2" heading="Values" ng-click="tsc.setFieldValuesMode()"></uib-tab>
</uib-tabset>

<!-- tab content -->
<div>
  <div ng-if="activeTab == 0">

    <!--- creating property   -->
    <div ng-if="tsc.isCreating()">
      {{'CONTROLLEDTERMS.PropertyInfo' | translate}}
      <button type="button" class="btn btn-create-term" ng-click="tsc.switchToSearch('properties')">
        {{'CONTROLLEDTERMS.BackPropertySearch' | translate}}
      </button>

      <div class="clear form-group add-ontology-class ">

        <!-- Start over, invisible but takes up space -->
        <div class="btn-start-over-group clearfix invisible">
          <button type="button" class="btn btn-start-over " ng-click="tsc.reset(false, false, false, false, true)">
            {{'CONTROLLEDTERMS.StartOver' | translate}}
          </button>
        </div>

        <!-- Enter Property URI -->
        <form name="propertyForm">
          <div class="floating-label-wrapper field-search">
            <input type="url" class="form-control required" name="propertyURI" style="border:none"
                placeholder="{{'CONTROLLEDTERMS.EnterProperty' | translate}}"
                ng-model="tsc.propertyUri" with-floating-label/>
          </div>

          <!-- Submit -->
          <div class="clear btn-create-term">
            <button type="button"
                class="std-button btn"
                ng-click="tsc.addPropertyUri()"
                ng-disabled="!tsc.propertyUri || !propertyForm.$valid">
              {{'GENERIC.Submit' | translate}}
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- searching properties -->
    <div ng-if="tsc.isSearching()">

      <div>
        {{'CONTROLLEDTERMS.FindProperty' | translate}}
        <button type="button" class="btn btn-create-term"
            ng-click="tsc.switchToCreate('properties')">{{'CONTROLLEDTERMS.EnterProperty' | translate}}
        </button>
      </div>

      <cedar-bioportal-search mode="mode" tsc="tsc" ctdc="ctdc"></cedar-bioportal-search>
    </div>
  </div>
  <div ng-if="activeTab == 1">

    <!-- creating -->
    <div ng-if="tsc.isCreating()" class="creation-container">
      <div>Please provide the following information for the term you want to create or
        <button type="button" class="btn btn-create-term" ng-click="tsc.switchToSearch('classes')">Go Back to Term
          Search
        </button>
      </div>

      <div class="clear form-group add-ontology-class"
          ng-controller="provisionalClassController as pcc">
        <ng-include src="'scripts/controlled-term/create-ontology-class.html'"></ng-include>
        <div class="clear btn-create-term">
          <button type="button"
              class="std-button btn"
              ng-click="pcc.saveAsFieldItem(pcc.provisionalClass)"
              ng-disabled="!pcc.isValid()">Create Term
          </button>
          <!--<div class="input-indicator-icons">-->
          <i class="cedar-svg-help-circle help-icon"
              uib-tooltip="The term will be created in the CEDARPC (CEDAR Provisional Classes) BioPortal ontology and added to your template"></i>
          <!--</div>-->
        </div>
      </div>
    </div>

    <!-- searching -->
    <div ng-if="tsc.isSearching()">
      <div>Find a term in BioPortal or
        <button
            type="button" class="btn btn-create-term" ng-click="tsc.switchToCreate()">Create a New Term
        </button>
        <span ng-show="tsc.isFieldValuesMode() && !tsc.isCreatingMappings && !tsc.isCreatingVs" ng-if="tsc.fieldName.trim().length > 0">to set the type of the field value for <span
            class="highlighted">'{{tsc.fieldName}}'</span>. Note: field values must be URIs.</span>
      </div>

      <cedar-bioportal-search mode="mode" tsc="tsc" ctdc="ctdc"></cedar-bioportal-search>
    </div>

  </div>
  <div ng-if="activeTab == 2">

    <!-- Field values - Create Term or Value Set -->
    <div ng-if="tsc.isCreating()" class="creation-container" style="background:pink">
  <span>Please choose an option below or <button type="button" class="btn btn-create-term"
      ng-click="tsc.switchToSearch('classes')">Go Back to Term Search
  </button></span>
      <!--Tab Headers-->
      <div class="element-toggles">
        <!-- Create Term (Tab Header) -->
        <div class="element-toggle-add-values" ng-class="{active: tsc.isCreatingValue}"
            ng-click="tsc.switchToCreateValue()">
          <span>Create Term</span>
        </div>
        <!-- Create Term (Tab Header) -->
        <div class="element-toggle-add-values" ng-class="{active: tsc.isCreatingValueSet}"
            ng-click="tsc.switchToCreateValueSet()">
          <span>Create Value Set</span>
        </div>
      </div>

      <!-- Tabs content -->
      <div>
        <!-- Create Term (Tab Content) -->
        <div ng-if="tsc.isCreatingValue" class="clear form-group add-ontology-class"
            ng-controller="provisionalClassController as pcc">
          <ng-include src="'scripts/controlled-term/create-ontology-class.html'"></ng-include>
          <div class="clear btn-create-term">
            <button type="button"
                class="std-button btn"
                ng-click="pcc.saveAsOntologyClassValueConstraint(pcc.provisionalClass)"
                ng-disabled="!pcc.isValid()">Create Term
            </button>
            <i class="cedar-svg-help-circle help-icon"
                uib-tooltip="The term will be created in the (CEDAR Provisional Classes) BioPortal ontology and added to your template"></i>
          </div>
        </div>
        <!-- Create Value Set (Tab Content) -->
        <div ng-if="tsc.isCreatingValueSet" class="clear form-group add-ontology-class"
            ng-controller="provisionalClassController as pcc">
          <ng-include src="'scripts/controlled-term/create-value-set.html'"></ng-include>
          <div class="clear btn-create-term">
            <button type="button"
                class="std-button btn"
                ng-click="pcc.saveAsValueSetConstraint(pcc.provisionalClass, pcc.provisionalValueSetValues)"
                ng-disabled="!pcc.isValid() || pcc.provisionalValueSetValues.length == 0 || pcc.showCreateVsLoader">
              Create
              Value Set
            </button>
            <i class="cedar-svg-help-circle help-icon"
                uib-tooltip="The value set will be created in the (CEDAR Value Sets) BioPortal ontology and added to your template"></i>
          </div>
          <!--Create value set loader-->
          <div ng-if="pcc.showCreateVsLoader">
            <div class="loader2"></div>
          </div>
          <br/>
        </div>
      </div>
    </div>

    <div ng-if="tsc.isSearching()">
      <div ng-show="!tsc.isCreatingMappings && !tsc.isCreatingVs"
          class="creation-container">Find terms in BioPortal or
        <button type="button" class="btn btn-create-term"
            ng-click="tsc.switchToCreate('classes')">Create New Terms
        </button>
        to constrain the values of the <span ng-if="tsc.fieldName.trim().length > 0" class="highlighted">'{{tsc.fieldName}}'</span>
        field
      </div>

      <cedar-bioportal-search mode="mode" tsc="tsc" ctdc="ctdc"></cedar-bioportal-search>
    </div>

  </div>
</div>







