<span ng-show="tsc.isFieldTypesMode()">Find a term in BioPortal to annotate the <span class="highlighted">'{{tsc.fieldName}}'</span> field or <button type="button" class="btn btn-create-term">Create a New Term</button>
</span>
<h4 ng-show="tsc.isFieldValuesMode()">Find terms in BioPortal to constrain the values of the <span class="highlighted">'{{tsc.fieldName}}'</span> field</h4>

<!-- Start over -->
<div class="form-group floating-label-wrapper btn-start-over-group clearfix">
  <button type="button" class="btn btn-start-over" ng-click="tsc.reset(false, false)"><span class="fa fa-refresh primary-color"></span> Start Over</button>
  <!-- Search Field -->
  <div class="field-search">
    <div class="input-group field-search-input-group">
      <input id="field-search-input" type="text" class="form-control field-search-form-control"
          placeholder="Search in BioPortal" aria-label="Search field"
          ng-model="tsc.searchQuery" ng-focus="tsc.showEmptyQueryMsg = false"
          ng-keyup="$event.keyCode == 13 && tsc.search($event)" with-floating-label=""
          ng-model-options="{debounce: 700}"
          ng-click="tsc.onTextClick($event)"/>
      <span class="input-group-addon" ng-click="tsc.search()">
        <img src="../img/search-icon.png"/>
      </span>
    </div>
  </div>
  <!-- Advanced options -->
  <!--<button type="button" class="btn btn-advanced" ng-click="tsc.reset()">Advanced</button>-->
  <div class="text-center search-options">
    <div class="radio inline-block radio-primary radio-controlled-terms-search">
      <input id="search-scope-1" type="radio" ng-model="tsc.searchScope" value="classes"
          ng-click="$event.stopPropagation()" ng-change="tsc.changeSearchScope()"/>
      <label>Ontology Terms</label>
    </div>
    <div class="radio inline-block radio-primary radio-controlled-terms-search">
      <input id="search-scope-2" type="radio" ng-model="tsc.searchScope" value="ontologies"
          ng-click="$event.stopPropagation()" ng-change="tsc.changeSearchScope()"/>
      <label>Ontologies</label>
    </div>
    <div class="radio inline-block radio-primary radio-controlled-terms-search"
        ng-show="tsc.isFieldValuesMode()">
      <input id="search-scope-3" type="radio" ng-model="tsc.searchScope" value="value-sets"
          ng-click="$event.stopPropagation()" ng-change="tsc.changeSearchScope()"/>
      <label>Value sets</label>
    </div>
  </div>
</div>

<div class="preloader" ng-if="tsc.showSearchPreloader"></div>
<div class="searchMsg" ng-if="tsc.showEmptyQueryMsg">Please enter a search query</div>

<div class="searchMsg" ng-if="tsc.searchFinished">
  <div ng-if="tsc.resultsFound">
    <div>{{tsc.searchClassesResults.length}} results</div>
    <div>Click on a term to see more details about it</div>
  </div>
  <div ng-if="!tsc.resultsFound">No results</div>
</div>

<!-- Search Results and Ontology Tree -->
<div class="clear search-results-section">
  <!-- Classes results -->
  <div ng-if="tsc.isSearchingClasses() && tsc.resultsFound">
    <div class="search-results-headers">
      <table class="table table-condensed results-headers-table search-results-headers-table">
        <thead>
        <tr>
          <th width="16%">Term</th>
          <th width="40%">Definition</th>
          <th width="13%">Ontology</th>
          <th width="13%">Id</th>
          <th width="13%"></th>
        </tr>
        </thead>
      </table>
    </div>
    <div class="search-results">
      <div class="no-search-results" ng-show="!tsc.resultsFound">No results.</div>
      <div class="table-responsive results-table-container">
        <table class="table table-hover results-table search-results-table" ng-if="tsc.isSearchingClasses()">
          <tbody>
          <!-- Note that the comparison (result.resultId == tsc.selectedResultId) ensures that multiple classes with the same id are not highlighted at the same time and (result.details.id == tsc.selectedClass.id) deselects the row if the user clicks on another class in the ontology tree -->
          <tr ng-repeat="result in tsc.searchClassesResults" ng-click="tsc.selectFieldClass(result, result.resultId)"
              ng-class="{'selected-row':  (result.resultId == tsc.selectedResultId) && (result.details.id == tsc.selectedClass.id)}">
            <td width="16%">{{result.prefLabel}}</td>
            <td width="40%">(definition here)</td>
            <td width="13%" tooltip="{{result.ontology.name}}" tooltip-append-to-body="true">{{result.ontology.id}}</td>
            <td width="13%">{{tsc.getShortId(result.details.id)}}</td>
            <td width="12%">
              <span class="fa fa-sitemap" ng-if="(result.resultId == tsc.selectedResultId) && (result.details.id == tsc.selectedClass.id)" ng-click="tsc.changeTreeVisibility(); $event.stopPropagation()"></span>
              <span class="show-details" ng-if="(result.resultId == tsc.selectedResultId) && (result.details.id == tsc.selectedClass.id) && !tsc.treeVisible" ng-click="tsc.changeTreeVisibility(); $event.stopPropagation()">Show Details</span>
              <span class="show-details" ng-if="(result.resultId == tsc.selectedResultId) && (result.details.id == tsc.selectedClass.id) && tsc.treeVisible" ng-click="tsc.changeTreeVisibility(); $event.stopPropagation()">Hide Details</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Ontologies results -->
  <div ng-if="tsc.isSearchingOntologies()">
    <div class="search-results-headers">
      <table class="table table-condensed results-headers-table browse-results-headers-table">
        <thead>
        <tr>
          <th width="45%">Ontology</th>
          <th width="45%">Categories</th>
          <th width="10%">No. Terms</th>
        </tr>
        </thead>
      </table>
    </div>
    <div class="search-results">
      <div class="table-responsive results-table-container">
        <table class="table table-hover results-table browse-results-table">
          <tbody>
          <tr ng-repeat="result in tsc.searchOntologiesResults" ng-click="tsc.selectFieldOntology(result)" ng-show="tsc.isOntologyNameMatched(result)"
              ng-class="{'selected-row':  (result.id == tsc.currentOntology.info.id)}">
            <td width="45%">{{result.name}} ({{result.id}})</td>
            <td width="45%">{{result.details.categories.join(", ") || "-" }}</td>
            <td width="9%">{{result.details.numberOfClasses | number}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div ng-if="tsc.treeVisible && tsc.isLoadingClassDetails"><br />Loading details...</div>
  <!-- Ontology tree -->
  <div class="field-tree clear" ng-show="tsc.treeVisible && !tsc.isLoadingClassDetails">
    <div class="field-tree-header table-style">
      <!-- Tree header -->
      <div class="ontology-tree-header table-cell-style" ng-if="tsc.isCurrentOntology()">
        <h4>
          <!--<a class="pull-left" ng-click="tsc.hideTree()">-->
            <!--<img src="../img/left-arrow.png" />-->
          <!--</a>-->
          <!--&nbsp;&nbsp;&nbsp;&nbsp;-->
          {{tsc.currentOntology.info.id}} term tree
        </h4>
      </div>
      <!-- Term and ontology details header -->
      <div class="field-details-view table-cell-style" ng-if="tsc.isCurrentOntology()">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="detail-view-tab active">
            <a href="#class-details" aria-controls="class-details" role="tab" data-toggle="tab">Term Details</a>
          </li>
          <li role="presentation" class="detail-view-tab">
            <a href="#ontology-details" aria-controls="ontology-details" role="tab" data-toggle="tab">Ontology Details</a>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="field-tree-details">
      <div class="ontology-tree pull-left" ng-if="tsc.isCurrentOntology()">
        <div class="tree tree-view-ul tree-view list-unstyled class-tree-container" ng-if="!tsc.currentOntology.info.flat">
          <cedar-class-tree
              tree="tsc.currentOntology.tree"
              selected-node="tsc.selectedClass"
              is-selected-callback="tsc.checkIfSelected"
              get-class-details-callback="tsc.getClassDetails">
          </cedar-class-tree>
        </div>
        <div class="tree tree-view-message" ng-if="tsc.currentOntology.info.flat">Tree browsing not supported for this ontology</div>
      </div><!-- /.ontology-tree -->

      <div class="field-details-view pull-right" ng-if="tsc.isCurrentOntology()">
        <div class="tab-content">
          <div id="class-details" class="tab-pane active" role="tabpanel">
            <div class="no-selected-class text-center" ng-hide="tsc.classDetails">Click on any term in the ontology tree</div>
            <div class="table-responsive">
              <table class="table table-striped">
                <tbody ng-show="tsc.classDetails">
                <tr>
                  <th>Name</th>
                  <td>{{tsc.classDetails.prefLabel}}</td>
                </tr>
                <tr>
                  <th>ID</th>
                  <td>{{tsc.classDetails['@id']}}</td>
                </tr>
                <tr>
                  <th>Definition</th>
                  <td ng-if="tsc.classDetails.definition[0]">{{tsc.classDetails.definition[0]}}</td>
                  <td ng-if="tsc.classDetails.definitions[0]">{{tsc.classDetails.definitions[0]}}</td>
                  <td ng-if="!tsc.classDetails.definition[0] && !tsc.classDetails.definitions[0]">-</td>
                </tr>
                </tbody>
              </table>
            </div><!-- /.table-responsive -->
          </div><!-- /.class-details -->
          <div id="ontology-details" class="tab-pane" role="tabpanel">
            <div class="table-responsive">
              <table class="table table-striped">
                <tbody>
                <tr>
                  <th>Name</th>
                  <td>{{tsc.currentOntology.info.name}}</td>
                </tr>
                <tr>
                  <th>Acronym</th>
                  <td>{{tsc.currentOntology.info.id}}</td>
                </tr>
                <tr>
                  <th>id</th>
                  <td>
                    <a ng-href="{{tsc.currentOntology.info['@id']}}" target="_blank">{{tsc.currentOntology.info['@id']}}</a>
                  </td>
                </tr>
                <tr>
                  <th>Description</th>
                  <td>{{tsc.currentOntology.info.details.description | htmlToPlainText}}</td>
                </tr>
                <tr>
                  <th>No. Terms</th>
                  <td>{{tsc.currentOntology.info.details.numberOfClasses | number}}</td>
                </tr>
                </tbody>
              </table>
            </div><!-- /.table-responsive -->
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>


<!-- Add Ontology Class / Value Sets -->
<!--<div class="clear form-group add-ontology-class" ng-controller="provisionalClassController as pcc">-->

  <!--<ng-include src="'scripts/controlled-term/create-ontology-class.html'"></ng-include>-->
  <!--<div class="clear btn-create-class">-->
    <!--<button type="button"-->
        <!--class="std-button btn"-->
        <!--ng-click="pcc.saveAsFieldItem(pcc.provisionalClass)"-->
        <!--ng-disabled="!pcc.isValid()">Create Class-->
    <!--</button>-->
  <!--</div>-->

<!--</div>-->