
<!-- properties | fields | values  content-->
<div ng-if="tsc.isFieldPropertiesMode()" class="element-toggle-add-values">

  <!--- creating -->
  <div ng-if="tsc.isCreating()" style="width:90%;margin:40px auto">
    <span>Please provide the URI for the property you want to create</span>

    <form name="propertyForm">
      <div class="form-group form-group-actions clearfix">
        <div class="field-search">
          <div class="input-group field-search-input-group" style="width:100%">

            <input type="url" class="form-control field-search-form-control" name="propertyURI"
                placeholder="property URI" aria-label="property URI"
                ng-model="tsc.propertyUri" with-floating-label=""
                ng-submit="tsc.addPropertyUri()"/>
          </div>
        </div>
        <div class="clear btn-create-term">
          <button type="button"
              class="std-button btn"
              ng-click="tsc.addPropertyUri()">Enter Property
          </button>
        </div>
      </div>
    </form>
  </div>

  <!-- searching -->
  <div ng-if="tsc.isSearching()" style="width:90%;margin:40px auto">
    <cedar-bioportal-search field-name="tsc.fieldName"  search-mode="tsc.searchMode" action="tsc.action" selected-class="tsc.selectedClass"
      current-ontology="tsc.currentOntology" reset-callback="tsc.resetCallback" add-property-callback="tsc.addPropertyCallback"
        add-class-callback="tsc.addClassCallback" add-value-callback="tsc.addValueCallback" add-value-set-callback="tsc.addValueSetCallback"
        is-loading-class-details="tsc.isLoadingClassDetails" is-creating-mappings="tsc.isCreatingMappings" is-creating-vs="tsc.isCreatingVs"
        tree-visible="tsc.treeVisible"></cedar-bioportal-search>
  </div>

</div>

<div ng-if="tsc.isFieldTypesMode()" class="element-toggle-add-values">

  <!-- creating -->
  <div ng-if="tsc.isCreating()" style="width:90%;margin:40px auto">

    <div class="clear form-group add-ontology-class"
        ng-controller="provisionalClassController as pcc">
      <ng-include src="'scripts/controlled-term/create-ontology-class.html'"></ng-include>
      <div class="clear btn-create-term">
        <button type="button"
            class="std-button btn"
            ng-click="pcc.saveAsFieldItem(pcc.provisionalClass)"
            ng-disabled="!pcc.isValid()">Create Term
        </button>
        <!--<div class="input-indicator-icons">-->
        <i class="cedar-svg-help-circle help-icon"
            uib-tooltip="The term will be created in the CEDARPC (CEDAR Provisional Classes) BioPortal ontology and added to your template"></i>
        <!--</div>-->
      </div>
    </div>
  </div>

  <!-- searching -->
  <div ng-if="tsc.isSearching()" style="width:90%;margin:40px auto">
    <cedar-bioportal-search field-name="tsc.fieldName"  search-mode="tsc.searchMode" action="tsc.action" selected-class="tsc.selectedClass"
        current-ontology="tsc.currentOntology" reset-callback="tsc.resetCallback" add-property-callback="tsc.addPropertyCallback"
        add-class-callback="tsc.addClassCallback" add-value-callback="tsc.addValueCallback" add-value-set-callback="tsc.addValueSetCallback"
        is-loading-class-details="tsc.isLoadingClassDetails" is-creating-mappings="tsc.isCreatingMappings" is-creating-vs="tsc.isCreatingVs"
        tree-visible="tsc.treeVisible"></cedar-bioportal-search>
  </div>

</div>

<div ng-if="tsc.isFieldValuesMode()" class="element-toggle-add-values">

  <!-- search | create header  -->
  <div ng-if="!tsc.isCreatingMappings && !tsc.isCreatingVs">

    <!-- create content -->
    <div ng-if="tsc.isCreating()" style="width:90%;margin:40px auto">

      <!--create Term or Value Set -->
      <div class="element-toggles">
        <div class="element-toggle-add-values" ng-class="{active: tsc.isCreatingValue}"
            ng-click="tsc.switchToCreateValue()">
          <span>Term</span>
        </div>
        <div class="element-toggle-add-values" ng-class="{active: tsc.isCreatingValueSet}"
            ng-click="tsc.switchToCreateValueSet()">
          <span>Value Set</span>
        </div>
      </div>

      <!-- Tabs content -->
      <div>
        <!-- Create Term (Tab Content) -->
        <div ng-if="tsc.isCreatingValue" class="clear form-group add-ontology-class"
            ng-controller="provisionalClassController as pcc">
          <ng-include src="'scripts/controlled-term/create-ontology-class.html'"></ng-include>
          <div class="clear btn-create-term">
            <button type="button"
                class="std-button btn"
                ng-click="pcc.saveAsOntologyClassValueConstraint(pcc.provisionalClass)"
                ng-disabled="!pcc.isValid()">Create Term
            </button>
            <i class="cedar-svg-help-circle help-icon"
                uib-tooltip="The term will be created in the (CEDAR Provisional Classes) BioPortal ontology and added to your template"></i>
          </div>
        </div>
        <!-- Create Value Set (Tab Content) -->
        <div ng-if="tsc.isCreatingValueSet" class="clear form-group add-ontology-class"
            ng-controller="provisionalClassController as pcc">
          <ng-include src="'scripts/controlled-term/create-value-set.html'"></ng-include>
          <div class="clear btn-create-term">
            <button type="button"
                class="std-button btn"
                ng-click="pcc.saveAsValueSetConstraint(pcc.provisionalClass, pcc.provisionalValueSetValues)"
                ng-disabled="!pcc.isValid() || pcc.provisionalValueSetValues.length == 0 || pcc.showCreateVsLoader">
              Value Set
            </button>
            <i class="cedar-svg-help-circle help-icon"
                uib-tooltip="The value set will be created in the (CEDAR Value Sets) BioPortal ontology and added to your template"></i>
          </div>
          <!--Create value set loader-->
          <div ng-if="pcc.showCreateVsLoader">
            <div class="loader2"></div>
          </div>
          <br/>
        </div>
      </div>
    </div>

    <!-- search content -->
    <div ng-if="tsc.isSearching()" style="width:90%;margin:40px auto">
      <cedar-bioportal-search field-name="tsc.fieldName"  search-mode="tsc.searchMode" action="tsc.action" selected-class="tsc.selectedClass"
          current-ontology="tsc.currentOntology" reset-callback="tsc.resetCallback" add-property-callback="tsc.addPropertyCallback"
          add-class-callback="tsc.addClassCallback" add-value-callback="tsc.addValueCallback" add-value-set-callback="tsc.addValueSetCallback"
          is-loading-class-details="tsc.isLoadingClassDetails" is-creating-mappings="tsc.isCreatingMappings" is-creating-vs="tsc.isCreatingVs"
          tree-visible="tsc.treeVisible"></cedar-bioportal-search>
    </div>

  </div>
</div>








