<!--<br/>-->
<!--<p class="instructions">-->
  <!--Please provide the following information for the term you want to create-->
<!--</p>-->
<!--<br/>-->
<div style="margin:0 20px;">
<div class="floating-label-wrapper">
  <input type="text" class="form-control required" name="provisionalClassLabel" placeholder="Name"
      ng-model="pcc.provisionalClass.prefLabel" with-floating-label=""/>
</div>
<br/>
<div class="floating-label-wrapper">
  <textarea class="form-control required"
      rows="5"
      name="provisionalClassDescription"
      placeholder="Definition"
      ng-model="pcc.provisionalClass.description"
      with-floating-label=""></textarea>
</div>
</div>

<div class="mappings-toggle" ng-if="pcc.isValid()">
  <div ng-class="{'mappings-label-enabled': pcc.isValid(), 'mappings-label-disabled': !pcc.isValid()}">Link to existing terms (optional)</div>
  <div class="mappings-switch"> <switch name="tsc.isMappingExistingClasses"
      id="is-mapping-existing-classes-checkbox"
      ng-model="tsc.mappingObject">
  </switch></div>
</div>

<div class="map-existing-classes" ng-if="tsc.mappingObject">

  <ng-include src="'scripts/controlled-term/provisional-class-mappings.html'"></ng-include>

  <p class="mappings-instructions">Use the options below to link the term <span class="highlighted">'{{pcc.provisionalClass.prefLabel}}'</span> to existing BioPortal terms</p>

  <div ng-if="pcc.isSearching()" style="width:90%;margin:40px auto">
    <cedar-bioportal-search field-name="tsc.fieldName"  search-mode="pcc.searchMode" action="pcc.action" selected-class="pcc.pickedOntologyClass"
        current-ontology="pcc.pickedCurrentOntology" reset-callback="pcc.startOverInner" add-property-callback="tsc.addPropertyCallback"
        add-class-callback="tsc.addClassCallback" add-value-callback="tsc.addValueCallback" add-value-set-callback="tsc.addValueSetCallback"
        is-loading-class-details="pcc.isLoadingPickedOntologyClassDetails" is-creating-mappings="true" is-creating-vs="tsc.isCreatingVs"
        tree-visible="false"></cedar-bioportal-search>
  </div>


  <div class="create-mapping-actions" ng-if="pcc.pickedOntologyClass">

    <!-- Relation type selector -->
    <div class="relation-type-select">
      <relation-type-selector selected-relation-type="pcc.provisionalClassMappingType"></relation-type-selector>
    </div>

    <!-- Visual representation of mapping -->
    <!--<p class="mapping-representation-header">Mapping Representation</p>-->

    <div class="mapping-description">
      <div class="mapping-subject">
        <div class="mapping-label">{{pcc.provisionalClass.prefLabel || '(no label)'}}</div>
      </div>
      <div class="mapping-predicate">
        <div class="mapping-predicate-label">{{pcc.provisionalClassMappingType.label || '(relationship type)'}}</div>
      </div>
      <div class="mapping-predicate-arrow"></div>
      <div class="mapping-object">
        <div class="mapping-label">{{pcc.pickedOntologyClass.prefLabel}} ({{pcc.pickedCurrentOntology.info.id}})</div>
      </div>
    </div>
    <!-- Mapping types -->
    <div class="mapping-tools inline-block btn-create-class">
      <button class="std-button btn btn-create-mapping" ng-disabled="!pcc.provisionalClassMappingType"
          ng-click="pcc.createProvisionalClassMapping(pcc.provisionalClassMappingType, pcc.pickedOntologyClass, pcc.pickedCurrentOntology)">
        Add Relationship
      </button>
    </div>
  </div>

</div>
