<!--<p class="instructions">-->
<!--Please, provide the following information for the term you want to create:-->
<!--</p>-->
<br/>
<div class="floating-label-wrapper">
  <input type="text" class="form-control required" name="provisionalClassLabel" placeholder="Label"
      ng-model="pcc.provisionalClass.prefLabel" with-floating-label=""/>
</div>
<br/>
<div class="floating-label-wrapper">
  <textarea class="form-control required"
      rows="5"
      name="provisionalClassDescription"
      placeholder="Description"
      ng-model="pcc.provisionalClass.description"
      with-floating-label=""></textarea>
</div>
<br/>
<div class="checkbox inline-block">
  <input type="checkbox"
      name="isMappingExistingClasses"
      id="is-mapping-existing-classes-checkbox"
      ng-model="pcc.isMappingExistingClasses"
      ng-click="$event.stopPropagation(); pcc.searchMode='mappings'"
      ng-disabled="!pcc.isValid()"/>
  <label for="is-mapping-existing-classes-checkbox">Map to existing terms</label>
</div>

<div class="map-existing-classes" ng-if="pcc.isMappingExistingClasses">

  <p class="mapping-header">List of Mappings</p>

  <ng-include src="'scripts/controlled-term/provisional-class-mappings.html'"></ng-include>

  <p class="mappings-instructions">Use the options below to create mappings for the term <span class="highlighted">'{{pcc.provisionalClass.prefLabel}}'</span> to existing BioPortal terms</p>

  <controlled-term-search
      search-mode="pcc.searchMode"
      reset-callback="pcc.startOverInner"
      current-ontology="pcc.pickedCurrentOntology"
      selected-class="pcc.pickedOntologyClass"
      is-loading-class-details="pcc.isLoadingPickedOntologyClassDetails"
  <!--field-name="ctdc.field.finalTitle"-->
  <!--search-mode="ctdc.filterSelection"-->
  <!--reset-callback="ctdc.startOver"-->
  <!--current-ontology="ctdc.currentOntology"-->
  <!--selected-class="ctdc.selectedClass"-->
  <!--is-loading-class-details="ctdc.isLoadingClassDetails"-->
  >
  </controlled-term-search>

  <!--<cedar-controlled-term-ontology-picker-->
  <!--class-details="pcc.pickedOntologyClassDetails"-->
  <!--current-ontology="pcc.pickedCurrentOntology"-->
  <!--include-create-class="false"-->
  <!--reset-callback="pcc.startOverInner"-->
  <!--is-loading-class-details="pcc.isLoadingPickedOntologyClassDetails"-->
  <!--selected-class-1="pcc.pickedOntologyClass"-->
  <!--selected-class-2="pcc.pickedOntologyClass">-->
  <!--</cedar-controlled-term-ontology-picker>-->

  <div class="create-mapping-actions" ng-if="pcc.pickedOntologyClass">
    <!--<p class="mapping-representation-header">Mapping Type</p>-->
    <!-- Select mapping type -->
    <div class="create-class-select">
      <select ng-model="pcc.provisionalClassMappingType"
          ng-options="option.label for option in pcc.provisionalClassMappingTypes"
          class="form-control select-mapping-type"
          select-picker="">
        <option value="">Select a mapping type...</option>
      </select>
    </div>
    <!-- Visual representation of mapping -->
    <p class="mapping-representation-header">Mapping Representation</p>

    <div class="mapping-description">
      <div class="mapping-subject">
        <div class="mapping-label">{{pcc.provisionalClass.prefLabel || '(no label)'}}</div>
      </div>
      <div class="mapping-predicate">
        <div class="mapping-predicate-label">{{pcc.provisionalClassMappingType.label || '(mapping type)'}}</div>
      </div>
      <div class="mapping-predicate-arrow"></div>
      <div class="mapping-object">
        <div class="mapping-label">{{pcc.pickedOntologyClass.prefLabel}} ({{pcc.pickedCurrentOntology.info.id}})</div>
      </div>
    </div>
    <!-- Mapping types -->
    <div class="mapping-tools inline-block btn-create-class">
      <button class="std-button btn btn-create-mapping" ng-disabled="!pcc.provisionalClassMappingType"
          ng-click="pcc.createProvisionalClassMapping(pcc.provisionalClassMappingType, pcc.pickedOntologyClass, pcc.pickedCurrentOntology)">
        Add Mapping
      </button>
    </div>
  </div>

</div>
