<div class="row">
  <div class="col-md-12">

    <h1>Property Wizard</h1>

    <div id="wizard-container">

      <div id="wizard-step-container">
        <ul class="nav nav-pills nav-justified">
          <li ng-repeat="step in steps" ng-class="{'active':step.step == currentStep}"><a ng-click="gotoStep(step.step)"
              href="">{{step.step}}. {{step.name}}</a></li>
        </ul>
      </div>

      <!--<div id="wizard-content-container">-->
        <!--<ng-include src="getStepTemplate()"></ng-include>-->
      <!--</div>-->

      <div ng-if="currentStep === 1" id="wizard-content-container-step1">
        <ng-include src="getStepTemplate()"></ng-include>
      </div>
      <div ng-if="currentStep === 2"  id="wizard-content-container-step2">
        <ng-include src="getStepTemplate()"></ng-include>
      </div>
      <div ng-if="currentStep === 3"  id="wizard-content-container-step3">
        <ng-include src="getStepTemplate()"></ng-include>
      </div>


      <div id="wizard-navigation-container">
        <div class="pull-right">
                <span class="btn-group">
                  <button ng-disabled="currentStep <= 1" class="btn btn-default" name="previous" type="button"
                      ng-click="gotoStep(currentStep - 1)"><i class="fa fa-arrow-left"></i> Previous step
                  </button>
                  <button ng-disabled="currentStep >= steps.length" class="btn btn-primary" name="next" type="button"
                      ng-click="gotoStep(currentStep + 1)">Next step <i class="fa fa-arrow-right"></i></button>
                </span>
          <button ng-disabled="currentStep != steps.length" class="btn btn-success" name="next" type="button"
              ng-click="save()"><i class="fa fa-floppy-o"></i> Save
          </button>
        </div>
      </div>

    </div>

  </div>
</div>