<div class="btn-group cardinality-selector" uib-dropdown is-open="isOpen" auto-close="always">
  <button type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
    {{getDropdownLabel()}} <span class="caret glyphicon glyphicon-chevron-down"></span>
  </button>
  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-dropdown">
    <li role="menuitem" ng-repeat="choice in relationTypes">
      <a href="#" class="dropdown-selector" ng-click="update(choice)">{{choice.label}} <i ng-if="choice.id == selectedRelationType.id"
          class="fa fa-check check"></i></a>
    </li>
  </ul>
</div>
