<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header" id="AIRRSubmissionModalHeader">
      <button type="button" class="close" ng-click="airrSubmissionModalVisible=false" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" translate>VALIDATION.AIRRsubmission</h4>
    </div>

    <div class="modal-body">
      <file-upload to="{{url}}" instance="{{instance}}" ></file-upload>
    </div>

    <!-- footer closes the dialog -->
    <div class="modal-footer actions">
      <div class="clear-save">
        <button type="button" ng-click="airrSubmissionModalVisible=false;"
            data-dismiss="modal" aria-label="Done"
            class="btn btn-save confirm" translate>GENERIC.Done
        </button>
      </div>
    </div>

  </div>
</div>