<div  style="font-size:14px;padding-top:6px;user-select:none;">

  <a ng-click="firstPage();$event.stopPropagation()">
    <i class="fa fa-angle-double-left"></i>
  </a>
  <a style="padding:0 5px;" ng-if="index>0" ng-click="previousPage();$event.stopPropagation()">
    <i class="fa fa-angle-left"></i>
  </a>

  <span ng-repeat="(i, valueElement) in values">
    <a ng-if="i >= min && i <= max" ng-click="select(i);">

      <span ng-if="i===index" style="font-size:larger;font-weight:bold">{{i+1}}</span>
      <span ng-if="i!==index" >{{i+1}}</span>
    </a>
   </span>

  <a style="padding:0 5px;" ng-if="index+1<values.length" ng-click="nextPage();$event.stopPropagation()">
    <i class="fa fa-angle-right"></i>
  </a>
  <a ng-if="index+1<values.length" ng-click="lastPage();$event.stopPropagation()">
    <i class="fa fa-angle-double-right"></i>
  </a>
</div>