<div class="item-root field-root">

  <!-- field content  -->
  <div class="elementTotalContent visible" style="position:relative">

    <div class="fields text-fields">

      <div ng-if="isSectionBreak()" class="row">
        <div class="section-break-inline">{{getTitle()}}</div>
      </div>

      <div ng-if="!isSectionBreak()" id="'label'+{{getLocator(0)}}"
          ng-class="{'isRowInactive' : !isActive(index), 'isActive': isActive(index)}">

        <!-- show the spreadsheet -->
        <div ng-if="isSpreadsheetView()">

          <div class="question">
            <div class="flex" style="justify-content: space-between;background:pink;">
              <label for="'label'+{{getLocator(0)}}" class="title field isInactive" style="width:100%" ng-class="{'required':isRequired()}">{{getLabel()}}<span
                  ng-if="!isRequired()"> ( optional ) </span></label>
              <field-toolbar values="valueArray" min="pageMin"
                  max="pageMax" select="selectPage" paging="false"
                  range="pageRange" model="model" field="field" index="index"
                  remove="removeInput" add="addMoreInput" copy="copyField" set-active="setActive"
                  expand-all="expandAll"
                  get-locator="getLocator" view-state="viewState" get-help="getHelp" has-help="hasHelp">
              </field-toolbar>
            </div>
          </div>

          <div class="answer">
            <div class="spreadsheetViewDetector"></div>
            <div class="spreadsheetViewContainer"></div>
            <div id="spreadsheetViewLogs"></div>
            <div id="hooksList"></div>
            <div id="htDatepickerHolder"></div>
          </div>
        </div>

        <!-- show a paged list of fields  -->
        <div ng-if="isTabView() && valueArray.length > 0">

          <div class="question">
            <div class="flex" >

              <label for="'label'+{{getLocator(0)}}" class="title field isInactive" style="width:100%;" ng-class="{'required':isRequired()}">{{getLabel()}}<span ng-if="!isRequired()"> ( optional ) </span></label>
              <field-toolbar style="align-self:flex-start;" values="valueArray" min="pageMin"
                  max="pageMax" select="selectPage" paging="false"
                  range="pageRange" model="model" field="field" index="index"
                  remove="removeInput" add="addMoreInput" copy="copyField" set-active="setActive"
                  expand-all="expandAll"
                  get-locator="getLocator" view-state="viewState" get-help="getHelp" has-help="hasHelp">
              </field-toolbar>

            </div>
          </div>

          <div ng-repeat="(index, valueElement) in valueArray">
            <div class="answer">
              <form>
                <div ng-include="getFieldUrl()"></div>
              </form>
            </div>
          </div>

        </div>

        <!-- all error messages for this field  -->
        <div class="errors" ng-if="errorMessages">
          <div class="alert alert-danger" ng-repeat="message in errorMessages">{{message}}</div>
        </div>

      </div>
    </div>
  </div>
</div>
