<div class="item-root field-root">

  <!-- field content  -->
  <div class="elementTotalContent visible">

    <div ng-show="isMultiple()">
      <div class="spreadsheetViewDetector"></div>
      <div class="spreadsheetViewContainer"></div>
    </div>

    <!--  a list of fields, or just one field -->
    <div class="fields text-fields">
      <div ng-if="isMultiple()" ng-init="setDefaultValueIfEmpty(model)" class="form-group has-feedback"
          ng-repeat="(index, valueElement) in model">
        <div class="originalContent" ng-include="getFieldUrl()"></div>
      </div>
      <div ng-if="!isMultiple()" class="form-group has-feedback" ng-init="index=0;valueElement=model">
        <div class="originalContent" ng-include="getFieldUrl()"></div>
      </div>
    </div>

    <!-- error messages last -->
    <div class="errors" ng-if="errorMessages">
      <div class="alert alert-danger" ng-repeat="message in errorMessages">{{message}}</div>
    </div>
  </div>
</div>
