<div class="has-constraint " >
  <ui-select
      ng-change="updateModelFromUIControlledField(modelValue, index)"
      ng-model="modelValue[index].termInfo"
      theme="bootstrap"
      placeholder="enter default value"
      close-on-select="true"
      aria-label="getDescription(field)">
    <ui-select-match allow-clear="true" placeholder="">{{$select.selected['rdfs:label']}}</ui-select-match>
    <ui-select-choices
        ui-disable-choice="option.label == 'No Results...'"
        refresh="updateFieldAutocomplete(field,$select.search, false)"
        refresh-delay="200"
        repeat="option in order(autocompleteResultsCache[getId()][$select.search || '*']['results']) | propsFilter: { 'rdfs:label': $select.search} | limitTo:500">
      <div>
        <span class='controlledTerm fa fa-share-alt-square fa-rotate-90'></span>&nbsp;
        <span ng-bind-html="option.label | highlight: $select.search"></span>&nbsp;
      </div>
    </ui-select-choices>
  </ui-select>


  <div class="validation" role="alert">
    <div ng-if="isRequiredError()">{{ 'VALIDATION.requiredSelect' | translate }}</div>
  </div>
</div>

