<div class="flex-right flex-start">

  <cedar-pager class="cedar-pager"
      ng-if="paging"
      ng-click="$event.stopPropagation()"
      values="values" index="index" min="min" max="max" select="select" range="range">
  </cedar-pager>

  <button ng-if="isExpandable()" type="button" class="expand-all" tooltip-append-to-body="true"
      ng-click="expandAll(index);$event.stopPropagation()"
      uib-tooltip="{{'GENERIC.ExpandAll' | translate}}" tooltip-enable="isExpandable()" >
    <i class="fa fa-expand "></i>
  </button>

  <button ng-if="canDelete()" type="button" class="delete" tooltip-append-to-body="true"
      ng-click="remove(index);$event.stopPropagation()"
      uib-tooltip="{{'GENERIC.Remove' | translate}}"
      tooltip-enable="canDelete()">
    <i class="fa fa-trash"></i>
  </button>

  <button type="button" class="expand-all" tooltip-append-to-body="true"
      ng-if="isSpreadsheetView()"
      uib-tooltip="{{'GENERIC.FullScreen' | translate}}"
      ng-click="fullscreen();$event.stopPropagation()"
      tooltip-enable="isSpreadsheetView()">
    <i class="fa fa-arrows-alt"></i>
  </button>

  <button type="button" class="copy" tooltip-append-to-body="true"
      ng-if="canCopy()"
      ng-click="copy(index);$event.stopPropagation()"
      uib-tooltip="{{'GENERIC.Copy' | translate}}"
      tooltip-enable="canCopy()">
    <i class="fa fa-copy"></i>
  </button>

  <button type="button" class="copy" tooltip-append-to-body="true"
          ng-if="canCopy()"
          ng-click="add();$event.stopPropagation()"
          uib-tooltip="{{'GENERIC.Add' | translate}}"
          tooltip-enable="canCopy()">
    <i class="fa fa-plus"></i>
  </button>

  <!--<button type="button" class="add" tooltip-append-to-body="true"-->
      <!--ng-if="canAdd()"-->
      <!--ng-click="add();$event.stopPropagation()"-->
      <!--uib-tooltip="{{'GENERIC.Add' | translate}}"-->
      <!--tooltip-enable="canAdd()">-->
    <!--<i class="fa fa-plus-circle"></i>-->
  <!--</button>-->

  <button type="button" class="view-toggle" tooltip-append-to-body="true"
      ng-click="toggleView();setActive(index,true);$event.stopPropagation()"
      uib-tooltip="{{'GENERIC.ToggleView' | translate}}"
      tooltip-enable="isMultiple()"
      ng-if="isMultiple() && !isAttributeValueType()">
    <i ng-if="isSpreadsheetView()" class="fa fa-sort  fa-rotate-90 " ></i>
    <i ng-if="isTabView()" class="fa fa-list-ol " ></i>
    <i ng-if="isListView()" class="fa fa-table " ></i>
  </button>


  <button ng-if="hasHelp()" type="button" class="help" tooltip-append-to-body="true"
      ng-click="$event.stopPropagation()"
      uib-tooltip="{{getHelp()}}"
      tooltip-enable="hasHelp()" >
    <i class="fa fa-question-circle"></i>
  </button>

</div>
