<div class="field-root" id="{{$root.getDomId(field)}}"
     ng-click="canSelect(!$root.isRuntime(), $event); $event.preventDefault();"
     ng-class="{'selected': isEditState(field)}">


    <!-- first row sort hander -->
    <div class="row">
        <div class="sortable-handler" style="height:30px;" ng-class="{'invisible': $root.isRuntime()}"
             ng-mousedown="canSelect(!$root.isRuntime(), $event); $event.preventDefault(); ">
            <div class="type-label sortable"><span class="sortable-icon"></span></div>
        </div>
    </div>

    <!-- second row field title and top toolbar -->
    <div class="row">
        <div class="col-sm-9">

            <div ng-include src="'scripts/form/partials/field-title.partial.html'"></div>
        </div>


        <!-- top toolbar -->
        <div class="col-sm-3">
            <!-- change field type --->
            <div ng-show="isEditState()" class="form-group validation-pattern pull-left min-items-option">
                <select class="" ng-init="fieldType = $root.schemaOf(field)._ui.inputType" ng-model="fieldType"
                        ng-options="v.cedarType as v.label for v in getFieldTypes()"
                        select-picker="$event.stopPropagation();">
                </select>
            </div>
            <!-- runtime toolbar -->
            <div ng-include src="'scripts/form/partials/runtime-toolbar.partial.html'"></div>

        </div>
    </div>

    <!-- then field content  -->
    <div class="row">
        <div class="col-sm-12 elementTotalContent visible">

            <div ng-show="$root.isArray(model)">
                <div class="spreadsheetViewDetector"></div>
                <div class="spreadsheetViewContainer"></div>
            </div>

            <!-- this is the line that pulls in the actual element -->
            <div class="originalContent" ng-include="getTemplateUrl()"></div>


            <!-- error messages last -->
            <div class="errors" ng-if="errorMessages">
                <div class="alert alert-danger" ng-repeat="message in errorMessages">{{message}}</div>
            </div>
        </div>
    </div>

    <!-- finally edit toolbar -->
    <div class="row" ng-show="isEditState()" style="border-top: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;">
        <div ng-include src="'scripts/form/partials/edit-toolbar.partial.html'"></div>
    </div>


    <!-- field modal -->
    <div class="modal fade controlled-terms-modal" id="{{getModalId(true)}}" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content" style="overflow:auto">
                <div class="modal-header">
                    <button type="button" class="close controlled-terms-modal-field-close" data-dismiss="modal"
                            aria-label="Close"><span aria-hidden="true"><img
                            src="/img/close_modal.png" width="22"/></span></button>
                </div>
                <div class="modal-body">
                    <div cedar-controlled-term field="field" options='{"filterSelection":"field"}'></div>
                </div>
            </div>
        </div>
    </div>

    <!-- value modal -->
    <div class="modal fade controlled-terms-modal" id="{{getModalId(false)}}" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content" style="overflow:auto">
                <div class="modal-header">
                    <button type="button" class="close controlled-terms-modal-value-close" data-dismiss="modal"
                            aria-label="Close"><span aria-hidden="true"><img
                            src="/img/close_modal.png" width="22"/></span></button>
                </div>
                <div class="modal-body">
                    <div cedar-controlled-term field="field" options='{"filterSelection":"values"}'></div>
                </div>
            </div>
        </div>
    </div>

</div>
