<div class="form-group" style="padding:0;font-size:20px;margin:0;">

    <div ng-show="$parent.isEditState()" ng-class="{'element-title':$root.isElement(fieldOrElement)}">
        <input type="text"
               ng-click="clickTrack('editFieldTitle')"
               id="{{$root.getDomId(fieldOrElement)}}-edit-title"
               class="form-control field-title-definition"
               style="padding-left: 0;font-size:20px;"
               placeholder="{{'CREATOR.enterFieldTitle' | translate}}"
               aria-label="{{'CREATOR.enterFieldTitle' | translate}}"
               ng-model="$root.schemaOf(fieldOrElement)._ui.title">
    </div>

    <div id="{{$root.getDomId(fieldOrElement)}}-title" ng-show="!$parent.isEditState()" ng-class="{'element-title':$root.isElement(fieldOrElement)}">
        {{$root.schemaOf(fieldOrElement)._ui.title}}
                    <span id="{{$root.getDomId(fieldOrElement)}}-required" ng-show="$root.isRuntime()"
                          style="color:red"
                          ng-class="{'invisible': !$root.schemaOf(fieldOrElement)._valueConstraints.requiredValue}">*</span>
    </div>

    <div ng-show="$root.isElement(fieldOrElement)">
            <a ng-click="$parent.switchExpandedState($root.getDomId(fieldOrElement));clickTrack('switchToSpreadsheet')" class="visibilitySwitch"><i
                    class="cedar-svg-collapse"></i></a>
            <a ng-click="$parent.switchExpandedState($root.getDomId(fieldOrElement));clickTrack('switchToGrid')" class="visibilitySwitch"
               style="display:none;"><i
                    class="cedar-svg-expand"></i></a>
    </div>

</div>

