<div class="form-group " style="padding:0;font-size:20px;margin:0;">



    <div ng-show="$parent.isEditState()">
        <input type="text"
               id="{{$root.getDomId(fieldOrElement)}}-edit-title"
               class="form-control field-title-definition"
               style="font-size:20px;"
               placeholder="{{'CREATOR.enterFieldTitle' | translate}}"
               aria-label="{{'CREATOR.enterFieldTitle' | translate}}"
               ng-model="$root.schemaOf(fieldOrElement)._ui.title">
    </div>

    <div id="{{$root.getDomId(fieldOrElement)}}-title" ng-show="!$parent.isEditState()">
        {{$root.schemaOf(fieldOrElement)._ui.title}}
                    <span id="{{$root.getDomId(fieldOrElement)}}-required" ng-show="$root.isRuntime()"
                          style="color:red"
                          ng-class="{'invisible': !$root.schemaOf(fieldOrElement)._valueConstraints.requiredValue}">*</span>
    </div>

    <div ng-show="$root.isElement(fieldOrElement)">
        <div style="position:absolute;left:15px;top:3px">
            <a ng-click="$parent.switchExpandedState($root.getDomId(fieldOrElement))" class="visibilitySwitch"><i
                    class="cedar-svg-collapse"></i></a>
            <a ng-click="$parent.switchExpandedState($root.getDomId(fieldOrElement))" class="visibilitySwitch"
               style="display:none;"><i
                    class="cedar-svg-expand"></i></a>
        </div>
    </div>

</div>

