<form name="forms.templateForm" id="{{form['@id'].substr(form['@id'].lastIndexOf('/') + 1) + '-' + path}}"
      novalidate>
  <!-- Template authoring -->
  <div class="page build" ui-sortable="$root.sortableOptions" ng-model="form._ui.order">

    <div ng-if="isFirstClassField(form)">
      <field-directive parent-element="form" nested="false" field-key="" field="form"
                       model="model"
                       delete="removeChild"
                       rename-child-key=""></field-directive>
    </div>

    <div ng-repeat="item in form._ui.order" class="animate-fade">
      <span ng-if="form.properties[item]">

        <!--If  field-->
        <div ng-if="form.properties[item]['@type']=='https://schema.metadatacenter.org/core/TemplateField' || form.properties[item]['@type']=='https://schema.metadatacenter.org/core/StaticTemplateField' ||
        form.properties[item].items['@type']=='https://schema.metadatacenter.org/core/TemplateField' || form.properties[item].items['@type']=='https://schema.metadatacenter.org/core/StaticTemplateField'"
             ng-class="{'field-instance':true, 'multiple-instance-field':form.properties[item].type == 'array'}">
          <field-directive parent-element="form" nested="false" field-key="item" field="form.properties[item]"
                           model="model[item]"
                           delete="removeChild(form.properties[item]); $event.stopPropagation();"
                           rename-child-key="renameChildKey"></field-directive>
        </div>

        <!-- if element  -->
         <div
             ng-if="$root.schemaOf(form.properties[item])['@type'] === 'https://schema.metadatacenter.org/core/TemplateElement'">
           <div class="element-group full">
             <cedar-template-element element="form.properties[item]"
                                     key="item"
                                     model="model[item]"
                                     parent-element="form"
                                     rename-child-key="renameChildKey"
                                     delete="removeChild"
                                     is-edit-data="isEditData">
             </cedar-template-element>
           </div>
         </div>
      </span>
    </div>
  </div>


</form>
