.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -ms-transition: @transition;
  -o-transition: @transition;
}

#navbarMini {
  display: none;
  border: 0px solid red;
  z-index: 9999;
}

.navbarMiniGeneric {
  display: block;
  position: fixed;
  width: 100%;
}

.navbarMiniShow {
  .navbarMiniGeneric;
  top: 0px;
}

.navbarMiniHide {
  .navbarMiniGeneric;
  top: -80px;
}

// Fixed mini navbar
.navbar-header-mini {
  height: 80px;
  position: fixed;
  top: 0;
  background-color: @header-bg-color;
  padding-left: 0px;
  padding-right: 0px;
}

// Page title inside the mini navbar
.navbarMiniInfoTitle {
  position: absolute;
  left: 270px;
  padding-top: 27px;
}

.more-input-wrapper {

  .spreadsheet {
    height: 40px;
    width: 40px;
    margin: 0 0 0 10px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.3s ease 0.1s;
    cursor: pointer;
    border: none;
    background-color: #393;

    i {
      color: #FFF;
      line-height: 40px;
    }
  }
}

.spreadsheetSwitchLink {
  margin-left: 10px;
}

.spreadsheetSwitch.field {
  margin-bottom: 0px;
}

.spreadsheetSwitch.element {
  margin-bottom: -15px;
}

.spreadsheetViewContainer {
  display: none;
  overflow: auto;
  width:650px;
  height:100px;
  &.visible {
    display: block;
    margin-bottom: 20px;
  }
}

div.htCedarCheckboxes {
  border: 0px solid red;
}

div.htCedarCheckboxContainer {
  border: 1px solid #888888;
  background-color: #fafafa;
}

.nav li.active {
  font-weight: bold;
}

html, body {
  display: block;
}

.roleSelectorCreator {
  &.cedar-svg, &.name {
    color: #5795ba !important;
  }

  &.back-panel {
    background-color: #5795ba !important;
  }
}

.roleSelectorInstantiator {
  &.cedar-svg, &.name {
    color: #71a69c !important;
  }

  &.back-panel {
    background-color: #71a69c !important;
  }
}

.visibilitySwitch {
  position: relative;;
  left: -27px;
  background-color: @gray2;
  border: 1px solid #ddd;
  i {
    position: relative;;
    color: @gray;
    top: -2px;
  }
}

.multiple-instance-cardinality {
  color: @brand-primary;
}