/*
================================================
=== CEDAR Customization
================================================
*/

.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -ms-transition: @transition;
  -o-transition: @transition;
}

#navbarMini {
  display: none;
  border: 0px solid red;
  z-index: 9999;
}

.navbarMiniGeneric {
  display: block;
  position: fixed;
  width: 100%;
}

.navbarMiniShow {
  .navbarMiniGeneric;
  top: 0px;
}

.navbarMiniHide {
  .navbarMiniGeneric;
  top: -80px;
}

// Fixed mini navbar
.navbar-header-mini {
  height: 80px;
  position: fixed;
  top: 0;
  background-color: @header-bg-color;
  padding-left: 0px;
  padding-right: 0px;
}

// Page title inside the mini navbar
.navbarMiniInfoTitle {
  position: absolute;
  left: 270px;
  padding-top: 27px;
}

.more-input-wrapper {

  .spreadsheet {
    height: 40px;
    width: 40px;
    margin: 0 0 0 10px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.3s ease 0.1s;
    cursor: pointer;
    border: none;
    background-color: @brand-primary;

    i {
      color: @white;
      line-height: 40px;
    }
  }
}

.spreadsheetSwitchLink {
  margin-left: 10px;
}

.spreadsheetSwitch.field {
  margin-bottom: 0px;
}

.spreadsheetSwitch.element {
  margin-bottom: -15px;
}

.spreadsheetViewContainer {
  display: none;
  overflow: auto;
  //width: 590px;
  //height: 130px;
  //border:1px solid red;
  //background-color: #0b97c4;
  &.visible {
    display: block;
    margin-bottom: 10px;
  }
}

.spreadsheetViewDetector {
  //display: none;
  //border:1px solid green;
  height: 1px;
}

div.htCedarCheckboxes {
  border: 0px solid red;
}

div.htCedarCheckboxContainer {
  border: 1px solid @gray;
  background-color: @gray2;
}

.nav li.active {
  font-weight: bold;
}

html, body {
  display: block;
}

.roleSelectorCreator {
  &.cedar-svg, &.name {
    color: #5795ba !important;
  }

  &.back-panel {
    background-color: #5795ba !important;
  }
}

.roleSelectorInstantiator {
  &.cedar-svg, &.name {
    color: #71a69c !important;
  }

  &.back-panel {
    background-color: #71a69c !important;
  }
}

.visibilitySwitch {
  position: relative;
  left: -13px;
  i {
    position: relative;;
    color: @brand-primary;
    top: -2px;
  }
}

.multiple-instance-cardinality {
  color: @brand-primary;
  padding-left: 5px;
}

#form-item-config-section {
  border: 1px solid @brand-primary;
  padding: 10px 10px 0px 20px !important;
  background-color: @brand-secondary
}

#previewEditOptionOfElement {
  margin-top: 0px;
}

.more-input-buttons {
  height: 40px;
  padding-top: 7px;
}

.form-group {
  &.floating-label-wrapper {
    &.field-value-filter {
      &.field {
        margin-bottom: 0px;
      }
      &.values {
        margin-bottom: 0px;
      }
    }
  }
}

#jsonTools {

  a {
    color: @white;
  }
}

.cedarSWAL {
  .sa-confirm-button-container {
    button.confirm {
      background-color: @brand-primary;
    }
  }

  .sweet-alert .sa-icon.sa-warning .sa-body {
    background-color: red;
  }
}

@-webkit-keyframes pulseWarning {
  0% {
    border-color: @brand-primary;
  }
  100% {
    border-color: @brand-secondary;
  }
}

@keyframes pulseWarning {
  0% {
    border-color: @brand-primary;
  }
  100% {
    border-color: @brand-secondary;
  }
}

.pulseWarning {
  -webkit-animation: pulseWarning 1.75s infinite alternate;
  animation: pulseWarning 1.75s infinite alternate;
}

@-webkit-keyframes pulseWarningIns {
  0% {
    border-color: @brand-primary;
  }
  100% {
    border-color: @brand-secondary;
  }
}

@keyframes pulseWarningIns {
  0% {
    border-color: @brand-primary;
  }
  100% {
    border-color: @brand-secondary;
  }
}

.pulseWarningIns {
  -webkit-animation: pulseWarningIns 1.75s infinite alternate;
  animation: pulseWarningIns 1.75s infinite alternate;
}

.sweet-alert {
  .sa-icon.sa-warning {
    .sa-body, .sa-dot {
      background-color: @brand-primary;
    }
  }
}

.field-instance {
  padding-left: 14px;
  padding-right: 14px;
  &.multiple-instance-field {
    border: 1px solid #ddd;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 16px;
    background-color: #e8e8e8;
  }
}

/* The base CSS styles for the animation property */
.animate-fade.ng-hide-add,
.animate-fade.ng-hide-remove {
  transition: 0.5s linear all;
}

/* The starting CSS styles for the enter animation */
.animate-fade.ng-hide-add,
.animate-fade.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

/* The finishing CSS styles for the enter animation */
.animate-fade.ng-hide-add.ng-hide-add-active,
.animate-fade.ng-hide-remove {
  opacity: 0;
}

.cedar-svg-element {
  &.inSpreadsheetCell::before {
    font-size: 18px;
    vertical-align: 15%;
  }
}

#stickyFix {
  border: 0px solid red;
  width: 10px;
  height: 730px;
  position: absolute;
  left: 0;
  top: 0;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

div.errorTechnicalDetails {
  width: 1000px;
  textarea {
    width: 900px;
    height: 300px;
    font-size: 12px;
  }
}


#toasty .toast.toasty-theme-bootstrap .close-button::after {
  font-weight: bold !important;
  font-size: 20px !important;
}

#toolbar {
  position: relative;
  border: 1px solid #d2d2d2;
  width: 60px;
  margin-top: 40px;
  background: #fff;

  .more {
    font-size: 20px;
  }
  .search {
    border-top: 1px solid #d2d2d2;
  }

  .item {
    text-align: left;
    padding: 5px;
    padding-left: 30px;
  }

  ul {
    margin: 10px 0;
    padding: 0;

    li {
      list-style: none;
      text-align: center;
      padding: 0;
      height: auto;

      a {
        i {
          width: 40px;
          height: 40px;
          padding-top: 10px;
          font-size: 18px;

        }
      }

      &.divider {
        border-top: 1px solid #ccc;
        max-height: 1px;
        padding: 0;
        margin: 0;
      }

    }
  }
}

.other-elements {
  width: 465px;
  position: absolute;
  border: 1px solid #d2d2d2;
  background: #fff;
  border-radius: 0;
  background: @white;
  padding: 10px;

  .pull-left, .pull-right {
    width: 50%;
    text-transform: uppercase;
    .item {
      div {
        padding: 10px;
        cursor:pointer;
        width:100%;
        color: @graytxt;
        font-weight: 500;
        i {
          color: @brand-primary;
          padding-right: 10px;
        }
        &:hover {
          background:#efefef;
        }
      }

      .tooltip {
        text-transform: none;
        width:auto;
      }
    }
  }
}


#element-search-form {
  margin: 0 30px;

  .search-input {
    position: relative;
  }
}

#search-browse-modal {
  position: fixed;
  top: 0;
  left: 0;

  .search-input {
    padding-right: 60px;
  }

  .clear-search {
    position: absolute;
    top: 0;
    right: 30px;
    margin: 10px
  }

  .do-search {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px
  }

  .footer-buttons {
    padding: 30px;

    button {
      padding: 20px 70px;
      color: @white;
      text-transform: uppercase;
      margin-left: 20px;

      &.subm {
        background: #5A96B8;
        border: 2px solid #5A90B8;
      }
      &.canc {
        color: #375E71;
        background: transparent;
        border: 0px solid #D4D3D3;

        &:focus {
          outline: none;
          box-shadow: none;
        }

      }
    }
  }
}

body.modal-open {
  overflow: hidden;
}

.primary-color {
  color: @brand-primary;
}

.highlighted {
  //color: @brand-primary;
  font-weight: bold;
}

.btn-sm.fa.fa-sitemap {
  padding: 5px;
}

.category-list-group {
  padding-left: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.category-list-group-item:first-child {
}
.category-list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  font-size: 13px;
  line-height: 20px;
}
.category-tree-container {
  width:200px;
  border:0px solid red;
  overflow: hidden;
}

.context-menu-group {
  padding: 5px 0 5px 20px;
  background-color: #cccccc;
  color:#555555;
}
/*
================================================
=== CEDAR Customization END
================================================
*/
