// Import Bootstrap LESS library
@import '../bower_components/bootstrap-less/less/bootstrap.less';

// Import local LESS files
@import 'fonts.less';

// Overriding Bootstrap library variables
@grid-float-breakpoint:999999px;

// Definine local variables
@header-text-color:#fff;
@header-bg-color:#056046;
@brand-primary:#339933;
@brand-primary-hover:#338833;
@white:#fff;
@black:#000;
@container-cedar-medium:952px;

// Definine local mixins
.activ-grotest-regular {
  font-family: 'aktiv-grotesk-std';
  font-weight:400;
}

.activ-grotest-bold {
  font-family: 'aktiv-grotesk-std';
  font-weight:700;
}

.ff-tisa-web-pro {
  font-family: 'ff-tisa-web-pro';
  font-weight:400;
}

.link-transition {
  transition: all 0.3s 0.1s;
}

/*
==========
=== Inherited Styling
==========
*/
/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow  hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p, .marketing h4 {
  margin-top: 28px;
}

.add-field {
  text-align: center;
}

.add-field select {
  margin-bottom: 0px;
}

.form-fields .accordion-group{
  border: 1px solid #AAAAAA;
}

.form-fields .accordion-heading{
  background-color: #E2E2E2;
}

.accordion-edit div, .field div{
  line-height: 35px;
}

.form-properties .row {
  line-height: 35px;
}

.form-field-label {
  display: inline;
}

.required-error {
  color:red;
  font-size: smaller;
}

/*
==========
=== MJD Custom Code
==========
*/

body {
  background: #f9f9fb;
  font-family: 'aktiv-grotesk-std', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

a {
  .link-transition;
  cursor:pointer;
}

i {
  .link-transition;
}

.container {
  position:relative;

  @media(min-width:@screen-sm-min) {
    width:@container-tablet;
  }

  @media(min-width:@screen-md-min) {
    width:@container-cedar-medium;
  }
}

.navbar {
  color:@header-text-color;
  background-color:@header-bg-color;
  margin-bottom:0;
  min-height:80px;

  #page-title {
    float:right;
    padding-top:27px;
    padding-right:20px;
  }

  .navbar-toggle {
    border-radius:0;
    border:none;
    margin-top:21px;
    margin-right:0;

    &:hover,
    &:focus {
      background-color:@brand-primary;
    }

    .icon-bar {
      background-color:@white;
    }
  }

  .navbar-brand {
    background-image:url(../img/cedar-logo.png);
    background-repeat:no-repeat;
    width:116px;
    height:30px;
    margin-top:25px;
    margin-left:10px;
    .text-hide();

    @media(min-width:@screen-sm-min) {
      margin-left:0;
    }
  }

  #navbar {
    position:absolute;
    right:0;
    z-index:2;
    background-color:@white;
    margin-top:18px;
  }
}

.template-header {
  width:100%;
  background-color:@header-bg-color;
  padding:60px 0 20px 0;

  .left-sidebar {
    padding-left:0;
  }

  .right-body {
    padding-right:0;
  }

  .form-control {
    border:none;
    background-color:transparent;
    box-shadow:none;
    border-bottom:2px solid @brand-primary;
    border-radius:0;
    color:@white;

    &:before {
      font-family: "project-cedar" !important;
      content: "n";
      display:block;
    }
  }

  .floating-label {
    font-size:16px;
    top:5px;
  }

  #element-name {

    .cedar-svg-element {
      position:absolute;
      color:@brand-primary;
    }

    .form-control {
      padding-left:30px;
    }

    .form-control ~ .floating-label {
      left:30px;
    }

    .form-control:focus ~ .floating-label,
    .form-control:not(.empty) ~ .floating-label {
      left:0;
    }
  }
}

.template-body {
  padding:30px 0;
}

.left-sidebar {
  padding-left:0;
}

.floating-label-wrapper {
  position: relative;
}

.floating-label {
  color: @white;
  //font-size: 14px;
  position: absolute;
  pointer-events: none;
  left: 12px;
  top: 7px;
  transition: 0.2s ease all;
  opacity: 0;
}

.form-control.empty ~ .floating-label  {
  opacity: 1;
}

.form-control:focus ~ .floating-label,
.form-control:not(.empty) ~ .floating-label {
  top: -15px;
  left: 0;
  font-size: 11px;
  opacity: 0.6;
}

textarea { resize: none; }
textarea ~ .form-control-highlight {
  margin-top: -11px;
}

p.add-item {
  font-size:18px;
  color:@brand-primary;
  padding-left:15px;
}

.left-sidebar {

  .element-menu {
    margin:0;
    padding:0;

    > li {
      list-style:none;

      a {
        display:block;
        padding:15px 15px 19px;
        border-top:1px solid #ddd;
        border-left:1px solid #ddd;
        border-right:1px solid #ddd;
        text-transform:uppercase;
        color:@black;
        text-decoration:none;

        i {
          color:@brand-primary;
          @media(min-width:@screen-md-min) {
            padding-right:20px;
          }
        }

        &:hover {
          background-color:@brand-primary;
          color:@white;

          i {
            color:@white;
          }
        }
      }

      &:last-of-type {
        a {
          border-bottom:1px solid #ddd;
        }
      }
    }
  }

  .more-items {
    margin-top:30px;

    .btn-more-items {
      border-radius:0;
      padding:15px 15px 19px;
      background-color:#fbfbfc;
      width:100%;
      border:1px solid #ddd;
      text-align:left;
      text-transform:uppercase;
      position:relative;

      .fa-angle-down {
        position:absolute;
        right:15px;
        top:10px;
        color:@brand-primary;
      }
    }

    .dropdown-menu {
      box-shadow:none;
      border:none;
      width:100%;
      position:relative;
      background-color:transparent;

      li:first-of-type a {
        border-top:none;
      }
    }

    &.open .fa-angle-down {
      transform:rotate(180deg);
    }

  }
}

.right-body {

  .empty-text {
    border:1px dashed #ddd;
    text-align:center;
    padding:150px 0;
  }
}

// Dashboard
section.dashboard-elements {
  .clearfix;
  padding-top:75px;
  padding-bottom:50px;
  border-top:1px solid #ddd;

  &:first-of-type {
    padding-top:55px;
    border-top:none;
  }

  h2.section-title {
    text-transform:uppercase;
    color:@brand-primary;
    font-size:14px;
    margin-top:10px;
    margin-bottom:10px;

    @media(min-width:@screen-md-min) {
      font-size:18px;
    }
  }

  p.instructions {
    padding-top:15px;
  }

  .btn-create-new {
    .activ-grotest-bold;
    width:100%;
    color:@white;
    background-color:@brand-primary;
    font-size:16px;
    text-transform:uppercase;
    border-radius:0;
    text-align:left;
    padding:20px 12px 18px 40px;
    margin-top:20px;
    margin-bottom:20px;
    max-width:255px;
    position:relative;
    .link-transition;

    &:hover {
      background-color:@brand-primary-hover;
    }

    @media(min-width:@screen-sm-min) {
      padding:20px 12px 18px 12px;
      font-size:14px;
    }

    @media(min-width:@screen-md-min) {
      padding:18px 12px 18px 25px; 
      font-size:16px;
    }

    i.cedar-svg-plus {
      position:absolute;
      right:12px;
      top:10px;
    }
  }

  .dash-header {
    width:100%;
    clear:both;
    padding-bottom:20px;
    .clearfix();

    .input-group {
      width: calc(~"50% - 10px");
      float:left;

      @media(min-width:@screen-md-min) {
        width: calc(~"33.33333333% - 10px");
      }

      input[type="text"] {
        border-radius:0;
        border-right:none;
        color:#a9a8a8;
        background-color:@white;
        border-color:#ddd;
        box-shadow:none;
      }

      .input-group-btn {
        border-radius:0;
        background-color:@white;

        .btn {
          border-radius:0;
          background-color:transparent;
          border-color:#ddd;

          i {
            color:#a9a8a8;
          }

          &:hover,
          &:focus {
            border-left:none;
            outline:none;
            box-shadow:none;

            i {
              color:@brand-primary;
            }
          }
        }
      }
    }

    .see-all {
      float:right;
      margin:0;
      transform:translateY(8px);
      .activ-grotest-bold;
      color:@brand-primary;
      cursor:pointer;
      text-transform:uppercase;
      .link-transition;

      &:hover {
        color:@brand-primary-hover;
      }
    }
  }

  .margin-reset-row {
    margin-left:-10px;
    margin-right:-10px;
    .clearfix();

    .template-item {
      margin-left:10px;
      margin-right:10px;
      margin-bottom:30px;
      float:left; 
      width: calc(~"50% - 20px");
      border:1px solid #ddd;
      text-align:center;
      box-shadow: 6px 5px #ddd;
      position:relative;
      cursor:pointer;

      @media(min-width:@screen-md-min) {
        width: calc(~"33.33333333% - 20px");
      }

      .cedar-svg {
        color:@brand-primary;
        position: absolute;
        top: 40%;
        left:50%;
        transform: translate(-50%, -50%);

        &:before {
          font-size:50px;
        }
      }

      p.name {
        color:@brand-primary;
        font-size:16px;
        margin:0;
        position: absolute;
        top: 65%;
        left:50%;
        transform: translate(-50%, -50%);
      }

      .state-indication {
        position:absolute;
        right:10px;
        bottom:10px;

        i {
          color:rgba(51,51,51,0.43);
        }
      }

      .back-panel {
        width:100%;
        height:100%;
        background-color:@brand-primary;
        position:relative;
        z-index:1;
        opacity:0;
        .link-transition;

        p.description {
          color:@white;
          padding:25px 15px;
          margin:0;
        }

        .edit-options {
          position:absolute;
          bottom:15px;
          width:100%;

          span {
            height:30px;
            width:30px;
            background-color:@white;
            border-radius:50%;
            display:inline-block;
            margin:0 5px;
            cursor:pointer;
            transition:transform 0.3s 0s;

            i:before {
              font-size:14px;
              color:@brand-primary;
            }

            &:hover {
              transform:scale(1.1,1.1);
            }
          }
        }
      }

      &:hover {
        .back-panel {
          opacity:1;
        }
      }
    }
  }
}
