// Import Bootstrap LESS library
@import '../bower_components/bootstrap-less/less/bootstrap.less';

// Import FontAwesome LESS library
@import '../bower_components/fontawesome/less/font-awesome.less';

// Import local LESS files
@import 'fonts.less';

// Import Bootstrap Checkbox Awesomeness
@import 'awesome-bootstrap-checkbox.less';

// Import Bootstrap Datepicker Styles
@import '../bower_components/eonasdan-bootstrap-datetimepicker/src/less/_bootstrap-datetimepicker.less';

// Import Bootstrap Select Styles
@import '../bower_components/bootstrap-select/less/bootstrap-select.less';

// Overriding Bootstrap library variables
@grid-float-breakpoint:999999px;

// Definine local variables
@header-text-color:#fff;
@header-bg-color:#056046;
@brand-primary:#339933;
@brand-primary-hover:#338833;
@white:#fff;
@black:#000;
@gray:#999;
@gray2:#f4f4f7;
@container-cedar-medium:952px;

// Definine local mixins
.activ-grotesk-regular {
  font-family: 'aktiv-grotesk-std';
  font-weight:400;
}

.activ-grotesk-medium {
  font-family: 'aktiv-grotesk-std';
  font-weight:500;
}

.activ-grotesk-bold {
  font-family: 'aktiv-grotesk-std';
  font-weight:700;
}

.ff-tisa-web-pro {
  font-family: 'ff-tisa-web-pro';
  font-weight:400;
}

.link-transition {
  transition: all 0.3s 0.1s;
}

/*
================================================
=== MJD Custom Code
================================================
*/

body {
  background: #f9f9fb;
  font-family: 'aktiv-grotesk-std', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

a {
  .link-transition;
  cursor:pointer;
}

i {
  .link-transition;
}

.btn {
  border-radius:0;

  &.diabled {
    cursor:not-allowed;
  }
}

.container {
  position:relative;

  @media(min-width:@screen-sm-min) {
    width:@container-tablet;
  }

  @media(min-width:@screen-md-min) {
    width:@container-cedar-medium;
  }
}

.navbar {
  color:@header-text-color;
  background-color:@header-bg-color;
  margin-bottom:0;
  min-height:80px;

  #page-title {
    float:right;
    padding-top:27px;
    padding-right:20px;
  }

  .navbar-toggle {
    border-radius:0;
    border:none;
    margin-top:21px;
    margin-right:0;
    background-color:@header-bg-color;
    transition:background-color 0.3s ease-in 0.1s;

    &:hover,
    &:focus {
      background-color:@brand-primary;
    }

    .icon-bar {
      background-color:@white;
    }
  }

  .navbar-brand {
    background-image:url(../img/cedar-logo.png);
    background-repeat:no-repeat;
    width:116px;
    height:30px;
    margin-top:25px;
    margin-left:10px;
    .text-hide();

    @media(min-width:@screen-sm-min) {
      margin-left:0;
    }
  }

  #navbar {
    position:absolute;
    right:0;
    z-index:2;
    background-color:@white;
    margin-top:18px;
  }
}

.template-header {
  width:100%;
  background-color:@header-bg-color;
  padding:60px 0 20px 0;
  min-height:130px;

  .left-sidebar {

    h2.runtime-template-name {
      color:@white;
      font-size:18px;
      margin:0;
      font-weight:400;

      @media(min-width:@screen-sm-min) {
        font-size:22px;
      }
    }

    @media(min-width:@screen-sm-min) {
      padding-left:0;
    }
  }

  .right-body {

    @media(min-width:@screen-sm-min) {
      padding-right:0;
    }

    #element-description-container  > .form-group {
      margin-top:20px;
      margin-bottom:0;
      @media(min-width:@screen-sm-min) {
        margin-top:0px;
        margin-bottom:inherit;
      }
    }
  }

  .form-control {
    border:none;
    background-color:transparent;
    box-shadow:none;
    border-bottom:2px solid @brand-primary;
    border-radius:0;
    color:@white;

    &:before {
      font-family: "project-cedar" !important;
      content: "n";
      display:block;
    }
  }

  .floating-label {
    font-size:16px;
    top:5px;
    color:@white;
  }

  #element-name-container,
  #element-controlled-term-container {

    .cedar-svg-element,
    .cedar-svg-metadata,
    .cedar-svg-controll-term {
      position:absolute;
      color:@brand-primary;
    }

    .form-control {
      padding-left:30px;
    }

    .form-control ~ .floating-label {
      left:30px;
    }

    .form-control:focus ~ .floating-label,
    .form-control:not(.empty) ~ .floating-label {
      left:0;
    }

    .element-controlled-term {
      margin-top:20px;
      margin-bottom:5px;
    }
  }
}

.template-body {
  padding:30px 0;

  .right-body {
    padding-top:30px;

    @media(min-width:@screen-sm-min) {
      padding-top:35px;
    }

    .btn-preview-form {
      border-radius:0;
      padding:11px 15px 12px;
      color:@white;
      display:inline-block;
      border:none;
      text-align:left;
      text-transform:uppercase;
      position:relative;
      margin-bottom:20px;
      background-color:@brand-primary-hover;

      &.collapsed {
        background-color:@brand-primary;
      }

      &:focus {
        outline:none;
      }
    }

    #form-item-config-section,
    #form-preview-section {
      padding-bottom:40px;

      .heading-label {
        padding-bottom:30px;

        span.section-break {
          color:@brand-primary;
          font-size:18px;
          text-transform:uppercase;
          display:inline-block;
          vertical-align:middle;
          padding:0 10px;
          width:210px;
          text-align:center;
        }

        hr {
          display:inline-block;
          vertical-align:middle;
          border-top:1px solid @brand-primary;
          width: calc(~"50% - 105px");
        }
      }

      .form-preview {
        padding-top:15px;

        p.type-label {
          width: 100%;
          text-align: left;
          font-family: 'aktiv-grotesk-std';
          font-weight: 400;
          text-transform: uppercase;
          color:@black;
          margin-bottom:6px;
          i {
            color:@brand-primary;
          }
        }
      }
    }

    .preview-group {
      display:inline-block;
      vertical-align:middle;
      width: calc(~"100% - 65px");
      padding-left: 22px;
    }

    .preview-edit-options {
      display:inline-block;
      vertical-align:top;
      margin-bottom:40px;

      .remove,
      .edit {
        height:40px;
        width:40px;
        border-radius:50%;
        display:inline-block;
        vertical-align:middle;
        margin:0px 10px 0px 11px;
        .link-transition;
        cursor:pointer;
        text-align:left;

        i {
          color:@white;
          font-size:18px;
        }
      }

      .edit {
        display:none;
        background-color:#ccc;

        &:hover {
          background-color:#999;
        }

        i {
          transform:translate(10px, 9px);
        }
      }

      .remove {
        background-color:#333;

        &:hover {
          background-color:@black;
        }

        i {
          transform:translate(13px, 11px);
        }
      }
    }

    .element-group {
      width:100%;
      //border-bottom:2px dashed #ddd;
      border:1px solid #ddd;
      padding:14px 14px 12px 16px;
      margin-bottom:16px;
      background-color:@gray2;

      &:not(.full) {
        padding-right:65px;
        display:inline-block;
        vertical-align:middle;
      }

      .element-header {
        margin-right:-65px;
        min-width:100%;
        position:relative;

        .preview-edit-options {
          float:right;
          margin-top:-4px;
          margin-bottom:0;
        }
      }

      .element-name-label {
        margin-bottom:25px;
        text-align:left;
        display:inline-block;

        i {
          color:@brand-primary;
          padding-right:10px;
        }
      }

      .nested-element {
        border:1px solid #ddd;
        padding:0px 14px 0px 14px;
        margin-bottom:16px;
      }
    }
  }
}

.left-sidebar {
  @media(min-width:@screen-sm-min) {
    padding-left:0;
  }
}

.floating-label-wrapper {
  position: relative;
}

.floating-label {
  color:@gray;
  //font-size: 14px;
  position: absolute;
  pointer-events: none;
  left: 12px;
  top: 7px;
  transition: 0.2s ease all;
  opacity: 0;
  z-index:2;
}

.form-control.empty ~ .floating-label  {
  opacity: 1;
}

.form-control:focus ~ .floating-label,
.form-control:not(.empty) ~ .floating-label,
.form-control.ng-invalid ~ .floating-label {
  top: -15px;
  left: 0;
  font-size: 11px;
  opacity: 0.6;
}

textarea { resize: none; }
textarea ~ .form-control-highlight {
  margin-top: -11px;
}

p.add-item {
  font-size:18px;
  color:@brand-primary;
  padding-left:15px;
}

.left-sidebar {

  .element-menu,
  .item-menu {
    margin:0;
    padding:0;

    @media(min-width:@screen-sm-min) {
      max-height:266px;
      overflow:scroll;
      border-top:1px solid #ddd;
      border-bottom:1px solid #ddd;
    }

    > li {
      list-style:none;

      a {
        display:block;
        padding:14px 15px 18px;
        border-top:1px solid #ddd;
        border-left:1px solid #ddd;
        border-right:1px solid #ddd;
        text-transform:uppercase;
        color:@black;
        text-decoration:none;

        i {
          color:@brand-primary;
          padding-right:5px;
          float:left;
          transform: translate(0px, 0px);
          @media(min-width:@screen-md-min) {
            padding-right:10px;
          }
        }

        &:hover,
        &.active {
          background-color:@brand-primary;
          color:@white;

          i {
            color:@white;
          }
        }

        &.disabled {
          color:#ccc;
          cursor:not-allowed;

          i {
            color:#ccc;
          }

          &:hover {
            background-color:transparent;
          }
        }
      }

      &:first-of-type a {
        @media(min-width:@screen-sm-min) {
          border-top:none
        }
      }
    }
  }

  .more-items {
    margin-top:30px;

    .btn-more-items {
      border-radius:0;
      padding:15px 15px 19px;
      background-color:#fbfbfc;
      width:100%;
      border:1px solid #ddd;
      text-align:left;
      text-transform:uppercase;
      position:relative;

      @media(min-width:@screen-sm-min) {
        font-size:13px;
      }

      @media(min-width:@screen-md-min) {
        font-size:14px;
      }

      .fa-angle-down {
        position:absolute;
        right:15px;
        top:10px;
        color:@brand-primary;
      }

      &:focus {
        outline:none;
        box-shadow:none;
      }
    }

    .dropdown-menu {
      box-shadow:none;
      width:100%;
      position:relative;
      background-color:transparent;
      margin-bottom:30px;
      border-top:none;
      border-left:none;
      border-right:none;

      li:first-of-type a {
        border-top:none;
      }

      li a {
        white-space:inherit;
      }
    }

    &.open .fa-angle-down {
      transform:rotate(180deg);
    }

  }
}

.right-body {

  .empty-text {
    border:1px dashed #ddd;
    text-align:center;
    padding:60px 0;
  }
}

/*
================================================
=== Dashboard Template
================================================
*/
section.dashboard-elements {
  .clearfix;
  padding-top:75px;
  padding-bottom:50px;
  border-top:1px solid #ddd;

  &:first-of-type {
    padding-top:55px;
    border-top:none;
  }

  h2.section-title {
    text-transform:uppercase;
    color:@brand-primary;
    font-size:14px;
    margin-top:10px;
    margin-bottom:10px;

    @media(min-width:@screen-md-min) {
      font-size:18px;
    }
  }

  p.instructions {
    padding-top:15px;
  }

  .btn-create-new {
    .activ-grotesk-medium;
    width:100%;
    color:@white;
    background-color:@brand-primary;
    font-size:16px;
    text-transform:uppercase;
    border-radius:0;
    text-align:left;
    padding:20px 12px 18px 40px;
    margin-top:20px;
    margin-bottom:20px;
    max-width:255px;
    position:relative;
    .link-transition;

    &:hover {
      background-color:@brand-primary-hover;
    }

    @media(min-width:@screen-sm-min) {
      padding:20px 12px 18px 12px;
      font-size:14px;
    }

    @media(min-width:@screen-md-min) {
      padding:18px 12px 18px 25px; 
      font-size:16px;
    }

    i.cedar-svg-plus {
      position:absolute;
      right:12px;
      top:10px;
    }
  }

  .dash-header {
    width:100%;
    clear:both;
    padding-bottom:20px;
    .clearfix();

    .input-group {
      width: calc(~"50% - 10px");
      float:left;

      @media(min-width:@screen-md-min) {
        width: calc(~"33.33333333% - 10px");
      }

      input[type="text"] {
        border-radius:0;
        border-right:none;
        color:#a9a8a8;
        background-color:@white;
        border-color:#ddd;
        box-shadow:none;
      }

      .input-group-btn {
        border-radius:0;
        background-color:@white;

        .btn {
          border-radius:0;
          background-color:transparent;
          border-color:#ddd;

          i {
            color:#a9a8a8;
          }

          &:hover,
          &:focus {
            border-left:none;
            outline:none;
            box-shadow:none;

            i {
              color:@brand-primary;
            }
          }
        }
      }
    }

    .see-all,
    .back {
      float:right;
      margin:0;
      transform:translateY(8px);
      .activ-grotesk-medium;
      color:@brand-primary;
      cursor:pointer;
      text-transform:uppercase;
      .link-transition;

      &:hover {
        color:@brand-primary-hover;
        text-decoration:none;
      }

      i {
        color:rgba(51, 51, 51, 0.43);
      }
    }
  }

  .margin-reset-row {
    margin-left:-10px;
    margin-right:-10px;
    .clearfix();

    .template-item {
      margin-left:10px;
      margin-right:10px;
      margin-bottom:30px;
      float:left; 
      width: calc(~"50% - 20px");
      border:1px solid #ddd;
      text-align:center;
      box-shadow: 6px 5px #ddd;
      position:relative;
      cursor:pointer;

      @media(min-width:@screen-md-min) {
        width: calc(~"33.33333333% - 20px");
      }

      a {
        text-decoration:none;
      }

      .cedar-svg {
        color:@brand-primary;
        position: absolute;
        top: 25%;
        left:50%;
        transform: translate(-50%, -50%);

        &:before {
          font-size:50px;
        }

        @media(min-width:@screen-xs-min) {
          top:40%;
        }
      }

      p.name {
        color:@brand-primary;
        font-size:16px;
        margin:0;
        position: absolute;
        top: 65%;
        left:50%;
        transform: translate(-50%, -50%);
      }

      .state-indication {
        position:absolute;
        right:10px;
        bottom:10px;

        .cedar-svg-complete,
        .cedar-svg-flag {
          color:@brand-primary;
        }
        .cedar-svg-progress {
          color:rgba(51, 51, 51, 0.43);
        }
      }

      .back-panel {
        width:100%;
        height:100%;
        background-color:@brand-primary;
        position:relative;
        z-index:1;
        opacity:0;
        .link-transition;

        p.description {
          color:@white;
          padding:25px 15px;
          margin:0;
          font-size:11px;

          @media(min-width:@screen-xs-min) {
            font-size:12px;
          }
          @media(min-width:@screen-sm-min) {
            font-size:14px;
          }
        }

        .edit-options {
          position:absolute;
          bottom:15px;
          width:100%;

          span {
            height:30px;
            width:30px;
            background-color:@white;
            border-radius:50%;
            display:inline-block;
            margin:0 5px;
            cursor:pointer;
            transition:transform 0.3s 0s;

            i:before {
              font-size:14px;
              color:@brand-primary;
            }

            &:hover {
              transform:scale(1.1,1.1);
            }
          }
        }
      }

      &:hover {
        .back-panel {
          opacity:1;
        }
      }
    }
  }
}

/*
================================================
=== Form Template Fields
================================================
*/
.template-body form {

  .form-group {
    margin-bottom:14px;

    &.radio-item,
    &.checkbox-item {
      margin-bottom:10px;

      .radio:nth-of-type(2) {
        //display:none;
      }
    }

    .form-control {
      border-radius:0;
      border-color:#ddd;
      box-shadow:none;
      height:40px;
      padding-bottom:0px;
      padding-top:16px;
      font-size:14px;
      color:@black;
      transition:border-color 0.3s linear;

      &.empty ~ .floating-label {
        top:12px;
      }

      &:focus ~ .floating-label, 
      &:not(.empty) ~ .floating-label,
      &.ng-invalid ~ .floating-label {
        top:4px;
        left:8px;
        color:#bcbcc3;
      }

      &:not(.empty):not(:focus):not(.ng-invalid) ~ .floating-label {
        color:@brand-primary;
        &:after {
          color:@brand-primary;
        }
      }

      &.ng-invalid:not(.empty):not(:focus) ~ .floating-label {
        color:#dfbd00;
        &:after {
          color:#dfbd00;
        }
      }

      &.required ~ .floating-label:after {
        content: '*';
        color:red;
      }
    }

    textarea.form-control {
      height:auto;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      margin: 0px;
    }

    .input-indicator-icons {
      position:absolute;
      top:10px;
      right:10px;

      .cedar-svg-check-circle {
        color:@brand-primary;
        display:none;
      }
      .cedar-svg-help-circle {
        color:rgba(51,51,51,0.24);
        display:none;
        cursor:pointer;
      }
      .cedar-svg-warning {
        color:#dfbd00;
        display:none;
      }
    }

    .empty.ng-invalid ~ .input-indicator-icons .cedar-svg-help-circle {
      display:none;
      margin-top: -7px;
    }
    .empty ~ .input-indicator-icons .cedar-svg-help-circle {
      display:block;
      margin-top: -7px;
    }
    .ng-valid:not(.empty) ~ .input-indicator-icons .cedar-svg-check-circle {
      display:block;
      margin-top: -7px;
    }
    .ng-invalid ~ .input-indicator-icons .cedar-svg-warning {
      display:block;
      margin-top: -7px;
    }

    .warning-text {
      .activ-grotesk-regular;
      font-style:italic;
      font-size:13px;
      position:absolute;
      left:10px;
      bottom:-25px;
      display:none;
    }

    .ng-invalid ~ .warning-text {
      display:block;
    }

    .additional-options {
      padding-top:20px;
      padding-left:10px;

      span.or {
        .activ-grotesk-bold;
        color:#999;
        text-transform:uppercase;
        font-size:11px;
        padding-right:10px;
      }

      .btn-file {
        position: relative;
        overflow: hidden;
        background-color:@brand-primary;
        border-radius:0;
        color:@white;
        .activ-grotesk-regular;
        border:none;
        vertical-align:middle;
        text-transform:uppercase;
        padding:18px 30px;
        .link-transition;

        &:hover {
          background-color:@brand-primary-hover;
        }
      }

      .btn-file input[type="file"] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
      }
    }
  }

  .required > .extra-label-context:after {
    content: '*';
    color:red;
    display:inline-block;
    vertical-align:top;
    font-size:14px;
  }

  &.validate {
    .required.empty {
      //border-color:red;
    }
  }

  .date-group {

    .date-label {
      display:block;
      padding-bottom:7px;
      padding-left:5px;
      font-size:12px;
      text-transform:uppercase;
      .activ-grotesk-medium;
      color:#999;
    }

    .input-group-addon {
      padding: 2px 10px;
      border-radius:0;
      background-color:@white;
      cursor:pointer;

      &:hover {
        i {
          color:@brand-primary;
        }
      }
    }

    .bootstrap-datetimepicker-widget ~ .input-group-addon i {
      color:@brand-primary;
    }

    &.range {
      .clearfix;

      .input-group {
        padding-bottom:10px;
        float:left;

        @media(min-width:@screen-sm-min) {
          width: calc(~"50% - 10px");

          &:first-of-type {
            margin-right:10px;
          }

          &:last-of-type {
            margin-left:10px;
          }
        }
      }
    }
  }

  .date-field-title,
  .extra-label-context {
    color:@gray;
    font-size:14px;
    margin-bottom:8px;
  }

  h3.section-title {
    text-transform:uppercase;
    font-size:24px;
    color:@brand-primary;
    border-top:1px solid #ddd;
    padding-top:60px;
    margin-top:0;

    &.page-title {
      border-top:none;
      padding-top:0;
    }
  }

  p.section-body {
    font-size:16px;
    line-height:28px;
    margin-bottom:25px;
  }

  .type-toggle {
    text-align:center;
    margin:0 auto;
    margin-bottom:40px;
    .clearfix();

    .d-option {
      width:50%;
      float:left;
      padding-bottom:7px;
      border-bottom:5px solid;
      border-color:#ddd;
      cursor:pointer;
      .link-transition;

      span {
        text-transform:uppercase;
        .activ-grotesk-medium;
        font-size:12px;
        color:#666;
      }

      &.active,
      &:hover {
        border-color:@brand-primary;
      }
    }

    &.date {
      width:240px;
    }
    
    &.list {
      width:300px;
    }

  }

  .required-text {
    font-style:italic;

    &:before {
      content: '*';
      display:inline-block;
      vertical-align:top;
      color:red;
    }
  }

  &.runtime {
    .element-name-label .cedar-svg-element {
      //color:orange;
    }
  }
}

.alert {
  border-radius:0;
  text-align:left;

  p {
    margin-bottom:5px;
  }
  
  i {
    padding-right:10px;
  }
}

.edit-actions {
  border-top:1px solid #ddd;
  padding:50px 0;
  text-align:center;

  .btn {
    display:inline-block;
    border-radius:0;
    background-color:@brand-primary;
    color:@white;
    text-transform:uppercase;
    .activ-grotesk-regular;
    font-size:16px;
    .link-transition;
    padding:18px 0;
    width:32.6%;
    border:none;

    @media(min-width:@screen-md-min) {
      padding:18px 0;
    }

    &:hover {
      background-color:@brand-primary-hover;
    }

    &.btn-clear {
      color:@brand-primary;
      background-color:transparent;
      font-size:14px;
      .activ-grotesk-medium;
      padding:18px 0;

      @media(min-width:@screen-md-min) {
        padding:18px 0;
      }

      &:hover {
        color:@brand-primary-hover;
      }
    }
  }
}

// Override Bootstrap popover styles
.popover {
  .activ-grotesk-regular;
  font-size:12px;
  border-color:@brand-primary;
  color:#999;
  background-color:@white;

  &.left {
    margin-left:-15px;
    margin-top:-2px;

    > .arrow {
      border-left-color:@brand-primary;
    }
  }
}

// Pagination
.pagination-container {
  width:100%;
  text-align:center;

  .pagination {
    margin:30px 0;

    li {

      &.active a {
        background-color:transparent;
        border:none;
        color:@brand-primary;
        .activ-grotesk-bold;
      }

      a > .prev {
        .activ-grotesk-bold;
        font-weight:bold;
        color:@brand-primary;

        &:hover {
          color:@brand-primary-hover;
        }

        i {
          padding-right:5px;
          font-weight:bold;
        }
      }

      a > .next {
        .activ-grotesk-bold;
        font-weight:bold;
        color:@brand-primary;

        &:hover {
          color:@brand-primary-hover;
        }

        i {
          padding-left:5px;
          font-weight:bold;
        }
      }

      a {
        color:#666;
        border:none;
        background-color:transparent;
        border-radius:0;
        padding:6px 24px;

        &:hover {
          color:@brand-primary-hover;
        }
      }
    }
  }
}

/*
================================================
=== Field Definition Partials
================================================
*/
.input-type-container {
  clear:both;
  padding-top:15px;

  p.type-label {
    width:100%;
    text-align:right;
    .activ-grotesk-regular;
    text-transform:uppercase;
    color:@black;
    margin-bottom:20px;

    i {
      color:@brand-primary;
    }
  }

  &.section-break > p.type-label {
    // border-bottom:1px solid #ddd;
    // padding-bottom:20px;
    // margin-bottom:30px;
  }

  .configuration-options {
    padding-top:20px;
    border-top:1px dashed #ddd;

    .toggle-options {
      padding-bottom:30px;
      .clearfix();

      .toggle-controlled-term {
        display:inline-block;
        vertical-align:middle;
        padding-left:10px;
        padding-right:30px;
        cursor:pointer;

        i {
          //color:@brand-primary;
          transform:translate(0px,4px);

          &:not(.collapsed) {
            color:@brand-primary;
          }
          
          &:before {
            font-size:30px;
          }
        }

        &:hover {
          i {
            color:@brand-primary-hover;
          }
        }
      }

      .save-options {
        float:right;

        .add,
        .remove,
        .edit {
          height:40px;
          width:40px;
          border-radius:50%;
          display:inline-block;
          vertical-align:middle;
          margin:0 10px;
          .link-transition;
          cursor:pointer;

          i {
            color:@white;
            font-size:18px;
          }
        }

        .add {
          background-color:@brand-primary;

          &:hover {
            background-color:@brand-primary-hover;
          }

          i {
            transform:translate(13px, 12px);
          }
        }

        .edit {
          display:none;
          background-color:#ccc;

          &:hover {
            background-color:#999;
          }

          i {
            transform:translate(10px, 9px);
          }
        }

        .remove {
          background-color:#333;

          &:hover {
            background-color:@black;
          }

          i {
            transform:translate(13px, 11px);
          }
        }
      }
    }

    .advanced-options {
      float:left;
      width:100%;
      clear:both;

      .form-group {
        float:left;
        width:100%;
      }

      .validation-pattern {

        @media(min-width:@screen-sm-min) {
          width:33%;

          &:nth-of-type(2) {
            padding:0 10px;
          }
        }
      }
    }

    .controlled-term-options {
      float:left;
      width:100%;
      clear:both;
    }

    .form-group {
      margin-bottom:15px;
    }
  }
}
.options-wrapper {
  width:100%;
  .clearfix();
  padding-left: 20px;

  .multiple-container {
    width:50%;
    float:left;
    border-right:1px solid rgba(102,102,102,0.2);
    padding-right:25px;
    padding-top:10px;

    .radio label,
    .checkbox label {
      width:100%;

      .form-group {
        transform:translate(0, -15px);
      }
    } 

    .add-another {
      text-transform:uppercase;
      cursor:pointer;
      .link-transition;

      i {
        padding-right:10px;
        color:@brand-primary;
        .link-transition;
      }

      &:hover {
        color:@brand-primary-hover;

        i {
         color:@brand-primary-hover; 
        }
      }
    }
  }

  p.instructions {
    float:left;
    width:50%;
    text-align:center;
    color:@black;
    font-style:italic;
    padding-top:50px;
  }
}

.pick-list .multiple-container {
  width:100%;
  border-right:none;

  .checkbox {
    position:absolute;
    right:0;
    top:0px;

    input[type="checkbox"] {
      cursor:pointer;
    }
  }
}

/*
================================================
=== Element Builder Actions
================================================
*/
.element-actions {
  padding-top:40px;
  border-top:1px solid #ddd;

  .favorite {
    float:left;
    padding-top:17px;
    cursor:pointer;

    span {
      text-transform:uppercase;
      vertical-align:middle;
    }

    i {
      padding-right:10px;
      .link-transition;
      color:rgba(51,51,51,0.43);
    }

    &.true {
      i {
        color:@brand-primary;
      }
    }
  }

  .clear-save {
    float:right;

    .btn {
      text-transform:uppercase;
      padding:25px 40px;
      border:none;
      .link-transition;

      &:focus {
        outline:none;
        box-shadow:none;
      }

      &.btn-clear {
        color:@brand-primary;
        background-color:transparent;
        .activ-grotesk-bold;

        &:hover,
        &:focus {
          color:@brand-primary-hover;
        }
      }

      &.btn-save {
        color:@white;
        background-color:@brand-primary;
        font-size:16px;

        &:hover,
        &:focus {
          background-color:@brand-primary-hover;
        }
      }
    }
  }
}

/*
================================================
=== Template Builder Actions
================================================
*/
.template-actions {
  padding-top:40px;
  border-top:1px solid #ddd;

  .favorite {
    float:left;
    padding-top:17px;
    cursor:pointer;

    span {
      text-transform:uppercase;
      vertical-align:middle;
    }

    i {
      padding-right:10px;
      .link-transition;
      color:rgba(51,51,51,0.43);
    }

    &.true {
      i {
        color:@brand-primary;
      }
    }
  }

  .clear-save {
    float:right;

    .btn {
      text-transform:uppercase;
      padding:25px 40px;
      border:none;
      .link-transition;

      &:focus {
        outline:none;
        box-shadow:none;
      }

      &.btn-clear {
        color:@brand-primary;
        background-color:transparent;
        .activ-grotesk-bold;

        &:hover,
        &:focus {
          color:@brand-primary-hover;
        }
      }

      &.btn-save {
        color:@white;
        background-color:@brand-primary;
        font-size:16px;

        &:hover,
        &:focus {
          background-color:@brand-primary-hover;
        }
      }
    }
  }
}

/*
================================================
=== Bootstrap Select Picker
================================================
*/
.bootstrap-select {
  padding-top:0 !important;

  .btn-select-picker {
    border-radius:0;
    background-color:transparent;
    border-color:#ddd;
    height:40px;

    &:focus {
      outline:none !important;
      box-shadow:none;
    }
  }

  .dropdown-menu li a {
    padding:8px 20px;

    &:hover {
      background-color:rgba(80,178,80,0.2);
    }
  }

  .caret {
    background-image:url(../img/primary-angle-down.png);
    background-repeat:no-repeat;
    width:15px;
    height:10px;
    border:none;
    transition: transform 0.3s 0s;
    transform:rotate(0deg);
  }

  &.open .caret {
    transform:rotate(180deg);
  }

  .fa-check.check-mark {
    color:@brand-primary;
  }
}

/*
================================================
=== Angular ngAnimate Definitions
================================================
*/

/* The base CSS styles for the animation property */
.animate-fade.ng-enter,
.animate-fade.ng-leave {
  transition:0.5s ease-in all;
}

/* The starting CSS styles for the enter animation */
.animate-fade.ng-enter,
.animate-fade.ng-leave.ng-leave-active {
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.animate-fade.ng-enter.ng-enter-active,
.animate-fade.ng-leave {
  opacity:1;
}

.empty-text {
  transition:0.5s ease-in all;
  opacity:1;
  height:auto;
  padding:150px 0;
}

.empty-text.ng-hide {
  opacity:0;
  height:0;
  padding:0;
}

/*
================================================
=== Sticky left menu
================================================
*/
.sidebar-inner {
  padding-top:0px;
  transition:padding-top 0.3s ease-in;

  &.sticky {
    position:fixed;
    top:0px;
    padding-top:20px;
  }
}



