<div id="date-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" class="input-type-container">
  <p class="type-label"><i class="cedar-svg-date"></i>Date</p>
  
  <div class="type-toggle date" ng-init="field.properties.info.date_type = 'single-date'">
    <div class="single-date d-option" ng-click="field.properties.info.date_type = 'single-date'" ng-class="{active: field.properties.info.date_type == 'single-date'}">
      <span>Date</span>
    </div>
    <div class="date-range d-option" ng-click="field.properties.info.date_type = 'date-range'" ng-class="{active: field.properties.info.date_type == 'date-range'}">
      <span>Date Range</span>
    </div>
  </div> <!-- /.date-type-toggle -->

  <div class="form-group floating-label-wrapper">
    <input type="text" class="form-control" id="placeholder-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" placeholder="Enter Field Title" aria-label="Enter Field Title" ng-model="field.properties.info.title"  with-floating-label>
  </div><!-- /.form-group -->

  <ng-include src="'views/partials/staging-area-footer.html'" />
</div><!-- /.input-type-container -->
