<div id="list-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" class="input-type-container pick-list">
  <p class="type-label"><i class="cedar-svg-list"></i>Pick from a list</p>

  <div class="type-toggle list" ng-init="field.properties.info.selection_type = 'single'">
    <div class="single-date d-option" ng-click="field.properties.info.selection_type = 'single'" ng-class="{active: field.properties.info.selection_type == 'single'}">
      <span>Single Select</span>
    </div>
    <div class="date-range d-option" ng-click="field.properties.info.selection_type = 'multiple'" ng-class="{active: field.properties.info.selection_type == 'multiple'}">
      <span>Multi-Select</span>
    </div>
  </div> <!-- /.date-type-toggle -->

  <div class="form-group">
    <div class="form-group floating-label-wrapper">
      <input type="text" class="form-control" id="placeholder-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" placeholder="Enter Field Title" aria-label="Enter Field Title" ng-model="field.properties.info.title"  with-floating-label>
    </div><!-- /.form-group -->
    <div class="options-wrapper">
      <div class="multiple-container">
        <span ng-repeat="(index, value) in field.properties.info.options">
        	<div class="form-group floating-label-wrapper">
            <input type="text" class="form-control" id="placeholder-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" placeholder="Enter Option" aria-label="Enter Option" ng-model="field.properties.info.options[index]['text']"  with-floating-label>

            <div class="checkbox checkbox-primary checkbox-circle">
	            <input type="checkbox" id="checkbox-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}-{{index}}" name="checkbox-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" ng-model="field.properties.info.default_option[value.text]">
	            <label for="checkbox-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}-{{index}}"></label>
	          </div><!-- /.checkbox -->
          </div><!-- /.form-group -->
        </span>
        <p class="add-another" ng-click="option()"><i class="cedar-svg-plus"></i>Add Another</p>
      </div><!-- /.multiple-container -->
    </div><!-- /.options-wrapper -->
  </div><!-- /.form-group -->


  <ng-include src="'views/partials/staging-area-footer.html'" />
</div><!-- /.input-type-container -->
