<div id="location-{{field.field_id}}" class="input-type-container">
    <p class="type-label"><i class="cedar-svg-location"></i>Location</p>
        Location TBD
    <div class="configuration-options">
        <div class="toggle-options">
          <div class="save-options">
            <div class="add">
                <i class="fa fa-plus"></i>
            </div>
            <div class="remove" ng-click="delete()">
                <i class="fa fa-times"></i>
            </div>
          </div><!-- /.save-options -->
      </div><!-- /.toggle-options -->
    </div><!-- /.configuration-options -->
</div><!-- /.input-type-container -->
