<div id="numeric-{{field.field_id}}" class="input-type-container">
	<p class="type-label"><i class="cedar-svg-numeric"></i>Numeric</p>
	<div class="form-group floating-label-wrapper">
	  <input type="number" class="form-control" id="placeholder-{{field.field_id}}" placeholder="Enter Placeholder Text" aria-label="field-placeholder" ng-model="field.field_placeholder"  with-floating-label>
	</div><!-- /.form-group -->
	<div class="configuration-options" ng-include="'./configuration-options.html'"></div><!-- /.configuration-options -->
</div><!-- /.input-type-container -->
