<div id="page-break-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" class="input-type-container section-break">
  <p class="type-label"><i class="cedar-svg-page-break"></i>Page Break</p>
  <div class="form-group floating-label-wrapper">
    <input type="text" class="form-control" id="page-break-name-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" placeholder="Page Name (Optional)" aria-label="Page Name (Optional)" ng-model="field.properties.info.title"  with-floating-label>
  </div><!-- /.form-group -->
  <div class="form-group floating-label-wrapper">
    <input type="text" class="form-control" id="page-break-description-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" placeholder="Page Description (Optional)" aria-label="Page Description (Optional)" ng-model="field.properties.info.description"  with-floating-label>
  </div><!-- /.form-group -->
	<div class="configuration-options" ng-include="'views/partials/staging-area-actions.html'"></div>
</div><!-- /.input-type-container -->
