<div id="page-break-{{field.id}}" class="input-type-container">
  <p class="type-label"><i class="cedar-svg-page-break"></i>Page Break</p>
  <div class="form-group floating-label-wrapper">
    <input type="text" class="form-control" id="page-break-title-{{field.id}}" placeholder="Enter Page Break Title" aria-label="Enter Page Break Title" ng-model="field.title"  with-floating-label>
  </div><!-- /.form-group -->
  <div class="form-group floating-label-wrapper">
    <input type="text" class="form-control" id="page-break-description-{{field.id}}" placeholder="Enter Page Break Description" aria-label="Enter Page Break Description" ng-model="field.description"  with-floating-label>
  </div><!-- /.form-group -->
</div><!-- /.input-type-container -->
