<div id="section-break-{{field.id}}" class="input-type-container">
  <p class="type-label"><i class="cedar-svg-section-break"></i>Section Break</p>
  <div class="form-group floating-label-wrapper">
    <input type="text" class="form-control" id="section-break-title-{{field.id}}" placeholder="Enter Section Break Title" aria-label="Enter Section Break Title" ng-model="field.title"  with-floating-label>
  </div><!-- /.form-group -->
  <div class="form-group floating-label-wrapper">
    <input type="text" class="form-control" id="section-break-description-{{field.id}}" placeholder="Enter Section Break Description" aria-label="Enter Section Break Description" ng-model="field.description"  with-floating-label>
  </div><!-- /.form-group -->
</div><!-- /.input-type-container -->
