<div id="section-break-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" class="input-type-container section-break">
  <p class="type-label"><i class="cedar-svg-section-break"></i>Section Break</p>
  <div class="form-group floating-label-wrapper">
    <input type="text" class="form-control" id="section-break-name-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" placeholder="Section Name (Optional)" aria-label="Section Name (Optional)" ng-model="field.properties.info.title"  with-floating-label>
  </div><!-- /.form-group -->
  <div class="form-group floating-label-wrapper">
    <input type="text" class="form-control" id="section-break-description-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" placeholder="Section Description (Optional)" aria-label="Section Description (Optional)" ng-model="field.properties.info.description"  with-floating-label>
  </div><!-- /.form-group -->
  <div class="configuration-options">
  	<div class="toggle-options">
		  <div class="save-options">
		  	<div class="add" ng-click="add()">
		  		<i class="fa fa-plus"></i>
		  	</div>
		  	<div class="remove" ng-click="delete()">
		  		<i class="fa fa-times"></i>
		  	</div>
		  </div><!-- /.save-options -->
		</div><!-- /.toggle-options -->
	</div><!-- /.configuration-options -->
</div><!-- /.input-type-container -->
