

<div class="form-group form-group-narrow date-group floating-label-wrapper"
     ng-show="!$root.schemaOf(field)._ui.hasOwnProperty('dateType')">

    <div  class='input-group col-sm-6' date-time-picker>

        <input  type="text"
               class="form-control "
               id="single-date-{{uuid}}-{{pIndex}}"
               placeholder="{{'CREATOR.enterDate' | translate}}"
               aria-label="{{'CREATOR.enterDate' | translate}}"
               ng-model="m._value"
               ng-disabled="!$root.isRuntime() || preview"
               with-floating-label=""/>
        <span class="input-group-addon">
          <i class="fa fa-calendar fa-2x"></i>
        </span>
    </div>

</div>

<div class="form-group form-group-narrow date-group range floating-label-wrapper"
     ng-show="$root.schemaOf(field)._ui.dateType == 'date-range'">


    <div class='input-group col-sm-6' date-time-picker>
        <input type="text"
               class="form-control"
               id="start-date-{{uuid}}-{{pIndex}}"
               placeholder="{{'CREATOR.enterDate' | translate}}"
               aria-label="{{'CREATOR.enterDate' | translate}}"
               ng-model="m._value.start"
               ng-disabled="!$root.isRuntime() || preview"
               with-floating-label=""/>
        <span class="input-group-addon">
          <i class="fa fa-calendar fa-2x"></i>
        </span>
    </div>

    <div class='input-group col-sm-6' date-time-picker>
        <input type="text"
               class="form-control"
               id="end-date-{{uuid}}-{{pIndex}}"
               placeholder="{{'CREATOR.enterDate' | translate}}"
               aria-label="{{'CREATOR.enterDate' | translate}}"
               ng-model="m._value.end"
               ng-disabled="!$root.isRuntime() || preview"
               with-floating-label=""/>
        <span class="input-group-addon">
          <i class="fa fa-calendar fa-2x"></i>
        </span>
    </div>

</div>