<input type="radio" style="border:0px solid white;border-bottom:1px solid #ddd"
       ng-click="console('click' + m._value); $event.stopPropagation();"
       id="radio-{{uuid}}-{{pIndex}}-{{cIndex}}"
       name="radio-{{uuid}}-{{pIndex}}"
       ng-model="m._value"
       ng-disabled="!$root.isRuntime() || preview"
       ng-value="$root.schemaOf(field)._ui.options[index]['text']"
        />
<label ng-click="$event.stopPropagation();" for="radio-{{uuid}}-{{pIndex}}-{{cIndex}}">{{$root.schemaOf(field)._ui.options[index]['text']}}</label>


