<h3>Ontology Details:</h3>
<div class="table-responsive">
	<table class="table table-striped">
		<tbody>
      <tr>
        <th>Name</th>
        <td>{{currentOntology.details.ontology.name}}</td>
      </tr>
      <tr>
        <th>Acronym</th>
        <td>{{currentOntology.details.ontology.acronym}}</td>
      </tr>
      <tr>
        <th>@id</th>
        <td><a ng-href="{{currentOntology.details.ontology['@id']}}" target="_blank">{{currentOntology.details.ontology['@id']}}</a></td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{currentOntology.details.description | htmlToPlaintext}}</td>
      </tr>
      <tr>
        <th># of Classes</th>
        <td>{{currentOntology.size.classes | returnNullIfEmpty}}</td>
      </tr>
    </tbody>
	</table>
</div><!-- /.table-responsive -->