<div class="col-sm-6">
	<div class="search-browse-classes">
	<h3>Search/Browse Classes</h3>
		<div class="input-group" style="margin:15px 0;">
	    <input type="text" class="form-control" placeholder="Search" ng-model="searchClass">
	    <span class="input-group-btn">
	      <button class="btn btn-default" ng-click="queryClasses(searchClass)"><i class="fa fa-search"></i></button>
	    </span>
	  </div><!-- /input-group -->
	  <div class="table-responsive" style="max-height:500px; overflow:scroll">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Class</th>
						<th>Ontology</th>
					</tr>
				</thead>
				<tbody>
	        <tr ng-repeat="class in matchingClasses" ng-click="selectClass(class)" style="cursor:pointer;">
	          <td>{{class.prefLabel}}</td>
	          <td>{{class.links.ontology}}</td>
	        </tr>
	      </tbody>
			</table>
		</div><!-- /.table-responsive -->
	</div><!-- /.search-browse-classes -->
	<div class="value-set-classes">
		<h3>All Classes in Value Set</h3>
		<div class="table-responsive" style="max-height:500px; overflow:scroll">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>prefLabel</th>
						<th>Definition</th>
					</tr>
				</thead>
				<tbody>
	        <tr ng-repeat="value in currentOntology.valueSet">
	          <td>{{value.prefLabel}}</td>
	          <td>{{value.definition[0]}}</td>
	        </tr>
	      </tbody>
			</table>
			</div>
	</div><!-- /.value-set-classes -->
	<div class="ontology-root-classes">
		<h3>Ontology Root Classes</h3>
		<ul class="root-classes" style="max-height:500px; overflow:scroll">
			<li ng-repeat="root in currentOntology.root">{{root.prefLabel}}</li>
		</ul>
	</div><!-- /.ontology-root-classes -->
</div>
<div class="col-sm-6">
	<div class="class-details">
		<h3>Class Details:</h3>
		<div class="table-responsive">
			<table class="table table-striped">
				<tbody>
	        <tr>
	          <th>Perf. Name</th>
	          <td>{{classDetails.prefLabel}}</td>
	        </tr>
	        <tr>
	          <th>ID</th>
	          <td>{{classDetails['@id']}}</td>
	        </tr>
	        <tr>
	          <th>Definition</th>
	          <td>{{classDetails.definition[0]}}</td>
	        </tr>
	      </tbody>
			</table>
		</div><!-- /.table-responsive -->
	</div><!-- /.class-details -->
	<div class="ontology-details" ng-include="'scripts/Bioportal/views/partials/_ontology_details.html'"></div>
	<div class="ontology-tree">
		<h3>Ontology Tree</h3>
		<ul class="tree-view list-unstyled">
			<class-tree tree="currentOntology.tree"></class-tree>
		</ul>
	</div><!-- /.ontology-tree -->
</div>