<div class="col-sm-6 ontology-list">
<h3>Search/Browse Ontologies</h3>
	<div angucomplete-alt id="ex1"
              placeholder="Search Ontologies..."
              pause="100"
              selected-object="getOntology"
              local-data="ontologies"
              search-fields="name,acronym"
              title-field="name"
              minlength="2"
              input-class="form-control">
  </div>
	<ul style="height:500px; overflow:scroll">
		<li ng-repeat="ontology in ontologies">
			<a ng-click="getOntology(ontology)">{{ontology.name}}</a>
		</li>
	</ul>
</div>
<div class="col-sm-6 ontology details">
	<div class="ontology-details" ng-include="'scripts/Bioportal/views/partials/_ontology_details.html'"></div>
	<div class="ontology-catagories">
		<h3>Ontology Categories:</h3>
		<ul>
			<li ng-repeat="category in currentOntology.categories">{{category.name}}</li>
		</ul>
	</div>
</div>