<div class="col-sm-6">
	<div class="search-browse-classes">
	<h3>Search/Browse Value Sets</h3>
		<div class="input-group" style="margin:15px 0;">
	    <input type="text" class="form-control" placeholder="Search" ng-model="searchQuery">
	    <span class="input-group-btn">
	      <button class="btn btn-default" ng-click="queryValueSets(searchQuery)"><i class="fa fa-search"></i></button>
	    </span>
	  </div><!-- /input-group -->
	  <div class="table-responsive" style="height:500px; overflow:scroll">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Value Set</th>
						<th>ID</th>
						<th>Ontology</th>
					</tr>
				</thead>
				<tbody>
	        <tr ng-repeat="set in valueSets" ng-click="selectValueSet(set)" style="cursor:pointer;">
	          <td>{{set.prefLabel}}</td>
	          <td>{{set['@id']}}</td>
	          <td>{{set.links.ontology}}</td>
	        </tr>
	      </tbody>
			</table>
		</div><!-- /.table-responsive -->
	</div><!-- /.search-browse-classes -->
</div> <!-- /.col-sm-6 -->
<div class="col-sm-6">
	<div class="value-set-details">
		<h3>Value Set Specific Details:</h3>
		<div class="table-responsive">
			<table class="table table-striped">
				<tbody>
	        <tr>
	          <th>Value Set Name</th>
	          <td>{{currentValueSet.details.prefLabel}}</td>
	        </tr>
	        <tr>
	          <th>Version</th>
	          <td></td>
	        </tr>
	        <tr>
	          <th>OID</th>
	          <td></td>
	        </tr>
	        <tr>
	          <th>Definition</th>
	          <td>{{currentValueSet.details.definition[0]}}</td>
	        </tr>
	        <tr>
	          <th>Version Comment</th>
	          <td></td>
	        </tr>
	        <tr>
	          <th>Ontology</th>
	          <td><a ng-href="{{currentValueSet.details.links.ontology}}" target="_blank">{{currentValueSet.details.links.ontology}}</a></td>
	        </tr>
	      </tbody>
			</table>
		</div><!-- /.table-responsive -->
	</div><!-- /.class-details -->
	<div class="all-value-sets">
		<h3>All Value Sets of Ontology</h3>
		<div class="table-responsive">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Value Set</th>
						<th>ID</th>
					</tr>
				</thead>
				<tbody>
	        <tr ng-repeat="set in currentValueSet.rootSet">
	          <td>{{set.prefLabel}}</td>
	          <td><a ng-href="{{set['@id']}}" target="_blank">{{set['@id']}}</a></td>
	        </tr>
	      </tbody>
			</table>
		</div><!-- /.table-responsive -->
	</div><!-- /.ontology-tree -->
</div>