<div ng-show="!form.submitted">
  <form name="myForm" id="myForm">
    <div class="form-element" ng-repeat="(key, value) in form.properties">
      <element-directive element="value"> </element-directive>
    </div>
  </form>


  <!-- <div class="form-actions">
    <p class="text-center">
      <button class="btn btn-success right" type="button" ng-disabled="!myForm.$valid" ng-click="submit()"><i class="icon-edit icon-white"></i> Submit Form</button>
      <button class="btn btn-danger right" type="button" ng-click="cancel()"><i class="icon-remove icon-white"></i> Cancel</button>
    </p>
  </div> -->

  <div class="edit-actions">
    <button type="button" class="btn btn-save">Save</button>
    <button type="button" class="btn btn-clear">Clear Form</button>
    <button type="button" class="btn btn-submit">Submit</button>
  </div><!-- /.edit-actions -->
</div>

<div ng-show="form.submitted">
  <h3>Submitted Data</h3>
  <div ng-repeat="field in form.form_fields">
    Field Title: {{ field.field_title }} <br>
    Field Value: {{ field.field_value }} <br><br>
  </div>
</div>
