<div ng-show="!form.submitted">
  <form name="myForm" id="myForm">
    <!--Loop through top level "properties" parameter in form element and call element-directive with contents -->
    <div class="form-element" ng-repeat="(key, property) in form.properties" ng-if="ignoreKey(key)" ng-init="updateModel(key)">
      <!-- <element-directive element="element"> </element-directive> -->
      {{key}}
      <div class="form-element-embedded" ng-repeat="(index, element) in property.properties" ng-if="ignoreKey(index)" ng-init="updateModel(index, key)">
        {{key}} | {{index}}
        <div ng-if="index == 'value'">
          <field-directive field="element" directory="render" context=></field-directive>
        </div>

        <div class="field-level"ng-repeat="(i, field) in element.properties" ng-if="ignoreKey(i)" ng-init="updateModel(i, index, key)">
          {{key}} | {{index}} | {{i}}
          <div ng-if="i == 'value'">
            {{field}}
            <field-directive field="field" directory="render"></field-directive>  
          </div>
        </div>
      </div><!-- /.form-element-embedded -->
    </div><!-- /.form-element -->
  </form>


  <!-- <div class="form-actions">
    <p class="text-center">
      <button class="btn btn-success right" type="button" ng-disabled="!myForm.$valid" ng-click="submit()"><i class="icon-edit icon-white"></i> Submit Form</button>
      <button class="btn btn-danger right" type="button" ng-click="cancel()"><i class="icon-remove icon-white"></i> Cancel</button>
    </p>
  </div> -->

  <div class="edit-actions">
    <button type="button" class="btn btn-save">Save</button>
    <button type="button" class="btn btn-clear">Cear Form</button>
    <button type="button" class="btn btn-submit" ng-click="submitData()">Submit</button>
  </div><!-- /.edit-actions -->
</div>

<div ng-show="form.submitted">
  <h3>Submitted Data</h3>
  <div ng-repeat="field in form.form_fields">
    Field Title: {{ field.field_title }} <br>
    Field Value: {{ field.field_value }} <br><br>
  </div>
</div>
