<div ng-show="!form.submitted">
  <form name="{{form.title}}" id="{{form.guid}}">
    <!--Loop through top level "properties" parameter in form element and call element-directive with contents -->
    <div ng-repeat="(index, object) in formFields">
      <field-directive field="object.field" model="object.model" directory="render"></field-directive>
    </div>
  </form>

  <div class="edit-actions">
    <button type="button" class="btn btn-save disabled">Save</button>
    <button type="button" class="btn btn-clear disabled">Cear Form</button>
    <button type="button" class="btn btn-submit disabled">Submit</button>
  </div><!-- /.edit-actions -->
</div>

<hr>

<div class="text-center">
  <a class="btn btn-small btn-primary" ng-show="!showRender" ng-click="showRender = true; showOtput = false">Show Form Render JSON</a>
  <a class="btn btn-small btn-primary" ng-show="showRender" ng-click="showRender = false">Hide Form Render JSON</a>
  <a class="btn btn-small btn-primary" ng-show="!showOutput" ng-click="showOutput = true; showRender = false">Show Data Output JSON</a>
  <a class="btn btn-small btn-primary" ng-show="showOutput" ng-click="showOutput = false">Hide Data Output JSON</a>
</div>

<hr>

<div ng-show="showRender">
  <pre>{{ form | json }}</pre>
</div>

<div ng-show="showOutput">
  <pre>{{ model | json }}</pre>
</div>

<!-- <form name="{{form.title}}" id="{{form.guid}}"> -->
  <!--Loop through top level "properties" parameter in form element and call element-directive with contents -->
  <!-- <div ng-repeat="(index, element) in formFieldsObject">
    {{index}}
    <div ng-repeat="(i, field) in element">
      <field-directive field="field.field" model="field.model" directory="render"></field-directive>
    </div>
  </div> -->
<!--/form> -->
