<form name="{{form.title}}" id="{{form.guid}}">
  <!--Loop through top level "properties" parameter in form element and call element-directive with contents -->
  <div ng-repeat="(index, object) in formFields">
    <field-directive field="object.field" model="object.model" directory="render"></field-directive>
  </div>
</form>

<div class="text-right" style="padding-top:20px; padding-bottom:20px;">
  <a class="btn btn-small btn-primary" ng-show="!showRender" ng-click="showRender = true; showOtput = false">Show Render JSON</a>
  <a class="btn btn-small btn-primary" ng-show="showRender" ng-click="showRender = false">Hide Render JSON</a>
</div>

<div ng-show="showRender">
  <pre>{{ form | json }}</pre>
</div>

<!-- <form name="{{form.title}}" id="{{form.guid}}"> -->
  <!--Loop through top level "properties" parameter in form element and call element-directive with contents -->
  <!-- <div ng-repeat="(index, element) in formFieldsObject">
    {{index}}
    <div ng-repeat="(i, field) in element">
      <field-directive field="field.field" model="field.model" directory="render"></field-directive>
    </div>
  </div> -->
<!--/form> -->
