<div class="toggle-options">
	<div class="toggle-controlled-term">
		<i class="cedar-svg-controll-term collapsed" data-toggle="collapse" data-target="#control-options-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}"></i>
	</div>
	<div class="checkbox checkbox-inline">
    <input type="checkbox" id="required-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" ng-model="field.properties.info.required_value">
    <label for="required-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}">Required</label>
  </div><!-- /.checkbox-inline -->
  <div class="checkbox checkbox-inline">
    <input type="checkbox" id="advanced-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" value="option1" data-toggle="collapse" data-target="#advanced-options-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}">
    <label for="advanced-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}">Advanced</label>
  </div><!-- /.checkbox-inline -->

	<div class="checkbox checkbox-inline">
    <input type="checkbox" id="cardinality-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" value="option1" data-toggle="collapse" data-target="#cardinality-options">
    <label for="cardinality-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}">Cardinality</label>
  </div><!-- /.checkbox-inline -->

	
  <div class="save-options">
  	<div class="add" ng-click="add()">
  		<i class="fa fa-plus"></i>
  	</div>
  	<div class="edit">
  		<i class="cedar-svg-pencil"></i>
  	</div>
  	<div class="remove" ng-click="delete()">
  		<i class="fa fa-times"></i>
  	</div>
  </div><!-- /.save-options -->
</div><!-- /.toggle-options -->
<div id="advanced-options-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}"class="advanced-options collapse">
 	<div class="form-group validation-pattern floating-label-wrapper">
	  <input type="text" class="form-control" placeholder="Expression" aria-label="Advanced - Enter Expression" ng-model="field.properties.info.advanced.expression"  with-floating-label>
	</div><!-- /.form-group -->
	<div class="form-group validation-pattern">
		<select class="form-control" multiple data-max-options="1" title="Select validation" ng-model="field.properties.info.advanced.condition" select-picker>
		  <option value="matches">Matches</option>
		  <option value="greater-than">Greater Than</option>
		  <option value="less-than">Less Than</option>
		</select>
	</div><!-- /.form-group -->
	<div class="form-group validation-pattern floating-label-wrapper">
	  <input type="text" class="form-control" placeholder="Pattern" aria-label="Advanced - Enter Pattern" ng-model="field.properties.info.advanced.pattern"  with-floating-label>
	</div><!-- /.form-group -->
	<div class="form-group floating-label-wrapper">
	  <input type="text" class="form-control" placeholder="Enter Error Message" aria-label="Advanced - Enter Error Message" ng-model="field.properties.info.advanced.error_message"  with-floating-label>
	</div><!-- /.form-group -->
</div><!-- /.advanced-options -->

<div id="control-options-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" class="controlled-term-options collapse" ng-controller="TermsController" ng-model="enumTemp">
 	<!--<div class="form-group floating-label-wrapper">-->
	  <!--<input type="text" class="form-control" placeholder="Value Source" aria-label="Control Term Value Source" ng-model="field.properties.info.control_term.value_source"  with-floating-label>-->
	<!--</div>&lt;!&ndash; /.form-group &ndash;&gt;-->

	<div class="form-group floating-label-wrapper">
		<!-- Here ng-model and ng-change are used in combination to bind 2 different models to the Controlled Term ID input field (source: http://stackoverflow.com/questions/13890331/how-to-bind-2-models-to-one-input-field-in-angular) -->
	  <input type="url" class="form-control" placeholder="Controlled Term ID 1" aria-label="Control Term ID 1" ng-model="enumTemp[0]" ng-change="updateEnum(field.properties)" with-floating-label>
	</div><!-- /.form-group -->
	<div class="form-group floating-label-wrapper">
		<input type="url" class="form-control" placeholder="Controlled Term ID 2" aria-label="Control Term ID 2" ng-model="enumTemp[1]"
					 ng-change="updateEnum(field.properties)" ng-disabled="!enumTemp[0].length" with-floating-label>
	</div><!-- /.form-group -->
	<div class="form-group floating-label-wrapper">
		<input type="url" class="form-control" placeholder="Controlled Term ID 3" aria-label="Control Term ID 3" ng-model="enumTemp[2]"
				 ng-change="updateEnum(field.properties)" ng-disabled="!enumTemp[1].length" with-floating-label>
	</div><!-- /.form-group -->
</div><!-- /.controlled-term-options -->

