<div class="form-group floating-label-wrapper">
    <input type="text"
           class="form-control field-title-definition"
           id="placeholder-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}"
           placeholder="{{'CREATOR.enterFieldTitle' | translate}}"
           aria-label="{{'CREATOR.enterFieldTitle' | translate}}"
           ng-model="field.properties._ui.title"
           with-floating-label>
</div><!-- /.form-group -->
<div class="form-group floating-label-wrapper">
    <input type="text"
           class="form-control field-description-definition"
           id="help-text-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}"
           placeholder="{{'CREATOR.enterFieldDescription' | translate}}"
           aria-label="{{'CREATOR.enterFieldDescription' | translate}}"
           ng-model="field.properties._ui.description"
           with-floating-label>
</div><!-- /.form-group -->