<div class="toggle-options">
  <div class="toggle-controlled-term">
    <i ng-if="hasControlledTerms()" class="cedar-svg-controll-term collapsed" data-toggle="modal"
        data-target="#control-options-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}"></i>
  </div>
  <div class="checkbox checkbox-inline checkbox-required">
    <input type="checkbox" id="required-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}"
        ng-model="$root.propertiesOf(field)._valueConstraints.requiredValue"/>
    <label for="required-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" translate>GENERIC.Required</label>
  </div>
  <!-- /.checkbox-inline -->
  <!--<div class="checkbox checkbox-inline checkbox-advanced">-->
  <!--<input type="checkbox" id="advanced-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" data-toggle="collapse" data-target="#advanced-options-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" />-->
  <!--<label for="advanced-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}">Advanced</label>-->
  <!--</div>&lt;!&ndash; /.checkbox-inline &ndash;&gt;-->
  <div class="checkbox checkbox-inline checkbox-cardinality">
    <input type="checkbox" id="cardinality-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}"
        ng-model="$root.propertiesOf($parent.field)._ui.is_cardinal_field"/>
    <label for="cardinality-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}"
        translate>GENERIC.Cardinality</label>
  </div>
  <!-- /.checkbox-inline -->
  <div class="checkbox checkbox-inline checkbox-test">
    <input type="checkbox" id="controlledTerms" ng-model="$root.propertiesOf($parent.field)._ui.is_controlled_field"/>
    <label for="controlledTerms" translate>Controlled Terms</label>
  </div>
  <!-- /.checkbox-inline -->
  <div class="clearfix"></div>

  <!-- Cardinality Options -->
  <div id="cardinality-options" class="cardinality-options"
      ng-show="$root.propertiesOf($parent.field)._ui.is_cardinal_field">
    <div class="form-group validation-pattern pull-left min-items-option">
      <label translate>GENERIC.Min</label>
      <select class="" ng-model="$parent.field.minItems" title=""
          ng-options="v.value as v.label for v in $root.minCardinalities" select-picker="">
      </select>
    </div>
    <!-- /.form-group -->

    <div class="form-group validation-pattern pull-left max-items-option">
      <label translate>GENERIC.Max</label>
      <select class="" ng-model="$parent.field.maxItems" ng-options="v.value as v.label for v in $root.maxCardinalities"
          title="" select-picker="">
      </select>
    </div>
    <!-- /.form-group -->
  </div>

  <div id="ontology-options" class="cardinality-options"
      ng-show="hasControlledTerms(field) && $root.propertiesOf($parent.field)._ui.is_controlled_field">
    <div class="form-group ">
      <div class="controlled-terms controlled-term-options">
        <div ng-if="!$root.propertiesOf(field)._ui.inputType" class="element-title">
          {{$root.propertiesOf(field)._ui.title}}
        </div>
        <div class="class-container" >
          <div ng-show="$root.hasValueConstraint($root.propertiesOf(field)._valueConstraints) || $root.propertiesOf(field).addedFieldItems)">


            <!-- field classes -->
            <div ng-show="$root.propertiesOf(field).addedFieldItems && $root.propertiesOf(field).addedFieldItems.length > 0" class="heading-label">
              <fieldset class="section-break">
                <legend style="margin: 0 0 5px 42%">field types</legend>
              </fieldset>
            </div>

            <div class="toggle-controlled-term">
              <i ng-if="hasControlledTerms()" class="cedar-svg-controll-term collapsed" data-toggle="modal"
                  data-target="#control-options-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}"></i>
            </div>



            <!-- value constraints -->
            <div ng-show="$root.lengthOfValueConstraint($root.propertiesOf(field)._valueConstraints) > 0" class="heading-label">
              <fieldset class="section-break">
                <legend style="margin: 0 0 5px 42%">value types</legend>
              </fieldset>
            </div>
            <div class="added-value-constraints">
              <div class="added-value-constraint-container"
                  ng-if="$root.lengthOfValueConstraint($root.propertiesOf(field)._valueConstraints) >= 1">
                <div class="added-value-constraints-header">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>Values</th>
                      <th>Type</th>
                      <th>Source</th>
                      <th>UI label</th>
                      <th>&nbsp;</th>
                    </tr>
                    </thead>
                  </table>
                </div>
                <div class="value-contraint-table">
                  <table class="table table-hover">
                    <tbody>
                    <tr ng-repeat="class in $root.propertiesOf(field)._valueConstraints.classes">
                      <td class="values">{{class.prefLabel}}</td>
                      <td class="type">{{class.type}}</td>
                      <td class="ontology-name">{{class.ontology.substr(class.ontology.lastIndexOf('/') -1 )}}</td>
                      <td class="pref-label">{{class.label}}</td>
                      <td>
                        <div class="item item-delete" ng-click="field.deleteFieldAddedClass(class)">
                          <i class="clickable fa fa-close"></i>
                        </div>
                      </td>
                    </tr>
                    <tr ng-repeat="valueSet in $root.propertiesOf(field)._valueConstraints.valueSets">
                      <td class="values">{{valueSet.numChildren}} values</td>
                      <td class="type">Value Set</td>
                      <td class="source">{{valueSet.name}}</td>
                      <td class="pref-label">N/A</td>
                      <td>
                        <div class="item item-delete" ng-click="field.deleteFieldAddedValueSet(valueSet)">
                          <i class="clickable fa fa-close"></i>
                        </div>
                      </td>
                    </tr>
                    <tr ng-repeat="ontology in $root.propertiesOf(field)._valueConstraints.ontologies">
                      <td class="values">{{ontology.numChildren}} classes</td>
                      <td class="type">Ontology</td>
                      <td class="source">{{ontology.name}} ({{ontology.acronym}})</td>
                      <td class="pref-label">N/A</td>
                      <td>
                        <div class="item item-delete" ng-click="field.deleteFieldAddedOntology(ontology)">
                          <i class="clickable fa fa-close"></i>
                        </div>
                      </td>
                    </tr>
                    <tr ng-repeat="branch in $root.propertiesOf(field)._valueConstraints.branches">
                      <td class="values">{{branch.name}}</td>
                      <td class="type">Ontology branch</td>
                      <td class="source">{{branch.source}}</td>
                      <td class="pref-label">N/A</td>
                      <td>
                        <div class="item item-delete" ng-click="field.deleteFieldAddedBranch(branch)">
                          <i class="clickable fa fa-close"></i>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.form-group -->
  </div>

  <div class="clearfix"></div>

</div><!-- /.toggle-options -->


<div id="advanced-options-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}"
    class="advanced-options collapse">
  <div class="form-group validation-pattern floating-label-wrapper">
    <input type="text" class="form-control" placeholder="Expression" aria-label="Advanced - Enter Expression"
        ng-model="$root.propertiesOf(field)._ui.advanced.expression" with-floating-label=""/>
  </div>
  <!-- /.form-group -->
  <div class="form-group validation-pattern">
    <select class="form-control" multiple="" data-max-options="1" title="Select validation"
        ng-model="$root.propertiesOf(field)._ui.advanced.condition" select-picker="">
      <option value="matches">Matches</option>
      <option value="greater-than">Greater Than</option>
      <option value="less-than">Less Than</option>
    </select>
  </div>
  <!-- /.form-group -->
  <div class="form-group validation-pattern floating-label-wrapper">
    <input type="text" class="form-control" placeholder="Pattern" aria-label="Advanced - Enter Pattern"
        ng-model="$root.propertiesOf(field)._ui.advanced.pattern" with-floating-label=""/>
  </div>
  <!-- /.form-group -->
  <div class="form-group floating-label-wrapper">
    <input type="text" class="form-control" placeholder="Enter Error Message"
        aria-label="Advanced - Enter Error Message" ng-model="$root.propertiesOf(field)._ui.advanced.error_message"
        with-floating-label=""/>
  </div>
  <!-- /.form-group -->
</div><!-- /.advanced-options -->


<div class="modal fade controlled-terms-modal"
    id="control-options-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img
            src="/img/close_modal.png" width="22"/></span></button>
      </div>
      <div class="modal-body">
        <div cedar-control-term field="field"></div>
        <!--<div cedar-control-term field="field"></div>-->
      </div>
    </div>
  </div>
</div>
