<div class="toggle-options">
  <div  class="toggle-controlled-term">
    <i ng-if="hasControlledTerms()" class="cedar-svg-controll-term collapsed" data-toggle="modal" data-target="#control-options-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}"></i>
  </div>
  <div class="checkbox checkbox-inline checkbox-required">
    <input type="checkbox" id="required-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" ng-model="$root.propertiesOf(field)._valueConstraints.requiredValue" />
    <label for="required-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" translate>GENERIC.Required</label>
  </div><!-- /.checkbox-inline -->
  <!--<div class="checkbox checkbox-inline checkbox-advanced">-->
    <!--<input type="checkbox" id="advanced-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" data-toggle="collapse" data-target="#advanced-options-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" />-->
    <!--<label for="advanced-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}">Advanced</label>-->
  <!--</div>&lt;!&ndash; /.checkbox-inline &ndash;&gt;-->
  <div class="checkbox checkbox-inline checkbox-cardinality">
    <input type="checkbox" id="cardinality-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}"  ng-model="$parent.field._ui.is_cardinal_field" />
    <label for="cardinality-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" translate>GENERIC.Cardinality</label>
  </div><!-- /.checkbox-inline -->
  <div class="clearfix"></div>

  <!-- Cardinality Options -->
  <div id="cardinality-options" class="cardinality-options" ng-show="$parent.field._ui.is_cardinal_field">
    <div class="form-group validation-pattern pull-left min-items-option">
      <label translate>GENERIC.Min</label>
      <select class="" ng-model="$parent.field.minItems" title="" ng-options="v.value as v.label for v in $root.minCardinalities" select-picker="">
      </select>
    </div><!-- /.form-group -->

    <div class="form-group validation-pattern pull-left max-items-option">
      <label translate>GENERIC.Max</label>
      <select class="" ng-model="$parent.field.maxItems" ng-options="v.value as v.label for v in $root.maxCardinalities" title="" select-picker="">
      </select>
    </div><!-- /.form-group -->
  </div><!-- /.cardinality-options -->
</div><!-- /.toggle-options -->
<div id="advanced-options-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" class="advanced-options collapse">
  <div class="form-group validation-pattern floating-label-wrapper">
    <input type="text" class="form-control" placeholder="Expression" aria-label="Advanced - Enter Expression" ng-model="field._ui.advanced.expression" with-floating-label="" />
  </div><!-- /.form-group -->
  <div class="form-group validation-pattern">
    <select class="form-control" multiple="" data-max-options="1" title="Select validation" ng-model="field._ui.advanced.condition" select-picker="">
      <option value="matches">Matches</option>
      <option value="greater-than">Greater Than</option>
      <option value="less-than">Less Than</option>
    </select>
  </div><!-- /.form-group -->
  <div class="form-group validation-pattern floating-label-wrapper">
    <input type="text" class="form-control" placeholder="Pattern" aria-label="Advanced - Enter Pattern" ng-model="field._ui.advanced.pattern" with-floating-label="" />
  </div><!-- /.form-group -->
  <div class="form-group floating-label-wrapper">
    <input type="text" class="form-control" placeholder="Enter Error Message" aria-label="Advanced - Enter Error Message" ng-model="field._ui.advanced.error_message" with-floating-label="" />
  </div><!-- /.form-group -->
</div><!-- /.advanced-options -->


<div class="modal fade controlled-terms-modal" id="control-options-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="/img/close_modal.png" width="22" /></span></button>
      </div>
      <div class="modal-body">
        <div cedar-control-term field="$parent.$parent.$parent.field"></div>
      </div>
    </div>
  </div>
</div>
