<div class="toggle-options">

  <!-- field controlled terms -->
  <div class="toggle-controlled-term"  ng-show="hasControlledTerms()" ng-click="toggleControlledTerm('field')">
    <i class="cedar-svg-controll-term collapsed" id="field-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}"
        ></i>
    <label class="controlled-term-label" for="field-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}"
        translate>Field Types</label>
  </div>

  <!-- value controlled terms -->
  <div class="toggle-controlled-term" ng-show="hasControlledTerms()"  ng-click="toggleControlledTerm('values')">
    <i class="cedar-svg-controll-term collapsed" type="values" id="values-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}"
       ></i>
    <label class="controlled-term-label" for="values-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}"
        translate>Values</label>
  </div>

  <!-- reequired -->
  <div class="checkbox checkbox-inline checkbox-required">
    <input type="checkbox" id="required-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}"
        ng-model="$root.propertiesOf(field)._valueConstraints.requiredValue"/>
    <label for="required-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" translate>GENERIC.Required</label>
  </div>

  <!-- cardinaltiy -->
  <div class="checkbox checkbox-inline checkbox-cardinality">
    <input type="checkbox" id="cardinality-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}"
        ng-model="$root.propertiesOf($parent.field)._ui.is_cardinal_field" ng-click="toggleControlledTerm('cardinality')"/>
    <label for="cardinality-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}"
        translate>GENERIC.Cardinality</label>
  </div>

  <!-- Cardinality Options -->
  <div id="cardinality-options" class="cardinality-options"
      ng-show="$root.propertiesOf($parent.field)._ui.is_cardinal_field">
    <div class="form-group validation-pattern pull-left min-items-option">
      <label translate>GENERIC.Min</label>
      <select class="" ng-model="$parent.field.minItems" title=""
          ng-options="v.value as v.label for v in $root.minCardinalities" select-picker="">
      </select>
    </div>
    <!-- /.form-group -->

    <div class="form-group validation-pattern pull-left max-items-option">
      <label translate>GENERIC.Max</label>
      <select class="" ng-model="$parent.field.maxItems" ng-options="v.value as v.label for v in $root.maxCardinalities"
          title="" select-picker="">
      </select>
    </div>
    <!-- /.form-group -->
  </div>


  <!-- Field Types -->
  <div id="field-type-options" class="cardinality-options" ng-show="controlledTermsField">
    <div class="form-group ">
      <div class="controlled-terms controlled-term-options">
        <div class="class-container">

          <!-- field type table -->
          <div ng-show="addedFields">

            <div class="added-field-classes">
              <div class="class-list-container" >
                <div class="class-list-header">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>Class</th>
                      <th>Description</th>
                      <th>Ontology</th>
                      <th>&nbsp;</th>
                    </tr>
                    </thead>
                  </table>
                </div>
                <div class="class-list-table">
                  <table class="table table-hover">
                    <tbody>
                    <tr ng-repeat="key in addedFieldKeys">
                      <td class="pref-label">
                        {{getPrefLabel(key)}}
                      </td>
                      <td class="ontology-name">
                        {{getClassDescription(key)}}
                      </td>
                      <td class="ontology-name">
                        {{parseOntologyName(key)}}
                      </td>
                      <td>
                        <div class="item item-delete" ng-click="deleteFieldAddedItem(key)">
                          <i class="fa fa-close"></i>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <button type="button" class="search-ontologies-button" data-toggle="modal" data-target="{{'#' + fieldModalId()}}">Search</button>
          <button type="button" class="search-ontologies-button" >Create</button>
        </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Values -->
  <div id="value-options" class="cardinality-options"  ng-show="controlledTermsValues">
    <div class="form-group ">
      <div class="controlled-terms controlled-term-options">

        <div class="class-container">

            <!-- value table -->
            <div class="added-value-constraints">
              <div class="added-value-constraint-container"
                  ng-if="$root.lengthOfValueConstraint($root.propertiesOf(field)._valueConstraints) >= 1">
                <div class="added-value-constraints-header">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>Values</th>
                      <th>Type</th>
                      <th>Source</th>
                      <th>UI label</th>
                      <th>&nbsp;</th>
                    </tr>
                    </thead>
                  </table>
                </div>
                <div class="value-contraint-table">
                  <table class="table table-hover">
                    <tbody>
                    <tr ng-repeat="class in $root.propertiesOf(field)._valueConstraints.classes">
                      <td class="values">{{class.prefLabel}}</td>
                      <td class="type">{{class.type}}</td>
                      <td class="ontology-name">{{class.ontology.substr(class.ontology.lastIndexOf('/') -1 )}}</td>
                      <td class="pref-label">{{class.label}}</td>
                      <td>
                        <div class="item item-delete" ng-click="deleteFieldAddedClass(class)">
                          <i class="clickable fa fa-close"></i>
                        </div>
                      </td>
                    </tr>
                    <tr ng-repeat="valueSet in $root.propertiesOf(field)._valueConstraints.valueSets">
                      <td class="values">{{valueSet.numChildren}} values</td>
                      <td class="type">Value Set</td>
                      <td class="source">{{valueSet.name}}</td>
                      <td class="pref-label">N/A</td>
                      <td>
                        <div class="item item-delete" ng-click="deleteFieldAddedValueSet(valueSet)">
                          <i class="clickable fa fa-close"></i>
                        </div>
                      </td>
                    </tr>
                    <tr ng-repeat="ontology in $root.propertiesOf(field)._valueConstraints.ontologies">
                      <td class="values">{{ontology.numChildren}} classes</td>
                      <td class="type">Ontology</td>
                      <td class="source">{{ontology.name}} ({{ontology.acronym}})</td>
                      <td class="pref-label">N/A</td>
                      <td>
                        <div class="item item-delete" ng-click="deleteFieldAddedOntology(ontology)">
                          <i class="clickable fa fa-close"></i>
                        </div>
                      </td>
                    </tr>
                    <tr ng-repeat="branch in $root.propertiesOf(field)._valueConstraints.branches">
                      <td class="values">{{branch.name}}</td>
                      <td class="type">Ontology branch</td>
                      <td class="source">{{branch.source}}</td>
                      <td class="pref-label">N/A</td>
                      <td>
                        <div class="item item-delete" ng-click="deleteFieldAddedBranch(branch)">
                          <i class="clickable fa fa-close"></i>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <button type="button" class="search-ontologies-button" data-toggle="modal" data-target="{{'#' + valueModalId()}}">Search</button>
            <button type="button" class="search-ontologies-button">Create</button>

        </div>
      </div>
    </div>
    <!-- /.form-group -->
  </div>


</div><!-- /.toggle-options -->


<div class="modal fade controlled-terms-modal" id="{{fieldModalId()}}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close controlled-terms-modal-field-close" data-dismiss="modal"
            aria-label="Close"><span aria-hidden="true"><img
            src="/img/close_modal.png" width="22"/></span></button>
      </div>
      <div class="modal-body">
        <div cedar-control-term field="field" options='{"filterSelection":"field"}'></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade controlled-terms-modal" id="{{valueModalId()}}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close controlled-terms-modal-value-close" data-dismiss="modal"
            aria-label="Close"><span aria-hidden="true"><img
            src="/img/close_modal.png" width="22"/></span></button>
      </div>
      <div class="modal-body">
        <div cedar-control-term field="field" options='{"filterSelection":"values"}'></div>
      </div>
    </div>
  </div>
</div>
