<div ng-if="!$root.isRuntime() &&  !isNested() " class="preview-container" >
  <div class="row preview-edit-options pull-right">
    <div class="toggle-options col-lg-12 pull-right">

      <div class="save-options"  ng-if="isEditState()">
        <div class="trash" style="margin-right: 0;" ng-click="delete(); $event.stopPropagation();" title="Delete field">
          <i class="fa fa-times-circle"></i>
        </div>
      </div>
      <!--<div class="save-options"  ng-if="isEditState()">-->
        <!--<button type="button" class="show-type" style="background:transparent;float:right" ng-click="showModal('control-options-template-property');$root.finalTitle=form._ui.title">-->
          <!--<i class="cedar-svg-controll-term collapsed" style="padding-bottom:10px"></i>-->
        <!--</button>-->
      <!--</div>-->
      <div class="save-options" ng-if="!isEditState()">
        <div class="trash" style="margin-right: 0;" ng-click="delete(); $event.stopPropagation();" title="Delete field">
          <i class="fa fa-times-circle"></i>
        </div>
      </div>

    </div>
  </div>
</div>
