<div ng-if="!isRuntime() &&  !isNested() " class="preview-container" >
  <div class="row preview-edit-options pull-right">
    <div class="toggle-options col-lg-12 pull-right">

      <div class="save-options"  ng-if="isEditState()">
        <div class="trash" style="margin-right: 0;" ng-click="ckDelete(); $event.stopPropagation();" title="Delete field">
          <i class="fa fa-times-circle"></i>
        </div>
      </div>
      <div class="save-options" ng-if="!isEditState()">
        <div class="trash" style="margin-right: 0;" ng-click="ckDelete(); $event.stopPropagation();" title="Delete field">
          <i class="fa fa-times-circle"></i>
        </div>
      </div>
    </div>
  </div>
</div>
