<div id="toolbar">
  <ul>
  <li ng-repeat="fieldType in primaryFieldTypes">
    <a ng-click="addField(fieldType.cedarType);setDirty()"
        id='button-add-field-{{fieldType.cedarType}}'
        uib-tooltip='{{"FIELDS.FIELD_TYPE." + fieldType.cedarType + ".NAME" | translate}}'
        tooltip-placement="left"
        ><i class="{{fieldType.iconClass}}"></i></a>
  </li>
  <li>
    <div  uib-dropdown keyboard-nav dropdown-append-to="appendToEl">
      <a uib-dropdown-toggle class="more" id='button-add-more'
          uib-tooltip='{{"GENERIC.More" | translate}}'
          tooltip-placement="left"
          ><i class="fa fa-ellipsis-h"></i></a>

      <div class=" dropdown-menu  other-elements" uib-dropdown-menu role="menu"
          aria-labelledby="button-add-more">
        <div class="row">
          <ul class="col-xs-6 list-unstyled pull-left">
            <li role="menuitem" class="item"
                ng-repeat="fieldType in otherFieldTypes"
                ng-if="$index <= otherFieldTypes.length/2  && (isTemplate || isField || (isElement && fieldType.allowedInElement))">
              <a  id='button-add-field-{{fieldType.cedarType}}'
                  ng-click="addField(fieldType.cedarType);setDirty()"
                  uib-tooltip='{{"FIELDS.FIELD_TYPE." + fieldType.cedarType + ".NAME" | translate}}'
                  tooltip-placement="left"
                  ><i class="{{fieldType.iconClass}}"></i><span translate>{{"FIELDS.FIELD_TYPE." + fieldType.cedarType + ".NAME"}}</span></a>
            </li>
          </ul>
          <ul class="row list-unstyled pull-right">
            <li role="menuitem" class="item"
                ng-repeat="fieldType in otherFieldTypes"
                ng-if="$index > otherFieldTypes.length/2  && (isTemplate || isField || (isElement && fieldType.allowedInElement))">

              <a  id='button-add-field-{{fieldType.cedarType}}'
                  ng-click="addField(fieldType.cedarType);toggleMore();;setDirty()"
                  uib-tooltip='{{"FIELDS.FIELD_TYPE." + fieldType.cedarType + ".NAME" | translate}}'
                  tooltip-placement="left"
                  ><i class="{{fieldType.iconClass}}"></i><span translate>{{"FIELDS.FIELD_TYPE." + fieldType.cedarType + ".NAME"}}</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </li>
  <li class="divider">
  </li>
  <li>
    <a ng-click="showFinderModal('finder-modal')"
        id='button-search-element'
        uib-tooltip='{{"EDITOR.TOOLBAR.searchForMore" | translate}}'
        tooltip-placement="left"
        ><i class="fa fa-search "></i></a>
  </li>
  </ul>
</div>