<div ng-if="isEditState()">
  <div class="form-group floating-label-wrapper">
    <input type="text" auto-focus
        class="form-control field-title-definition"
        id="placeholder-{{getId().substring(getId().lastIndexOf('/')+1)}}"
        placeholder="{{'CREATOR.enterElementTitle' | translate}}"
        aria-label="{{'CREATOR.enterElementTitle' | translate}}"
        ng-model="elementSchema['schema:name']"
        ng-model-options="{ debounce: 1000, allowInvalid:true }"
        with-floating-label>
    <div class="input-indicator-icons color-active" style="top:0"
        ng-click="showModal('property')" uib-tooltip="{{('HELP.addProperty' | translate)}}"><i
        class="cedar-svg-controll-term"></i></div>
  </div>

  <div class="form-group floating-label-wrapper">
    <input type="text"
        class="form-control field-description-definition"
        id="help-text-{{getId().substring(getId().lastIndexOf('/')+1)}}"
        placeholder="{{'CREATOR.enterElementDescription' | translate}}"
        aria-label="{{'CREATOR.enterElementDescription' | translate}}"
        ng-model="elementSchema['schema:description']"
        ng-model-options="{ debounce: 1000, allowInvalid:true }"
        with-floating-label>
  </div>

  <div ng-if="hasPropertyId()"
      style="display: flex;justify-content:space-between;align-items:center;margin:0 10px 0 15px;color:#999999">
    <div style="font-style:italic">{{getPropertyId()}}</div>
    <div style="font-size: 20px;color: #999999;"
        ng-click="deleteProperty();$event.stopPropagation();"
        tooltip-append-to-body="true"
        uib-tooltip="{{'HELP.removeProperty' | translate}}">
      <i class="fa fa-times-circle"></i>
    </div>
  </div>
</div>

<div ng-if="!isEditState()">
  <div class="form-group floating-label-wrapper">
    <input type="text"
        class="form-control"
        placeholder="{{getTitle()}}"
        aria-label="{{getDescription()}}"
        ng-disabled="true"
        with-floating-label/>
    <div class="input-indicator-icons ng-valid ng-scope"
        ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>
  </div>
  
  <div ng-if="hasPropertyId()" style="margin:2px 0 0 10px;color:#999999">
    <div style="font-style:italic">{{getPropertyId()}}</div>
  </div>
</div>

<hr style="height:2px;background:#ddd"/>






