<div class="form-group floating-label-wrapper">
  <input type="text" auto-focus
      class="form-control field-title-definition"
      id="placeholder-{{getId().substring(getId().lastIndexOf('/')+1)}}"
      placeholder="{{'CREATOR.enterFieldTitle' | translate}}"
      aria-label="{{'CREATOR.enterFieldTitle' | translate}}"
      ng-model="fieldSchema['schema:name']"
      ng-model-options="{ debounce: 1000, allowInvalid:true }"
      with-floating-label>
</div>
<div class="form-group floating-label-wrapper">
  <input type="text"
      class="form-control field-description-definition"
      id="help-text-{{getId().substring(getId().lastIndexOf('/')+1)}}"
      placeholder="{{'CREATOR.enterFieldDescription' | translate}}"
      aria-label="{{'CREATOR.enterFieldDescription' | translate}}"
      ng-model="fieldSchema['schema:description']"
      ng-model-options="{ debounce: 1000, allowInvalid:true }"
      with-floating-label>
</div>
