<div ng-if="isEditState()" class="selected">
  <div class="flex field-title">
    <!-- field title -->
    <div class="form-group floating-label-wrapper">
      <input type="text" auto-focus
          class="form-control select field-title-definition"
          id="placeholder-{{getId().substring(getId().lastIndexOf('/')+1)}}"
          placeholder="{{'CREATOR.enterFieldKey' | translate}}"
          aria-label="{{'CREATOR.enterFieldKey' | translate}}"
          ng-model="fieldLabel[fieldLabelKey]"
          ng-model-options="{ debounce: 1000, allowInvalid:true }"
          ng-disabled="isPublished()"
          autocomplete="off"
          with-floating-label>
    </div>
    <!-- property button -->
    <div class="property" ng-if="!isStatic()">
      <div class="flex">
        <i uib-tooltip-placement="left" tooltip-append-to-body="true"
            uib-tooltip="{{getPropertyId() || 'HELP.addProperty' | translate}}"
            ng-click="showModal('properties','properties')"
            class="cedar-svg-controll-term"></i>

        <div ng-if="hasPropertyId()" class="class-dropdown " uib-dropdown
            is-open="status.isopen">
          <button type="button" uib-dropdown-toggle aria-haspopup="true"
              aria-expanded="true"><i
              class="fa fa-caret-down  inline "></i></button>
          <div uib-dropdown-menu class="class-list pull-right dropdown-menu">
            <property-list field="field" form="parentElement" dialog-open="status.isopen"></property-list>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Question text -->
  <div class="form-group floating-label-wrapper">
    <!-- If the field does not contain any alternate question texts (skos:altLabel), we render it using a text field -->
    <div ng-if="!schemaService.hasAlternateLabels(field)">
      <input type="text"
             class="form-control"
             placeholder="{{'CREATOR.enterPrefLabel' | translate}}"
             aria-label="{{'CREATOR.enterPrefLabel' | translate}}"
             ng-model="$root.schemaOf(field)['skos:prefLabel']"
             with-floating-label>
    </div>
    <!-- If the field contains alternate question texts, we use ui-select to display them -->
    <div ng-if="schemaService.hasAlternateLabels(field)">
      <ui-select
          class="form-control"
          ng-model="$root.schemaOf(field)['skos:prefLabel']">
        <ui-select-match placeholder="{{'CREATOR.enterPrefLabel' | translate}}">
          <span ng-bind="$select.selected"></span>
        </ui-select-match>
        <ui-select-choices
            repeat="questionText in questionTextService.getCandidateLabels(field)"
            refresh="questionTextService.updateModelWhenTyping(field, $select.search)"
            refresh-delay="0">
          <span ng-bind="questionText"></span>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>

  <!-- help text -->
  <div class="form-group floating-label-wrapper">
    <input type="text"
        class="form-control field-description-definition"
        id="help-text-{{getId().substring(getId().lastIndexOf('/')+1)}}"
        placeholder="{{'CREATOR.enterFieldDescription' | translate}}"
        aria-label="{{'CREATOR.enterFieldDescription' | translate}}"
        ng-model="fieldDescription[fieldDescriptionKey]"
        ng-model-options="{ debounce: 1000, allowInvalid:true }"
        autocomplete="off"
        ng-disabled="isPublished()"
        with-floating-label>
  </div>
</div>

<div ng-if="!isEditState()" class="deselected">
  <div class="flex field-title" ng-repeat="x in getCount() track by $index">
    <div ng-valid="false" class="form-group floating-label-wrapper">
      <input type="text"
          class="form-control"
          placeholder="{{getLabel()}}"
          aria-label="{{getLabel()}}"
          ng-disabled="true"
          with-floating-label/>
      <div class="input-indicator-icons ng-valid ng-scope"
          ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>
    </div>

    <div ng-if="hasPropertyId()" class="property-icon">
      <div class="flex">
        <i uib-tooltip-placement="left"
            tooltip-append-to-body="true"
            uib-tooltip="{{getPropertyId()}}"
            ng-click="showModal('properties','properties')"
            class="cedar-svg-controll-term"></i>
      </div>
    </div>
  </div>
</div>
