<div class="form-group floating-label-wrapper">
  <input type="text" auto-focus
      class="form-control field-title-definition"
      id="placeholder-{{$root.schemaOf(field)['@id'].substring($root.schemaOf(field)['@id'].lastIndexOf('/')+1)}}"
      placeholder="{{'CREATOR.enterFieldTitle' | translate}}"
      aria-label="{{'CREATOR.enterFieldTitle' | translate}}"
      ng-model="$root.schemaOf(field)._ui.title"
      ng-model-options="{ debounce: 1000, allowInvalid:true }"
      ng-change="relabelField($root.schemaOf(field)._ui.title)"
      with-floating-label>
  <!-- The following code can be used to validate the field title -->
  <!--validate-on="blur"-->
  <!--ng-pattern='/^[^"\/\\\n\b\f\r\t.:]+$/'-->
  <!-- show whether text entry is valid or not -->
  <!--<div class="input-indicator-icons"-->
      <!--ng-include="'scripts/form/partials/indicator-icons-create.partial.html'"></div>-->
</div><!-- /.form-group -->
<div class="form-group floating-label-wrapper">
  <input type="text"
      class="form-control field-description-definition"
      id="help-text-{{$root.schemaOf(field)['@id'].substring($root.schemaOf(field)['@id'].lastIndexOf('/')+1)}}"
      placeholder="{{'CREATOR.enterFieldDescription' | translate}}"
      aria-label="{{'CREATOR.enterFieldDescription' | translate}}"
      ng-model="$root.schemaOf(field)._ui.description"
      with-floating-label>
</div><!-- /.form-group -->
