<div class="form-group " style="padding:0;font-size:20px;margin:0;">

        <div ng-show="isEditState()" >
            <input type="text"
                   id="{{$root.getDomId(field)}}-edit-title"
                   class="form-control field-title-definition"
                   style="font-size:20px;"
                   placeholder="{{'CREATOR.enterFieldTitle' | translate}}"
                   aria-label="{{'CREATOR.enterFieldTitle' | translate}}"
                   ng-model="$root.schemaOf(field)._ui.title">
        </div>

        <div id="{{$root.getDomId(field)}}-title" ng-show="!isEditState()">
            {{$root.schemaOf(field)._ui.title}}
                    <span id="{{$root.getDomId(field)}}-required" ng-show="!isEditState()" ng-show="$root.isRuntime()"
                          style="color:red"
                          ng-class="{'invisible': !$root.schemaOf(field)._valueConstraints.requiredValue}">*</span>
        </div>

</div>