<div class="more-input-buttons">
  <button type="button" class="add" ng-disabled="!$root.isRuntime()" ng-click="addMoreInput()" ng-show=" (!$parent.field.maxItems || $parent.model.length < $parent.field.maxItems )">
    <i class="fa fa-plus"></i>
    <div class="cardinality-_ui-container">
      <div class="cardinality-_ui">
        <div class="cardinality-_ui-text"><span translate="GENERIC.MultipleMinMaxMsg" translate-values="{min:($parent.field.minItems || 0), max:($parent.field.maxItems || 'GENERIC.Unlimited' | translate)}"></span></div>
      </div>
    </div>
  </button>

  <button type="button" class="remove" ng-disabled="!$root.isRuntime()"  ng-click="removeInput($parent.$index)" ng-show="!parent.field.minItems || ($parent.field.maxItems || $parent.model.length > $parent.field.minItems) && $parent.$index >= $parent.field.minItems">
    <i class="fa fa-times"></i>
  </button>
</div>
