<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title ng-bind="'Project Cedar - ' + pageTitle">Project Cedar</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <link href="favicon.ico" rel="icon" type="image/x-icon"/>

  <style>
    html, body {
      display: none;
    }
  </style>

  <link rel="stylesheet" href="bower_components/sweetalert/dist/sweetalert.css">
  <link rel="stylesheet" href="bower_components/handsontable/dist/handsontable.full.css">
  <link rel="stylesheet" ng-href="css/style-{{applicationMode}}.css">
  <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css">
  <link rel="stylesheet" href="bower_components/angular-toasty/dist/angular-toasty.min.css"/>
</head>
<body cedar-switch-navbar="true" ng-cloak>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->
<nav class="navbar" role="navigation">
  <div class="container" id="headerCtrl" ng-controller="HeaderCtrl">
    <div class="navbar-header">
      <button type="button" cedar-close-navbar="true" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p id="page-title" ng-bind="pageTitle"></p>
      <a class="navbar-brand" href="#/dashboard">Cedar</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav pull-right">
        <li ng-class="{active: ($root.pageId == 'DASHBOARD') }"><a href="#/dashboard">Dashboard</a></li>
        <li ng-show="$root.applicationRole == 'creator'" ng-class="{active: ($root.pageId == 'ELEMENT') }"><a
            href="#/elements/create">Element Designer</a></li>
        <li ng-show="$root.applicationRole == 'creator'" ng-class="{active: ($root.pageId == 'TEMPLATE') }"><a
            href="#/templates/create">Template Designer</a></li>
        <li ng-show="$root.applicationRole == 'instantiator'" ng-class="{active: ($root.pageId == 'RUNTIME') }"><a
            href="#/instances/create">Metadata Editor</a></li>
        <li ng-class="{active: ($root.pageId == 'ROLESELECTOR') }"><a href="#/">Role Selector</a></li>
        <li><a href="#/profile">Profile</a></li>
        <li><a href="#/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<nav class="navbar" id="navbarMini">
  <div class="container" id="headerCtrlMini" ng-controller="HeaderCtrlMini">
    <div class="navbar-header navbar-header-mini container">
      <button type="button" cedar-close-navbar="true" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#navbarmini" aria-expanded="false" aria-controls="navbarmini">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p id="page-title" ng-bind="pageTitle"></p>
      <a class="navbar-brand" href="#/dashboard">Cedar</a>

      <div class="navbarMiniInfoTitle">
        <p id="page-title-mini">{{dataContainer.currentObjectScope.properties._ui.title}}</p>
      </div>
      <div id="navbarmini" class="navbar-collapse collapse">
        <ul class="nav pull-right">
          <li ng-class="{active: ($root.pageId == 'DASHBOARD') }"><a href="#/dashboard">Dashboard</a></li>
          <li ng-show="$root.applicationRole == 'creator'" ng-class="{active: ($root.pageId == 'ELEMENT') }">
            <a href="#/elements/create">Element
              Designer</a></li>
          <li ng-show="$root.applicationRole == 'creator'" ng-class="{active: ($root.pageId == 'TEMPLATE') }">
            <a href="#/templates/create">Template
              Designer</a></li>
          <li ng-show="$root.applicationRole == 'instantiator'"
              ng-class="{active: ($root.pageId == 'RUNTIME') }"><a
              href="#/instances/create">Metadata Editor</a></li>
          <li ng-class="{active: ($root.pageId == 'ROLESELECTOR') }"><a href="#/">Role Selector</a></li>
          <li><a href="#/profile">Profile</a></li>
          <li><a href="#/logout">Logout</a></li>
        </ul>
      </div>
      <!--/.navbar-collapse -->
    </div>
  </div>
</nav>

<div id="jsonTools" cedar-position-json-tools="true" style="display: none;">
  <a ng-click="$root.showRender = !$root.showRender; $root.scrollToAnchor('templateJSON')" title="Show Template JSON"
     ng-if="$root.pageId == 'ELEMENT' || $root.pageId == 'TEMPLATE' || $root.pageId == 'RUNTIME'">
    <i class="cedar-svg-complete" ng-if="$root.showRender"></i>
    <i class="cedar-svg-progress" ng-if="!$root.showRender"></i>
  </a>
  <br/>
  <a ng-click="$root.showOutput = !$root.showOutput; $root.scrollToAnchor('outputJSON')" title="Show Output JSON"
     ng-if="$root.pageId == 'RUNTIME'">
    <i class="cedar-svg-complete" ng-if="$root.showOutput"></i>
    <i class="cedar-svg-progress" ng-if="!$root.showOutput"></i>
  </a>
</div>

<div id="angular-views-entry" ng-view="">Preloading CEDAR ...</div>

<toasty></toasty>

<script data-main="require-config" src="bower_components/requirejs/require.js" type="text/javascript"></script>

</body>
</html>
