<div ng-init="initializeValue(); initializeValueType()">

  <div ng-if="!isActive(index)" ng-click="setActive(index,true)" class="form-group  has-feedback value">
    <div ng-if="isListView()"
        aria-label="{{getDescription()}}"
        class="isInactive ">{{valueArray[index]['@name']}} = {{valueArray[index]['@value']}}  </div>

    <div ng-if="!isListView()"
        aria-label="{{getDescription()}}"
        class="isInactive "> {{getValueString(valueArray)}} &nbsp;</span>
    </div>


  </div>

  <div ng-if="isActive(index)" style="display: flex;justify-content: space-between;">

    <div style="width: 100%;"><label>Name</label>
    <div class="form-group has-success has-feedback" >

      <input type="text" tabindex="0"
          class="form-control select"
          ng-class="{'isActive' : isActive(index), 'required': isRequired()}"
          placeholder="Name"
          aria-label="{{getDescription()}}"
          ng-model="valueArray[index]['@name']"
          ng-change="updateModelFromUI(valueArray[index]['@name'], '{{valueArray[index]['@name']}}',true); $event.stopPropagation();">
      </input>
      <!--<div class="input-indicator-icons" ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>-->
    </div>
    </div>

    <div style="width: 100%;margin-left: 10px;"><label>Value</label>
    <div class="form-group has-success has-feedback">
      <input type="text" tabindex="0"
          class="form-control select"
          ng-class="{'isActive' : isActive(index), 'required': isRequired()}"
          placeholder="Value"
          aria-label="{{getDescription()}}"
          ng-model="valueArray[index]['@value']"
          ng-change="updateModelFromUI(valueArray[index]['@value'], '{{valueArray[index]['@value']}}'); $event.stopPropagation();">
      </input>
      <!--<div class="input-indicator-icons" ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>-->
    </div>
    </div>


  </div>
</div>





