<div ng-if="isActive(index)" class='input-group' date-time-picker>

  <input type="text"
      ng-click="setActive(index, true)"
      class="form-control"
      ng-class="{'isActive' : isActive(index),'required': isRequired()}"
      placeholder="{{isActive(index) ? 'enter date' : ''}}"
      aria-label="Select a date"
      ng-model="valueElement['@value']"
      validate-on="blur"
      ng-pattern="/^\d\d\/\d\d\/\d\d\d\d \d\d:\d\d (A|P)M$/"/>

        <span class="input-group-addon" ng-class="{'hidden' : !isActive(index)}">
          <i class="fa fa-calendar fa-2x"></i>
        </span>

</div>

<!--- not active --->
<div ng-if="!isActive(index)" class="form-group  has-feedback">
  <div
      ng-click="setActive(index,true)"
      aria-label="{{getDescription()}}"
      style="cursor:pointer;font-size: 1.2em;line-height: 28px;">{{valueElement['@value']}}</div>
</div>
</div>


