<div ng-init="initializeValue(field)">
  <!-- actively being edited -->
  <div ng-if="isActive(index)" class="form-group  has-feedback ">
    <input type="email"
        name="emailField"
        class="form-control select isActive"
        ng-class="{'required': isRequired()}"
        placeholder="{{ 'PLACEHOLDER.email' | translate }}"
        aria-label="{{getLabel()}}"
        ng-model="valueElement['@value']"
        ng-model-options="{allowInvalid:true}"
        ng-required="isRequired()">

    <div class="validation" role="alert">
      <div ng-if="forms['fieldEditForm' + index]['emailField']['$error']['required']" >{{ 'VALIDATION.required' | translate }}</div>
      <div ng-if="forms['fieldEditForm' + index]['emailField']['$error']['email']" translate>VALIDATION.invalidEmail</div>
    </div>


    <div class="input-indicator-icons" ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>

  </div>

  <!--- not active --->
  <div ng-if="!isActive(index)" class="form-group  has-feedback value" ng-click="setActive(index)">
    <div aria-label="{{getHelp(field)}}" class="isInactive "> {{getValueString(valueArray)}}</div>
  </div>
</div>