<div ng-init="initializeValue(field); initializeValueType(field)">

  <!--- not active --->
  <div ng-if="!isActive(index)" ng-click="setActive(index,true)" class="form-group  has-feedback value">
    <div ng-if="isListView()"
        aria-label="{{getDescription(field)}}"
        class="isInactive ">{{valueArray[index]['@id']}} &nbsp;</div>

    <div ng-if="!isListView()"
      aria-label="{{getHelp(field)}}"
      class="isInactive "> {{getValueString(valueArray)}} &nbsp;</span>
  </div>

  </div>

  <!-- actively being edited -->
  <!-- TODO fix the link validation with a javascript library -->
  <div ng-if="isActive(index)">
    <div  class="form-group has-success has-feedback">
      <input type="url"
          name="urlField"
          class="form-control select"
          ng-class="{'isActive' : isActive(index), 'required': isRequired()}"
          placeholder="{{ 'PLACEHOLDER.url' | translate }}"
          aria-label="{{getHelp()}}"
          ng-required="isRequired()"
          ng-model-options="{ allowInvalid: true }"
          ng-model="valueElement['@id']">

      <div class="validation" role="alert">
        <div ng-if="forms['fieldEditForm' + index]['urlField']['$error']['required']" >{{ 'VALIDATION.required' | translate }}</div>
        <div ng-if="forms['fieldEditForm' + index]['urlField']['$error']['url']" translate>VALIDATION.invalidURL</div>
      </div>

      <div class="input-indicator-icons" ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>
    </div>
  </div>

</div>





