<div class="form-group has-feedback" ng-click="setActive(index)">

  <select ng-if="isActive(index)" ng-click="setActive(index)"
      class="form-control"
      ng-class="{'isActive' : isActive(index), 'required': isRequired()}"
      ng-click="setActive(index, true)"
      multiple="false"
      data-max-options="1"
      field="field"
      title="Please select"
      close-on-select="true"
      ng-model="valueElement[0]['@value']"
      select-picker="">

    <option ng-click="setActive(index,true)" ng-repeat="(i, v) in getLiterals()"
        value="{{v.label}}">
      {{v.label}}
    </option>

  </select>

  <!--- not active --->
  <div ng-if="!isActive(index)" class="form-group  has-feedback">
    <div
        ng-click="setActive(index,true)"
        aria-label="{{getDescription()}}"
        style="cursor:pointer;font-size: 1.2em;line-height: 28px;">{{getValueSelection(valueElement[index])}}</div>
  </div>
</div>


