<div ng-init="initializeValueType(field)" class="form-group has-feedback" ng-click="setActive(index)">

  <select ng-if="isActive(index) && isMultipleChoice()" ng-init="initMultiple()"
      ng-click="setActive(index)"
      class="form-control select "
      multiple="true"
      field="field"
      ng-change="updateMultiple(valueElement[0])"
      ng-model="data.model"
      select-picker="">

    <option ng-keypress="isSubmit($event, index)" ng-click="setActive(index,true)" ng-repeat="(i, v) in getLiterals()"
        value="{{v.label}}">
      {{v.label}}
    </option>

  </select>

  <select ng-if="isActive(index) && !isMultipleChoice()"
      class="form-control select"
      ng-class="{'isActive' : isActive(index), 'required': isRequired()}"
      ng-click="setActive(index, true)"
      data-max-options="1"
      field="field"
      close-on-select="true"
      ng-model="valueElement[0]['@value']"
      select-picker="">

    <option ng-keypress="isSubmit($event, index)" ng-click="setActive(index,true)" ng-repeat="(i, v) in getLiterals()"
        value="{{v.label}}">
      {{v.label}}
    </option>

  </select>

  <!--- not active --->
  <div ng-if="!isActive(index)">
    <div ng-if="isMultipleChoice()" class="form-group  has-feedback value">
      <div ng-click="setActive(index,true)"
          aria-label="{{getDescription(field)}}">{{getMultiple()}} &nbsp;</div>
    </div>

    <div ng-if="!isMultipleChoice()" class="form-group  has-feedback value">
      <div ng-click="setActive(index,true)"
          aria-label="{{getDescription(field)}}">{{valueElement[0]['@value']}} &nbsp;</div>
    </div>
  </div>
</div>


