<div ng-init="initializeValue(field); initializeValueType(field)">

  <!-- actively editing the field --->
  <div ng-if="isActive(index)" class="form-group  has-feedback ">
    <input type="text"
        name="activeNumericField"
        class="form-control isActive select"
        ng-class="{'required': isRequired()}"
        placeholder="{{getPlaceholderText()}}"
        ng-model-options="{allowInvalid:true}"
        aria-label="{{getHelp()}}"
        min="{{getMinValue()}}"
        max="{{getMaxValue()}}"
        step="{{getStep()}}"
        pattern="{{getDecimalPattern()}}"
        validate-on="blur"
        ng-model="valueElement['@value']">
    </input>

    <div ng-if="isActive(index)" class="input-indicator-icons"
        ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>
  </div>

  <!-- not editing --->
  <div ng-if="!isActive(index)" class="form-group  has-feedback value" ng-click="setActive(index,true)">
    <div aria-label="{{getDescription()}}" class="isInactive ">{{valueArray[index]['@value']}}</div>
  </div>
</div>