<div ng-init="initializeValue(field); initializeValueType(field)">

  <!-- actively editing the field --->
  <div  class="form-group  has-feedback " style="margin:5px 0"  ng-click="setActive(index,true)" id="{{getLocator(index)}}">
    <input type="number"
        tabindex="0"
        name="{{getTitle()}}+index"
        class="form-control isActive select"
        ng-class="{'required': isRequired()}"
        aria-label="{{getDescription()}}"
        placeholder="{{getPlaceholderText()}}"
        pattern="{{getDecimalPattern()}}"
        step="{{getStep()}}"
        min="{{getMinValue()}}"
        max="{{getMaxValue()}}"
        validate-on="blur"
        numeric-validation
        ng-model-options="{allowInvalid:true}"
        ng-model="valueElement['@value']">
    <!--<div class="requirements"   >-->
      <!--{{getPlaceholderText()}}-->
    <!--</div>-->
    </input>
    <div  class="input-indicator-icons"  ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>
  </div>



</div>