<div ng-init="initializeValue(field)">

  <!-- actively editing the field -->
  <div ng-if="isActive(index)" class="form-group  has-feedback">
    <input type="tel"
        name="phoneNumberField"
        ng-click="setActive(index, true)"
        class="form-control isActive select"
        ng-class="{'required': isRequired()}"
        placeholder="123-456-7890"
        ng-model-options="{ allowInvalid: true }"
        aria-label="{{getHelp()}}"
        ng-model="valueElement['@value']"
        ng-required="isRequired()">

    <div style="color:maroon" role="alert">
      <div ng-if="forms['fieldEditForm' + index]['phoneNumberField']['$error']['required']" >{{ 'VALIDATION.required' | translate }}</div>
    </div>

    <div class="input-indicator-icons" ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>
  </div>

  <!-- not editing the field -->
  <div ng-if="!isActive(index)" class="form-group  has-feedback value" ng-click="setActive(index,true)">
    <div aria-label="{{getHelp()}}" class="isInactive "> {{getValueString(valueArray)}}</div>
  </div>
</div>




