<div ng-init="initializeValue(field)">

  <div ng-if="isActive(index)" class="form-group radio-item" ng-repeat="(i, value) in getLiterals() ">
    <div class="radio radio-primary">
      <input
          type="radio"
          class="select"
          id="radio-{{uuid}}-{{index}}-{{i}}"
          name="radio-{{uuid}}-{{index}}-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}"
          ng-model="optionsUI.radioOption"
          ng-click="uncheck(field, value.label)"
          ng-change="updateModelFromUI(field); $event.stopPropagation();"
          ng-value="value.label"/>
      <label for="radio-{{uuid}}-{{index}}-{{i}}">{{getLiterals()[i]['label']}}</label>
    </div>
  </div>

  <div ng-if="!isActive(index)" class="value">
    <div
        ng-click="setActive(index,true)"
        aria-label="{{getDescription(field)}}">{{getValueString(valueArray[index])}}</div>
  </div>

</div>


