<div class="form-group radio-item" ng-repeat="(i, value) in getLiterals() ">

  <div class="radio radio-primary">
    <input
        type="radio"
        ng-click="setActive(index, true)"
        id="radio-{{uuid}}-{{index}}-{{i}}"
        name="radio-{{uuid}}-{{index}}-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}"
        ng-model="valueElement[0]['@value']"
        ng-value="value.label"/>
    <label
        for="radio-{{uuid}}-{{index}}-{{i}}">{{getLiterals()[i]['label']}}</label>
  </div>
  <div class="input-indicator-icons ng-valid ng-scope"
      ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>
</div>



