<div ng-init="initializeValue(); initializeValueType()">

  <div ng-if="!isActive(index)" ng-click="setActive(index,true)" class="form-group  has-feedback value">
    <div aria-label="{{getDescription()}}" class="isInactive " style="width:100%;user-select:none;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">{{valueArray[index]['@value']}}</div>
  </div>

  <div ng-if="isActive(index)">

    <div  class="form-group has-success has-feedback">
      <input type="text" class="form-control select"
          ng-class="{'isActive' : isActive(index), 'required': isRequired()}"
          placeholder="{{isActive(index) ? 'enter value' : ''}}"
          aria-label="{{getDescription()}}"
          ng-required="isRequired()"
          ng-model="valueArray[index]['@value']">
      </input>
      <div class="input-indicator-icons" ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>
    </div>

  </div>

</div>





