<div ng-init="initializeValue(field)">


  <div ng-if="isActive(index)" class="form-group has-success has-feedback">

    <textarea
        rows="5"
        class="form-control isActive select"
        ng-class="{'required': isRequired()}"
        placeholder="{{isActive(index) ? 'enter value' : ''}}"
        aria-label="{{getHelp()}}"
        ng-required="isRequired()"
        ng-model="valueElement['@value']"></textarea>

    <div ng-if="isActive(index)" class="input-indicator-icons"
        ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>
  </div>

  <div ng-if="!isActive(index)" class="form-group  has-feedback value" ng-click="setActive(index,true)">

    <div ng-if="isListView()"
        aria-label="{{getDescription(field)}}"
        class="isInactive ">{{valueArray[index]['@value']}} &nbsp;
    </div>

    <div ng-if="!isListView()"
        aria-label="{{getDescription(field)}}"
        class="isInactive "> {{getValueString(valueArray)}} &nbsp;</span>
    </div>
  </div>

</div>





