<div style="height:100%">
    <i class="cedar-svg {{iconClass == null? 'cedar-svg-metadata' : iconClass}} {{cssClass}}"></i>

    <p class="name {{cssClass}}">{{title}}</p>

    <div class="state-indication" ng-if="template.favorite">
        <i class="cedar-svg-flag"></i>
    </div>
    <div class="back-panel {{cssClass}}" ng-click="editObject($event)">
        <p class="description" ng-bind-html="getDescription()"></p>

        <div class="edit-options">
            <a ng-click="editObject($event)" title="{{title}} ({{objectId}})" ng-hide="allowEdit == 'false'">
            <span class="edit">
                <i class="cedar-svg-pencil"></i>
            </span>
            </a>
            <a ng-click="removeObject($event);" ng-show="allowRemove == 'true'">
            <span class="remove">
                <i class="cedar-svg-remove"></i>
            </span>
            </a>
        </div>
    </div>
    <!-- ./back-panel -->
</div>
