<div ng-if="model !== undefined">
    <div>
        <div class="element-header">
            <a ng-click="switchExpandedState()" class="visibilitySwitch"><i class="cedar-svg-collapse"></i></a>
            <a ng-click="switchExpandedState()" class="visibilitySwitch" style="display:none;"><i
                    class="cedar-svg-expand"></i></a>

            <p class="element-name-label"><i class="cedar-svg-element"></i>{{key | keyToTitle}}</p>
            <span class="multiple-instance-cardinality" ng-show="!$root.isRuntime() && $root.elementIsMultiInstance(element)">{{element.minItems}} .. {{element.maxItems || "Unlimited"}}
            </span>

            <div ng-if="preview && !nestedElement" class="preview-edit-options" id="previewEditOptionOfElement"
                 ng-include="'views/partials/preview-edit-options.html'"></div>
            <span ng-show="$root.isArray(model) && $root.applicationMode == 'runtime'"
                  class="spreadsheetSwitch element">
                <a ng-click="switchToSpreadsheet()" class="spreadsheetSwitchLink">
                    <i class="cedar-svg-spreadsheet"></i>
                </a>
            </span>
        </div>
    </div>

    <div class="elementTotalContent visible">

        <div ng-show="$root.isArray(model)">
            <div class="spreadsheetViewDetector"></div>
            <div class="spreadsheetViewContainer"></div>
        </div>

        <script type="text/ng-template" id="nestedElement">
            <div ng-if="field.properties._ui.input_type" ng-class="{'field-instance':true, 'multiple-instance-field':$root.isArray(model)}">
                <field-directive field="field" model="model" directory="render"
                                 preview="preview"></field-directive>
            </div>
            <div ng-if="!field.properties._ui.input_type && model !== undefined" class="nested-element">
                <element-directive key="key" model="model" element="field" preview="preview"
                                   nested-element="nestedElement"></element-directive>
            </div>
        </script>

        <div class="elements originalContent">
            <div class="element-toggles list" ng-if="$root.isRuntime() && $root.elementIsMultiInstance(element)">
                <div class="element-toggle" ng-class="{active: selectedTab == $index}" ng-repeat="m in model"
                     ng-click="selectTab($index)">
                    <span>{{$index + 1}}</span>
                </div>
                <div class="add-element">
                    <button type="button" ng-click="addElement()" class="add"
                            ng-show="($root.isRuntime() && (element.minItems && (!element.maxItems || !$root.isArray(model) && element.maxItems > 1 || $root.isArray(model) && model.length < element.maxItems)))"
                            ng-disabled="preview">
                        <i class="fa fa-plus"></i>

                        <div class="cardinality-_ui-container">
                            <div class="cardinality-_ui">
                                <div class="cardinality-_ui-text">Min Entries: {{element.minItems}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Max
                                    Entries: {{element.maxItems || "Unlimited"}}
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
                <div class="clearfix"></div>
            </div> <!-- /.date-type-toggle -->

            <div ng-if="$root.isArray(model)" class="element" ng-repeat="m in model" ng-class="['element-{{$index}}']"
                 ng-show="selectedTab == $index">
                <div class="remove-element pull-right">
                    <a class="" ng-show="model.length > element.minItems" ng-click="removeElement($index)">Remove</a>
                </div>

                <div ng-repeat="key in element['order']">
                    <span ng-if="element[key]"
                          ng-init="key = key; field = element[key]; model = m[key]; preview = preview; nestedElement = true;"
                          ng-include="'nestedElement'"></span>
                </div>
            </div>

            <div ng-if="!$root.isArray(model)" class="element only-element">
                <div ng-repeat="key in element['order']">
                    <span ng-if="element[key]"
                          ng-init="key = key; field = element[key]; model = model[key]; preview = preview; nestedElement = true;"
                          ng-include="'nestedElement'"></span>
                </div>
            </div>
        </div>
    </div>
</div>