<div class="field-root">
  <div class="sortable-handler" ng-if="!preview && !$root.isRuntime()">Drag me to sort</div>
  <div ng-show="$root.isArray(model) && $root.applicationMode == 'runtime'" class="spreadsheetSwitch field">
    <p class="element-name-label">
      <i class="cedar-svg-list"></i>
      {{$root.propertiesOf(field)._ui.title}}
      <a ng-click="switchToSpreadsheet()" class="spreadsheetSwitchLink">
        <i class="cedar-svg-spreadsheet"></i>
      </a>
    </p>
  </div>

  <div class="elementTotalContent visible">
    <div ng-show="$root.isArray(model)">
      <div class="spreadsheetViewDetector"></div>
      <div class="spreadsheetViewContainer"></div>
    </div>
    <div class="originalContent" ng-include="getTemplateUrl()" ng-init="preview=preview"></div>
  </div>
  <div class="errors" ng-if="errorMessages">
    <div class="alert alert-danger" ng-repeat="message in errorMessages">{{message}}</div>
  </div>
</div>
