<div>
    <div ng-show="$root.isArray(model) && $root.applicationMode == 'runtime'" class="spreadsheetSwitch field">
        <p class="element-name-label">
            <i class="cedar-svg-list"></i>
            {{field.properties.info.title}}
            <a ng-click="switchToSpreadsheet()" class="spreadsheetSwitchLink">
                <i class="cedar-svg-spreadsheet"></i>
            </a>
        </p>
    </div>

    <div class="elementTotalContent visible">

        <div ng-show="$root.isArray(model)">
            <div class="spreadsheetViewContainer"></div>
        </div>
        <div class="originalContent" ng-include="getTemplateUrl()"></div>
    </div>
</div>