<form name="{{form.title}}" id="{{form.guid}}">
  <!--Loop through top level "properties" parameter in form element and call element-directive with contents -->
  <div ng-repeat="(index, object) in formFields">
    <field-directive field="object.field" model="object.model" directory="render"></field-directive>
  </div>

  <div class="edit-actions" ng-show="$root.isEmpty(form)">
    <button type="button" class="btn btn-save disabled">Save</button>
    <button type="button" class="btn btn-clear disabled">Cear Form</button>
    <button type="button" class="btn btn-submit disabled">Submit</button>
  </div><!-- /.edit-actions -->
</form>


<div class="text-center" style="padding-top:20px; padding-bottom:20px;">
  <a class="btn btn-small btn-primary" ng-show="!showRender" ng-click="showRender = true; showOtput = false">Show Form Render JSON</a>
  <a class="btn btn-small btn-primary" ng-show="showRender" ng-click="showRender = false">Hide Form Render JSON</a>
  <a class="btn btn-small btn-primary" ng-show="!showOutput" ng-click="showOutput = true; showRender = false">Show Data Output JSON</a>
  <a class="btn btn-small btn-primary" ng-show="showOutput" ng-click="showOutput = false">Hide Data Output JSON</a>
</div>

<div ng-show="showRender">
  <pre>{{ form | json }}</pre>
</div>

<div ng-show="showOutput">
  <pre>{{ model | json }}</pre>
</div>
