<form name="{{form.properties.info.title}}" id="{{form['@id']}}" class="runtime" ng-class="{'validate': checkSubmission}" novalidate angular-validator>
  <!--Loop through top level "page" parameter in form element and call element-directive or field-directive with contents -->
  <div ng-repeat="item in page" class="animate-fade">
    <span ng-if="formFields[item]">
      <span ng-if="formFields[item].properties.info.input_type">
        <field-directive field="formFields[item]" model="model[item]" directory="render" preview="false"></field-directive>
      </span>
      <div class="element-group full" ng-if="!formFields[item].properties.info.input_type">
        <element-directive element="formFields[item]" key="item" preview="false" model="model[item]"></element-directive>
      </div>
    </span>
  </div>
  <p ng-if="form.requiredFields" class="required-text">Required</p>
</form>

<div class="text-right" style="padding-top:20px; padding-bottom:20px;">
  <!--<a class="btn btn-small btn-primary" ng-show="!showRender" ng-click="showRender = true; showOtput = false">Show Form Render JSON</a>-->
  <!--<a class="btn btn-small btn-primary" ng-show="showRender" ng-click="showRender = false">Hide Form Render JSON</a>-->
  <!--<a class="btn btn-small btn-primary" ng-show="!showOutput" ng-click="showOutput = true; showRender = false">Show Data Output JSON</a>-->
  <!--<a class="btn btn-small btn-primary" ng-show="showOutput" ng-click="showOutput = false">Hide Data Output JSON</a>-->
  <a ng-click="showRender = !showRender">Show Template JSON</a><br />
  <a ng-click="showOutput = !showOutput">Show Output JSON</a>
</div>
<div ng-show="showRender">
  <h5>Template JSON</h5>
  <pre>{{ form | json }}</pre>
</div>
<div ng-show="showOutput">
  <h5>Output JSON</h5>
  <pre>{{ model | json }}</pre>
</div>
