<form name="{{form.properties.info.title}}" id="{{form['@id']}}" class="runtime" ng-class="{'validate': checkSubmission}" novalidate angular-validator>
  <!--Loop through top level "page" parameter in form element and call element-directive or field-directive with contents -->
  <div ng-repeat="item in page" class="animate-fade">
    <span ng-if="formFields[item]">
      <div ng-if="formFields[item].properties.info.input_type" ng-class="{'field-instance':true, 'multiple-instance-field':$root.isArray(model[item])}">
        <field-directive field="formFields[item]" model="model[item]" directory="render" preview="false"></field-directive>
      </div>
      <div class="element-group full" ng-if="!formFields[item].properties.info.input_type">
        <element-directive element="formFields[item]" key="item" preview="false" model="model[item]"></element-directive>
      </div>
    </span>
  </div>
  <p ng-if="form.requiredFields" class="required-text">Required</p>
</form>

<div ng-show="$root.showRender" id="templateJSON" ng-cloak>
  <h5>Template JSON</h5>
  <pre>{{ form | json }}</pre>
</div>
<div ng-show="$root.showOutput" id="outputJSON" ng-cloak>
  <h5>Output JSON</h5>
  <pre>{{ model | json }}</pre>
</div>
