<!--<div ng-if="$root.showRender" id="templateJSON"  style="margin-top:40px">-->

<!--&lt;!&ndash;<h5 class="center">Document Preview</h5>&ndash;&gt;-->
<!--<uib-tabset active="active">-->

<!--<uib-tab index="0" >-->
<!--<uib-tab-heading><i class="cedar-svg-json-schema" ></i> JSON Schema</uib-tab-heading>-->
<!--<pre id='form-json-preview' style="background:white;border:0px;border-radius: 0px;">{{ stripTmpFields() | json }}</pre>-->
<!--</uib-tab>-->

<!--&lt;!&ndash;<uib-tab index="1" ng-click="toRDF()">&ndash;&gt;-->
<!--&lt;!&ndash;<uib-tab-heading >&ndash;&gt;-->
<!--&lt;!&ndash;<div ><i class="cedar-svg-rdf" ></i> RDF</div>&ndash;&gt;-->
<!--&lt;!&ndash;</uib-tab-heading >&ndash;&gt;-->
<!--&lt;!&ndash;<pre id='form-json-preview' >{{$root.jsonToRDF}}</pre>&ndash;&gt;-->
<!--&lt;!&ndash;</uib-tab>&ndash;&gt;-->

<!--</uib-tabset>-->
<!--</div>-->


<div id="document-preview">
  <uib-accordion id="templateJSON" close-others="true" style="margin-top:40px">

    <div id="accordion-heading-json-schema" uib-accordion-group is-open="openStatus" class="panel-default">
      <uib-accordion-heading>
        <i class="cedar-svg-json-schema"></i> JSON Schema <i class="pull-right glyphicon"
          ng-class="{'glyphicon-chevron-down': openStatusRDF, 'glyphicon-chevron-right': !openStatusRDF}"></i>
        <i class="fa fa-clipboard copy-to-clipboard" ng-click="$event.preventDefault(); $event.stopPropagation(); copyJson2Clipboard()" uib-tooltip="{{'GENERIC.CopyToClipboard' | translate}}"/>
      </uib-accordion-heading>
      <div >
      <pre id='form-json-preview' ng-show="openStatus" ng-class="{'preview-open': openStatus, 'preview-closed': !openStatus}"
          style="background:white;border:0px;border-radius: 0px;">{{ stripTmpFields() | json }}</pre>
        <!--<pre id='form-json-preview'-->
            <!--style="background:white;border:0px;border-radius: 0px;">{{ $root.jsonToSave | json }}</pre>-->
      </div>
    </div>


  </uib-accordion>
</div>


