<div class="fields text-fields" ng-class="{preview: preview}">

  <!-- Header row -->
  <div ng-init="fieldTitle='Attribute Value';fieldIconClass='cedar-svg-attribute-value'" ng-include="'scripts/form/partials/field-header.partial.html'"></div>

  <!-- attribute-value (Minimum cardinality = 0) -->
  <div ng-if="!hasModel()" class="form-group floating-label-wrapper has-feedback">
    <input type="text"
        class="form-control "
        ng-class="{'required': isRequired()}"
        placeholder="{{getTitle()}}"
        aria-label="{{getDescription()}}"
        ng-disabled="true"
        with-floating-label=""/>
    <span class="input-indicator-icons" ng-include="'scripts/form/partials/indicator-icons.partial.html'"></span>
  </div>

  <!-- attribute-value (Minimum cardinality > 0) -->
  <div  ng-if="hasModel()"  class="form-group floating-label-wrapper has-feedback" ng-repeat="(index, valueElement) in model">
      <input type="text"
          class="form-control "
          placeholder="{{getTitle()}}"
          aria-label="{{getDescription()}}"
          ng-disabled="true"
          with-floating-label=""/>
      <span class="input-indicator-icons" ng-include="'scripts/form/partials/indicator-icons.partial.html'"></span>
  </div>

</div>
