<div class="fields fields-checkbox">

  <!-- header row -->
  <div ng-init="fieldTitle='Checkbox';fieldIconClass='cedar-svg-checkbox'"
      ng-include="'scripts/form/partials/field-header.partial.html'"></div>

  <div class="form-group floating-label-wrapper ng-scope"
      ng-class="{'required': isRequired()}">
    <div class="form-group field-wrapper-checkbox  ">
      <p class="extra-label-context">{{$root.schemaOf(field)._ui.title}}</p>
      <div ng-init="initializeSelectionField()">
        <div class="checkbox-item" ng-repeat="(index, value) in $root.schemaOf(field)._valueConstraints.literals">
          <div class="checkbox checkbox-primary">
            <input type="checkbox"
                ng-click="updateModelFromUI(); $event.stopPropagation();"
                id="checkbox-{{uuid}}-{{$parent.$index}}-{{index}}"
                ng-model="optionsUI[value.label]"
                ng-disabled="!isRuntime() || preview"/>
            <label ng-click=" $event.stopPropagation();" for="checkbox-{{uuid}}-{{$parent.$index}}-{{index}}">{{$root.schemaOf(field)._valueConstraints.literals[index]['label']}}</label>
          </div>
          <!-- ./checkbox -->
        </div>
      </div>
      <div class="input-indicator-icons ng-valid ng-scope"
          ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>
    </div>
    <!-- /.form-group -->
  </div>

</div>
