<div class="fields fields-date">

  <div ng-init="fieldTitle='Date';fieldIconClass='cedar-svg-calendar'"
      ng-include="'scripts/form/partials/field-header.partial.html'"></div>

  <div ng-if="!hasModel()" class="field field-date">
    <div class="form-group form-group-narrow date-group floating-label-wrapper">
      <div class='input-group' date-time-picker>
        <input type="text"
            class="form-control"
            placeholder="{{getTitle()}}"
            aria-label="Select a date"
            ng-disabled="true"
            with-floating-label=""/>
        <span class="input-group-addon">
          <i class="fa fa-calendar fa-2x"></i>
        </span>
      </div>
    </div>
  </div>

  <div ng-if="hasModel()" class="field field-date" ng-repeat="valueElement in model">
    <div class="form-group form-group-narrow date-group floating-label-wrapper">
      <div class='input-group' date-time-picker>
        <input type="text"
            class="form-control"
            placeholder="{{getTitle()}}"
            aria-label="Select a date"
            ng-disabled="true"
            with-floating-label=""/>
        <span class="input-group-addon">
          <i class="fa fa-calendar fa-2x"></i>
        </span>
      </div>
    </div>
  </div>

</div>
