<div class="fields fields-email">

  <!-- header row -->
  <div ng-init="fieldTitle='Email';fieldIconClass='cedar-svg-at'"
      ng-include="'scripts/form/partials/field-header.partial.html'"></div>

  <div  ng-if="!hasModel()" class="form-group floating-label-wrapper has-feedback" >
    <input type="text"
        class="form-control"
        placeholder="{{getTitle()}}"
        aria-label="{{getDescription()}}"
        ng-disabled="true"
        with-floating-label=""/>
    <span class="floating-label">{{getTitle()}}</span>
  </div>

  <div ng-if="hasModel()" class="form-group floating-label-wrapper" ng-repeat="valueElement in model">
    <input type="text"
    	   class="form-control"
    	   placeholder="{{getTitle()}}"
    	   aria-label="{{getDescription()}}"
    	   with-floating-label="" />
    <div class="input-indicator-icons ng-valid ng-scope" ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>
  </div>

</div>
