<div class="fields fields-email">

  <!-- header row -->
  <div ng-init="fieldTitle='Email';fieldIconClass='cedar-svg-at'"
      ng-include="'scripts/form/partials/field-header.partial.html'"></div>

  <div  ng-if="$root.isArray(model) && model.length==0 " class="form-group floating-label-wrapper has-feedback" ng-class="{'required': $root.schemaOf(field)._valueConstraints.requiredValue}">
    <input type="text"
        class="form-control has-success has-feedback"
        ng-class="{'required': isRequired()}"
        placeholder="{{getTitle()}}"
        aria-label="{{getDescription()}}"
        ng-disabled="true"
        with-floating-label=""/>
    <span class="floating-label">{{getTitle()}}</span>
  </div>

  <div ng-if="$root.isArray(model)" class="form-group floating-label-wrapper" ng-repeat="valueElement in model">

    <input type="email"
        id="{{getId($index)}}"
    	   class="form-control"
    	   ng-class="{'required': isRequired()}"
    	   placeholder="{{getTitle()}}"
    	   aria-label="{{getDescription()}}"
    	   ng-model="valueElement['@value']"
           ng-disabled="!isRuntime() || preview"
    	   validate-on="blur"
    	   ng-pattern= "/^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/"
    	   with-floating-label="" />
    <span class="warning-text">{{$root.schemaOf(field)._ui.warningText}}</span>

    <div class="input-indicator-icons ng-valid ng-scope"
        ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>
    <div class="more-input-wrapper" ng-include="'scripts/form/partials/more-input-buttons.partial.html'" ng-show="!field.maxItems || field.maxItems > 1 || (field.maxItems ==1 && field.minItems ==0)"></div>
  </div><!-- /.form-group -->



  <div ng-if="$root.isArray(model) && model.length == 0 && !isRuntime()" class="form-group floating-label-wrapper">
    <input type="email"
        id="{{getId(0)}}"
        class="form-control"
        ng-class="{'required': isRequired()}"
        placeholder="{{getTitle()}}"
        aria-label="{{getDescription()}}"
        ng-disabled="true"
        validate-on="blur"
        ng-pattern= "/^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/"
        with-floating-label="">
    </input>
    <span class="warning-text">{{$root.schemaOf(field)._ui.warningText}}</span>

    <div class="input-indicator-icons ng-valid ng-scope"
        ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>

  </div><!-- /.form-group -->

  <div ng-if="!$root.isArray(model)" class="form-group floating-label-wrapper">
    <input type="email"
        id="{{getId(0)}}"
           class="form-control"
           ng-class="{'required': isRequired()}"
           placeholder="{{getTitle()}}"
           aria-label="{{getDescription()}}"
           ng-model="model['@value']"
           ng-disabled="!isRuntime() || preview"
           validate-on="blur"
           ng-pattern= "/^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/"
           with-floating-label="">
    </input>
    <span class="warning-text">{{$root.schemaOf(field)._ui.warningText}}</span>

    <div class="input-indicator-icons ng-valid ng-scope"
        ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>
  </div><!-- /.form-group -->

</div>
