<div class="fields fields-email">

  <div class="row configuration-options" ng-if="!$root.isRuntime() && !isNested() && !ngDisabled && !preview">
    <div class=" col-lg-9 pull-left type-label">
      <div class="sortable-handler " ng-if="!preview && !$root.isRuntime()">
        <p class="type-label"><span class="sortable-icon"></span><i class="cedar-svg-image"></i>&nbsp;Image</p>
      </div>
    </div>
    <div class="col-lg-3 pull-right configuration-actions" style="padding-top:0" id="{{field.items._ui.title}}"
        ng-if="!$root.isRuntime()" ng-include="'scripts/form/partials/preview-edit-options.partial.html'"
        ng-init="childType='field'"/>
  </div>

  <div ng-if="!$root.isRuntime()" style="padding-top: 10px;">
    <figure>
      <img ng-src="{{$root.propertiesOf(field)._content}}" no-image alt="{{$root.schemaOf(field)._ui.title}}"
          type="image/png" width="100%"/>
      <figcaption><label>{{$root.schemaOf(field)._ui.title}}</label></figcaption>
    </figure>
  </div>

  <div ng-if="$root.isRuntime()">
    <figure>
      <img ng-src="{{$root.propertiesOf(field)._content}}" no-image alt="{{$root.schemaOf(field)._ui.title}}"
          type="image/png" width="100%"/>
      <figcaption><label>{{$root.schemaOf(field)._ui.title}}</label></figcaption>
    </figure>
  </div>

  <div class="clearfix all"></div>
</div>


