<div class="fields fields-list">

  <!-- header row -->
  <div ng-init="fieldTitle='Pick from a list';fieldIconClass='cedar-svg-list'"
      ng-include="'scripts/form/partials/field-header.partial.html'"></div>

  <div ng-init="initializeSelectionField()" class="field-list" ng-class="{'required': $root.schemaOf(field)._valueConstraints.requiredValue}">

    <!--Single selection-->
    <div ng-if="$root.schemaOf(field)._valueConstraints.multipleChoice == false"
        class="form-group form-group-narrow validation-pattern"
        ng-class="{'required': $root.schemaOf(field)._valueConstraints.requiredValue}">

      <p class="extra-label-context" style="padding-left:5px">{{$root.schemaOf(field)._ui.title}}</p>

      <select class="form-control"
          multiple=""
          data-max-options="1"
          field="field"
          title="Please select"
          ng-model="optionsUI.options"
          ng-disabled="!$root.isRuntime() || preview"
          ng-change="updateModelFromUI(optionsUI)"
          select-picker="">
        <option ng-repeat="(index, value) in $root.schemaOf(field)._valueConstraints.literals"
            value="{{$root.schemaOf(field)._valueConstraints.literals[index]['label']}}">
          {{$root.schemaOf(field)._valueConstraints.literals[index]['label']}}
        </option>
      </select>
    </div>

    <!--Multiple selection-->
    <div ng-if="$root.schemaOf(field)._valueConstraints.multipleChoice == true"
        class="form-group form-group-narrow validation-pattern"
        ng-class="{'required': $root.schemaOf(field)._valueConstraints.requiredValue}">

      <p class="extra-label-context" style="padding-left:5px">{{$root.schemaOf(field)._ui.title}}</p>

      <select class="form-control"
          multiple=""
          field="field"
          title="Please select"
          ng-model="optionsUI.options"
          ng-disabled="!$root.isRuntime() || preview"
          ng-change="updateModelFromUI(optionsUI)"
          select-picker="">
        <option ng-repeat="(index, value) in $root.schemaOf(field)._valueConstraints.literals"
            value="{{$root.schemaOf(field)._valueConstraints.literals[index]['label']}}">
          {{$root.schemaOf(field)._valueConstraints.literals[index]['label']}}
        </option>
      </select>
    </div>
  </div>

</div>
