<div class="fields fields-list">

  <!-- header row -->
  <div ng-init="fieldTitle='Pick from a list';fieldIconClass='cedar-svg-list'"
      ng-include="'scripts/form/partials/field-header.partial.html'"></div>

  <div ng-if="$root.isArray(model)" class="field-list" ng-class="{'required': $root.schemaOf(field)._valueConstraints.requiredValue}" ng-repeat="valueElement in model">

	<div ng-if="$root.schemaOf(field)._ui.selectionType == 'single'"
		 class="form-group validation-pattern"
		 ng-class="{'required': $root.schemaOf(field)._valueConstraints.requiredValue}">
	  <select class="form-control"
			  multiple=""
			  data-max-options="1"
			  field="field"
			  title="{{$root.schemaOf(field)._ui.title}}"
			  ng-model="valueElement._value"
              ng-disabled="!$root.isRuntime() || preview"
			  defaults="$root.schemaOf(field)._ui.defaultOption"
			  select-picker="">
		<option ng-repeat="(index, value) in $root.schemaOf(field)._ui.options" value="{{$root.schemaOf(field)._ui.options[index]['text']}}">{{$root.schemaOf(field)._ui.options[index]['text']}}</option>
	  </select>
	</div><!-- /.form-group -->

	<div ng-if="$root.schemaOf(field)._ui.selectionType == 'multiple'"
		 class="form-group validation-pattern"
		 ng-class="{'required': $root.schemaOf(field)._valueConstraints.requiredValue}">
	  <select class="form-control"
			  multiple=""
			  field="field"
			  title="{{$root.schemaOf(field)._ui.title}}"
			  ng-model="valueElement._value"
              ng-disabled="!$root.isRuntime() || preview"
			  defaults="$root.schemaOf(field)._ui.defaultOption"
			  select-picker="">
		<option ng-repeat="(index, value) in $root.schemaOf(field)._ui.options" value="{{$root.schemaOf(field)._ui.options[index]['text']}}">{{$root.schemaOf(field)._ui.options[index]['text']}}</option>
	  </select>
	</div><!-- /.form-group -->
	<div class="more-input-wrapper" ng-include="'scripts/form/partials/more-input-buttons.partial.html'" ng-show="!field.maxItems || field.maxItems > 1"></div>
  </div>



  <div ng-if="$root.isArray(model) && model.length == 0 && !$root.isRuntime()" class="field-list" ng-class="{'required': $root.schemaOf(field)._valueConstraints.requiredValue}">

    <div ng-if="$root.schemaOf(field)._ui.selectionType == 'single'"
        class="form-group validation-pattern"
        ng-class="{'required': $root.schemaOf(field)._valueConstraints.requiredValue}">
      <select class="form-control"
          multiple=""
          data-max-options="1"
          field="field"
          title="{{$root.schemaOf(field)._ui.title}}"
          ng-model="model._value"
          ng-disabled="true"
          defaults="$root.schemaOf(field)._ui.defaultOption"
          select-picker="">
        <option ng-repeat="(index, value) in $root.schemaOf(field)._ui.options" value="{{$root.schemaOf(field)._ui.options[index]['text']}}">{{$root.schemaOf(field)._ui.options[index]['text']}}</option>
      </select>
    </div><!-- /.form-group -->

    <div ng-if="$root.schemaOf(field)._ui.selectionType == 'multiple'"
        class="form-group validation-pattern"
        ng-class="{'required': $root.schemaOf(field)._valueConstraints.requiredValue}">
      <select class="form-control"
          multiple=""
          field="field"
          title="{{$root.schemaOf(field)._ui.title}}"
          ng-model="model._value"
          ng-disabled="true"
          defaults="$root.schemaOf(field)._ui.defaultOption"
          select-picker="">
        <option ng-repeat="(index, value) in $root.schemaOf(field)._ui.options" value="{{$root.schemaOf(field)._ui.options[index]['text']}}">{{$root.schemaOf(field)._ui.options[index]['text']}}</option>
      </select>
    </div><!-- /.form-group -->
  </div>

  <div ng-if="!$root.isArray(model)" class="field-list" ng-class="{'required': $root.schemaOf(field)._valueConstraints.requiredValue}">

	<div ng-if="$root.schemaOf(field)._ui.selectionType == 'single'"
		 class="form-group validation-pattern"
		 ng-class="{'required': $root.schemaOf(field)._valueConstraints.requiredValue}">
	  <select class="form-control"
			  multiple=""
			  data-max-options="1"
			  field="field"
			  title="{{$root.schemaOf(field)._ui.title}}"
			  ng-model="model._value"
              ng-disabled="!$root.isRuntime() || preview"
			  defaults="$root.schemaOf(field)._ui.defaultOption"
			  select-picker="">
		<option ng-repeat="(index, value) in $root.schemaOf(field)._ui.options" value="{{$root.schemaOf(field)._ui.options[index]['text']}}">{{$root.schemaOf(field)._ui.options[index]['text']}}</option>
	  </select>
	</div><!-- /.form-group -->

	<div ng-if="$root.schemaOf(field)._ui.selectionType == 'multiple'"
		 class="form-group validation-pattern"
		 ng-class="{'required': $root.schemaOf(field)._valueConstraints.requiredValue}">
	  <select class="form-control"
			  multiple=""
			  field="field"
			  title="{{$root.schemaOf(field)._ui.title}}"
			  ng-model="model._value"
              ng-disabled="!$root.isRuntime() || preview"
			  defaults="$root.schemaOf(field)._ui.defaultOption"
			  select-picker="">
		<option ng-repeat="(index, value) in $root.schemaOf(field)._ui.options" value="{{$root.schemaOf(field)._ui.options[index]['text']}}">{{$root.schemaOf(field)._ui.options[index]['text']}}</option>
	  </select>
	</div><!-- /.form-group -->
  </div>

</div>
