<div class="fields fields-numeric">

  <!-- header row -->
  <div ng-init="fieldTitle='Numeric';fieldIconClass='cedar-svg-numeric';setDefaultValueIfEmpty(model)" ng-include="'scripts/form/partials/field-header.partial.html'"></div>

  <!--<div  ng-if="$root.isArray(model) && model.length==0 " class="form-group floating-label-wrapper has-feedback" ng-class="{'required': isRequired()}">-->
    <!--<input type="text"-->
        <!--class="form-control"-->
        <!--ng-class="{'required': isRequired()}"-->
        <!--placeholder="{{getTitle()}}"-->
        <!--aria-label="{{getDescription()}}"-->
        <!--ng-disabled="true"-->
        <!--with-floating-label=""/>-->
  <!--</div>-->


  <div ng-if="$root.isArray(model) && model.length == 0" class="form-group floating-label-wrapper has-feedback" ng-class="{'required': isRequired()}">

    <input type="text"
        id="{{getId(0)}}"
        class="form-control"
        ng-class="{'required': isRequired()}"
        placeholder="{{getTitle()}}"
        aria-label="{{getDescription()}}"
        ng-model="model['@value']"
        ng-disabled="true"
        with-floating-label="">
    </input>
    <div class="input-indicator-icons" ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>
  </div>


  <div ng-if="$root.isArray(model)" class="form-group floating-label-wrapper has-feedback" ng-repeat="valueElement in model" ng-class="{'required': isRequired()}">

    <input type="text"
        id="{{getId($index)}}"
        ng-change="setDefaultValueIfEmpty(model)"
        class="form-control"
        ng-class="{'required': isRequired()}"
        placeholder="{{getTitle()}}"
        aria-label="{{getDescription()}}"
        ng-model="valueElement['@value']"
        ng-disabled="true"
        with-floating-label=""/>
    <div class="input-indicator-icons" ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>
  </div>





  <div ng-if="!$root.isArray(model)" class="form-group floating-label-wrapper has-feedback" ng-class="{'required': isRequired()}">
    <input type="text"
        id="{{getId(0)}}"
        ng-change="setDefaultValueIfEmpty(model)"
        class="form-control"
        ng-class="{'required': isRequired()}"
        placeholder="{{getTitle()}}"
        aria-label="{{getDescription()}}"
        ng-model="model['@value']"
        ng-disabled="true"
        with-floating-label="">
    </input>
    <div class="input-indicator-icons"  ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>
  </div>

</div>
