<div class="fields fields-numeric">
  <div ng-if="$root.isArray(model)" class="form-group floating-label-wrapper" ng-repeat="valueElement in model">
    <!--<p class="extra-label-context" ng-if="!$root.isRuntime() && $root.schemaOf(field)._ui.title">-->
      <!--{{$root.schemaOf(field)._ui.title}}</p>-->
    <input type="number"
        class="form-control"
        ng-class="{'required': $root.schemaOf(field)._valueConstraints.requiredValue}"
        id="numeric1"
        placeholder="{{$root.schemaOf(field)._ui.title}}"
        aria-label="{{$root.schemaOf(field)._ui.description}}"
        ng-model="valueElement._value"
        ng-disabled="!$root.isRuntime() || preview"
        ng-minlength="{{$root.schemaOf(field)._ui.minLength}}"
        ng-maxlength="{{$root.schemaOf(field)._ui.maxLength}}"
        validate-on="blur"
        ng-pattern="/^\d+$/"
        with-floating-label=""/>
    <span class="warning-text">{{$root.schemaOf(field)._ui.warningText}}</span>

    <div class="input-indicator-icons ng-valid ng-scope"
        ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>
    <div class="more-input-wrapper" ng-include="'scripts/form/partials/more-input-buttons.partial.html'"
        ng-show="!field.maxItems || field.maxItems > 1"></div>
  </div>
  <!-- /.form-group -->


  <div ng-if="$root.isArray(model) && model.length == 0 && !$root.isRuntime()"
      class="form-group floating-label-wrapper">

    <p class="extra-label-context" ng-if="preview && $root.schemaOf(field)._ui.title">
      {{$root.schemaOf(field)._ui.title}}</p>
    <input type="number"
        class="form-control"
        ng-class="{'required': $root.schemaOf(field)._valueConstraints.requiredValue}"
        id="numeric1"
        placeholder="{{$root.schemaOf(field)._ui.title}}"
        aria-label="{{$root.schemaOf(field)._ui.description}}"
        ng-model="model._value"
        ng-disabled="true"
        ng-minlength="{{$root.schemaOf(field)._ui.minLength}}"
        ng-maxlength="{{$root.schemaOf(field)._ui.maxLength}}"
        validate-on="blur"
        ng-pattern="/^\d+$/"
        with-floating-label="">
    </input>
    <span class="warning-text">{{$root.schemaOf(field)._ui.warningText}}</span>

    <div class="input-indicator-icons ng-valid ng-scope"
        ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>

  </div>
  <!-- /.form-group -->

  <div ng-if="!$root.isArray(model)" class="form-group floating-label-wrapper">
    <input type="number"
        class="form-control"
        ng-class="{'required': $root.schemaOf(field)._valueConstraints.requiredValue}"
        id="numeric1"
        placeholder="{{$root.schemaOf(field)._ui.title}}"
        aria-label="{{$root.schemaOf(field)._ui.description}}"
        ng-model="model._value"
        ng-disabled="!$root.isRuntime() || preview"
        ng-minlength="{{$root.schemaOf(field)._ui.minLength}}"
        ng-maxlength="{{$root.schemaOf(field)._ui.maxLength}}"
        validate-on="blur"
        ng-pattern="/^\d+$/"
        with-floating-label="">
    </input>
    <span class="warning-text">{{$root.schemaOf(field)._ui.warningText}}</span>

    <div class="input-indicator-icons ng-valid ng-scope"
        ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>
  </div>
  <!-- /.form-group -->

</div>
