<div class="fields fields-phone-number">
  <div ng-if="$root.isArray(model)" class="form-group floating-label-wrapper" ng-repeat="valueElement in model">
	<p class="extra-label-context" ng-if="!$root.isRuntime() && $root.propertiesOf(field)._ui.title">{{$root.propertiesOf(field)._ui.title}}</p>
    <input type="text"
    	   class="form-control"
    	   ng-class="{'required': $root.propertiesOf(field)._valueConstraints.requiredValue}"
    	   id="telephone1"
    	   placeholder="{{$root.propertiesOf(field)._ui.title}}"
    	   aria-label="{{$root.propertiesOf(field)._ui.description}}"
    	   ng-model="valueElement._value"
           ng-disabled="!$root.isRuntime() || preview"
    	   validate-on="blur"
    	   ng-pattern= "/(\W|^)[(]{0,1}\d{3}[)]{0,1}[\s-]{0,1}\d{3}[\s-]{0,1}\d{4}(\W|$)/"
    	   with-floating-label="" />
    <span class="warning-text">{{$root.propertiesOf(field)._ui.warningText}}</span>
    <div class="input-indicator-icons">
      <i class="cedar-svg-help-circle" data-container="body" data-toggle="popover" data-placement="left" data-content="{{$root.propertiesOf(field)._ui.description}}"></i>
      <i class="cedar-svg-check-circle"></i>
      <i class="cedar-svg-warning"></i>
    </div><!-- /.input-indicator-icons -->
    <div class="more-input-wrapper" ng-include="'scripts/form/partials/more-input-buttons.partial.html'" ng-show="!field.maxItems || field.maxItems > 1"></div>
  </div><!-- /.form-group -->

  <div ng-if="$root.isArray(model)" class="form-group floating-label-wrapper" >
    <div class="more-input-wrapper" ng-include="'scripts/form/partials/zero-input-buttons.partial.html'" ng-show="!field.maxItems || field.maxItems > 1"></div>
  </div>

  <div ng-if="!$root.isArray(model)" class="form-group floating-label-wrapper">
    <input type="text"
           class="form-control"
           ng-class="{'required': $root.propertiesOf(field)._valueConstraints.requiredValue}"
           id="telephone1"
           placeholder="{{$root.propertiesOf(field)._ui.title}}"
           aria-label="{{$root.propertiesOf(field)._ui.description}}"
           ng-model="model._value"
           ng-disabled="!$root.isRuntime() || preview"
           validate-on="blur"
           ng-pattern= "/(\W|^)[(]{0,1}\d{3}[)]{0,1}[\s-]{0,1}\d{3}[\s-]{0,1}\d{4}(\W|$)/"
           with-floating-label="">
    </input>
    <span class="warning-text">{{$root.propertiesOf(field)._ui.warningText}}</span>
    <div class="input-indicator-icons">
      <i class="cedar-svg-help-circle" data-container="body" data-toggle="popover" data-placement="left" data-content="{{$root.propertiesOf(field)._ui.description}}"></i>
      <i class="cedar-svg-check-circle"></i>
      <i class="cedar-svg-warning"></i>
    </div><!-- /.input-indicator-icons -->
  </div><!-- /.form-group -->

  <div class="preview-edit-options" ng-include="'scripts/form/partials/preview-edit-options.partial.html'" ng-init="childType='field'" ng-if="!$root.isRunTime()"></div>
</div>
