<div class="fields fields-phone-number">

    <!-- header row -->
    <div ng-init="fieldTitle='Phone Number';fieldIconClass='cedar-svg-phone'"
         ng-include="'scripts/form/partials/field-header.partial.html'"></div>

    <div class="form-group floating-label-wrapper" ng-repeat="valueElement in filteredModel = $root.arrayOf(model)">

        <div ng-init="m=valueElement;pIndex=$parent.$index;"
             ng-include="'scripts/form/field-value/phone-number.html'"></div>

        <div class="input-indicator-icons ng-valid ng-scope"
             ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>

        <div  class="more-input-wrapper"
             ng-include="'scripts/form/partials/more-input-buttons.partial.html'"
             ></div>
    </div>

    <div ng-if="filteredModel.length == 0 && !$root.isRuntime()" class="form-group floating-label-wrapper">


        <div ng-init="m=model;pIndex=0" ng-include="'scripts/form/field-value/phone-number.html'"></div>

        <div class="input-indicator-icons ng-valid ng-scope"
             ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>

        <div  class="more-input-wrapper"
             ng-include="'scripts/form/partials/more-input-buttons.partial.html'"
             ></div>

    </div>
</div>
