<div class="fields fields-radio">

    <!-- header row -->
    <div ng-init="fieldTitle='Radio';fieldIconClass='cedar-svg-radio'"
         ng-include="'scripts/form/partials/field-header.partial.html'"></div>

    <!-- list of items -->
    <div class="form-group  floating-label-wrapper ng-scope"
         ng-class="{'required': $root.schemaOf(field)._valueConstraints.requiredValue}"
         ng-repeat="valueElement in filteredModel = $root.arrayOf(model)">

        <div class="form-group field-wrapper-radio  ">
            <div ng-include="'scripts/form/partials/field-title.html'"></div>

            <div class="form-group radio-item" ng-repeat="(index, value) in $root.schemaOf(field)._ui.options">
                <div class="radio radio-primary">
                    <div ng-init="m=valueElement;pIndex=$parent.$index;cIndex=index"
                         ng-include="'scripts/form/field-value/radio.html'"></div>
                </div>
            </div>

            <!-- add/delete buttons -->
            <div ng-if="$root.isArray(model)" class="more-input-wrapper"
                 ng-include="'scripts/form/partials/more-input-buttons.partial.html'"
                 ></div>

        </div>
    </div>

    <!-- zero cardinality  -->
    <div ng-if="filteredModel.length==0 && !$root.isRuntime()"  class="form-group floating-label-wrapper ng-scope">
        <div class="form-group field-wrapper-radio  ">
            <div ng-include="'scripts/form/partials/field-title.html'"></div>

            <div class="form-group radio-item" ng-repeat="(index, value) in $root.schemaOf(field)._ui.options">
                <div class="radio radio-primary">
                    <div ng-init="m=valueElement;pIndex=$parent.$index;cIndex=index"
                         ng-include="'scripts/form/field-value/radio.html'"></div>
                </div>
            </div>

            <!-- add/delete buttons -->
            <div ng-if="$root.isArray(model)" class="more-input-wrapper"
                 ng-include="'scripts/form/partials/more-input-buttons.partial.html'"></div>

        </div>
    </div>
</div>
