<div class="fields fields-radio">

  <!-- header -->
  <div ng-init="fieldTitle='Multiple Choice';fieldIconClass='cedar-svg-multiple-choice'"
      ng-include="'scripts/form/partials/field-header.partial.html'"></div>
  <!-- title and description -->
  <div class="definition-inputs"
      ng-include="'scripts/form/partials/field-definition.partial.html'"></div>

  <div class="form-group field-wrapper-radio  " >
    <div ng-init="initializeSelectionField()">
      <div class="form-group radio-item" ng-repeat="(index, value) in getLiterals()">
        <div class="radio radio-primary">
          <input type="radio"
              id="radio-{{uuid}}-{{$parent.$index}}-{{index}}"
              name="radio-{{uuid}}-{{$parent.$index}}-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}"
              ng-model="optionsUI.option"
              ng-value="value.label"
              ng-disabled="true"/>
          <label for="radio-{{uuid}}-{{$parent.$index}}-{{index}}">{{value.label}}</label>
        </div>
      </div>
    </div>
  </div>

</div>
