<div class="fields text-fields" ng-class="{preview: preview}" >

  <!-- header row -->
  <div ng-init="fieldTitle='Text';fieldIconClass='cedar-svg-text'"
      ng-include="'scripts/form/partials/field-header.partial.html'"></div>

  <!-- List of text fields -->
  <div ng-init="setDefaultValueIfEmpty(model)" ng-if="$root.isArray(model)" class="form-group floating-label-wrapper has-feedback"
      ng-repeat="(index, valueElement) in model">
    <div class="extra-label-context" ng-class="{'required': $root.schemaOf(field)._valueConstraints.requiredValue}"
        ng-if="preview">
      {{$root.schemaOf(field)._ui.title}}&nbsp;
    </div>
    <!--Regular field-->
    <div ng-if="!$root.hasValueConstraint($root.schemaOf(field)._valueConstraints)" class="has-no-constraint">
      <input type="text"
          class="form-control has-success has-feedback"
          ng-change="setDefaultValueIfEmpty(model)"
          ng-class="{'required': $root.schemaOf(field)._valueConstraints.requiredValue}"
          placeholder="{{$root.schemaOf(field)._ui.title}}"
          aria-label="{{$root.schemaOf(field)._ui.description}}"
          ng-model="valueElement['@value']"
          ng-disabled="!$root.isRuntime() || preview"
          with-floating-label=""/>
      <!--<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>-->
      <!--<span id="placeholder-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" class="sr-only">(success)</span>-->
      <span class="input-indicator-icons form-control-feedback" ng-include="'scripts/form/partials/indicator-icons.partial.html'"></span>
      <span class="floating-label">{{$root.schemaOf(field)._ui.title}}</span>
    </div>

    <!--Field whose values have been constrained using controlled terms -->
    <div ng-init="initializeControlledField()" ng-if="$root.hasValueConstraint($root.schemaOf(field)._valueConstraints) && !$root.vrs.getIsValueRecommendationEnabled($root.schemaOf(field))"
        class="has-constraint autocomplete-label-wrapper" ng-class="{'has-selected': modelValue[index]['@value'].label}">
      <ui-select ng-change="updateModelFromUIControlledField()" ng-model="modelValue[index]['@value']" theme="bootstrap" close-on-select="true"
          ng-disabled="!$root.isRuntime() || preview" aria-label="{{$root.schemaOf(field)._ui.description}}">
        <ui-select-match placeholder="">{{$select.selected.label}}</ui-select-match>
        <ui-select-choices ui-disable-choice="option.label == 'No Results...'"
            refresh="$root.updateFieldAutocomplete($root.schemaOf(field), $select.search)" refresh-delay="200"
            repeat="option in $root.autocompleteResultsCache[$root.schemaOf(field)['@id']]['results'] | propsFilter: {label: $select.search} | limitTo:500">
          <div ng-bind-html="option.label | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
      <div class="floating-label">{{$root.schemaOf(field)._ui.title}}</div>
      <div class="input-indicator-icons" ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>
    </div>
    <div ng-if="$root.isRuntime()" class="more-input-wrapper " ng-include="'scripts/form/partials/more-input-buttons.partial.html'"
        ng-show="!$root.schemaOf(field).maxItems || $root.schemaOf(field).maxItems > 1 || ($root.schemaOf(field).maxItems ==1 && $root.schemaOf(field).minItems ==0)"></div>
  </div>
  <!-- /.form-group -->


  <!-- got a list, but nothing there yet so show a disabled view of the field -->
  <div ng-if="!$root.isRuntime() && $root.isArray(model) && model.length == 0"
      class="form-group floating-label-wrapper has-feedback">

    <div class="extra-label-content" ng-if="preview">
      {{$root.schemaOf(field)._ui.title}}
    </div>

    <div ng-if="!$root.hasValueConstraint($root.schemaOf(field)._valueConstraints)" class="has-no-constraint">
      <input type="text"
          class="form-control"
          ng-class="{'required': $root.schemaOf(field)._valueConstraints.requiredValue}"
          placeholder="{{$root.schemaOf(field)._ui.title}}"
          aria-label="{{$root.schemaOf(field)._ui.description}}"
          ng-disabled="true"
          with-floating-label=""/>

      <!--<div class="floating-label">{{$root.schemaOf(field)._ui.title}} title</div>-->
      <div class="input-indicator-icons" ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>
    </div>

    <!-- Field whose values have been constrained using controlled terms -->
    <div ng-if="$root.hasValueConstraint($root.schemaOf(field)._valueConstraints) && !$root.vrs.getIsValueRecommendationEnabled($root.schemaOf(field))"
        class="has-constraint autocomplete-label-wrapper" ng-class="{'has-selected': modelValue['@value'].label}">
      <ui-select ng-model="modelValue['@value']" theme="bootstrap" close-on-select="true" ng-disabled="true"
          aria-label="{{$root.schemaOf(field)._ui.description}}">
        <ui-select-match placeholder="">{{$select.selected.label}}</ui-select-match>
        <ui-select-choices ui-disable-choice="option.label == 'No Results...'"
            refresh="$root.updateFieldAutocomplete(field, $select.search)" refresh-delay="200"
            repeat="option in $root.autocompleteResultsCache[field['@id']]['results'] | propsFilter: {label: $select.search} | limitTo:500">
          <div ng-bind-html="option.label | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
      <div class="floating-label">{{$root.schemaOf(field)._ui.title}} title</div>
      <div class="input-indicator-icons" ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>
    </div>
    <div ng-if="$root.isRuntime()" class="more-input-wrapper" ng-include="'scripts/form/partials/more-input-buttons.partial.html'"
        ng-show="!field.maxItems || field.maxItems > 1 || (field.maxItems ==1 && field.minItems ==0)"></div>
  </div>

  <!-- not a list, just show the object -->
  <div ng-init="setDefaultValueIfEmpty(model)" ng-if="!$root.isArray(model)" class="form-group floating-label-wrapper has-feedback">
    <div
        ng-if="!$root.hasValueConstraint($root.schemaOf(field)._valueConstraints) && !$root.vrs.getIsValueRecommendationEnabled($root.schemaOf(field))"
        class="has-no-constraint">
      <input type="text"
          class="form-control xx"
          ng-change="setDefaultValueIfEmpty(model)"
          ng-class="{'required': $root.schemaOf(field)._valueConstraints.requiredValue}"
          placeholder="{{$root.schemaOf(field)._ui.title}}"
          aria-label="{{$root.schemaOf(field)._ui.description}}"
          ng-model="model['@value']"
          ng-disabled="!$root.isRuntime() || preview"
          with-floating-label="">
      </input>
      <div class="input-indicator-icons" ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>
    </div>

    <!-- Field whose values have been constrained using controlled terms -->
    <div ng-init="initializeControlledField()" ng-if="$root.hasValueConstraint($root.schemaOf(field)._valueConstraints) && !$root.vrs.getIsValueRecommendationEnabled($root.schemaOf(field))"
        class="has-constraint autocomplete-label-wrapper" ng-class="{'has-selected': modelValue['@value'].label}">
      <ui-select
          ng-change="updateModelFromUIControlledField()"
          ng-model="modelValue['@value']" theme="bootstrap" close-on-select="true"
          ng-disabled="!$root.isRuntime() || preview"
          aria-label="{{$root.schemaOf(field)._ui.description}}">
        <ui-select-match placeholder="">{{$select.selected.label}}</ui-select-match>
        <ui-select-choices ui-disable-choice="option.label == 'No Results...'"
            refresh="$root.updateFieldAutocomplete(field, $select.search)" refresh-delay="200"
            repeat="option in $root.autocompleteResultsCache[field['@id']]['results'] | propsFilter: {label: $select.search} | limitTo:500">
          <div ng-bind-html="option.label | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
      <div class="floating-label">{{$root.schemaOf(field)._ui.title}}</div>
      <div class="input-indicator-icons" ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>
    </div>

    <!-- Field with value recommendation functionality -->
    <div ng-init="initializeValueRecommendationField()"
        ng-if="$root.vrs.getIsValueRecommendationEnabled($root.schemaOf(field))"
        class="has-constraint autocomplete-label-wrapper"
        ng-class="{'has-selected': modelValueRecommendation['@value'].value}">
      <ui-select
          ng-model="modelValueRecommendation['@value']"
          ng-change="updateModelWhenChangeSelection(modelValueRecommendation); $root.vrs.updatePopulatedFields(field, modelValueRecommendation['@value'].value)"
          ng-disabled="!$root.isRuntime() || preview"
          ng-click="$root.vrs.updateValueRecommendationResults(field); setIsFirstRefresh(false); clearSearch($select)"
          close-on-select="true"
          reset-search-input="false"
          aria-label="{{$root.schemaOf(field)._ui.description}}">
        <ui-select-match class="selection-field" placeholder="">{{$select.selected.value}}
          <i ng-if="$select.selected.value" class="fa fa-times" aria-hidden="true" ng-click="clearSelection($event, $select); $root.vrs.updatePopulatedFields(field, null)"></i>
        </ui-select-match>
        <ui-select-choices
            ui-disable-choice="option.value == $root.vrs.getNoResultsMsg()"
            refresh="updateModelWhenRefresh($select, modelValueRecommendation); $root.vrs.updatePopulatedFields(field, $select.search)"
            refresh-delay="200"
            repeat="option in $root.vrs.getValueRecommendationResults(field['@id']) | propsFilter: {value: $select.search} | limitTo:50">
          <div>
            <span ng-bind-html="option.value | highlight: $select.search"></span>&nbsp;
            <span ng-if="option.valueUri!=undefined"><span>({{$root.cts.getAcronymFromTermUri(option.valueUri)}})</span></span>&nbsp;
            <small ng-if="option.score!=undefined">(<span>{{calculateUIScore(option.score)}}</span>)</small>
            <small ng-if="option.type!=undefined"><span>{{getRecommendationType(option.type)}}</span></small>
          </div>
        </ui-select-choices>
      </ui-select>
      <div class="floating-label">{{$root.schemaOf(field)._ui.title}}</div>
      <div class="input-indicator-icons" ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>
    </div>
    <!-- end of Field with value recommendation functionality -->

  </div>
  <!-- /.form-group -->


</div>
