<div class="fields text-fields" ng-class="{preview: preview}">
  <!--array of fields -->
  <div ng-if="$root.isArray(model)" class="form-group floating-label-wrapper"
      ng-repeat="(index, valueElement) in model">
    <div class="extra-label-context" ng-class="{'required': $root.propertiesOf(field)._valueConstraints.requiredValue}"
        ng-if="preview">
      {{$root.propertiesOf(field)._ui.title}}&nbsp;
    </div>
    <div ng-if="!$root.hasValueConstraint($root.propertiesOf(field)._valueConstraints)" class="has-no-constraint">
      <input type="text"
          class="form-control"
          ng-class="{'required': $root.propertiesOf(field)._valueConstraints.requiredValue}"
          id="textfield1"
          placeholder="{{$root.propertiesOf(field)._ui.title}}"
          aria-label="{{$root.propertiesOf(field)._ui.description}}"
          ng-model="valueElement._value"
          ng-disabled="!$root.isRuntime() || preview"
          with-floating-label=""/>

      <div class="input-indicator-icons">
        <i class="cedar-svg-help-circle" data-container="body" data-toggle="popover" data-placement="left"
            data-content="{{$root.propertiesOf(field)._ui.description}}"></i>
        <i class="cedar-svg-check-circle"></i>
        <i class="cedar-svg-warning"></i>
      </div>
      <!-- /.input-indicator-icons -->
    </div>
    <div ng-if="$root.hasValueConstraint($root.propertiesOf(field)._valueConstraints)"
        class="has-constraint autocomplete-label-wrapper" ng-class="{'has-selected': modelValue[index]._value.label}">
      <ui-select ng-model="modelValue[index]" theme="bootstrap" close-on-select="true"
          ng-disabled="!$root.isRuntime() || preview" aria-label="{{$root.propertiesOf(field)._ui.description}}">
        <ui-select-match placeholder="">{{$select.selected.label}}</ui-select-match>
        <ui-select-choices ui-disable-choice="option.label == 'No Results...'"
            refresh="$root.updateFieldAutocomplete(field, $select.search)" refresh-delay="200"
            repeat="option in $root.autocompleteResultsCache[field['@id']]['results'] | propsFilter: {label: $select.search}">
          <div ng-bind-html="option.label | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
      <div class="floating-label">{{$root.propertiesOf(field)._ui.title}}</div>
      <div class="input-indicator-icons">
        <i class="cedar-svg-help-circle" data-container="body" data-toggle="popover" data-placement="left"
            data-content="{{$root.propertiesOf(field)._ui.description}}"></i>
        <i class="cedar-svg-check-circle"></i>
        <i class="cedar-svg-warning"></i>
      </div>
      <!-- /.input-indicator-icons -->
    </div>
    <div class="more-input-wrapper" ng-include="'scripts/form/partials/more-input-buttons.partial.html'"
        ng-show="!field.maxItems || field.maxItems > 1 || (field.maxItems ==1 && field.minItems ==0)"></div>
  </div>
  <!-- /.form-group -->

  <!--<div ng-if="$root.isArray(model)" class="form-group floating-label-wrapper zero" >-->
  <!--<div class="more-input-wrapper" ng-include="'scripts/form/partials/zero-input-buttons.partial.html'" ></div>-->
  <!--</div>-->

  <!-- zero cardinality case, but nothing there yet -->
  <div ng-if="$root.isArray(model) && model.length == 0" class="form-group floating-label-wrapper">

    <div class="more-input-wrapper" ng-include="'scripts/form/partials/zero-input-buttons.partial.html'"></div>

    <div ng-if="!$root.isRuntime()">

      <div class="extra-label-content" ng-if="preview">
        {{$root.propertiesOf(field)._ui.title}}
      </div>

      <div ng-if="!$root.hasValueConstraint($root.propertiesOf(field)._valueConstraints)" class="has-no-constraint">
        <input type="text"
            class="form-control"
            ng-class="{'required': $root.propertiesOf(field)._valueConstraints.requiredValue}"
            id="textfield1"
            placeholder="{{$root.propertiesOf(field)._ui.title}}"
            aria-label="{{$root.propertiesOf(field)._ui.description}}"
            ng-disabled="true"
            with-floating-label=""/>

        <div class="input-indicator-icons">
          <i class="cedar-svg-help-circle" data-container="body" data-toggle="popover" data-placement="left"
              data-content="{{$root.propertiesOf(field)._ui.description}}"></i>
          <i class="cedar-svg-check-circle"></i>
          <i class="cedar-svg-warning"></i>
        </div>
        <!-- /.input-indicator-icons -->
      </div>
      <div ng-if="$root.hasValueConstraint($root.propertiesOf(field)._valueConstraints)"
          class="has-constraint autocomplete-label-wrapper" ng-class="{'has-selected': modelValue._value.label}">
        <ui-select ng-model="modelValue._value" theme="bootstrap" close-on-select="true" ng-disabled="true"
            aria-label="{{$root.propertiesOf(field)._ui.description}}">
          <ui-select-match placeholder="">{{$select.selected.label}}</ui-select-match>
          <ui-select-choices ui-disable-choice="option.label == 'No Results...'"
              refresh="$root.updateFieldAutocomplete(field, $select.search)" refresh-delay="200"
              repeat="option in $root.autocompleteResultsCache[field['@id']]['results'] | propsFilter: {label: $select.search}">
            <div ng-bind-html="option.label | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
        <div class="floating-label">{{$root.propertiesOf(field)._ui.title}} title</div>
        <div class="input-indicator-icons">
          <i class="cedar-svg-help-circle" data-container="body" data-toggle="popover" data-placement="left"
              data-content="{{$root.propertiesOf(field)._ui.description}}"></i>
          <i class="cedar-svg-check-circle"></i>
          <i class="cedar-svg-warning"></i>
        </div>
        <!-- /.input-indicator-icons -->
      </div>
      <div class="more-input-wrapper" ng-disabled="true"
          ng-include="'scripts/form/partials/more-input-buttons.partial.html'"></div>
    </div>
  </div>

  <!-- no cardinaltiy -->
  <div ng-if="!$root.isArray(model)" class="form-group floating-label-wrapper">
    <div
        ng-if="!$root.hasValueConstraint($root.propertiesOf(field)._valueConstraints) && !$root.vrs.getIsValueRecommendationEnabled()"
        class="has-no-constraint">
      <input type="text"
          class="form-control"
          ng-class="{'required': $root.propertiesOf(field)._valueConstraints.requiredValue}"
          id="textfield1"
          placeholder="{{$root.propertiesOf(field)._ui.title}}"
          aria-label="{{$root.propertiesOf(field)._ui.description}}"
          ng-model="model._value"
          ng-disabled="!$root.isRuntime() || preview"
          with-floating-label="">
      </input>
      <div class="input-indicator-icons">
        <i class="cedar-svg-help-circle" data-container="body" data-toggle="popover" data-placement="left"
            data-content="{{$root.propertiesOf(field)._ui.description}}"></i>
        <i class="cedar-svg-check-circle"></i>
        <i class="cedar-svg-warning"></i>
      </div>
      <!-- /.input-indicator-icons -->
    </div>

    <div ng-if="$root.hasValueConstraint($root.propertiesOf(field)._valueConstraints)"
        class="has-constraint autocomplete-label-wrapper" ng-class="{'has-selected': modelValue._value.label}">
      <ui-select ng-model="modelValue._value" theme="bootstrap" close-on-select="true"
          ng-disabled="!$root.isRuntime() || preview" aria-label="{{$root.propertiesOf(field)._ui.description}}">
        <ui-select-match placeholder="">{{$select.selected.label}}</ui-select-match>
        <ui-select-choices ui-disable-choice="option.label == 'No Results...'"
            refresh="$root.updateFieldAutocomplete(field, $select.search)" refresh-delay="200"
            repeat="option in $root.autocompleteResultsCache[field['@id']]['results'] | propsFilter: {label: $select.search}">
          <div ng-bind-html="option.label | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
      <div class="floating-label">{{$root.propertiesOf(field)._ui.title}} xtitle</div>
      <div class="input-indicator-icons">
        <i class="cedar-svg-help-circle" data-container="body" data-toggle="popover" data-placement="left"
            data-content="{{$root.propertiesOf(field)._ui.description}}"></i>
        <i class="cedar-svg-check-circle"></i>
        <i class="cedar-svg-warning"></i>
      </div>
      <!-- /.input-indicator-icons -->
    </div>

    <!-- Field with value recommendation functionality -->
    <div
        ng-if="!$root.hasValueConstraint($root.propertiesOf(field)._valueConstraints) && $root.vrs.getIsValueRecommendationEnabled()"
        class="has-constraint autocomplete-label-wrapper"
        ng-class="{'has-selected': modelValueRecommendation._value.value}">
      <ui-select
          ng-model="modelValueRecommendation._value"
          ng-change="updateModelWhenChangeSelection(modelValueRecommendation); $root.vrs.updatePopulatedFields(field, modelValueRecommendation._value.value)"
          ng-disabled="!$root.isRuntime() || preview"
          ng-click="!$root.isRuntime() || preview || $root.vrs.updateValueRecommendationResults(field); setIsFirstRefresh(false); updateSearch($select)"
          close-on-select="true"
          reset-search-input="false"
          aria-label="{{$root.propertiesOf(field)._ui.description}}">
        <ui-select-match placeholder="">{{$select.selected.value}}</ui-select-match>
        <ui-select-choices
            ui-disable-choice="option.value == $root.vrs.getNoResultsMsg()"
            refresh="updateModelWhenRefresh($select); $root.vrs.updatePopulatedFields(field, $select.search)"
            refresh-delay="0"
            repeat="option in $root.vrs.getValueRecommendationResults(field['@id']) | propsFilter: {value: $select.search}">
          <div><span ng-bind-html="option.value | highlight: $select.search"></span>&nbsp;
            <small ng-if="option.score!=undefined">(hits: <span
                ng-bind-html="option.score | highlight: $select.search"></span>)
            </small>
          </div>
        </ui-select-choices>
      </ui-select>
      <div class="floating-label">{{$root.propertiesOf(field)._ui.title}}</div>
      <div class="input-indicator-icons">
        <i class="cedar-svg-help-circle" data-container="body" data-toggle="popover" data-placement="left"
            data-content="{{$root.propertiesOf(field)._ui.description}}"></i>
        <i class="cedar-svg-check-circle"></i>
        <i class="cedar-svg-warning"></i>
      </div>
      <!-- /.input-indicator-icons -->
    </div>
    <!-- end of Field with value recommendation functionality -->

  </div>
  <!-- /.form-group -->

  <div class="preview-edit-options" ng-include="'scripts/form/partials/preview-edit-options.partial.html'"
      ng-init="childType='field'" ng-if="!$root.isRunTime()"></div>
</div>
