<div class="fields fields-textarea">

  <!-- header row -->
  <div ng-init="fieldTitle='Paragraph';fieldIconClass='cedar-svg-paragraph';" ng-include="'scripts/form/partials/field-header.partial.html'"></div>

  <div ng-if="!hasModel()" class="form-group floating-label-wrapper has-feedback">
    <input type="text"
        class="form-control"
        placeholder="{{getTitle()}}"
        aria-label="{{getDescription()}}"
        ng-disabled="true"
        with-floating-label=""/>
    <span class="floating-label">{{getTitle()}}</span>
  </div>

  <div ng-if="hasModel()" class="form-group floating-label-wrapper has-feedback"  ng-repeat="valueElement in model">
    <textarea rows="5"
        class="form-control"
        placeholder="{{getTitle()}}"
        aria-label="{{getDescription()}}"
        ng-disabled="true"
        with-floating-label=""></textarea>
    <div class="input-indicator-icons" ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>
  </div>

</div>
