<div class="fields text-fields" ng-class="{preview: preview}">


    <!--list of items -->
    <div class="form-group floating-label-wrapper has-feedback"
         ng-repeat="(index, valueElement) in filteredModel= $root.arrayOf(model)">
        <div class="extra-label-context" ng-class="{'required': $root.schemaOf(field)._valueConstraints.requiredValue}"
             ng-if="preview">
            {{$root.schemaOf(field)._ui.title}}&nbsp;
        </div>
        <div ng-if="!$root.hasValueConstraint($root.schemaOf(field)._valueConstraints)" class="has-no-constraint">


            <div ng-init="m=valueElement;pIndex=$parent.$index;"
                 ng-include="'scripts/form/field-value/textfield.html'"></div>

            <!--<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>-->
            <!--<span id="placeholder-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" class="sr-only">(success)</span>-->
            <span class="input-indicator-icons form-control-feedback"
                  ng-include="'scripts/form/partials/indicator-icons.partial.html'"></span>
            <span class="floating-label">{{$root.schemaOf(field)._ui.title}}</span>
        </div>
        <div ng-if="$root.hasValueConstraint($root.schemaOf(field)._valueConstraints)"
             class="has-constraint autocomplete-label-wrapper"
             ng-class="{'has-selected': modelValue[index]._value.label}">
            <ui-select ng-model="modelValue[index]" theme="bootstrap" close-on-select="true"
                       ng-disabled="!$root.isRuntime() || preview"
                       aria-label="{{$root.schemaOf(field)._ui.description}}">
                <ui-select-match placeholder="">{{$select.selected.label}}</ui-select-match>
                <ui-select-choices ui-disable-choice="option.label == 'No Results...'"
                                   refresh="$root.updateFieldAutocomplete(field, $select.search)" refresh-delay="200"
                                   repeat="option in $root.autocompleteResultsCache[field['@id']]['results'] | propsFilter: {label: $select.search}">
                    <div ng-bind-html="option.label | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
            <div class="floating-label">{{$root.schemaOf(field)._ui.title}}</div>
            <div class="input-indicator-icons" ng-include="'scripts/form/partials/indicator-icons.partial.html'"></div>
        </div>
        <div class="more-input-wrapper"
             ng-include="'scripts/form/partials/more-input-buttons.partial.html'"></div>
    </div>



</div>
