<div class="fields you-tube" ng-class="{preview: preview}">

  <div class="row configuration-options" ng-if="!$root.isRuntime() && !isNested() && !ngDisabled && !preview">
    <div class=" col-lg-9 pull-left type-label">
      <div class="sortable-handler " ng-if="!preview && !$root.isRuntime()">
        <p class="type-label"><span class="sortable-icon"></span><i class="cedar-svg-youtube"></i>YouTube Video</p>
      </div>
    </div>
    <div class="col-lg-3 pull-right configuration-actions" style="padding-top:0" id="{{field.items._ui.title}}"
        ng-if="!$root.isRuntime()" ng-include="'scripts/form/partials/preview-edit-options.partial.html'"
        ng-init="childType='field'"/>
  </div>

  <div ng-if="!$root.isRuntime()" style="padding-top: 10px;">
    <!-- let's put the video into a figure so we can use the figcaption for the title -->
    <figure>
      <!-- fit-vids directive automatically resizes the video to full width -->
      <div fit-vids ng-bind-html="getYouTubeEmbedFrame(field)"></div>
      <figcaption><label>{{$root.schemaOf(field)._ui.title}}</label></figcaption>
    </figure>
  </div>


  <div ng-if="$root.isRuntime()">
    <!-- let's put the video into a figure so we can use the figcaption for the title -->
    <figure>
      <!-- fit-vids directive automatically resizes the video to full width -->
      <div fit-vids ng-bind-html="getYouTubeEmbedFrame(field)"></div>
      <figcaption><label>{{$root.schemaOf(field)._ui.title}}</label></figcaption>
    </figure>
  </div>

  <div class="clearfix all"></div>
</div>



