<div ng-if="!$root.isRuntime()" style="padding-top: 40px;">
  <!-- let's put the video into a figure so we can use the figcaption for the title -->
  <figure>
    <!-- fit-vids directive automatically resizes the video to full width -->
    <div fit-vids ng-bind-html="getYouTubeEmbedFrame(field)"></div>
    <figcaption><label>{{$root.schemaOf(field)._ui.title}}</label></figcaption>
  </figure>
</div>


<div ng-if="$root.isRuntime()">
  <!-- let's put the video into a figure so we can use the figcaption for the title -->
  <figure>
    <!-- fit-vids directive automatically resizes the video to full width -->
    <div fit-vids ng-bind-html="getYouTubeEmbedFrame(field)"></div>
    <figcaption><label>{{$root.schemaOf(field)._ui.title}}</label></figcaption>
  </figure>
</div>

<div class="clearfix all"></div>

