<div class="template-header" id="template-header">
  <div class="container">
    <div class="row">
      <div class="left-sidebar col-sm-4 col-sm-offset-1">
        <div id="element-name-container">
          <i class="cedar-svg-metadata"></i>

          <form>
            <div class="form-group floating-label-wrapper">
              <input type="text" class="form-control" id="template-name" placeholder="Template Name"
                  aria-label="Template Name" ng-model="form._ui.title" with-floating-label>
            </div>
          </form>
        </div>
      </div>
      <!-- /.left-sidebar -->
      <div class="right-body col-sm-6">
        <div id="element-description-container">
          <form>
            <div class="form-group floating-label-wrapper">
              <input type="text" class="form-control" id="template-description" placeholder="Template Description"
                  aria-label="Template Description" ng-model="form._ui.description" with-floating-label>
            </div>
          </form>
        </div>
      </div>
      <!-- /.right-body -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div> <!-- /.template-header -->

<div class="template-body create-template-body">
  <div class="container">
    <div class="row">
      <div class="right-body col-sm-10 col-sm-offset-1">
        <div id="form-preview-section">
          <div class="form-preview collapse in">
            <!--<div class="empty-text" ng-show="isPropertiesEmpty()">-->
            <!--<p translate>CREATOR.addElementToStagingMsg</p>-->
            <!--</div>-->
            <form-directive form="form" page="page" model="instance" page-index="0"
                ng-if="!isPropertiesEmpty()"></form-directive>
            <ng-include src="'scripts/layout/json_preview.html'"></ng-include>
          </div>
          <!-- /.form-preview -->
        </div>
        <!-- /#form-preview-section -->

        <div ng-if="!isEmpty(invalidFieldStates)" class="alert alert-danger" role="alert">
          <p><i class="fa fa-exclamation-triangle"></i><span translate>VALIDATION.groupHeader.invalidFieldState</span>
          </p>
          <ul>
            <li ng-repeat="field in invalidFieldStates">
              <span ng-show="field">{{field}}</span>
              <span ng-hide="field" translate>VALIDATION.noNameField</span>
            </li>
          </ul>
        </div>

        <div ng-if="!isEmpty(invalidElementStates)" class="alert alert-danger" role="alert">
          <p><i class="fa fa-exclamation-triangle"></i><span translate>VALIDATION.groupHeader.invalidElementState</span>
          </p>
          <ul>
            <li ng-repeat="element in invalidElementStates">
              <span ng-show="element">{{element}}</span>
              <span ng-hide="element" translate>VALIDATION.noNameElement</span>
            </li>
          </ul>
        </div>

        <div class="template-actions">
          <div ng-if="stagingErrorMessages.length" class="alert alert-danger" role="alert">
            <p ng-repeat="message in stagingErrorMessages"><i class="fa fa-exclamation-triangle"></i>{{message}}</p>
          </div>
          <div ng-if="templateErrorMessages.length" class="alert alert-danger" role="alert">
            <p ng-repeat="message in templateErrorMessages"><i class="fa fa-exclamation-triangle"></i>{{message}}</p>
          </div>
          <div ng-if="templateSuccessMessages.length" class="alert alert-success" role="alert">
            <p ng-repeat="message in templateSuccessMessages"><i class="fa fa-check"></i>{{message}}</p>
          </div>
          <!--<div class="favorite {{favorite}}" ng-click="toggleFavorite()">-->
          <!--<i class="cedar-svg-flag"></i><span>Favorite</span>-->
          <!--</div>-->
          <div class="clear-save">
            <button type="button" class="btn btn-clear" ng-click="reset()" ng-hide="isPropertiesEmpty()" translate>
              GENERIC.Clear
            </button>
            <button type="button" class="btn btn-clear" ng-click="cancelTemplate()" translate>GENERIC.Cancel</button>
            <button type="button" class="btn btn-save" ng-click="saveTemplate()" translate>GENERIC.SaveTemplate</button>
          </div>
        </div>
        <!-- /.template-actions -->

      </div>
      <!-- /.right-body -->

      <div class="left-sidebar col-sm-1 pull-right">
        <div id="stickyFix"></div>
        <div class="sidebar-inner" cedar-sticky-left-menu="true">

          <!-- toolbar -->
          <div id="toolbar">
            <ul>
              <li ng-repeat="fieldType in fieldTypes | limitTo : 4">
                <a ng-click="addFieldToTemplate(fieldType.cedarType)"><i class="{{fieldType.iconClass}}"></i></a>
              </li>
              <li>
                <div dropdown auto-close="outsideClick">
                  <a class="more" data-toggle="dropdown" data-target=".field-selector" aria-expanded="false"
                      dropdown-toggle uib-dropdown keyboard-nav dropdown-append-to-body><i
                      class="fa fa-ellipsis-h"></i></a>

                  <div class="collapse dropdown-menu field-selector other-elements" role="menu">
                    <div class="row">
                      <ul class="col-xs-6 list-unstyled pull-left">
                        <li class="item"
                            ng-repeat="fieldType in fieldTypes"
                            ng-if="$index <= fieldTypes.length/2 ">
                          <a data-toggle="dropdown" data-target=".field-selector" dropdown-toggle
                              ng-click="addFieldToTemplate(fieldType.cedarType)"><i
                              class="{{fieldType.iconClass}}"></i><span translate>{{"FIELDS.FIELD_TYPE." + fieldType.cedarType + ".NAME"}}</span></a>
                        </li>
                      </ul>
                      <ul class="row list-unstyled pull-right">
                        <li class="item"
                            ng-repeat="fieldType in fieldTypes"
                            ng-if="$index > fieldTypes.length/2">
                          <a data-toggle="dropdown" data-target=".field-selector" dropdown-toggle
                              ng-click="addFieldToTemplate(fieldType.cedarType)"><i
                              class="{{fieldType.iconClass}}"></i><span
                              translate>{{"FIELDS.FIELD_TYPE." + fieldType.cedarType + ".NAME"}}</span></a>
                        </li>
                      </ul>
                    </div>
                    <div>
                      <ul class="row list-unstyled  search">
                        <li class="item" style="width:auto; text-align:center">
                          <a data-toggle="dropdown" data-target=".field-selector" dropdown-toggle
                              ng-click="elementSearch();"><i
                              class="fa fa-search "></i><span
                              translate>MORE</span></a>
                        </li>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <!-- search browse modal for adding elements -->
          <div class="modal fade controlled-terms-modal" tabindex="-1" id="{{searchBrowseModalId}}" data-backdrop="static">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close controlled-terms-modal-field-close" data-dismiss="modal"
                      aria-label="Close"><span aria-hidden="true"><img
                      src="/img/close_modal.png" width="22"/></span></button>

                  <div class="nav-container" id="headerCtrl" ng-controller="HeaderCtrl as hc">
                    <div class="navbar-header">
                      <div>
                        <a ng-click="hc.search(hc.searchTerm)"><i class="fa fa-search navbar-toggle"></i></a>

                        <div class="pull-right col-sm-7 nav-search">
                          <form>
                            <div class="form-group floating-label-wrapper">
                              <input ng-keyup="$event.keyCode == 13 && hc.search(hc.searchTerm)" type="search"
                                  class="form-control"
                                  id="search" placeholder="Search" aria-label="Search" ng-model="hc.searchTerm"
                                  with-floating-label/>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-body">
                  <div class="search-browse-modal">
                    <cedar-search-browse-picker
                        select-resource-callback="selectElementFromPicker"
                        pick-resource-callback="pickElementFromPicker"
                        mode="'modal'">
                    </cedar-search-browse-picker>
                    <div class="footer-buttons clearfix">
                      <div class="pull-right">
                        <button ng-click="hideSearchBrowsePicker()" type="cancel" class="canc">Cancel</button>
                        <button ng-click="addElementFromPicker()" type="button" class="subm">Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.sticky-list -->
      </div>
      <!-- /.left-sidebar -->

    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div> <!-- /.template-body -->

