<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">

      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" translate>DASHBOARD.share.title</h4>
    </div>

    <div class="modal-body">

      <h5 translate>DASHBOARD.share.public</h5>

      <div class="hidden-container">

        <div class="row">

          <select id="select-picker-group" data-size="5"
              data-dropupAuto="false" class="dropdown col-sm-7"
              ng-model="dc.selectedGroupId" select-model="dc.resourceGroups"
              select-picker cedar-live-search="true"
              ng-options="group.id as group.displayName for group in dc.resourceGroups"></select>

          <select ng-model="dc.giveGroupPermission"
              class="dropdown col-sm-4" select-picker>
            <option value="read">can read</option>
            <option value="write">can write</option>
          </select>


          <button
              class="col-sm-1  btn btn-sm btn-info btn-circle btn-plus"
              type="button"
              tooltip='{{"DASHBOARD.share.addHint" | translate}}'
              tooltip-trigger
              tooltip-animation="false"
              tooltip-placement="top"
              data-toggle="tooltip"
              ng-click="dc.addShare(dc.selectedGroupId, dc.giveGroupPermission, 'shared-users', 'group')">
            <!--<span aria-hidden="true">&plus;</span>-->
            <i class="fa fa-plus" style="margin: 0 -4px;vertical-align: top;"></i>
          </button>

        </div>

      </div>


      <h5 translate>DASHBOARD.share.add</h5>

      <div class="hidden-container">

        <div class="row">


          <select id="select-picker-users" data-size="5" data-dropupAuto="false" class="dropdown col-sm-7"
              ng-model="dc.selectedUserId" ng-change="dc.resetOwner()" select-model="dc.resourceUsers"
              select-picker cedar-live-search="true"
              ng-options="user.id as dc.getName(user) for user in dc.resourceUsers"></select>

          <select ng-model="dc.giveUserPermission" class="dropdown col-sm-4 " select-picker
              select-model="dc.canBeOwner(dc.selectedUserId)"
              cedar-live-search="true">
            <option value="read">can read</option>
            <option value="write">can write</option>
            <option ng-if="dc.canBeOwner(dc.selectedUserId)" value="own">is owner</option>
          </select>

          <button class="col-sm-1 btn btn-sm btn-info btn-circle btn-plus"
              type="button"
              tooltip='{{"DASHBOARD.share.addHint" | translate}}'
              tooltip-trigger
              tooltip-animation="false"
              tooltip-placement="top"
              data-toggle="tooltip"
              ng-click="dc.addShare(dc.selectedUserId, dc.giveUserPermission, 'shared-users', 'user')">
            <i class="fa fa-plus" style="margin:0 -4px;vertical-align: top;"></i>
          </button>

        </div>

      </div>

      <hr/>


      <h5 translate>DASHBOARD.share.manage</h5>


      <div ng-model="dc.resourcePermissions" id="shared-users" class="scroll-container">
        <div class="row">

          <div class="col-sm-7 name">
            {{dc.getName(dc.resourcePermissions.owner)}}
          </div>
          <select class="col-sm-4" select-picker>
            <option value="own">is owner</option>
          </select>
        </div>

        <div class="row" ng-repeat="share in dc.resourcePermissions.groupPermissions">


          <div class="col-sm-7 name">{{share.group.displayName}}
          </div>

          <select ng-model="share.permission" class="col-sm-4"
              select-model="share"
              select-picker cedar-live-search="true">
            <option value="read">can read</option>
            <option value="write">can write</option>
          </select>

          <button class=" col-sm-1  btn  btn-info btn-circle btn-sm btn-delete"
              type="button" tooltip="remove"
              tooltip-trigger
              tooltip-animation="false"
              tooltip-placement="top"
              data-toggle="tooltip"
              ng-click="dc.removeShare(share.group)"><i class="fa fa-times"
              style="margin: -1px -4px;vertical-align: top;"></i></button>


        </div>


        <div class="row" style="padding: 5px 0;" ng-repeat="share in dc.resourcePermissions.userPermissions">


          <div class="col-sm-7 name">{{dc.getName(share.user)}}
          </div>

          <select ng-model="share.permission"
              ng-change="dc.addShare(share.user.id, share.permission, 'shared-users', 'user')" class="col-sm-4"
              select-picker cedar-live-search="true" select-model="share">
            <option value="read">can read</option>
            <option value="write">can write</option>
            <option ng-if="dc.canBeOwner(share.user.id)" value="own">is owner</option>
          </select>

          <button class=" col-sm-1  btn  btn-info btn-circle  btn-sm btn-delete"
              type="button" tooltip="remove"
              tooltip-trigger
              tooltip-animation="false"
              tooltip-placement="top"
              data-toggle="tooltip"
              ng-click="dc.removeShare(share.user)"><i class="fa fa-times"
              style="margin: -1px -4px;vertical-align: top;"></i></button>

        </div>
      </div>
    </div>


    <div class="modal-footer actions">
      <div class="clear-save">
        <button type="button" ng-click="dc.saveShare(resource)"
            data-dismiss="modal" aria-label="Save"
            class="btn btn-save confirm"> Save
        </button>
      </div>
    </div>

  </div>
</div>