<div class="controls-bar clearfix row-fluid navbar-fixed-top " ng-class="{'as-modal': !dc.onDashboard()}">

  <div class="col-sm-2"></div>
  <div class="col-sm-7">

    <div class="breadcrumbs-sb ">
      <p ng-if="dc.isSearching">
        <span class="search-result">
            <span ng-class="{'no-search-results':dc.searchTerm}">
              <span>{{dc.breadcrumbTitle}}</span>
            </span>
          </span>
      </p>

      <p ng-if="!dc.isSearching">
            <span class="folder-path" ng-repeat="folder in dc.pathInfo">
              <a ng-click="dc.goToFolder(folder['@id'])"
                  class="breadcrumbs">{{dc.breadcrumbName(folder.displayName)}}</a> /
            </span>
        <a class="breadcrumbs">{{dc.breadcrumbName(dc.currentPath.displayName)}}</a>

      </p>
    </div>

  </div>
  <div class="col-sm-3">


    <div class="  pull-right no-wrap" id="workspace-toolbar">
      <ul class="list-inline">

        <li ng-show="dc.hasUnreadMessages()" id="messaging-number">
          <button type="button"
              uib-tooltip='{{"HELP.unreadMessageCount" | translate}}'
              ng-click="dc.openMessaging()">
            ({{dc.getUnreadMessageCount()}})
          </button>
        </li>

        <li ng-if="dc.onDashboard()" class="repoSubmission">
          <button type="button"
              uib-tooltip='{{"HELP.repoSubmission" | translate}}'
              tooltip-trigger
              tooltip-animation="false"
              tooltip-placement="bottom"
              data-toggle="tooltip"
              ng-click="dc.showFlowModal()"><i class="fa fa-upload"></i></button>
        </li>

        <li ng-if="dc.onDashboard() " class="more-options">
          <div class="btn-group dropdown">
            <button class="{'disabled': !dc.hasSelection()}"
                ng-disabled="!dc.hasSelection()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i
                class="fa fa-ellipsis-v  inline "></i></button>

            <cedar-dropdown-menu class="dropdown-menu dropdown-menu-right" resource="selectedResource" go-to="dc.goToResource"
                share="dc.showShareModal"
                move="dc.showMoveModal" delete="dc.deleteResource" copy="dc.showCopyModal" rename="dc.showRenameModal"
                can-not-populate="dc.canNotPopulate" can-not-write="dc.canNotWrite"
                can-not-share="dc.canNotShare" is-folder="dc.isFolder()">
            </cedar-dropdown-menu>

          </div>
        </li>

        <li ng-show="dc.onDashboard()" id="grid-view-tool">
          <button type="button"
              uib-tooltip='{{"HELP.viewAsList" | translate}}'
              tooltip-trigger
              tooltip-animation="false"
              tooltip-placement="bottom"
              data-toggle="tooltip"
              ng-click="dc.toggleView()">
            <i class="inline fa "
                ng-class="{'fa-list-ul': dc.isGridView(), 'fa-th': dc.isListView()}"></i>
          </button>
        </li>


        <li ng-if="dc.onDashboard()" class="toggleDetails"
            ng-class="{'hidePanel':dc.isInfoOpen(), 'showPanel':!dc.isInfoOpen()}">
          <button type="button"
              uib-tooltip="{{ dc.toggleDirection() | translate  }}"
              tooltip-trigger
              tooltip-animation="false"
              tooltip-placement="bottom"
              data-toggle="tooltip"
              ng-click="dc.toggleInfo()"><i class="fa fa-info "></i></button>
        </li>


        <li ng-if="dc.onDashboard()" id="workspace-sort-tool">
          <div class="btn-group dropdown">
            <button type="button"
                uib-tooltip='{{"HELP.sortBy" | translate}}'
                tooltip-trigger
                tooltip-animation="false"
                tooltip-placement="bottom"
                data-toggle="tooltip"><i class="fa fa-sort-amount-asc "></i></button>
            <button class="menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i
                class="fa fa-caret-down  "></i></button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a class="sortName" ng-click="dc.setSortByName()"><i class="fa fa-check"
                  ng-class="dc.sortName()"></i><span
                  translate="DASHBOARD.sort.name"></span></a></li>
              <li><a class="sortCreated" ng-click="dc.setSortByCreated()"><i class="fa fa-check"
                  ng-class="dc.sortCreated()"></i><span translate="DASHBOARD.sort.createdOnTS"></span></a></li>
              <li><a class="sortUpdated" ng-click="dc.setSortByUpdated()"><i class="fa fa-check"
                  ng-class="dc.sortUpdated()"></i><span
                  translate="DASHBOARD.sort.lastUpdatedOnTS"></span></a>
              </li>
            </ul>
          </div>
        </li>

        <li ng-if="dc.onDashboard()" id="user-tool">
          <div class="btn-group dropdown">
            <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i
                class="fa fa-user inline "></i></button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li id="user-profile-tool"><a href="/profile">Profile</a></li>
              <li id="user-help"><a target="_blank" href="http://metadatacenter.org/tools-training/support">Help</a>
              </li>
              <li id="user-about"><a target="_blank"
                  href="http://metadatacenter.org/tools-training/orientation">About</a></li>
              <li id="user-privacy"><a href="/privacy">Privacy</a></li>
              <li id="user-logout-tool"><a href="/logout">Logout</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>

<!--all items view -->
<section class="all-items-view " ng-class="{'as-modal': !dc.onDashboard()}">

  <!-- container -->
  <div class="container-fluid">
    <div class="row ">

      <!-- START LEFT SIDE -->
      <div class="col-sm-2 row-offcanvas-left" id="sidebar-left" ng-if="dc.filterShowing() &&  dc.onDashboard()">

        <div class="filter-options">

          <div class="shares">
            <a class="share" ng-class="{active: dc.isHomeMode()}" href="#" ng-click="dc.goToMyWorkspace()" translate>DASHBOARD.sidebar.myWorkspace</a>
            <a class="share" ng-class="{active: dc.isSharedMode()}" href="#" ng-click="dc.goToSharedWithMe()" translate>DASHBOARD.sidebar.sharedWithMe</a>
            <!--<a class="share" href="#" ng-click="dc.goToSearchAll()" translate>DASHBOARD.sidebar.all</a>-->
          </div>


          <div class="clearfix reset-text">
            <div class="pull-left " translate>DASHBOARD.filter.filterBy</div>
            <div class="pull-right"><a href="#" ng-click="dc.resetFilters()" translate>DASHBOARD.filter.reset</a></div>
          </div>

          <div>
            <!-- nested facet template -->
            <script type="text/ng-template" id="facet_renderer.html">
              <a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>{{ node.label }} ({{
                node.numberOfMatches}})</a>
              <ul ui-tree-nodes="" ng-model="node.nodes">
                <li ng-repeat="node in node.nodes" ui-tree-node="" ng-include="'facet_renderer.html'"></li>
              </ul>
            </script>

            <ul class="list-unstyled clearfix">
              <li><a href="#" ng-click="dc.toggleFilters('type')">Type<i class="fa pull-right"
                  ng-class="{ 'fa-caret-down': dc.isFilterSection('type'), 'fa-caret-left': !dc.isFilterSection('type') }"
                  aria-hidden="true"></i></a>

                <ul ng-if="dc.isFilterSection('type')" class="list-inline ">
                  <li>
                    <button uib-tooltip="{{dc.showOrHide('template')}} {{'GENERIC.Template' | translate}}"
                        tooltip-trigger
                        tooltip-animation="false"
                        tooltip-placement="top"
                        data-toggle="tooltip"
                        class="template"
                        ng-click="dc.toggleResourceType('template')"><i
                        class="btn btn-sm btn-info btn-circle fa large-icon fa-file-text template"
                        ng-class="{ active: dc.isResourceTypeActive('template') }"></i></button>

                  </li>
                  <li>
                    <button uib-tooltip="{{dc.showOrHide('element')}} {{'GENERIC.Element' | translate}}"
                        tooltip-trigger
                        tooltip-animation="false"
                        tooltip-placement="top"
                        data-toggle="tooltip"
                        class="element"
                        ng-click="dc.toggleResourceType('element')"><i
                        class="btn btn-sm btn-info btn-circle fa large-icon  fa-sitemap element"
                        ng-class="{ active: dc.isResourceTypeActive('element') }"></i></button>

                  </li>
                  <li>
                    <button uib-tooltip="{{dc.showOrHide('instance')}} {{'GENERIC.Metadata' | translate}}"
                        tooltip-trigger
                        tooltip-animation="false"
                        tooltip-placement="top"
                        data-toggle="tooltip"
                        class="metadata"
                        ng-click="dc.toggleResourceType('instance')"><i
                        class="btn btn-sm btn-info btn-circle fa large-icon  fa-tag metadata"
                        ng-class="{ active: dc.isResourceTypeActive('instance') }"></i></button>
                  </li>
                </ul>

              </li>
              <li class="hidden"><a href="#" ng-click="dc.toggleFilters('author')">Author<i class="fa pull-right"
                  ng-class="{ 'fa-caret-down': dc.isFilterSection('author'), 'fa-caret-left': !dc.isFilterSection('author') }"></i></a>

                <div ng-if="dc.isFilterSection('author')">&nbsp;</div>
              </li>
              <li class="hidden"><a href="#" ng-click="dc.toggleFilters('status')">Status<i class="fa pull-right"
                  ng-class="{ 'fa-caret-down': dc.isFilterSection('status'), 'fa-caret-left': !dc.isFilterSection('status') }"></i></a>

                <div ng-if="dc.isFilterSection('status')">&nbsp;</div>
              </li>
              <li class="hidden" ui-tree=""><a href="#" ng-click="dc.toggleFilters('term')">Term<i class="fa pull-right"
                  ng-class="{ 'fa-caret-down': dc.isFilterSection('term'), 'fa-caret-left': !dc.isFilterSection('term') }"></i></a>

                <div ng-if="dc.isFilterSection('term')">&nbsp;</div>
                <!--<ul ng-if="dc.isFilterSection('term')" ui-tree-nodes="" ng-model="dc.facets.term.nodes">
                  <li ng-repeat="node in dc.facets.term.nodes" ui-tree-node="" ng-include="'facet_renderer.html'"></li>
                </ul>-->
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- END LEFT SIDE -->

      <!-- center panel -->
      <div cedar-infinite-scroll load-more="dc.loadMore()" class=" center-panel scrollable-content"
          ng-class="{ 'col-sm-7': dc.isInfoOpen() , 'without-info': !dc.isInfoOpen()}" id="center-panel">
        <div style="height:auto;">


          <div class="no-selection" ng-if="!dc.hasResources()">
            <div class="row no-file">
              <div class="col-sm-12 center"><i class="fa fa-file"></i></div>
            </div>
            <div class="row no-message">
              <div class="col-sm-12 center" translate>Nothing found</div>
            </div>
          </div>

          <div ng-if="dc.hasResources()">
            <div class="row populate-form-boxes">
              <div class="grid-view" style="height:auto" ng-if="dc.isGridView()">

                <!-- show the folders first -->
                <div ng-if="dc.isFolder(resource)"
                    class="form-box-container folder"
                    ng-class="{ selected: dc.isResourceSelected(resource) }"
                    ng-repeat="(index, resource) in dc.resources">


                  <div rightclick offsetX="0" offsetY="5" dropdownId="{{getId(resource, 'populate')}}"
                      ng-click="dc.selectResource(resource)"
                      ng-dblclick="dc.goToResource(resource)"
                      class="form-box  ">
                    <div class="box-content text-center folder">
                      <div class="folderIconContainer">
                        <i style="font-size:20px" class="fa" ng-class="dc.getResourceIconClass(resource)"></i>
                      </div>
                      <div class="folderTitle">{{ resource.displayName }}</div>

                      <div ng-if="dc.onDashboard()" class="btn-group dropdown" id="{{getId(resource, 'populate')}}">
                        <button style="display:none" title="More"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i
                            class="fa fa-ellipsis-v"></i>
                        </button>

                        <cedar-dropdown-menu class="dropdown-menu " aria-labelledby="{{getId(resource, 'populate')}}"
                            resource="resource" go-to="dc.goToResource" share="dc.showShareModal"
                            move="dc.showMoveModal" copy="dc.showCopyModal" delete="dc.deleteResource"
                            copy="dc.showCopyModal" rename="dc.showRenameModal"
                            can-not-populate="dc.canNotPopulate" can-not-write="dc.canNotWrite"
                            can-not-share="dc.canNotShare" is-folder="dc.isFolder()">
                        </cedar-dropdown-menu>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid-view" style="height:auto" ng-if="dc.isGridView()">


                <div ng-if="!dc.isFolder(resource)"
                    class="form-box-container"
                    ng-class="{ selected: dc.isResourceSelected(resource) }"
                    ng-repeat="(index, resource) in dc.resources">

                  <div rightclick
                      offsetX="0"
                      offsetY="5"
                      dropdownId="{{getId(resource, 'populate')}}"
                      ng-click="dc.selectResource(resource)"
                      ng-dblclick="dc.goToResource(resource)"
                      class="form-box">

                    <div class="box-content text-center " ng-class="dc.getResourceTypeClass(resource)">

                      <div style="text-align:center;padding-top:20px"><i style="font-size:30px;" class="fa"
                          ng-class="dc.getResourceIconClass(resource)"></i>


                      </div>
                      <div class="title"
                          style="text-align:center;height:40px;padding:10px;margin-top:20px; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
                        {{ resource.displayName }}
                      </div>

                      <div ng-if="dc.onDashboard()" class="btn-group dropdown" id="{{getId(resource, 'populate')}}">
                        <button style="display:none" title="More"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i
                            class="fa fa-ellipsis-v"></i>
                        </button>

                        <cedar-dropdown-menu class="dropdown-menu " aria-labelledby="{{getId(resource, 'populate')}}"
                            resource="resource" go-to="dc.goToResource" share="dc.showShareModal"
                            move="dc.showMoveModal" delete="dc.deleteResource" copy="dc.showCopyModal"
                            rename="dc.showRenameModal"
                            can-not-populate="dc.canNotPopulate" can-not-write="dc.canNotWrite"
                            can-not-share="dc.canNotShare" is-folder="dc.isFolder()">
                        </cedar-dropdown-menu>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="list-view" ng-if="dc.isListView() && dc.resources.length > 0"
                  style="height:auto">

                <div class="box-title">
                  <div class="cell type"></div>
                  <div class="cell resource">Title</div>
                  <div class="cell date">Created</div>
                  <div class="cell date">Modified</div>
                </div>

                <!-- show the folders first -->
                <div ng-if="dc.isFolder(resource) && dc.onDashboard()" class="box-row"
                    style="position:relative;width:100%"
                    rightclick
                    offsetx="0" offsety="0"
                    dropdownId="{{getId(resource, 'list')}}"
                    ng-class="{ selected: dc.isResourceSelected(resource) }"
                    ng-click="dc.selectResource(resource)"
                    ng-dblclick="dc.goToResource(resource)"
                    ng-repeat="(index, resource) in dc.resources">

                  <div class="cell type"><i ng-class="dc.getResourceIconClass(resource)"
                      class="btn btn-sm btn-info btn-circle fa large-icon " aria-hidden="true"></i></div>
                  <div class="cell resource">{{ resource.displayName }}</div>
                  <div class="cell date">{{ resource.createdOnTS | prettyDate }}</div>
                  <div class="cell date">{{ resource.lastUpdatedOnTS | prettyDate }}

                    <div class="btn-group dropdown" id="{{getId(resource, 'list')}}">
                      <button style="display:none" title="More" class="btn btn-default dropdown-toggle trigger"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i
                          class="btn btn-sm btn-circle fa fa-ellipsis-v"></i>
                      </button>

                      <cedar-dropdown-menu class="dropdown-menu " aria-labelledby="{{getId(resource, 'populate')}}"
                          resource="resource" go-to="dc.goToResource" share="dc.showShareModal"
                          move="dc.showMoveModal" delete="dc.deleteResource" copy="dc.showCopyModal"
                          rename="dc.showRenameModal"
                          can-not-populate="dc.canNotPopulate" can-not-write="dc.canNotWrite"
                          can-not-share="dc.canNotShare" is-folder="dc.isFolder()">
                      </cedar-dropdown-menu>
                    </div>
                  </div>
                </div>


                <div ng-if="!dc.isFolder(resource)" class="box-row" style="position:relative;width:100%" rightclick
                    offsetx="0" offsety="0"
                    dropdownId="{{getId(resource, 'list')}}"
                    ng-class="{ selected: dc.isResourceSelected(resource) }"
                    ng-click="dc.selectResource(resource)"
                    ng-dblclick="dc.goToResource(resource)"
                    ng-repeat="(index, resource) in dc.resources">

                  <div class="cell type" ng-class="dc.getResourceTypeClass(resource)"><i
                      ng-class="dc.getResourceIconClass(resource)"
                      class="btn btn-sm btn-info btn-circle fa large-icon " aria-hidden="true"></i></div>
                  <div class="cell resource">{{ resource.displayName }}</div>
                  <div class="cell date">{{ resource.createdOnTS | prettyDate }}</div>
                  <div class="cell date">{{ resource.lastUpdatedOnTS | prettyDate }}

                    <div ng-if="dc.onDashboard()" class="btn-group dropdown" id="{{getId(resource, 'list')}}">
                      <button style="display:none" title="More" class="btn btn-default dropdown-toggle trigger"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i
                          class="btn btn-sm btn-circle fa fa-ellipsis-v"></i>
                      </button>

                      <cedar-dropdown-menu class="dropdown-menu " aria-labelledby="{{getId(resource, 'populate')}}"
                          resource="resource" go-to="dc.goToResource" share="dc.showShareModal"
                          move="dc.showMoveModal" delete="dc.deleteResource" copy="dc.showCopyModal"
                          rename="dc.showRenameModal"
                          can-not-populate="dc.canNotPopulate" can-not-write="dc.canNotWrite"
                          can-not-share="dc.canNotShare" is-folder="dc.isFolder()">
                      </cedar-dropdown-menu>
                    </div>
                  </div>
                </div>
              </div>
              <!-- here is the end of the list view- hidden initially -->
            </div>

            <div class="row resource-count" ng-if="dc.showResourceCount()">
              <div class="col-xs-12  center">
                <span translate>GENERIC.Displaying</span> 1 - {{dc.getVisibleCount()}} <span translate>GENERIC.Of</span>
                {{dc.totalCount}}
              </div>
            </div>



          </div>


        </div>

      </div>
      <!-- end of center panel -->

      <!-- RIGHT SIDE -->
      <div class="col-sm-3 row-offcanvas-right" id="sidebar-right" ng-if="dc.isInfoOpen()">

        <div class="header">
          <div class="row">

            <div class="col-sm-2 pull-right ">
              <div class="goaway">
                <button
                    ng-click="dc.toggleInfo()"
                    type="button"
                    class="close"
                    aria-label="Close"
                    ><span aria-hidden="true"><img
                    src="/img/close_modal.png" width="22"/></span></button>
              </div>
            </div>

            <div class="col-sm-10">
              <div class="title" ng-if="dc.getSelectedNode()" ng-class="dc.getSelectedNode().nodeType">
                <i class="fa" ng-class="dc.getResourceIconClass(dc.getSelectedNode())"></i> <span
                  ng-bind="dc.getSelectedNode().displayName"></span>
              </div>
              <div class="title" ng-if="!dc.getSelectedNode()">
                &nbsp;
              </div>
            </div>
          </div>
        </div>

        <div class="info no-selection" ng-if="!dc.getSelectedNode()">
          <div class="row no-file">
            <div class="col-sm-12 center"><i class="fa fa-file"></i></div>
          </div>
          <div class="row no-message">
            <div class="col-sm-12 center " translate>Select a file or folder to view.</div>
          </div>
        </div>

        <div class="info" ng-if="dc.getSelectedNode()">
          <div class="row">
            <div class="col-sm-4" translate>Type</div>
            <div class="col-sm-8 type">{{ dc.getResourceTypeClass(dc.getSelectedNode())}}</div>
          </div>
          <div class="row">
            <div class="col-sm-4 ">Location</div>
            <div class="col-sm-8 location">{{ dc.getSelectedNode().displayPath }}</div>
          </div>
          <div class="row">
            <div class="col-sm-4 left ">Owner</div>
            <div class="col-sm-8 owner">{{ dc.getSelectedNode().ownedByUserName }}</div>
          </div>
          <div class="row">
            <div class="col-sm-4 left ">Modified</div>
            <div class="col-sm-8 modified">
              <span class="no-wrap">{{ dc.getSelectedNode().lastUpdatedOnTS | prettyDate }}</span>
              by
              <span class="no-wrap">{{ dc.getSelectedNode().lastUpdatedByUserName }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 left ">Created</div>
            <div class="col-sm-8 created">
              <span class="no-wrap">{{ dc.getSelectedNode().createdOnTS | prettyDate }}</span>
              by
              <span class="no-wrap">{{ dc.getSelectedNode().createdByUserName }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 left">Can read</div>
            <div class="col-sm-8 can-read">{{ dc.canRead() }}</div>
          </div>
          <div class="row">
            <div class="col-sm-4 left">Can write</div>
            <div class="col-sm-8 can-write">{{ dc.canWrite() }}</div>
          </div>
          <div class="row">
            <div class="col-sm-4 left">Can change owner</div>
            <div class="col-sm-8 can-change-owner">{{ dc.canChangeOwner() }}</div>
          </div>
        </div>


        <div class="description" ng-if="dc.getSelectedNode()">
          <div ng-if="dc.editingDescription" class="editing">

            <form class="form-inline" ng-submit="dc.updateDescription()">
              <fieldset>
                <input id="edit-description" type="text" ng-model="dc.selectedResource.description"
                    ui-keypress="{'esc':'dc.cancelDescriptionEditing()'}">
                <button type="submit" style=" display:none">Add</button>
              </fieldset>
            </form>

          </div>
          <div ng-if="!dc.editingDescription" class="title">
            {{ dc.selectedResource.description }}
          </div>
          <div ng-if="!dc.editingDescription" class="edit pull-right">
            <button
                type="button"
                uib-tooltip='{{"HELP.editDescription" | translate}}'
                tooltip-trigger
                tooltip-animation="false"
                tooltip-placement="left"
                data-toggle="tooltip"
                ng-show="dc.canWrite()"
                ng-click="dc.startDescriptionEditing()"><i class="fa fa-pencil graytext"></i></button>
          </div>
        </div>
      </div>
    </div>
    <!-- END RIGHT SIDE -->

    <!-- floating plus icon section -->
    <div class="add-new  pull-right" ng-if="dc.onDashboard()  && dc.canWriteToCurrentFolder()"
        ng-mouseleave="dc.showFloatingMenu = false">
      <ul class="list-unstyled others">
        <li ng-show="dc.showFloatingMenu">
          <button type="button"
              id="button-create-folder"
              uib-tooltip='{{"HELP.createFolder" | translate}}'
              tooltip-trigger
              tooltip-animation="false"
              tooltip-placement="left"
              data-toggle="tooltip"
              class="btn btn-sm btn-info btn-circle folder"
              ng-click="dc.showNewFolderModal()"><i
              class="fa fa-folder"></i></button>
        </li>

        <li ng-show="dc.showFloatingMenu">
          <a ng-href="/elements/create?folderId={{dc.currentFolderId | encodeURIComponent}}">

            <button type="button"
                id="button-create-element"
                uib-tooltip='{{"HELP.createElement" | translate}}'
                tooltip-trigger
                tooltip-animation="false"
                tooltip-placement="left"
                data-toggle="tooltip" class="btn btn-sm btn-info btn-circle element"><i class="fa fa-sitemap"></i>
            </button>
          </a>
        </li>

        <li ng-show="dc.showFloatingMenu">
          <a ng-href="/templates/create?folderId={{dc.currentFolderId | encodeURIComponent}}">
            <button type="button"
                id="button-create-template"
                uib-tooltip='{{"HELP.createTemplate" | translate}}'
                tooltip-trigger
                tooltip-animation="false"
                tooltip-placement="left"
                data-toggle="tooltip"
                class="btn btn-sm btn-info btn-circle template">
              <i class="fa fa-file-text"></i>
            </button>
          </a>
        </li>

        <li>
          <button type="button"
              id="button-create"
              class="btn btn-sm btn-info btn-circle compose"
              ng-mouseenter="dc.showFloatingMenu = true"><i
              class="fa fa-plus template"></i>
          </button>
        </li>

      </ul>
    </div>
    <!-- end of floating plus icon section -->

  </div>
  </div>

</section>

<!-- add folder modal -->
<section>
  <cedar-new-folder-modal cedar-modal-show modal-visible="dc.newFolderModalVisible" class="modal fade"
      id="new-folder-modal" tabindex="-1" role="dialog" aria-labelledby="newFolderModalHeader"
      data-keyboard="true" data-backdrop="static">
  </cedar-new-folder-modal>
</section>

<!-- rename modal -->
<section>
  <cedar-rename-modal cedar-modal-show modal-visible="dc.renameModalVisible" class="modal fade" id="rename-modal"
      tabindex="-1" role="dialog" aria-labelledby="renameModalHeader"
      data-keyboard="true" data-backdrop="static" rename-resource="resource">
  </cedar-rename-modal>
</section>

<!-- copy modal -->
<section>
  <cedar-copy-modal cedar-modal-show modal-visible="dc.copyModalVisible" class="modal fade" id="copy-modal"
      tabindex="-1" role="dialog" aria-labelledby="copyModalHeader"
      data-keyboard="true" data-backdrop="static" copy-resource="resource">
  </cedar-copy-modal>
</section>

<!-- move modal -->
<section>
  <cedar-move-modal cedar-modal-show modal-visible="dc.moveModalVisible" class="modal fade" id="move-modal"
      tabindex="-1" role="dialog" aria-labelledby="moveModalHeader"
      data-keyboard="true" data-backdrop="static" move-resource="resource">
  </cedar-move-modal>
</section>

<!--- share modal  --->
<section>
  <cedar-share-modal cedar-modal-show modal-visible="dc.shareModalVisible" class="modal fade" id="share-modal"
      tabindex="-1" role="dialog" aria-labelledby="shareModalHeader"
      data-keyboard="true" data-backdrop="static" share-resource="resource">
  </cedar-share-modal>
</section>

<section>
<flow-modal  cedar-modal-show modal-visible="dc.flowModalVisible" class="modal fade"
    id="flow-modal" tabindex="-1" role="dialog" aria-labelledby="flowModalHeader"
    data-keyboard="true" data-backdrop="static">
</flow-modal>
</section>

<!--<section>-->
  <!--<div class="row">-->
    <!--<div class="col-sm-4">-->
      <!--<uib-progressbar value="55"></uib-progressbar>-->
    <!--</div>-->
    <!--<div class="col-sm-4">-->
      <!--<uib-progressbar class="progress-striped" value="22" type="warning">22%</uib-progressbar>-->
    <!--</div>-->
    <!--<div class="col-sm-4">-->
      <!--<uib-progressbar class="progress-striped active" max="200" value="166" type="danger"><i>166 / 200</i>-->
      <!--</uib-progressbar>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->





