<!--all items view -->
<section class="all-items-view " ng-class="{'as-modal': !dc.onDashboard()}">

  <div class="controls-bar clearfix row-fluid navbar-fixed-top "
      ng-class="{'as-modal': !dc.onDashboard()}">

    <div class="col-sm-2"></div>
    <div class="col-sm-7">

      <div class="breadcrumbs-sb ">
        <p ng-if="dc.isSearching">
        <span class="search-result">
            <span ng-class="{'no-search-results':dc.searchTerm}">
              <span>{{dc.breadcrumbTitle}}</span>
            </span>
          </span>
        </p>

        <p ng-if="!dc.isSearching">
            <span class="folder-path" ng-repeat="folder in dc.pathInfo">
              <a ng-click="dc.goToFolder(folder['@id'])"
                  class="breadcrumbs">{{dc.breadcrumbName(folder['schema:name'])}}</a> /
            </span>
          <a class="breadcrumbs">{{dc.breadcrumbName(dc.currentPath['schema:name'])}}</a>

        </p>
      </div>

    </div>
    <div class="col-sm-3">

      <div class="  pull-right no-wrap" id="workspace-toolbar">
        <ul class="list-inline">

          <li id="messaging">
            <button class="inline" uib-tooltip='{{"HELP.message" | translate}}' tooltip-placement="bottom" type="button"
                ng-click="dc.openMessaging()"><i class="fa fa-bell inline"></i></button>
            <div id="messaging-number" ng-show="dc.hasUnreadMessages()">
              <button type="button"
                  uib-tooltip='{{"HELP.unreadMessageCount" | translate}}'
                  tooltip-placement="bottom"
                  ng-click="dc.openMessaging()">{{dc.getUnreadMessageCount()}}<span class="plus">+</span>
              </button>
            </div>
          </li>

          <li ng-if="dc.onDashboard()" class="repoSubmission">
            <button type="button"
                ng-disabled="!dc.canSubmit()"
                uib-tooltip='{{"HELP.repoSubmission" | translate}}'
                tooltip-trigger
                tooltip-animation="false"
                tooltip-placement="bottom"
                data-toggle="tooltip"
                ng-click="dc.showFlowModal()"><i class="fa fa-upload"></i></button>
          </li>

          <li ng-if="dc.onDashboard() " class="more-options">
            <div class="btn-group dropdown">
              <button class="{'disabled': !dc.hasSelection()}"
                  ng-disabled="!dc.hasSelection()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i
                  class="fa fa-ellipsis-v  inline "></i></button>

              <cedar-dropdown-menu class="dropdown-menu dropdown-menu-right" resource="selectedResource"
                  go-to="dc.goToResource"
                  share="dc.showShareModal"
                  move="dc.showMoveModal" delete="dc.deleteResource" copy="dc.showCopyModal" rename="dc.showRenameModal"
                  publish="dc.publishResource" create-draft="dc.createDraftResource"
                  can-not-publish="dc.canNotPublish" can-not-create-draft="dc.canNotCreateDraft"
                  can-not-populate="dc.canNotPopulate" can-not-write="dc.canNotWrite"
                  can-not-share="dc.canNotShare" can-not-delete="dc.canNotDelete" is-folder="dc.isFolder()">
              </cedar-dropdown-menu>

            </div>
          </li>

          <li ng-show="dc.onDashboard()" id="grid-view-tool">
            <button type="button"
                uib-tooltip='{{"HELP.viewAsList" | translate}}'
                tooltip-trigger
                tooltip-animation="false"
                tooltip-placement="bottom"
                data-toggle="tooltip"
                ng-click="dc.toggleView()">
              <i class="inline fa "
                  ng-class="{'fa-list-ul': dc.isGridView(), 'fa-th': dc.isListView()}"></i>
            </button>
          </li>


          <li ng-if="dc.onDashboard()" class="toggleDetails"
              ng-class="{'hidePanel':dc.isInfoOpen(), 'showPanel':!dc.isInfoOpen()}">
            <button type="button"
                uib-tooltip="{{ dc.toggleDirection() | translate  }}"
                tooltip-trigger
                tooltip-animation="false"
                tooltip-placement="bottom"
                data-toggle="tooltip"
                ng-click="dc.toggleInfo()"><i class="fa fa-info "></i></button>
          </li>


          <li ng-if="dc.onDashboard()" id="workspace-sort-tool">
            <div class="btn-group dropdown">
              <button type="button"
                  uib-tooltip='{{"HELP.sortBy" | translate}}'
                  tooltip-trigger
                  tooltip-animation="false"
                  tooltip-placement="bottom"
                  data-toggle="tooltip"><i class="fa fa-sort-amount-asc "></i></button>
              <button class="menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i
                  class="fa fa-caret-down  "></i></button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a class="sortName" ng-click="dc.setSortByName()"><i class="fa fa-check"
                    ng-class="dc.sortName()"></i><span
                    translate="DASHBOARD.sort.name"></span></a></li>
                <li><a class="sortCreated" ng-click="dc.setSortByCreated()"><i class="fa fa-check"
                    ng-class="dc.sortCreated()"></i><span translate="DASHBOARD.sort.createdOnTS"></span></a></li>
                <li><a class="sortUpdated" ng-click="dc.setSortByUpdated()"><i class="fa fa-check"
                    ng-class="dc.sortUpdated()"></i><span
                    translate="DASHBOARD.sort.lastUpdatedOnTS"></span></a>
                </li>
              </ul>
            </div>
          </li>

          <li ng-if="dc.onDashboard()" id="user-tool">
            <div class="btn-group dropdown">
              <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i
                  class="fa fa-user inline "></i></button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li id="user-profile-tool"><a href="/profile">Profile</a></li>
                <li id="user-help"><a target="_blank" href="http://metadatacenter.org/tools-training/support">Help</a>
                </li>
                <li id="user-about"><a target="_blank"
                    href="http://metadatacenter.org/tools-training/orientation">About</a></li>
                <li id="user-privacy"><a href="/privacy">Privacy</a></li>
                <li id="user-logout-tool"><a href="/logout">Logout</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>


  <!-- container -->
  <div class="container-fluid">
    <div class="row ">

      <!-- START LEFT SIDE -->
      <div class="col-sm-2 row-offcanvas-left" id="sidebar-left" ng-if="dc.filterShowing() &&  dc.onDashboard()">

        <div class="filter-options">

          <div class="shares">
            <a class="share" ng-class="{active: dc.isHomeMode()}" href="#" ng-click="dc.goToMyWorkspace()" translate>DASHBOARD.sidebar.myWorkspace</a>
            <a class="share" ng-class="{active: dc.isSharedMode()}" href="#" ng-click="dc.goToSharedWithMe()" translate>DASHBOARD.sidebar.sharedWithMe</a>
            <!--<a class="share" href="#" ng-click="dc.goToSearchAll()" translate>DASHBOARD.sidebar.all</a>-->
          </div>


          <div class="clearfix reset-text">
            <div class="pull-left " translate>DASHBOARD.filter.filterBy</div>
            <div class="pull-right" ng-show="dc.resetFiltersEnabled()"><a href="#" ng-click="dc.resetFilters()"
                translate>DASHBOARD.filter.reset</a></div>
          </div>

          <div>
            <!-- nested facet template -->
            <script type="text/ng-template" id="facet_renderer.html">
              <a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>{{ node.label }} ({{
                node.numberOfMatches}})</a>
              <ul ui-tree-nodes="" ng-model="node.nodes">
                <li ng-repeat="node in node.nodes" ui-tree-node="" ng-include="'facet_renderer.html'"></li>
              </ul>
            </script>

            <ul class="list-unstyled clearfix">
              <li><a href="#" ng-click="dc.toggleFilters('type')">Type<i class="fa pull-right"
                  ng-class="{ 'fa-caret-down': dc.isFilterSection('type'), 'fa-caret-left': !dc.isFilterSection('type') }"
                  aria-hidden="true"></i></a>

                <div ng-if="dc.isFilterSection('type')" class="filter-type">

                  <cedar-resource-icon style="display:inline-block;margin:2px;" resource-type="'template'"
                      uib-tooltip="{{'GENERIC.Template' | translate}}"
                      tooltip-trigger
                      tooltip-animation="false"
                      tooltip-placement="top"
                      data-toggle="tooltip"
                      ng-click="dc.toggleResourceType('template')"
                      class="template"
                      ng-class="{ deselected: !dc.isResourceTypeActive('template'), selected: dc.isResourceTypeActive('template')}">
                  </cedar-resource-icon>

                  <cedar-resource-icon style="display:inline-block;margin:2px;" resource-type="'element'"
                      uib-tooltip="{{'GENERIC.Element' | translate}}"
                      tooltip-trigger
                      tooltip-animation="false"
                      tooltip-placement="top"
                      data-toggle="tooltip"
                      ng-click="dc.toggleResourceType('element')"
                      class="element"
                      ng-class="{ deselected: !dc.isResourceTypeActive('element'), selected: dc.isResourceTypeActive('element') }"></cedar-resource-icon>

                  <cedar-resource-icon style="display:inline-block;margin:2px;" resource-type="'field'"
                      uib-tooltip="{{'GENERIC.Field' | translate}}"
                      tooltip-trigger
                      tooltip-animation="false"
                      tooltip-placement="top"
                      data-toggle="tooltip"
                      ng-click="dc.toggleResourceType('field')"
                      class="field"
                      ng-class="{ deselected: !dc.isResourceTypeActive('field'), selected: dc.isResourceTypeActive('field') }"></cedar-resource-icon>

                  <cedar-resource-icon style="display:inline-block;margin:2px;" resource-type="'metadata'"
                      uib-tooltip="{{'GENERIC.Metadata' | translate}}"
                      tooltip-trigger
                      tooltip-animation="false"
                      tooltip-placement="top"
                      data-toggle="tooltip"
                      ng-click="dc.toggleResourceType('instance')"
                      class="metadata"
                      ng-class="{ deselected: !dc.isResourceTypeActive('instance'), selected: dc.isResourceTypeActive('instance') }"></cedar-resource-icon>

                </div>

              </li>

              <li><a href="#" ng-click="dc.toggleFilters('version')">Version<i
                  class="fa pull-right"
                  ng-class="{ 'fa-caret-down': dc.isFilterSection('version'), 'fa-caret-left': !dc.isFilterSection('version') }"></i></a>

                <ul ng-if="dc.isFilterSection('version')" class="list-inline filter-resource-version ">
                  <li>
                    <div ng-click="dc.setPublication('bibo:draft')"
                        class="draft no-select"
                        ng-class="{ active: dc.getPublication('bibo:draft') }">
                      <i class="btn fa" ng-class="dc.getVersionIcon('bibo:draft')"></i>{{'GENERIC.Draft' | translate}}
                    </div>
                  </li>
                  <li>
                    <div ng-click="dc.setPublication('bibo:published')"
                        class="published no-select"
                        ng-class="{ active: dc.getPublication('bibo:published') }">
                      <i class="btn fa" ng-class="dc.getVersionIcon('bibo:published')"></i>{{'GENERIC.Published' |
                      translate}}
                    </div>
                  </li>
                  <li>
                    <div ng-click="dc.setPublication('latest')"
                        class="latest no-select"
                        ng-class="{ active: dc.getPublication('latest') }">
                      <i class="btn fa " ng-class="dc.getVersionIcon('latest')"></i>{{'GENERIC.Latest' | translate}}
                    </div>
                  </li>
                </ul>
              </li>
            </ul>


          </div>
        </div>
      </div>
      <!-- END LEFT SIDE -->

      <!-- center panel -->
      <div cedar-infinite-scroll load-more="dc.loadMore()" class=" center-panel scrollable-content"
          ng-class="{ 'col-sm-7': dc.isInfoOpen() , 'without-info': !dc.isInfoOpen()}" id="center-panel">
        <div style="height:auto;" ng-class="{ 'extraRight': !dc.isInfoOpen()}">

          <div class="no-selection" ng-if="!dc.hasResources()">
            <div class="row no-file">
              <div class="col-sm-12 center"><i class="fa fa-file"></i></div>
            </div>
            <div class="row no-message">
              <div class="col-sm-12 center" translate>Nothing found</div>
            </div>
          </div>

          <div ng-if="dc.hasResources()">
            <div class="row populate-form-boxes">
              <div class="grid-view" style="height:auto" ng-if="dc.isGridView()">

                <!-- show the folders first -->
                <div ng-if="dc.isFolder(resource)"
                    class="form-box-container folder"
                    ng-class="{ selected: dc.isResourceSelected(resource) }"
                    ng-repeat="(index, resource) in dc.resources">

                  <div rightclick offsetX="0" offsetY="5" dropdownId="{{getId(resource, 'populate')}}"
                      ng-click="dc.selectResource(resource)"
                      ng-dblclick="dc.goToResource(resource)"
                      class="form-box  ">
                    <div class="box-content text-center folder">
                      <div class="folderIconContainer">
                        <i style="font-size:20px" class="fa" ng-class="dc.getResourceIconClass(resource)"></i>
                      </div>
                      <div class="folderTitle">{{ resource['schema:name'] }}</div>

                      <div ng-if="dc.onDashboard()" class="btn-group dropdown" id="{{getId(resource, 'populate')}}"
                          append-to-body="true">
                        <button style="display:none" title="More" append-to-body="true"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i
                            class="fa fa-ellipsis-v"></i>
                        </button>

                        <cedar-dropdown-menu style="flex-grow: 1" append-to-body="true" class="dropdown-menu "
                            aria-labelledby="{{getId(resource, 'populate')}}"
                            resource="resource" go-to="dc.goToResource" share="dc.showShareModal"
                            move="dc.showMoveModal" copy="dc.showCopyModal" delete="dc.deleteResource"
                            copy="dc.showCopyModal" rename="dc.showRenameModal"
                            publish="dc.publishResource" create-draft="dc.createDraftResource"
                            can-not-publish="dc.canNotPublish" can-not-create-draft="dc.canNotCreateDraft"
                            can-not-populate="dc.canNotPopulate" can-not-write="dc.canNotWrite"
                            can-not-share="dc.canNotShare" can-not-delete="dc.canNotDelete" is-folder="dc.isFolder()">
                        </cedar-dropdown-menu>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid-view" style="height:auto" ng-if="dc.isGridView()">


                <div ng-if="!dc.isFolder(resource)"
                    class="form-box-container"
                    ng-class="{ selected: dc.isResourceSelected(resource) }"
                    ng-repeat="(index, resource) in dc.resources">

                  <div rightclick
                      offsetX="0"
                      offsetY="5"
                      dropdownId="{{getId(resource, 'populate')}}"
                      ng-click="dc.selectResource(resource)"
                      ng-dblclick="dc.goToResource(resource)"
                      class="form-box">

                    <div class="box-content text-center " ng-class="dc.getResourceTypeClass(resource)">
                      <div class="toolbar-right">
                        <i class="action fa" ng-class="dc.getVersionIcon(resource['bibo:status'])"
                            uib-tooltip="{{dc.getResourceVersion(resource)}}"
                            tooltip-trigger
                            tooltip-animation="false"
                            tooltip-placement="left"
                            data-toggle="tooltip"
                            ng-click="dc.createVersion(resource)"></i>

                        <button title="More"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          <i class="action fa fa-ellipsis-v"></i>
                        </button>

                        <cedar-dropdown-menu class="dropdown-menu " aria-labelledby="{{getId(resource, 'populate')}}"
                            resource="resource" go-to="dc.goToResource" share="dc.showShareModal"
                            move="dc.showMoveModal" delete="dc.deleteResource" copy="dc.showCopyModal"
                            rename="dc.showRenameModal"
                            publish="dc.publishResource" create-draft="dc.createDraftResource"
                            can-not-publish="dc.canNotPublish" can-not-create-draft="dc.canNotCreateDraft"
                            can-not-populate="dc.canNotPopulate" can-not-write="dc.canNotWrite"
                            can-not-share="dc.canNotShare" can-not-delete="dc.canNotDelete" is-folder="dc.isFolder()">
                        </cedar-dropdown-menu>
                      </div>


                      <div class="resource"><i class="fa" ng-class="dc.getResourceIconClass(resource)"></i></div>
                      <div class="title">{{ resource['schema:name'] }}</div>
                      <div ng-if="dc.onDashboard()" class="btn-group dropdown" id="{{getId(resource, 'populate')}}">
                        <button style="display:none" title="More"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i
                            class="fa fa-ellipsis-v"></i>
                        </button>

                        <cedar-dropdown-menu class="dropdown-menu " aria-labelledby="{{getId(resource, 'populate')}}"
                            resource="resource" go-to="dc.goToResource" share="dc.showShareModal"
                            move="dc.showMoveModal" delete="dc.deleteResource" copy="dc.showCopyModal"
                            rename="dc.showRenameModal"
                            publish="dc.publishResource" create-draft="dc.createDraftResource"
                            can-not-publish="dc.canNotPublish" can-not-create-draft="dc.canNotCreateDraft"
                            can-not-populate="dc.canNotPopulate" can-not-write="dc.canNotWrite"
                            can-not-share="dc.canNotShare" is-folder="dc.isFolder()">
                        </cedar-dropdown-menu>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="list-view" ng-if="dc.isListView() && dc.resources.length > 0"
                  style="height:auto;position:relative">

                <div class="box-title flex">
                  <div class="flex" style="width:100%;justify-content:space-between;">
                    <cedar-resource-icon style="visibility:hidden"
                        resource-type="resource.nodeType"></cedar-resource-icon>
                    <a style="width:100%;" ng-class="{'bold': dc.isSort('name')}" href="#"
                        ng-click="dc.updateSort('name')">Title</a>
                  </div>

                  <a style="width:200px;" ng-class="{'bold': dc.isSort('createdOnTS')}" href="#"
                      ng-click="dc.updateSort('createdOnTS')">Created</a>
                  <a style="width:200px;" ng-class="{'bold': dc.isSort('lastUpdatedOnTS')}" href="#"
                      ng-click="dc.updateSort('lastUpdatedOnTS')">Modified</a>
                  <div style="width:60px"></div>

                </div>

                <!-- show the folders first -->
                <div ng-if="dc.isFolder(resource) && dc.onDashboard()" class="box-row "
                    id="{{dc.getId(resource, 'row')}}"
                    rightclick
                    offsetx="0" offsety="0"
                    dropdownId="{{getId(resource, 'list')}}"
                    ng-class="{ selected: dc.isResourceSelected(resource) }"
                    ng-click="dc.selectResource(resource)"
                    ng-dblclick="dc.goToResource(resource)"
                    ng-repeat="(index, resource) in dc.resources">


                  <div class="outer flex">
                    <div class="flex ellipsis" style="justify-content:">
                      <cedar-resource-icon resource-type="resource.nodeType"></cedar-resource-icon>
                      <div class="ellipsis" style="width:100%;space-between;">{{ resource['schema:name']}}</div>
                    </div>
                    <div class="ellipsis" style="width:200px;padding-right:10px;">{{ resource['pav:createdOn'] |
                      prettyDate }}
                    </div>
                    <div class="ellipsis" style="width:200px;padding-right:10px;">{{ resource['pav:lastUpdatedOn'] |
                      prettyDate }}
                    </div>
                    <div class="flex" style="width:60px;justify-content:space-between">

                      <i class="action fa" ng-class="dc.getVersionIcon(resource['bibo:status'])"
                          uib-tooltip="{{dc.getResourceVersion(resource)}}"
                          tooltip-trigger
                          tooltip-animation="false"
                          tooltip-placement="left"
                          data-toggle="tooltip"
                          ng-click="dc.createVersion(resource)"></i>


                      <button id="{{dc.getId(resource, 'list')}}"
                          ng-click="dc.toggledCedarDropdownMenu($event, resource )"
                          title="More"
                          class="dropup"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="true">
                        <i class="action fa fa-ellipsis-v"></i>
                      </button>

                      <cedar-dropdown-menu id="{{dc.getId(resource, 'menu')}}"
                          class="dropdown-menu"
                          toggle-id="dc.getId"
                          aria-labelledby="{{dc.getId(resource, 'list')}}"
                          resource="resource" go-to="dc.goToResource" share="dc.showShareModal"
                          move="dc.showMoveModal" delete="dc.deleteResource" copy="dc.showCopyModal"
                          rename="dc.showRenameModal"
                          publish="dc.publishResource" create-draft="dc.createDraftResource"
                          can-not-publish="dc.canNotPublish" can-not-create-draft="dc.canNotCreateDraft"
                          can-not-populate="dc.canNotPopulate" can-not-write="dc.canNotWrite"
                          can-not-share="dc.canNotShare" can-not-delete="dc.canNotDelete" is-folder="dc.isFolder()">
                      </cedar-dropdown-menu>


                    </div>
                  </div>
                </div>

                <div ng-if="!dc.isFolder(resource)" class="box-row "
                    id="{{dc.getId(resource, 'row')}}"
                    rightclick
                    offsetx="0" offsety="0"
                    dropdownId="{{getId(resource, 'list')}}"
                    ng-class="{ selected: dc.isResourceSelected(resource) }"
                    ng-click="dc.selectResource(resource)"
                    ng-dblclick="dc.goToResource(resource)"
                    ng-repeat="(index, resource) in dc.resources">

                  <div class="outer flex">
                    <div class="flex ellipsis" style="justify-content:space-between">
                      <cedar-resource-icon resource-type="resource.nodeType"></cedar-resource-icon>
                      <div class="ellipsis" style="width:100%">{{ resource['schema:name']}}</div>
                    </div>
                    <div class="ellipsis" style="width:200px;padding-right:10px;">{{ resource['pav:createdOn'] |
                      prettyDate }}
                    </div>
                    <div class="ellipsis" style="width:200px;padding-right:10px;">{{ resource['pav:lastUpdatedOn'] |
                      prettyDate }}
                    </div>
                    <div class="flex" style="width:60px;justify-content:space-between">

                      <i class="action fa" ng-class="dc.getVersionIcon(resource['bibo:status'])"
                          uib-tooltip="{{dc.getResourceVersion(resource)}}"
                          tooltip-trigger
                          tooltip-animation="false"
                          tooltip-placement="left"
                          data-toggle="tooltip"
                          ng-click="dc.createVersion(resource)"></i>

                      <button id="{{dc.getId(resource, 'list')}}" title="More"
                          ng-click="dc.toggledCedarDropdownMenu($event, resource)"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="action fa fa-ellipsis-v"></i>
                      </button>

                      <cedar-dropdown-menu id="{{dc.getId(resource, 'menu')}}"
                          toggle-id="dc.getId"
                          class="dropdown-menu " aria-labelledby="{{dc.getId(resource, 'list')}}"
                          resource="resource" go-to="dc.goToResource" share="dc.showShareModal"
                          move="dc.showMoveModal" delete="dc.deleteResource" copy="dc.showCopyModal"
                          rename="dc.showRenameModal"
                          publish="dc.publishResource" create-draft="dc.createDraftResource"
                          can-not-publish="dc.canNotPublish" can-not-create-draft="dc.canNotCreateDraft"
                          can-not-populate="dc.canNotPopulate" can-not-write="dc.canNotWrite"
                          can-not-share="dc.canNotShare" can-not-delete="dc.canNotDelete" is-folder="dc.isFolder()">
                      </cedar-dropdown-menu>

                    </div>
                  </div>
                </div>
              </div>
              <!-- here is the end of the list view- hidden initially -->
            </div>

            <div class="row resource-count" ng-if="dc.showResourceCount()">
              <div class="col-xs-12  center">
                <span translate>GENERIC.Displaying</span> 1 - {{dc.getVisibleCount()}} <span translate>GENERIC.Of</span>
                {{dc.totalCount}}
              </div>
            </div>


          </div>


        </div>

      </div>
      <!-- end of center panel -->

      <!-- RIGHT SIDE -->
      <div class="col-sm-3 row-offcanvas-right" id="sidebar-right" ng-if="dc.isInfoOpen()">


        <div class="flex">
          <cedar-resource-icon resource-type="dc.getSelectedNode().nodeType"></cedar-resource-icon>
          <div class="title full-width" ng-class="dc.getSelectedNode().nodeType">
            <span class="ellipsis" ng-bind="dc.getSelectedNode()['schema:name']"></span>
          </div>
          <div class="goaway">
            <button
                ng-click="dc.toggleInfo()"
                type="button"
                class="close"
                aria-label="Close">
              <span aria-hidden="true">
                <img src="/img/close_modal.png" width="16"/></span>
            </button>
          </div>
        </div>

        <div class="element-toggles list table-style">
          <div class="element-toggle table-cell-style "
              ng-class="{active: dc.isTabActive('resource-info')}"
              ng-click="dc.setTab('resource-info');">
            <span>Info</span>
          </div>
          <div class="element-toggle table-cell-style "
              ng-class="{active: dc.isTabActive('resource-version')}"
              ng-click="dc.setTab('resource-version');">
            <span>Version</span>
          </div>
        </div>

        <div class="half-padding-top" id="resource-version" ng-show="dc.isTabActive('resource-version')">
          <div class="info " ng-if="dc.selectedResource && dc.selectedResource.versions"
              ng-repeat="(index, resource) in dc.selectedResource.versions">

            <div class="flex" style="margin:10px 0;">
              <i class="padding-right action fa"
                  ng-class="dc.getVersionIcon(resource['bibo:status'])"></i>
              <div class="padding-right">{{resource['pav:version']}}</div>
              <div class="ellipsis clickable" ng-click="dc.goToResource(resource)">{{resource['schema:name']}}</div>
            </div>

            <div class="flex flex-wrap">
              <div class="field-label">Created</div>
              <div>{{ resource['pav:createdOn'] | prettyDate }}</div>
            </div>
            <div class="flex flex-wrap">
              <div class="field-label" translate>Modified</div>
              <div>{{ resource['pav:lastUpdatedOn'] | prettyDate }}</div>
            </div>

          </div>
        </div>

        <div id="resource-info" ng-if="dc.isTabActive('resource-info')">
          <div class="info no-selection" ng-if="!dc.getSelectedNode()">
            <div class="row no-file">
              <div class="col-sm-12 center"><i class="fa fa-file"></i></div>
            </div>
            <div class="row no-message">
              <div class="col-sm-12 center " translate>Select a file or folder to view.</div>
            </div>
          </div>

          <div class="info" ng-if="dc.getSelectedNode()">
            <div class="flex flex-wrap padding-top">
              <div class="field-label" translate>Location</div>
              <div>{{ dc.getSelectedNode().parentPath }}</div>
            </div>

            <div class="flex flex-wrap padding-top">
              <div class="field-label" translate>Owner</div>
              <div> {{ dc.getSelectedNode().ownedByUserName }}</div>
            </div>

            <div class="flex flex-wrap padding-top">
              <div class="field-label" translate>Created</div>
              <div>{{ dc.getSelectedNode()['pav:createdOn'] | prettyDate }} by {{
                dc.getSelectedNode().createdByUserName }}
              </div>
            </div>

            <div class="flex flex-wrap padding-top">
              <div class="field-label" translate>Modified</div>
              <div>{{ dc.getSelectedNode()['pav:lastUpdatedOn'] | prettyDate }} by
                {{ dc.getSelectedNode().lastUpdatedByUserName }}
              </div>
            </div>

            <div class="flex flex-wrap padding-top">
              <div class="field-label" translate>Permission</div>
              <div>
                <span ng-if="dc.canRead()" class="can-read ellipsis"><i class="fa fa-check"></i>read </span>
                <span ng-if="dc.canWrite()" class="can-write ellipsis"><i class="fa fa-check"></i>write </span>
                <span ng-if="dc.canChangeOwner()" class="can-change-owner ellipsis"><i class="fa fa-check"></i>change owner</span>
              </div>
            </div>

          </div>


          <div class="description flex-top " style="padding: 20px 0 0 0;" ng-if="dc.getSelectedNode()">
            <div style="width:100%;">
              <div ng-if="dc.editingDescription">
                <form name="forms.descriptionForm" class="form-inline" ng-submit="dc.updateDescription()">
                  <fieldset>
                <textarea style="width:100%;resize:both" id="edit-description" type="text"
                    ng-model="dc.selectedResource['schema:description']"
                    ui-keypress="{'esc':'dc.cancelDescriptionEditing()'}"></textarea>
                    <button type="submit" style=" display:none">Add</button>
                  </fieldset>
                </form>

              </div>
              <div ng-if="!dc.editingDescription" class="title">
                {{ dc.selectedResource['schema:description'] }}
              </div>
            </div>

            <div>
              <button
                  style="background:transparent"
                  ng-show="!dc.editingDescription && dc.canWrite()"
                  type="button"
                  uib-tooltip='{{"HELP.editDescription" | translate}}'
                  tooltip-trigger
                  tooltip-animation="false"
                  tooltip-placement="left"
                  data-toggle="tooltip"
                  ng-click="dc.toggleDescriptionEditing()"><i class="fa fa-pencil graytext"></i></button>
            </div>

          </div>
        </div>

      </div>
      <!-- END RIGHT SIDE -->

      <!-- floating plus icon section -->
      <div class="add-new  pull-right" ng-if="dc.onDashboard()  && dc.canWriteToCurrentFolder()"
          ng-mouseleave="dc.showFloatingMenu = false">
        <ul class="list-unstyled others">
          <li style="margin:5px 0;" ng-show="dc.showFloatingMenu">
            <cedar-resource-icon resource-type="'folder'"
                id="button-create-folder"
                uib-tooltip='{{"HELP.createFolder" | translate}}'
                tooltip-trigger
                tooltip-animation="false"
                tooltip-placement="left"
                data-toggle="tooltip"
                ng-click="dc.showNewFolderModal()"></cedar-resource-icon>
          </li>

          <li style="margin:5px 0" ng-show="dc.showFloatingMenu">
            <a ng-href="/fields/create?folderId={{dc.currentFolderId | encodeURIComponent}}">
              <cedar-resource-icon resource-type="'field'"
                  id="button-create-field"
                  uib-tooltip='{{"HELP.createField" | translate}}'
                  tooltip-trigger
                  tooltip-animation="false"
                  tooltip-placement="left"
                  data-toggle="tooltip">
              </cedar-resource-icon>
            </a>
          </li>

          <li style="margin:5px 0" ng-show="dc.showFloatingMenu">
            <a ng-href="/elements/create?folderId={{dc.currentFolderId | encodeURIComponent}}">
              <cedar-resource-icon resource-type="'element'"
                  id="button-create-element"
                  uib-tooltip='{{"HELP.createElement" | translate}}'
                  tooltip-trigger
                  tooltip-animation="false"
                  tooltip-placement="left"
                  data-toggle="tooltip">
              </cedar-resource-icon>
            </a>
          </li>


          <li style="margin:5px 0" ng-show="dc.showFloatingMenu">
            <a ng-href="/templates/create?folderId={{dc.currentFolderId | encodeURIComponent}}">
              <cedar-resource-icon resource-type="'template'"
                  id="button-create-template"
                  uib-tooltip='{{"HELP.createTemplate" | translate}}'
                  tooltip-trigger
                  tooltip-animation="false"
                  tooltip-placement="left"
                  data-toggle="tooltip">
              </cedar-resource-icon>
            </a>
          </li>

          <li style="margin:5px 0">
            <button type="button"
                id="button-create"
                class="btn btn-sm btn-info btn-circle compose"
                ng-mouseenter="dc.showFloatingMenu = true"><i
                class="fa fa-plus template"></i>
            </button>
          </li>

        </ul>
      </div>
      <!-- end of floating plus icon section -->

    </div>
  </div>

</section>

<!-- add folder modal -->
<section>
  <cedar-new-folder-modal cedar-modal-show modal-visible="dc.newFolderModalVisible" class="modal fade"
      id="new-folder-modal" tabindex="-1" role="dialog" aria-labelledby="newFolderModalHeader"
      data-keyboard="true" data-backdrop="static">
  </cedar-new-folder-modal>
</section>

<!-- rename modal -->
<section>
  <cedar-rename-modal cedar-modal-show modal-visible="dc.renameModalVisible" class="modal fade" id="rename-modal"
      tabindex="-1" role="dialog" aria-labelledby="renameModalHeader"
      data-keyboard="true" data-backdrop="static" rename-resource="resource">
  </cedar-rename-modal>
</section>

<!-- copy modal -->
<section>
  <cedar-copy-modal cedar-modal-show modal-visible="dc.copyModalVisible" class="modal fade" id="copy-modal"
      tabindex="-1" role="dialog" aria-labelledby="copyModalHeader"
      data-keyboard="true" data-backdrop="static" copy-resource="resource">
  </cedar-copy-modal>
</section>

<!-- move modal -->
<section>
  <cedar-move-modal cedar-modal-show modal-visible="dc.moveModalVisible" class="modal fade" id="move-modal"
      tabindex="-1" role="dialog" aria-labelledby="moveModalHeader"
      data-keyboard="true" data-backdrop="static" move-resource="resource">
  </cedar-move-modal>
</section>

<!--- share modal  --->
<section>
  <cedar-share-modal cedar-modal-show modal-visible="dc.shareModalVisible" class="modal fade" id="share-modal"
      tabindex="-1" role="dialog" aria-labelledby="shareModalHeader"
      data-keyboard="true" data-backdrop="static" share-resource="resource">
  </cedar-share-modal>
</section>

<section>
  <flow-modal cedar-modal-show modal-visible="dc.flowModalVisible" class="modal fade"
      id="flow-modal" tabindex="-1" role="dialog" aria-labelledby="flowModalHeader"
      data-keyboard="true" data-backdrop="static">
  </flow-modal>
</section>

<!--<section>-->
<!--<div class="row">-->
<!--<div class="col-sm-4">-->
<!--<uib-progressbar value="55"></uib-progressbar>-->
<!--</div>-->
<!--<div class="col-sm-4">-->
<!--<uib-progressbar class="progress-striped" value="22" type="warning">22%</uib-progressbar>-->
<!--</div>-->
<!--<div class="col-sm-4">-->
<!--<uib-progressbar class="progress-striped active" max="200" value="166" type="danger"><i>166 / 200</i>-->
<!--</uib-progressbar>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->





