<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 translate>DASHBOARD.share.title</h4>
    </div>

    <div class="modal-body">

      <!-- body  for share  -->
      <div ng-show="!share.showGroups">

        <div class="row">
          <div class="col-sm-6">
            <div ng-if="share.canUpdate()">

              <h5 translate>DASHBOARD.share.withUsers</h5>

              <div >
                <div class="row">

                  <div class="col-sm-7">
                  <input  placeholder="enter user name" type="text" ng-change="share.updateUserPermission(share.typeaheadUser.id)"
                      style="color:#000;outline:none;border-radius:0px;box-shadow:none;border:1px solid #ddd;height:40px"
                      ng-model="share.typeaheadUser"
                      typeahead-editable="false"
                      typeahead="user as user.name for user in share.resourceUsers | filter:$viewValue | limitTo:8 "
                      class="form-control"></div>


                  <select ng-model="share.giveUserPermission" style="outline:none;height:40px"
                      data-dropup-auto="false" class="dropdown col-sm-4" select-picker
                      select-model="share.typeaheadUser.id"
                      cedar-live-search="true">
                    <option value="read">can read</option>
                    <option value="write">can write</option>
                    <option ng-show="share.canBeOwner(share.typeaheadUser.id)" value="own">is owner</option>
                  </select>

                  <button
                      class="col-sm-1  btn btn-sm btn-info btn-circle btn-plus" ng-if="share.canUpdate()"
                      ng-model="share.resourcePermissions"
                      type="button"
                      tooltip='add'
                      tooltip-trigger
                      tooltip-animation="false"
                      tooltip-placement="top"
                      data-toggle="tooltip"
                      ng-click="share.addShare(share.typeaheadUser.id, share.giveUserPermission, 'shared-users', resource)">
                    <!--<span aria-hidden="true">&plus;</span>-->
                    <i class="fa fa-plus" style="margin: 0 -4px;vertical-align: top;"></i>
                  </button>

                </div>
              </div>

              <h5 translate>DASHBOARD.share.withGroups</h5>

              <div >
                <div class="row">

                  <div class="col-sm-7">
                  <input  placeholder="enter group name" type="text" ng-change="share.updateGroupPermission(share.typeaheadGroup.id)"
                      style="color:#000;outline:none;border-radius:0px;box-shadow:none;border:1px solid #ddd;height:40px"
                      ng-model="share.typeaheadGroup"
                      typeahead-editable="false"
                      typeahead="group as group.displayName for group in share.resourceGroups | filter:$viewValue | limitTo:8 "
                      class="form-control">
                    </div>

                  <select ng-model="share.giveGroupPermission" style="outline:none;height:40px"
                      data-dropup-auto="false" class="dropdown col-sm-4" select-picker
                      select-model="share.typeaheadGroup.id"
                      cedar-live-search="true">
                    <option value="read">can read</option>
                    <option value="write">can write</option>
                  </select>

                  <button
                      class="col-sm-1  btn btn-sm btn-info btn-circle btn-plus" ng-if="share.canUpdate()"
                      ng-model="share.resourcePermissions"
                      type="button"
                      tooltip='add'
                      tooltip-trigger
                      tooltip-animation="false"
                      tooltip-placement="top"
                      data-toggle="tooltip"
                      ng-click="share.addShare(share.typeaheadGroup.id, share.giveGroupPermission, 'shared-users', resource)">
                    <!--<span aria-hidden="true">&plus;</span>-->
                    <i class="fa fa-plus" style="margin: 0 -4px;vertical-align: top;"></i>
                  </button>

                </div>
              </div>

              <a href="" ng-click="share.showGroups = true">

                <h5><span translate>DASHBOARD.share.manageGroups</span> <i class="fa fa-users"></i></h5>

              </a>


            </div>

          </div>
          <div class="col-sm-6">
            <h5 translate>DASHBOARD.share.manage</h5>

            <div ng-model="share.resourcePermissions" id="shared-user" class="scroll-container">
              <div class="row">

                <div class="col-sm-7 name">
                  {{share.getName(share.resourcePermissions.owner)}}
                </div>

                <select class="col-sm-4" style="height:40px" select-picker ng-disabled="!share.canUpdate()">
                  <option value="own">is owner</option>
                </select>
              </div>

              <div class="row" ng-repeat="sh in share.resourcePermissions.shares">

                <div class="col-sm-7 name">{{sh.node.name}}</div>

                <select ng-model="sh.permission" class="col-sm-4" select-picker style="outline:none;height:40px"
                    ng-change="share.addShare(sh.node.id, sh.permission, 'shared-users', resource)"
                    select-model="sh"
                    cedar-live-search="true" ng-disabled="!share.canUpdate()">


                  <option ng-show="(!share.canUpdate() && sh.permisison === 'read') || share.canUpdate()" value="read">
                    can read
                  </option>
                  <option ng-show="(!share.canUpdate() && sh.permisison === 'write') || share.canUpdate()"
                      value="write">can write
                  </option>
                  <option ng-show="share.canBeOwner(sh.node.id)" value="own">is owner</option>
                </select>

                <button class=" col-sm-1  btn  btn-info btn-circle btn-sm btn-delete" ng-if="share.canUpdate()"
                    ng-model="share.resourcePermissions"
                    type="button" tooltip="remove"
                    tooltip-trigger
                    tooltip-animation="false"
                    tooltip-placement="top"
                    data-toggle="tooltip"
                    ng-click="share.removeShare(sh.node, resource)"><i class="fa fa-times"
                    style="margin: -1px -4px;vertical-align: top;"></i></button>

              </div>
            </div>

          </div>
        </div>


      </div>

      <!-- body  for groups  -->
      <div ng-show="share.showGroups">
        <div class="row">
          <div class="col-sm-6">


            <div class="hidden-container">
              <div class="row">

                <input type="text" placeholder="enter group name"/>

                <button
                    class="col-sm-1  btn btn-sm btn-info btn-circle btn-plus"
                    type="button"
                    tooltip='add'
                    tooltip-trigger
                    tooltip-animation="false"
                    tooltip-placement="top"
                    data-toggle="tooltip"
                    ng-click="">
                  <i class="fa fa-plus" style="margin: 0 -4px;vertical-align: top;"></i>
                </button>
              </div>
              <div class="row">
                <select id="select-picker-groups" data-size="5" ng-change=""
                    data-dropup-auto="false" class="dropdown col-sm-12"
                    ng-model="share.dummyGroupId" select-model="share.dummyGroups"
                    select-picker cedar-live-search="true"
                    ng-options="node.id as node.name for node in share.dummyGroups "></select>
              </div>
              <div class="row">
                <input class="col-sm-12" placeholder="enter group name" type="text"
                    style="outline:none;border-radius:0px;box-shadow:none;border:1px solid #ddd"
                    ng-model="share.dummyGroupId"
                    typeahead="group.displayName for group in share.dummyGroups | filter:$viewValue | limitTo:8 "
                    class="form-control">
              </div>
              <a href="#" ng-click="share.showGroups = false">
                <h5><span translate>DASHBOARD.share.manageShare</span></h5>
              </a>
            </div>
          </div>
          <div class="col-sm-6">
            tabs
          </div>
        </div>
      </div>
    </div>


    <div class="modal-footer actions" ng-if="share.canUpdate()" ng-model="share.resourcePermissions">
      <div class="clear-save">
        <button type="button" ng-click="toggleModal()"
            data-dismiss="modal" aria-label="Done"
            class="btn btn-save confirm"> Done
        </button>
      </div>
    </div>

  </div>
</div>
