<div class="modal-dialog">

  <div class="modal-content" flow-init="{target: getTarget()}"
      flow-complete="flowComplete($flow)"
      flow-progress="flowProgress( $flow )"
      flow-file-progress="flowFileProgress( $file, $flow )"
      flow-file-success="$file.msg = $message; flowFileSuccess( $file, $message, $flow )"
      flow-file-added="flowFileAdded( $file, $event, $flow )"
      flow-files-added="flowFilesAdded( $files, $event, $flow )"
      flow-files-submitted="flowFilesSubmitted( $files, $event, $flow )"
      flow-file-retry="flowFileRetry( $file, $flow )"
      flow-file-error="flowFileError( $file, $message, $flow )"
      flow-error="flowError( $file, $message, $flow )"
      flow-upload-started="flowUploadStarted($flow )"
      ng-init="init($flow)">
    <!--flow-files-submitted="$flow.upload()"-->

    <div class="modal-header" id="flowModalHeader">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Submit to Repository</h4>
    </div>

    <div class="modal-body">

      <uib-tabset active="state.active">
        <uib-tab index="0" heading="Step 1. Select repository">
          <div class="repository">

            <div class="radio radio-primary" style="padding:10px">
              <input type="radio" class="select" id="flowNcbi" name="flow-repo" ng-model="model.selectedMode"
                  ng-click="setMode(0);" value="0" ng-disabled="isFlowDisabled(0)">
              <label for="flowNcbi">
                <ng-bind-html ng-bind-html="modes[0]"/>
              </label>
            </div>

            <div class="radio radio-primary" style="padding:10px">
              <input type="radio" class="select" id="flowNcbiMiAIRR" name="flow-repo" ng-model="model.selectedMode"
                  ng-click="setMode(1);" value="1" ng-disabled="isFlowDisabled(1)">
              <label for="flowNcbiMiAIRR">
                <ng-bind-html ng-bind-html="modes[1]"/>
              </label>
            </div>

            <!--<div class="radio radio-primary" style="padding:10px">-->
            <!--<input type="radio" class="select" id="flowImmport" name="flow-repo" ng-model="model.selectedMode"-->
            <!--ng-click="setMode(2);" value="2">-->
            <!--<label for="flowImmport">-->
            <!--<ng-bind-html ng-bind-html="modes[2]"/>-->
            <!--</label>-->
            <!--</div>-->

            <!--<div style="padding:0 0 0 40px">-->
            <!--<label class="sm" for="immport-workspace">Workspace<i-->
            <!--style="color:#FF5722;vertical-align: super;font-size:.5em" class="fa fa-asterisk"></i></label>-->
            <!--<input ng-disabled="model.selectedMode != 'flow-immport'"-->
            <!--id="immport-workspace"-->
            <!--type="text"-->
            <!--ng-model="model.selectedWorkspace"-->
            <!--placeholder="search ImmPort for workspace"-->
            <!--uib-typeahead="workspace for workspace in workspaces | filter:$viewValue | limitTo:8"-->
            <!--class="form-control typeahead"-->
            <!--style="width:250px">-->
            <!--<i ng-if="loadingWorkspaces" class="glyphicon glyphicon-refresh"></i>-->
            <!--<div ng-if="noWorkspaces">-->
            <!--<i class="glyphicon glyphicon-remove"></i> No Results Found-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="radio radio-primary" style="padding:10px">-->
            <!--<input type="radio" class="select" id="flow-lincs" name="flow-repo" ng-model="model.selectedMode"-->
            <!--ng-click="setMode(2);" value="2">-->
            <!--<label for="flow-lincs">-->
            <!--<ng-bind-html ng-bind-html="modes[2]"/>-->
            <!--</label>-->
            <!--</div>-->
          </div>

        </uib-tab>
        <uib-tab index="1" heading="Step 2. Upload files">
          <div class="fileUpload">
            <div class="row">
              <div class="col-sm-5">
                <!--<div class="row metadata">-->

                <!--<h5 class="header"> Metadata <i class="fa fa-tags "></i></h5>-->
                <!--<div class="col-sm-10">-->
                <!--<input type="text" ng-disabled="!canInsert()"-->
                <!--ng-model="model.selectedInstance"-->
                <!--placeholder="search workspace"-->
                <!--uib-typeahead="instance for instance in instances($viewValue)"-->
                <!--typeahead-loading="loadingInstances"-->
                <!--typeahead-no-results="noInstances"-->
                <!--class="form-control typeahead"-->
                <!--typeahead-on-select="">-->
                <!--<i ng-if="loadingInstances" class="glyphicon glyphicon-refresh"></i>-->
                <!--<span ng-if="noInstances">-->
                <!--<i class="glyphicon glyphicon-remove"></i> No Results Found-->
                <!--</span>-->
                <!--</div>-->


                <!--<span ng-disabled="!canInsert()" ng-if="canInsert() && !loadingInstances && !noInstances && model.selectedInstance"-->
                <!--uib-tooltip="Add to upload list" tooltip-trigger="" tooltip-animation="false" tooltip-placement="bottom" data-toggle="tooltip"-->
                <!--ng-click="insertItems($flow, model.selectedInstance)">-->
                <!--<i class="fa fa-plus-circle btn-add"></i></span>-->
                <!--</div>-->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="actions" style="text-align:center" >
                      Click the button below to select the data files that will be submitted to the repository. Note that the selected files must match the file names and file types entered in the SRA section of the metadata
                      <div style="margin-top: 20px">
                        <div class="btn btn-save" flow-btn ng-disabled="!canInsert()">Select files</div>
                        <div ng-if="$flow.files.length==1" style="margin-top: 20px">No data files selected</div>
                        <div ng-if="$flow.files.length > 1" style="margin-top: 20px">
                          <span ng-if="$flow.files.length == 2">{{$flow.files.length - 1}} data file selected</span>
                          <span ng-if="$flow.files.length > 2">{{$flow.files.length - 1}} data files selected</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-7">
                <div class="row progress-zone" flow-drag-enter="style={}"
                    flow-drag-leave="style={}"
                    ng-style="style" class="alert" flow-drop>
                  <div class="col-sm-12">


                    <div ng-if="$flow.files.length==0" class="empty"></div>
                    <div ng-repeat="file in $flow.files">

                      <div class="row">
                        <div class="col-sm-11">

                          <form class="form-inline">
                            <div class="progress">
                              <div class="progress-bar"
                                  ng-class="{'progress-bar-success active': (file.progress()*100 <= 100) && !file.error, 'progress-bar-danger': file.error, 'progress-bar-warning': file.paused}"
                                  style="min-width: 5%; width: {{file.progress()*100}}%;"
                                  value="{{file.progress()*100}}"
                                  role="progressbar" aria-valuenow="{{file.progress()*100}}" aria-valuemin="0"
                                  aria-valuemax="100">
                                <strong ng-show="!file.error" class="msg">{{file.name}} </strong>
                                <strong ng-show="file.error" class="msg-error">Error</strong>
                              </div>

                            </div>
                          </form>

                        </div>
                        <div class="col-sm-1 clear-item">
                          <button type="button" ng-click="removeItem($flow, file)" aria-label="Close"><i
                              class="fa fa-remove"></i></button>
                        </div>
                      </div>
                    </div>


                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-5 actions">
              <!--<div style="width:100%;text-align:center;"><span class="btn btn-clear" flow-btn>Select</span></div>-->
            </div>
            <div class="col-sm-7 actions">
              <div>
                <button type="button" ng-click="pauseAll($flow)" ng-disabled="!canPause($flow)" aria-label="Pause"
                    class="btn btn-clear " translate>GENERIC.Pause
                </button>
                <button type="button" ng-click="resumeAll($flow)" ng-disabled="!canResume($flow)" aria-label="Resume"
                    class="btn btn-clear " translate>GENERIC.Resume
                </button>
                <!--<button type="button" ng-click="cancelAll($flow)" ng-disabled="!canClear($flow)" aria-label="Clear"-->
                    <!--class="btn btn-clear " translate>GENERIC.Clear-->
                <!--</button>-->
              </div>
            </div>
          </div>

        </uib-tab>
        <!--<uib-tab index="2" heading="Log">-->
          <!--<div style="margin-top:10px;max-height: 270px;height:270px;overflow-y:auto;overflow-x:hidden;">-->
            <!--<div style="display:flex;justify-content:center;align-items:flex-start"-->
                <!--ng-repeat="(key, value) in state.status">-->
              <!--<div style="width:100%;margin-right:10px">-->
                <!--<div style="padding:4px;">{{value.label}}</div>-->
              <!--</div>-->
              <!--<div style="width:100%;">-->
                <!--<div style="padding:4px;">{{value.file}}</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</uib-tab>-->
      </uib-tabset>

    </div>

    <!-- Validation messages -->
    <div ng-if="showValidation==true" style="color:red; margin: 20px">
      <span>Please correct the following errors and try again:</span>
      <ul>
        <li ng-repeat="message in validationMessages">
          {{message}}
        </li>
      </ul>
    </div>

    <!-- footer closes the dialog -->
    <div class="modal-footer actions">
      <div style="display: flex;justify-content:space-between;align-items: center;">
        <div style="font-weight:bold;display:flex;justify-content:center;width:100%">
          <span>{{getStatus()}}</span>
        </div>
        <div class="clear-save" style="width:100%">

          <button type="button" ng-click="flowModalVisible=false"
              data-dismiss="modal" aria-label="Close"
              class="btn done" ng-class="{'btn-save': state.complete, 'btn-clear': !state.complete}" translate>
            GENERIC.Close
          </button>

          <span ng-if="state.active == 0">
            <button type="button" ng-click="state.active = 1" aria-label="Next"
                class="btn btn-save" translate>GENERIC.Next
            </button>
          </span>

          <span ng-if="state.active == 1">
            <button type="button" ng-disabled="!canSubmit($flow)" ng-click="submit($flow)" aria-label="Submit"
                class="btn btn-save" translate>GENERIC.Submit
            </button>
          </span>

        </div>
      </div>
    </div>

  </div>
</div>