<div class="modal-dialog">

  <div class="modal-content" flow-init="{target: getTarget()}"
      flow-file-progress="flowFileProgress( $flow, $file )"
      flow-progress="flowProgress( $flow )"
      flow-file-success="$file.msg = $message"
      ng-init="init($flow)">
    <!--flow-files-submitted="$flow.upload()"-->

    <div class="modal-header" id="flowModalHeader">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Submit to Repository</h4>
    </div>

    <div class="modal-body">

      <uib-tabset active="active">
        <uib-tab index="0" heading="Repository">
          <div class="repository">

            <div class="radio radio-primary" style="padding:10px">
              <input type="radio" class="select" id="flow-immport" name="flow-repo" ng-model="model.selectedMode"
                  ng-click="setMode(0);" value="0">
              <label for="flow-immport">
                <ng-bind-html ng-bind-html="modes[0]"/>
              </label>
            </div>

            <div style="padding:0 0 0 40px">
              <label class="sm" for="immport-workspace">Workspace<i
                  style="color:#FF5722;vertical-align: super;font-size:.5em" class="fa fa-asterisk"></i></label>
              <input ng-disabled="model.selectedMode != 0"
                  id="immport-workspace"
                  type="text"
                  ng-model="model.selectedWorkspace"
                  placeholder="search"
                  uib-typeahead="workspace for workspace in workspaces | filter:$viewValue | limitTo:8"
                  class="form-control typeahead"
                  style="width:250px">
              <i ng-if="loadingWorkspaces" class="glyphicon glyphicon-refresh"></i>
              <div ng-if="noWorkspaces">
                <i class="glyphicon glyphicon-remove"></i> No Results Found
              </div>
            </div>

            <div class="radio radio-primary" style="padding:10px">
              <input type="radio" class="select" id="flow-airr" name="flow-repo" ng-model="mode"
                  ng-click="setMode(1);" value="1">
              <label for="flow-airr">
                <ng-bind-html ng-bind-html="modes[1]"/>
              </label>
            </div>

            <div class="radio radio-primary" style="padding:10px">
              <input type="radio" class="select" id="flow-lincs" name="flow-repo" ng-model="mode"
                  ng-click="setMode(2);" value="2">
              <label for="flow-lincs">
                <ng-bind-html ng-bind-html="modes[2]"/>
              </label>
            </div>
          </div>

        </uib-tab>
        <uib-tab index="1" heading="File Upload">
          <div class="fileUpload">
            <div class="row">
              <div class="col-sm-5">
                <div class="row metadata" >

                  <h5 class="header" > Metadata <i class="fa fa-tags "></i></h5>
                  <div class="col-sm-10">
                    <input type="text" ng-disabled="!canInsert()"
                        ng-model="model.selectedInstance"
                        placeholder="search"
                        uib-typeahead="instance for instance in instances($viewValue)"
                        typeahead-loading="loadingInstances"
                        typeahead-no-results="noInstances"
                        class="form-control typeahead"
                        typeahead-on-select="">
                    <i ng-if="loadingInstances" class="glyphicon glyphicon-refresh"></i>
                    <span ng-if="noInstances">
                      <i class="glyphicon glyphicon-remove"></i> No Results Found
                    </span>
                  </div>
                  <span ng-disabled="!canInsert()" ng-if="canInsert() && !loadingInstances && !noInstances && model.selectedInstance"
                      ng-click="insertItems($flow, model.selectedInstance)">
                    <i class="fa fa-plus-circle btn-add" ></i></span>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="actions">
                      <div><span class="btn btn-clear" flow-btn ng-disabled="!canInsert()">Select</span></div>
                      Select files to upload
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-7">
                <div class="row progress-zone"  flow-drag-enter="style={}"
                    flow-drag-leave="style={}"
                    ng-style="style" class="alert" flow-drop>
                  <div class="col-sm-12">
                    <div ng-if="$flow.files.length==0" class="empty"></div>
                    <div ng-repeat="file in $flow.files">

                      <form class="form-inline">
                        <div class="progress" >
                          <div class="progress-bar"
                              ng-class="{'progress-bar-success active': (file.progress()*100 <= 100) && !file.error, 'progress-bar-danger': file.error, 'progress-bar-warning': file.paused}"
                              style="min-width: 5%; width: {{file.progress()*100}}%;" value="{{file.progress()*100}}"
                              role="progressbar" aria-valuenow="{{file.progress()*100}}" aria-valuemin="0"
                              aria-valuemax="100">
                            <strong ng-show="!file.error" class="error" >
                              {{file.name}} </strong> <strong
                              ng-show="file.error">Ooops...</strong>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-5 actions">
              <!--<div style="width:100%;text-align:center;"><span class="btn btn-clear" flow-btn>Select</span></div>-->
            </div>
            <div class="col-sm-7 actions">
              <div >
                <button type="button" ng-click="pauseAll($flow)" ng-disabled="!canPause($flow)" aria-label="Pause"
                    class="btn btn-clear " translate>GENERIC.Pause
                </button>
                <button type="button" ng-click="resumeAll($flow)" ng-disabled="!canResume($flow)" aria-label="Resume"
                    class="btn btn-clear " translate>GENERIC.Resume
                </button>
                <button type="button" ng-click="cancelAll($flow)" ng-disabled="!canClear($flow)" aria-label="Clear"
                    class="btn btn-clear " translate>GENERIC.Clear
                </button>
              </div>
            </div>
          </div>

        </uib-tab>
      </uib-tabset>

    </div>

    <!-- footer closes the dialog -->
    <div class="modal-footer actions">
      <div class="row">
        <div class="col-sm-12 clear-save">

          <button type="button" ng-click="flowModalVisible=false;"
              data-dismiss="modal" aria-label="Done"
              class="btn btn-clear done" translate>GENERIC.Done
          </button>
          <button type="button" ng-disabled="!canSubmit($flow)" ng-click="startUpload($flow)" aria-label="Submit"
              class="btn btn-save " translate>GENERIC.Submit
          </button>

        </div>
      </div>
    </div>
  </div>
</div>