<div class="btn-group cardinality-selector"  ng-class="{'min' : minOrMax == 'min', 'max': minOrMax == 'max'}" uib-dropdown  auto-close="always" on-toggle="toggled(open)">
  <button type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
    <span translate>{{cardinality.label}}</span>  <span class="caret"></span>
  </button>


  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button"  >
    <li ng-repeat="obj in model track by $index"  role="menuitem">
      <a href="#"  class="dropdown-selector"   ng-class="{'none' : obj.label === 'none'}"
        ng-click="update(obj.value)">
          {{obj.label}}
      <i ng-if="obj.value == cardinality.value" class="fa fa-check check"></i></a></li>
  </ul>
</div>