
<div class="fields fields-checkbox">

    <div class="form-group  floating-label-wrapper ng-scope"
         ng-class="{'required': $root.schemaOf(field)._valueConstraints.requiredValue}"
         ng-repeat="valueElement in filteredModel = $root.arrayOf(model) | limitTo: 1">

        <div class="form-group field-wrapper-checkbox  ">

            <div class=" checkbox-item" ng-repeat="(index, value) in $root.schemaOf(field)._ui.options ">
                <div class="checkbox checkbox-primary">
                    <div ng-init="m=valueElement;pIndex=$parent.$index;cIndex=$index"
                         ng-include="'scripts/form/field-value/checkbox.html'"></div>
                </div>
            </div>

            <p class="add-another" ng-click="addOption(); $event.stopPropagation();"><img src="/img/plus.png"/>Add Another</p>

        </div>
    </div>
</div>

