<div id="checkbox-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" class="input-type-container">
  <div class="form-group floating-label-wrapper">
    <div class="options-wrapper">
      <div class="multiple-container">
        <span ng-repeat="(index, value) in $root.schemaOf(field)._ui.options">
          <div class="checkbox checkbox-primary">
            <input ng-click="$event.stopPropagation();" type="checkbox" id="checkbox-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}-{{index}}"
                name="checkbox-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}"
                ng-model="$root.schemaOf(field)._ui.defaultOption[value.text]"
                value="{{$root.schemaOf(field)._ui.options[index]['text']}}">
            <label for="checkbox-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}-{{index}}">
              <div class="form-group floating-label-wrapper">
                <input type="text" class="form-control"
                    id="placeholder-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" placeholder="Option"
                    aria-label="Option" ng-model="$root.schemaOf(field)._ui.options[index]['text']" with-floating-label>
              </div>
            </label>
          </div>
        </span>

        <p class="add-another" ng-click="addOption(); $event.stopPropagation();"><img src="/img/plus.png"/>Add Another</p>
      </div>
      <p class="instructions">Click choice to set as default</p>
    </div>
  </div>

</div>
