<!--<div id="controlled-term-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" class="input-type-container">-->
  <!--<p class="type-label"><i class="cedar-svg-controll-term"></i>Controlled Term</p>-->
  <!--<div class="form-group floating-label-wrapper">-->
    <!--<input type="text" class="form-control" id="placeholder-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}"-->
        <!--placeholder="Field Title" aria-label="Field Title" ng-model="field['schema:name']"-->
        <!--with-floating-label>-->
  <!--</div>&lt;!&ndash; /.form-group &ndash;&gt;-->
  <!--<div class="form-group floating-label-wrapper">-->
    <!--<input type="text" class="form-control" id="placeholder-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}"-->
        <!--placeholder="Value Source" aria-label="Value Source" ng-model="$root.schemaOf(field)._ui.value_source"-->
        <!--with-floating-label>-->
  <!--</div>&lt;!&ndash; /.form-group &ndash;&gt;-->
  <!--<div class="form-group floating-label-wrapper">-->
    <!--<input type="text" class="form-control" id="help-text-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}"-->
        <!--placeholder="Controlled Term ID" aria-label="Controlled Term ID"-->
        <!--ng-model="$root.schemaOf(field)._ui.controlled_term_id" with-floating-label>-->
  <!--</div>&lt;!&ndash; /.form-group &ndash;&gt;-->

  <!--<div  class="configuration-options " ng-include="'scripts/form/partials/configuration-options.partial.html'"></div>-->
  <!---->
<!--</div>-->

<div id="controlled-term-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" class="input-type-container">

  <div ng-init="fieldTitle='Controlled Term';fieldIconClass='cedar-svg-controll-term'" ng-include="'scripts/form/partials/field-header.partial.html'"></div>

  <div class="definition-inputs" ng-include="'scripts/form/partials/field-definition.partial.html'"></div>

  <div  class="configuration-options " ng-include="'scripts/form/partials/configuration-options.partial.html'"></div>

</div>
