<div id="image-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" class="input-type-container">

  <div class="row configuration-options" ng-if="!$root.isRuntime() && !ngDisabled && !preview">
    <div class=" col-lg-9 pull-left type-label">
      <div class="sortable-handler " ng-if="!preview && !$root.isRuntime()">
        <p class="type-label"><span class="sortable-icon"></span><i class="cedar-svg-image"></i>&nbsp;Image</p>
      </div>
    </div>
    <div class="col-lg-3 pull-right configuration-actions" style="padding-top:0" ng-include="'scripts/form/partials/staging-area-actions.partial.html'" />
  </div>

  <div class="definition-inputs" ng-include="'scripts/form/partials/field-definition.partial.html'"></div>
  <!-- /.definition-inputs -->

  <div class="form-group floating-label-wrapper">
    <input type="text" class="form-control" id="image-description-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" placeholder="Image URL" aria-label="Image URL" ng-model="$root.propertiesOf(field)._content"  with-floating-label>
  </div><!-- /.form-group -->

</div><!-- /.input-type-container -->
