<div id="list-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" class="input-type-container pick-list">

  <div ng-init="fieldTitle='Pick from a list';fieldIconClass='cedar-svg-list'"
      ng-include="'scripts/form/partials/field-header.partial.html'"></div>

  <div class="definition-inputs" ng-include="'scripts/form/partials/field-definition.partial.html'"></div>

  <div class="type-toggle list" >
    <div class="single-date d-option" ng-click="setMultipleChoice(field, false)"
        ng-class="{active: !isMultipleChoice(field)}">
      <span>Single Select</span>
    </div>
    <div class="date-range d-option" ng-click="setMultipleChoice(field, true)"
        ng-class="{active: isMultipleChoice(field)}">
      <span>Multi-Select</span>
    </div>
  </div>

  <div class="form-group">
    <div class="form-group floating-label-wrapper"></div>
    <div class="options-wrapper">
      <div ng-init="initializeSelectionField()" class="multiple-container">
        <span ng-repeat="(index, value) in $root.schemaOf(field)._valueConstraints.literals">
        	<div class="form-group floating-label-wrapper">
            <input type="text" class="form-control"
                id="placeholder-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" placeholder="Option"
                aria-label="Option" ng-model="getLiterals()[index]['label']" with-floating-label>
            <div class="checkbox checkbox-primary checkbox-circle">
              <input ng-click="cleanSelectedByDefault(index); $event.stopPropagation();"  type="checkbox" id="checkbox-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}-{{index}}"
                  name="checkbox-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}"
                  ng-model="getLiterals()[index].selectedByDefault">
              <label for="checkbox-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}-{{index}}"></label>
            </div>
          </div>
        </span>
        <p class="add-another" ng-click="addOption(); $event.stopPropagation();"><img src="/img/plus.png"/>Add Another</p>
      </div>
    </div>
  </div>

  <div class="configuration-options " ng-include="'scripts/form/partials/configuration-options.partial.html'"></div>
</div>
