<!--<div id="radio-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" class="input-type-container">-->

  <!--<div class="form-group floating-label-wrapper">-->

    <!--<div class="options-wrapper">-->
      <!--<div class="multiple-container">-->
        <!--<span ng-repeat="(index, value) in $root.schemaOf(field)._ui.options">-->
          <!--<div class="radio radio-primary">-->
            <!--<input ng-click="$event.stopPropagation();"  type="radio" id="radio{{index}}"-->
                <!--name="radio-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}"-->
                <!--ng-model="$root.schemaOf(field)._ui.defaultOption"-->
                <!--value="{{$root.schemaOf(field)._ui.options[index]['text']}}">-->
            <!--<label for="radio{{index}}">-->
              <!--<div class="form-group floating-label-wrapper">-->
                <!--<input type="text" class="form-control"-->
                    <!--id="placeholder-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" placeholder="Option"-->
                    <!--aria-label="Option" ng-model="$root.schemaOf(field)._ui.options[index]['text']" with-floating-label>-->
              <!--</div>-->
              <!--&lt;!&ndash; /.form-group &ndash;&gt;-->
            <!--</label>-->
          <!--</div>&lt;!&ndash; /.radio &ndash;&gt;-->
        <!--</span>-->

        <!--<p class="add-another" ng-click="addOption(); $event.stopPropagation();"><img src="/img/plus.png"/>Add Another</p>-->
      <!--</div>-->
      <!--&lt;!&ndash; /.multiple-container &ndash;&gt;-->
      <!--<p class="instructions">Click choice to set as default</p>-->
    <!--</div>-->
    <!--&lt;!&ndash; /.options-wrapper &ndash;&gt;-->


  <!--</div>-->
  <!--&lt;!&ndash; /.input-type-container &ndash;&gt;-->
<!--</div>-->


<div class="fields fields-radio">

  <div class="form-group  floating-label-wrapper ng-scope"
       ng-class="{'required': $root.schemaOf(field)._valueConstraints.requiredValue}"
       ng-repeat="valueElement in filteredModel = $root.arrayOf(model) | limitTo: 1">

    <div class="form-group field-wrapper-radio  ">

      <div class=" radio-item" ng-repeat="(index, value) in $root.schemaOf(field)._ui.options ">
        <div class="radio radio-primary">
          <div ng-init="m=valueElement;pIndex=$parent.$index;cIndex=$index"
               ng-include="'scripts/form/field-value/radio.html'"></div>
        </div>
      </div>

      <p class="add-another" ng-click="addOption(); $event.stopPropagation();"><img src="/img/plus.png"/>Add Another</p>

    </div>
  </div>
</div>