<div id="regex-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" class="input-type-container">

    <div  class="form-group floating-label-wrapper has-feedback">
        <div ng-init="m=model;pIndex=0" ng-include="'scripts/form/field-value/regex.html'"></div>
    </div>

    <div class="form-group floating-label-wrapper">
        <input type="text" class="form-control field-title-definition"
               id="regex-pattern-{{uuid}}"
               placeholder="Enter Regex Pattern" aria-label="Enter Regex Pattern"
               ng-model="$root.schemaOf(field)._ui.pattern" with-floating-label>
    </div>

    <div class="form-group floating-label-wrapper">
        <input type="text" class="form-control field-title-definition"
               id="regex-warning-{{uuid}}"
               placeholder="Enter Regex Pattern" aria-label="Enter Regex Pattern"
               ng-model="$root.schemaOf(field)._ui.warningText" with-floating-label>
    </div>
</div>
