<div id="richtext-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}"
    class="input-type-container section-break">

  <div class="row configuration-options" ng-if="!$root.isRuntime() && !ngDisabled && !preview">
    <div class=" col-lg-9 pull-left type-label">
      <div class="sortable-handler " ng-if="!preview && !$root.isRuntime()">
        <p class="type-label"><span class="sortable-icon"></span><i class="class="class="class="class="cedar-svg-rich-text"></i>Rich Text</p></p>
      </div>
    </div>
    <div class="col-lg-3 pull-right configuration-actions" style="padding-top:0" ng-include="'scripts/form/partials/staging-area-actions.partial.html'" />
  </div>

  <div class="definition-inputs" ng-include="'scripts/form/partials/field-definition.partial.html'"></div>
  <!-- /.definition-inputs -->

  <div class="form-group floating-label-wrapper">
    <textarea ckeditor="editorOptions" rows="5" type="text" class="form-control"
        id="richtext-description-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}"
        placeholder="Rich Text Description (Optional)" aria-label="Rich Text Description (Optional)"
        ng-model="$root.propertiesOf(field)._content"></textarea>
  </div>
  <!-- /.form-group -->

</div><!-- /.input-type-container -->
