<div id="youtube-{{field['@id'].substring(field['@id'].lastIndexOf('/')+1)}}" class="input-type-container video">

  <!-- header row -->
  <div ng-include="'scripts/form/partials/field-header.partial.html'"></div>

  <div class="form-group floating-label-wrapper">
    <input type="text" class="form-control"
        id="youtube-name-{{getId().substring(getId().lastIndexOf('/')+1)}}"
        placeholder="Video Name (Optional)" aria-label="Video Name (Optional)"
        ng-model="fieldSchema['schema:name']" with-floating-label>
  </div>

  <div class="form-group floating-label-wrapper">
    <input type="text" class="form-control"
        id="youtube-description-{{getId().substring(getId().lastIndexOf('/')+1)}}"
        placeholder="Video Description (Optional)" aria-label="Video Description (Optional)"
        ng-model="fieldSchema['schema:description']" with-floating-label>
  </div>

  <div class="form-group floating-label-wrapper">
    <input type="text" class="form-control" id="youtube-src-{{getId().substring(getId().lastIndexOf('/')+1)}}"
        placeholder="YouTube Video Identifier" aria-label="YouTube Video Identifier"
        ng-model="$root.schemaOf(field)._ui._content" with-floating-label>
  </div>

  <div class="form-group floating-label-wrapper">
    <input type="number" class="form-control"
        id="youtube-width-{{getId().substring(getId().lastIndexOf('/')+1)}}"
        placeholder="Video Width (Optional)" aria-label="Video Width (Optional)"
        ng-model="$root.schemaOf(field)._ui._size.width" with-floating-label>
  </div>

  <div class="form-group floating-label-wrapper">
    <input type="number" class="form-control"
        id="youtube-height-{{getId().substring(getId().lastIndexOf('/')+1)}}"
        placeholder="Video Height (Optional)" aria-label="Video Height (Optional)"
        ng-model="$root.schemaOf(field)._ui._size.height" with-floating-label>
  </div>

</div>