<div ng-if="model !== undefined" class="item-root element-root">

  <div class="elementTotalContent">

    <!-- zero cardinality  -->
    <div ng-if="valueArray.length == 0">
      <div class="element " id="{{getLocator(0)}}" style="position:relative">
        <div class="row isInactive myhover" ng-click="toggleExpanded(i);addElement()">
          <div class="col-xs-6" ng-click="toggleExpanded(i);addElement()">
            <div class="element title" ng-class="{'isInactive' : isInactive(0)}">
              <button type="button" class="expand">
                <i class="fa " ng-class="{'fa-caret-down': isExpanded(0),'fa-caret-right':!isExpanded(0)}"></i>
              </button>
              {{getPropertyLabel()}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- a spreadsheet list of elements -->
    <div ng-if="showMultiple('spreadsheet') && valueArray.length > 0">
      <div class="element expand" id="{{getLocator(0)}}" style="position:relative">
        <div class="row " style="cursor:pointer" ng-class="{'isInactive': !isActive()}">

          <div class="col-xs-6" ng-click="toggleExpanded(index)">

            <div class="element title" ng-class="{'isInactive' : isInactive(index)}">
              <button type="button" class="expand">
                <i class="fa " ng-class="{'fa-caret-down': isExpanded(index),'fa-caret-right':!isExpanded(index)}"></i>
              </button>

              {{getPropertyLabel()}} <span ng-if="valueArray.length-1" class="count">({{index+1}})</span>
            </div>

          </div>

          <field-toolbar ng-click="toggleExpanded(index)" class="col-xs-6" style="min-height:30px;min-width:30px;" ng-if="isExpanded(index)" values="valueArray" index="index"
              min="pageMin" max="pageMax" range="pageRange" field="element" model="valueArray"
              index="index"
              remove="removeElement" add="addRow" copy="copyElement" is-active="isActive" set-active="setActive"
              toggle="toggleMultiple"
              show-multiple="showMultiple" is-multiple="isMultiple" cardinality="cardinalityString"
              spreadsheet="switchToSpreadsheet" toggle-expanded="toggleExpanded" close="unExpand"
              expand-all="expandAll" is-expandable="isExpandable" is-field="false" select="selectPage"
              fullscreen="fullscreen">
          </field-toolbar>

        </div>
        <div class="row" ng-if="isExpanded(index)">
          <div class="col-sm-12">
            <div class="spreadsheetViewDetector"></div>
            <div class="spreadsheetViewContainer"></div>
            <div id="spreadsheetViewLogs"></div>
            <div id="hooksList"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- a paged list of elements -->
    <div ng-if="showMultiple('paged') && valueArray.length > 0" class="element" ng-class="{'expand':isExpanded(index)}">
      <div class="row " style="cursor:pointer" ng-class="{'isInactive': !isActive()}">

        <div class="col-xs-6" ng-click="toggleExpanded(index)">

          <div class="element title" ng-class="{'isInactive' : isInactive(index)}">
            <button type="button" class="expand">
              <i class="fa " ng-class="{'fa-caret-down': isExpanded(index),'fa-caret-right':!isExpanded(index)}"></i>
            </button>

            {{getPropertyLabel()}} <span ng-if="valueArray.length-1" class="count">({{index+1}})</span>
          </div>

        </div>

        <field-toolbar ng-click="toggleExpanded(index)" class="col-xs-6" style="min-height:30px;min-width:30px;"
            ng-if="isExpanded(index)" values="valueArray" index="index"
            min="pageMin" max="pageMax" range="pageRange" field="element" model="valueArray"
            index="index"
            remove="removeElement" add="addElement" copy="copyElement" is-active="isActive" set-active="setActive"
            toggle="toggleMultiple"
            show-multiple="showMultiple" is-multiple="isMultiple" cardinality="cardinalityString"
            spreadsheet="switchToSpreadsheet" toggle-expanded="toggleExpanded" close="unExpand"
            expand-all="expandAll" is-expandable="isExpandable" is-field="false" select="selectPage">
        </field-toolbar>

      </div>
      <ul class="tv" ng-if="isExpanded(index) && index === i" ng-repeat="(i, valueElement) in valueArray"
          id="{{getLocator(i)}}">
        <li class="tv"
            ng-class="{'last':$last, 'first':$first, 'element' : $root.isElement($root.schemaOf($root.propertiesOf(element)[fieldKey]))}"
            ng-repeat="key in $root.schemaOf(element)['_ui']['order']" ng-if="$root.propertiesOf(element)[key]">
          <cedar-runtime-nested-element
              field="$root.propertiesOf(element)[key]"
              model="valueArray[i][key]"
              labels="$root.schemaOf(element)['_ui']['propertyLabels']"
              relabel="relabel"
              remove-child="removeChild"
              rename-child-key="renameChildKey"
              is-edit-data="isEditData"
              parent-key="fieldKey"
              field-key="key"
              path="path+'-'+i"
              uid="uid+'-'+key">
          </cedar-runtime-nested-element>
        </li>
      </ul>
    </div>

    <!-- an expanded list of elements -->
    <div ng-if="showMultiple('expanded')" ng-repeat="(i, valueElement) in valueArray">
      <div class="element element-{{i}}" id="{{getLocator(i)}}" ng-class="{'expand' : isExpanded(i)}"
          style="position:relative">
        <div class="row isInactive " ng-click="toggleExpanded(i)">
          <div class="col-sm-8 ">

            <a class="element title" ng-class="{'isInactive' : isInactive(i)}">
              <button type="button" class="expand">
                <i class="fa " ng-class="{'fa-caret-down': isExpanded(index),'fa-caret-right':!isExpanded(index)}"></i>
              </button>

              {{getPropertyLabel()}} <span ng-if="valueArray.length-1" class="count">({{i+1}})</span></a>
          </div>
          <field-toolbar class="col-xs-4 " field="element" model="valueArray" index="i"
              remove="removeElement" add="addElement" copy="copyElement" is-active="isActive" set-active="setActive"
              toggle="toggleMultiple"
              show-multiple="showMultiple" is-multiple="isMultiple" cardinality="cardinalityString"
              spreadsheet="switchToSpreadsheet" close="unExpand" expand-all="expandAll" is-expandable="isExpandable">
          </field-toolbar>
        </div>
        <div ng-if="isExpanded(i)">
          <ul class="tv" ng-repeat="key in $root.schemaOf(element)['_ui']['order']">
            <li class="tv" ng-if="$root.propertiesOf(element)[key]"
                ng-class="{'last':$last, 'first':$first, 'element' : $root.isElement($root.schemaOf($root.propertiesOf(element)[key]))}">

              <cedar-runtime-nested-element
                  field="$root.propertiesOf(element)[key]"
                  model="valueElement[key]"
                  labels="$root.schemaOf(element)['_ui']['propertyLabels']"
                  relabel="relabel"
                  remove-child="removeChild"
                  rename-child-key="renameChildKey"
                  is-edit-data="isEditData"
                  path="path+'-'+i"
                  parent-key="fieldKey"
                  field-key="key"
                  uid="uid+'-'+key">
              </cedar-runtime-nested-element>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>


