<div ng-if="model !== undefined" class="item-root element-root" id="{{getDomId(element)}}"
    ng-click="canSelect(isSelectable()); $event.preventDefault();">



  <!-- element header -->
  <div class="element-header input-type-container" style="position:relative;"  ng-class="{'sortable-handler': !isRuntime() && !isNested(element)}">
    <div class="row" >

      <!-- left side of header -->
      <div class="col-lg-6 pull-left">

        <!-- toggle visibility of element contents -->
        <a ng-click="switchExpandedState(getDomId(element)); $event.preventDefault();" class="visibilitySwitch">
          <i class="cedar-svg-collapse"></i>
        </a>
        <a ng-click="switchExpandedState(getDomId(element)); $event.preventDefault();" class="visibilitySwitch" style="display:none;">
          <i class="cedar-svg-expand"></i>
        </a>

        <!-- sort icon -->
        <div  ng-if="isSelectable()" class="sortable-handler " style="padding-top:5px; display:inline-block"><span class="sortable-icon"></span></div>

        <!-- allow elements to have properties -->
        <button ng-if="isSelectable()" type="button" class="show-type" style="background:transparent;color:#5795ba" ng-click="showModal('property');$root.finalTitle=element._ui.title" uib-tooltip="Add property">
          <i class="cedar-svg-controll-term collapsed" style="padding-bottom:10px"></i>
        </button>

        <!-- element label -->
        <p class="element-name-label " ng-class="{'nested': isNested()}">
          <span ng-if="!canEditProperty()" >{{labels[key]}}</span>
          <input ng-model-options="{  }" ng-if="canEditProperty()" type="text" auto-focus
              placeholder="{{'CREATOR.enterElementTitle' | translate}}"
              aria-label="{{'CREATOR.enterElementTitle' | translate}}"
              ng-model="labels[key]"
              style="outline:none;width:300px;padding:5px">
        </p>

        <!-- switch to spreadsheet view -->
        <span ng-if="!isNested()" ng-show="$root.isArray(model) && isRuntime()" class="spreadsheetSwitch element">
            <button type="button"
                uib-tooltip="{{'HELP.showAsSpreadsheet' | translate}}"
                tooltip-trigger
                tooltip-animation="false"
                tooltip-placement="top"
                data-toggle="tooltip"
                ng-click="switchToSpreadsheet()"
                class="spreadsheetSwitchLink"
                ng-show="false"
                ng-disabled="preview" style="background:transparent;border:0;outline:none">
              <i class="cedar-svg-spreadsheet"></i>
            </button>
         </span>

        <!-- cardinality -->
        <span class="multiple-instance-cardinality" ng-show="!isRuntime() && elementIsMultiInstance(element)">
           {{element.minItems}} .. {{element.maxItems || "N"}}
        </span>

      </div>

      <!-- right side of header -->
      <div class="col-lg-5" >
        <div class="element-toggles list" ng-if="isRuntime() && elementIsMultiInstance(element)">

          <div class="element-toggle"
              ng-class="{active: selectedTab == $index}"
              ng-repeat="m in model"
              ng-click="selectTab($index)"
              ng-if="$root.isArray(model) && model.length > 0">
            <span>{{$index + 1}}</span>
          </div>
          <div class="add-element">
            <button type="button"
                uib-tooltip="{{'GENERIC.Add' | translate}} {{$root.schemaOf(element)._ui.title}}"
                tooltip-trigger
                tooltip-animation="false"
                tooltip-placement="top"
                data-toggle="tooltip"
                ng-click="addElement(); $event.stopPropagation();"
                class="add zero noOutline"
                ng-show="true"
                ng-disabled="preview"
                style="outline:none">
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

      <!-- delete element -->
      <div ng-if="canEditProperty()" class="preview-container col-lg-1">
        <div class="row preview-edit-options pull-right">
          <div class="toggle-options col-lg-12 pull-right">
            <div class="save-options">
              <div class="trash" ng-click="removeChild(element)" title="Delete element">
                <i class="fa fa-times-circle"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- element content -->
  <div class="elementTotalContent visible">
    <div ng-show="$root.isArray(model)">
      <div class="spreadsheetViewDetector"></div>
      <div class="spreadsheetViewContainer"></div>
    </div>

    <div class="elements originalContent">

      <!-- have an array with at least one element -->
      <div ng-if="$root.isArray(model) && selectedTab == $index" class="element" ng-repeat="m in model"
          ng-class="['element-{{$index}}']">

        <div class="remove-element pull-right">
          <a class="" ng-if="isRuntime()" ng-show="model.length > element.minItems"
              ng-click="removeElement($index)" translate>GENERIC.Remove</a>
        </div>

        <div ui-sortable="$root.sortableOptions" ng-model="$root.schemaOf(element)._ui.order"
            class="sortable-container">
          <div ng-repeat="key in $root.schemaOf(element)['_ui']['order']">
            <div ng-if="$root.propertiesOf(element)[key]">

              <cedar-nested-template-element key="key"
                  field="$root.propertiesOf(element)[key]"
                  model="m[key]"
                  parent-element="element"
                  delete="delete"
                  rename-child-key="renameChildKey"
                  is-edit-data="isEditData"
                  is-root-element="false"
                  nested="true">
              </cedar-nested-template-element>
            </div>
          </div>
        </div>
      </div>

      <!-- have an array with no elements -->
      <div ng-if="!isRuntime() && $root.isArray(model) && model.length == 0" class="element"
          ng-class="['element-0']">
        <div ui-sortable="$root.sortableOptions" ng-model="element._ui.order" class="sortable-container">
          <div ng-repeat="key in $root.schemaOf(element)['_ui']['order']">

            <div ng-if="true">
              <cedar-nested-template-element key="key"
                  field="$root.propertiesOf(element)[key]"
                  model="m[key]"
                  parent-element="element"
                  preview="preview"
                  delete="delete"
                  rename-child-key="renameChildKey"
                  is-edit-data="isEditData"
                  is-root-element="false"
                  nested="true">
              </cedar-nested-template-element>
            </div>
          </div>
        </div>
      </div>

      <!-- not an array -->
      <div ng-if="!$root.isArray(model)" class="element only-element" ui-sortable="$root.sortableOptions"
          ng-model="element._ui.order">
        <div ng-repeat="key in $root.schemaOf(element)['_ui']['order']">
          <div ng-if="$root.propertiesOf(element)[key]">

            <cedar-nested-template-element key="key"
                field="$root.propertiesOf(element)[key]"
                model="model[key]"
                parent-element="element"
                delete="removeChild"
                rename-child-key="renameChildKey"
                is-edit-data="isEditData"
                is-root-element="false"
                nested="true">
            </cedar-nested-template-element>
          </div>
        </div>
      </div>
    </div>

    <div class="" ng-if="!isRuntime()  && !isNested() && $root.schemaOf(element)._tmp.state == 'creating'">
      <div class="detail-options">
        <div class="element-toggles list table-style">
          <div class="element-toggle table-cell-style" ng-class="{active: showCardinality}"
              ng-click="showCardinality = !showCardinality">
            <span>Multiple</span>
          </div>
        </div>
      </div>

      <!-- Cardinality tab  -->
      <div id="cardinality-options" class="cardinality-options cardinality-selectors" ng-show="showCardinality">

        <div class="type-toggle date">
          <div class="d-option clear-value" ng-class="{active: !isMultiple()}" ng-click="clearMinMax()">
            <span translate>GENERIC.No</span>
          </div>
          <div class="d-option set-value" ng-class="{active: isMultiple()}" ng-click="defaultMinMax()">
            <span translate>GENERIC.Yes</span>
          </div>
        </div>

        <div class="cardinality-selectors" ng-if="element.minItems > -1">
          <cardinality-selector class="min" min-or-max="'min'"  min-items="element.minItems" max-items="element.maxItems"></cardinality-selector>
          <cardinality-selector class="max" min-or-max="'max'"  min-items="element.minItems" max-items="element.maxItems"></cardinality-selector>
        </div>

      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <!-- property modal -->
  <div class="modal fade controlled-terms-modal" id="{{getModalId('property')}}" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content" style="overflow:auto">
        <div class="modal-header">
          <button type="button" class="close controlled-terms-modal-value-close" data-dismiss="modal"
              aria-label="Close"><span aria-hidden="true"><img
              src="/img/close_modal.png" width="22"/></span></button>
        </div>
        <div class="modal-body">
          <div controlled-term field="element" options='{"filterSelection":"properties", "modalId":getModalId("property")}'></div>
        </div>
      </div>
    </div>
  </div>

</div>