<div ng-if="model !== undefined" class="item-root element-root" id="{{$root.getDomId(element)}}"
    ng-click="canSelect(!isNested(element) && !$root.isRuntime()); $event.preventDefault();">

  <div class="element-header input-type-container" style="position:relative;"  ng-class="{'sortable-handler': !$root.isRuntime() && !isNested(element)}">
    <div class="row" >

      <div class="col-lg-6 pull-left">

        <a  ng-if="!isNested(element)" ng-click="switchExpandedState($root.getDomId(element)); $event.preventDefault();"
            class="visibilitySwitch"><i
            class="cedar-svg-collapse"></i></a>
        <a  ng-if="!isNested(element)" ng-click="switchExpandedState($root.getDomId(element)); $event.preventDefault();" class="visibilitySwitch"
            style="display:none;"><i
            class="cedar-svg-expand"></i></a>

        <div  ng-if="!isNested(element)" class="sortable-handler " style="padding-top:5px; display:inline-block"
            ng-if="!isRootElement && !$root.isRuntime() && !preview "><span
            class="sortable-icon"></span></div>

        <p class="element-name-label " ng-class="{'nested': isNested(element)}">
          {{$root.schemaOf(element)._ui.title}}
        </p>

         <span ng-if="!isNested(element)" ng-show="$root.isArray(model) && $root.isRuntime()" class="spreadsheetSwitch element">
            <button type="button"
                uib-tooltip="{{'HELP.showAsSpreadsheet' | translate}}"
                tooltip-trigger
                tooltip-animation="false"
                tooltip-placement="top"
                data-toggle="tooltip"
                ng-click="switchToSpreadsheet()"
                class="spreadsheetSwitchLink"
                ng-show="false"
                ng-disabled="preview" style="background:transparent;border:0;outline:none">
              <i class="cedar-svg-spreadsheet"></i>
            </button>
         </span>

          <span class="multiple-instance-cardinality"
              ng-show="!$root.isRuntime() && $root.elementIsMultiInstance(element)">
           {{element.minItems}} .. {{element.maxItems || "N"}}
          </span>
      </div>
      <div class="col-lg-5">
        <div class="element-toggles list" ng-if="$root.isRuntime() && $root.elementIsMultiInstance(element)">

          <div class="element-toggle"
              ng-class="{active: selectedTab == $index}"
              ng-repeat="m in model"
              ng-click="selectTab($index)"
              ng-if="$root.isArray(model) && model.length > 0">
            <span>{{$index + 1}}</span>
          </div>
          <div class="add-element">
            <button type="button"
                uib-tooltip="{{'GENERIC.Add' | translate}} {{$root.schemaOf(element)._ui.title}}"
                tooltip-trigger
                tooltip-animation="false"
                tooltip-placement="top"
                data-toggle="tooltip"
                ng-click="addElement(); $event.stopPropagation();"
                class="add zero noOutline"
                ng-show="true"
                ng-disabled="preview"
                style="outline:none">
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

      <div ng-if="!$root.isRuntime() &&   !isNested(element)" class="preview-container">
        <div class="row preview-edit-options pull-right">
          <div class="toggle-options col-lg-12 pull-right">
            <div class="save-options">
              <div class="trash" ng-click="delete()" title="Delete element">
                <i class="fa fa-times-circle"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="elementTotalContent visible">
    <div ng-show="$root.isArray(model)">
      <div class="spreadsheetViewDetector"></div>
      <div class="spreadsheetViewContainer"></div>
    </div>

    <div class="elements originalContent">
      <!--<div class="element-toggles list" ng-if="$root.isRuntime() && $root.elementIsMultiInstance(element)">-->

      <!--<div class="element-toggle"-->
      <!--ng-class="{active: selectedTab == $index}"-->
      <!--ng-repeat="m in model"-->
      <!--ng-click="selectTab($index)"-->
      <!--ng-if="$root.isArray(model) && model.length > 0">-->
      <!--<span>{{$index + 1}}</span>-->
      <!--</div>-->
      <!--<div class="add-element">-->
      <!--<button type="button"-->
      <!--tooltip="add a {{$root.schemaOf(element)._ui.title}}"-->
      <!--tooltip-trigger-->
      <!--tooltip-animation="false"-->
      <!--tooltip-placement="top"-->
      <!--data-toggle="tooltip"-->
      <!--ng-click="addElement(); $event.stopPropagation();"-->
      <!--class="add zero noOutline"-->
      <!--ng-show="true"-->
      <!--ng-disabled="preview"-->
      <!--style="outline:none">-->
      <!--<i class="fa fa-plus"></i>-->
      <!--</button>-->
      <!--</div>-->
      <!--<div class="clearfix"></div>-->
      <!--</div>-->
      <!-- /.date-type-toggle -->

      <!-- have an array with at least one element -->
      <div ng-if="$root.isArray(model) && selectedTab == $index" class="element" ng-repeat="m in model"
          ng-class="['element-{{$index}}']">

        <div class="remove-element pull-right">
          <a class="" ng-if="$root.isRuntime()" ng-show="model.length > element.minItems"
              ng-click="removeElement($index)" translate>GENERIC.Remove</a>
        </div>

        <div ui-sortable="$root.sortableOptions" ng-model="$root.schemaOf(element)._ui.order"
            class="sortable-container">
          <div ng-repeat="key in $root.schemaOf(element)['_ui']['order']">
            <div ng-if="$root.propertiesOf(element)[key]">
              <cedar-nested-template-element key="key"
                  field="$root.propertiesOf(element)[key]"
                  model="m[key]"
                  remove-child="removeChild"
                  rename-child-key="renameChildKey"
                  is-edit-data="isEditData">
              </cedar-nested-template-element>
            </div>
          </div>
        </div>
      </div>

      <!-- have an array with no elements -->
      <div ng-if="!$root.isRuntime() && $root.isArray(model) && model.length == 0" class="element"
          ng-class="['element-0']">
        <div ui-sortable="$root.sortableOptions" ng-model="element._ui.order" class="sortable-container">
          <div ng-repeat="key in $root.schemaOf(element)['_ui']['order']">

            <div ng-if="true">
              <cedar-nested-template-element key="key"
                  field="$root.propertiesOf(element)[key]"
                  model="m[key]"
                  preview="preview"
                  remove-child="removeChild"
                  rename-child-key="renameChildKey"
                  is-edit-data="isEditData">
              </cedar-nested-template-element>
            </div>
          </div>
        </div>
      </div>

      <!-- not an array -->
      <div ng-if="!$root.isArray(model)" class="element only-element" ui-sortable="$root.sortableOptions"
          ng-model="element._ui.order">
        <div ng-repeat="key in $root.schemaOf(element)['_ui']['order']">
          <div ng-if="$root.propertiesOf(element)[key]">
            <cedar-nested-template-element key="key"
                field="$root.propertiesOf(element)[key]"
                model="model[key]"
                remove-child="removeChild"
                rename-child-key="renameChildKey"
                is-edit-data="isEditData">
            </cedar-nested-template-element>
          </div>
        </div>
      </div>
    </div>


    <div class=""
        ng-if="!$root.isRuntime()  && !isNested() && $root.propertiesOf(element)._tmp.state == 'creating'">
      <div class="detail-options">
        <div class="element-toggles list table-style">
          <div class="element-toggle table-cell-style" ng-class="{active: showCardinality}"
              ng-click="showCardinality = !showCardinality">
            <span>Multiple</span>
          </div>
        </div>
      </div>

      <!-- Cardinality tab  -->
      <div id="cardinality-options" class="cardinality-options cardinality-selectors" ng-show="showCardinality">

        <div class="type-toggle date">
          <div class="d-option" ng-class="{active: !isMultiple()}" ng-click="clearMinMax()">
            <span translate>GENERIC.No</span>
          </div>
          <div class="d-option" ng-class="{active: isMultiple()}" ng-click="defaultMinMax()">
            <span translate>GENERIC.Yes</span>
          </div>
        </div>

        <div class="cardinality-selectors" ng-if="element.minItems > -1">
      <span class=" form-group validation-pattern  min-items-option">
        <span translate>GENERIC.Min</span>
        <select class="center" select-picker ng-model="cardinality.min" ng-init="initMultiple()"
            ng-change="updateMultiple()">
          <option ng-repeat="i in cardinality.mins" value="{{ i.value }}">{{ i.label }}</option>
        </select>
      </span>
      <span class=" form-group validation-pattern  max-items-option">
        <span translate>GENERIC.Max</span>
        <select select-picker ng-model="cardinality.max" ng-init="initMultiple()" ng-change="updateMultiple()">
          <option ng-repeat="i in cardinality.maxes" value="{{ i.value }}">{{ i.label }}</option>
        </select>
      </span>
        </div>

      </div>
      <div class="clearfix"></div>
    </div>
  </div>

</div>