<div class="template-container scrollable-content">
  <div class="template-header element">
    <div class="container">
      <div class="row">
        <div class="left-sidebar col-sm-3 col-sm-offset-1">
          <div id="element-name-container">
            <form>
              <div class="form-group floating-label-wrapper">
                <input auto-focus type="text" class="form-control" id="element-name"
                    placeholder="{{'GENERIC.Name' | translate}}"
                    aria-label="{{'GENERIC.Name' | translate}}"
                    ng-model="elementSchema['schema:name']" with-floating-label>
              </div>
            </form>
          </div>
        </div>
        <div class="left-sidebar col-sm-3">
          <div id="element-identifier-container">
            <form>
              <div class="form-group floating-label-wrapper">
                <input type="text" class="form-control" id="element-identifier"
                    placeholder="{{'GENERIC.Identifier' | translate}}"
                    aria-label="{{'GENERIC.Identifier' | translate}}"
                    ng-model="elementSchema['schema:identifier']" with-floating-label>
              </div>
            </form>
          </div>
        </div>
        <div class="right-body col-sm-4">
          <div id="element-description-container">
            <form>
              <div class="form-group floating-label-wrapper">
                <input type="text" class="form-control" id="element-description"
                    placeholder="{{'GENERIC.Description' | translate}}"
                    aria-label="{{'GENERIC.Description' | translate}}"
                    ng-model="elementSchema['schema:description']"
                    with-floating-label>
              </div>
            </form>
          </div>
        </div>
        <button type="button" class="show-type"
            ng-click="showModal('field','classes')">
          <i class="cedar-svg-controll-term collapsed" style="padding-bottom:10px"></i>
        </button>
        <div class="class-dropdown" uib-dropdown on-toggle="toggled(open)">
          <button type="button" uib-dropdown-toggle ng-click="toggle()" aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-caret-down  inline "></i></button>
          <div uib-dropdown-menu class="class-list pull-right dropdown-menu">
            <class-list field="element" view-type="viewType"></class-list>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="template-body element">
    <div class="container">
      <div class="row">
        <div class="right-body col-sm-10 col-sm-offset-1">
          <div id="form-preview-section">
            <div class="form-preview collapse in">
              <!--<div class="empty-text" ng-show="isPropertiesEmpty()">-->
              <!--<p translate>CREATOR.addElementToStagingMsg</p>-->
              <!--</div>-->
              <form-directive form="form" page="page" model="instance" page-index="0" ng-if="!isPropertiesEmpty()"></form-directive>


            </div>
            <!-- /.form-preview -->
          </div>
          <!-- /#form-preview-section -->

          <div ng-if="!isEmpty(invalidFieldStates)" class="alert alert-danger" role="alert">
            <p><i class="fa fa-exclamation-triangle"></i><span translate>VALIDATION.groupHeader.invalidFieldState</span>
            </p>
            <ul>
              <li ng-repeat="field in invalidFieldStates">
                <span ng-show="field">{{field}}</span>
                <span ng-hide="field" translate>VALIDATION.noNameField</span>
              </li>
            </ul>
          </div>

          <div ng-if="!isEmpty(invalidElementStates)" class="alert alert-danger" role="alert">
            <p><i class="fa fa-exclamation-triangle"></i><span
                translate>VALIDATION.groupHeader.invalidElementState</span>
            </p>
            <ul>
              <li ng-repeat="element in invalidElementStates">
                <span ng-show="element">{{element}}</span>
                <span ng-hide="element" translate>VALIDATION.noNameElement</span>
              </li>
            </ul>
          </div>

          <div class="element-actions"  ng-if="canWrite()" style="height:auto">
            <div ng-if="elementErrorMessages.length" class="alert alert-danger" role="alert">
              <p ng-repeat="message in elementErrorMessages"><i class="fa fa-exclamation-triangle"></i>{{message}}</p>
            </div>
            <div ng-if="elementSuccessMessages.length" class="alert alert-success" role="alert">
              <p ng-repeat="message in elementSuccessMessages"><i class="fa fa-check"></i>{{message}}</p>
            </div>
            <!--<div class="favorite {{favorite}}" ng-click="toggleFavorite()">-->
            <!--<i class="cedar-svg-flag"></i><span>Favorite</span>-->
            <!--</div>-->
            <div class="clear-save" >
              <button type="button" id="button-clear-element" class="btn btn-clear element" ng-click="reset()"
                  ng-hide="isPropertiesEmpty()"
                  translate>
                GENERIC.Clear
              </button>
              <button type="button" id="button-cancel-element" class="btn btn-clear element" ng-click="cancelElement()"
                  translate>GENERIC.Cancel
              </button>
              <button type="button" ng-disabled="saveButtonDisabled" id="button-save-element"
                  class="btn btn-save element" ng-click="saveElement()" translate>GENERIC.SaveElement
              </button>
            </div>
          </div>

          <ng-include src="'scripts/layout/template-json-preview.html'"></ng-include>


        </div>
        <!-- /.right-body -->

        <div class="left-sidebar col-sm-1 pull-right">
          <div id="stickyFix"></div>
          <div class="sidebar-inner" cedar-sticky-left-menu="true">

            <!-- toolbar -->
            <ng-include src="'scripts/form/partials/edit-add-toolbar.html'"></ng-include>

          </div>
          <!-- /.sticky-list -->
        </div>
        <!-- /.left-sidebar -->

      </div>
      <!-- /.row -->

      <!-- element finder -->
      <section>
        <cedar-finder id="finder-modal" cedar-modal-show modal-visible="finderModalVisible" class="modal fade"
            tabindex="-1" role="dialog" aria-labelledby="finderModalHeader"
            data-keyboard="true" data-backdrop="static" select-resource-callback="selectElementFromPicker"
            pick-resource-callback="pickElementFromPicker" >
        </cedar-finder>
      </section>

      <section>
        <cedar-terms-modal id="terms-modal" cedar-modal-show modal-visible="termsModalVisible" class="modal fade"
            tabindex="-1" role="dialog" aria-labelledby="termsModalHeader"
            data-keyboard="true" data-backdrop="static">
        </cedar-terms-modal>
      </section>


      <section>
        <div class="modal fade controlled-terms-modal" id="controlled-term-modal" data-backdrop="static">
          <div class="modal-dialog">
            <div class="modal-content" style="overflow:auto">
              <div class="modal-header">
                <button type="button" class="close controlled-terms-modal-field-close" data-dismiss="modal"
                    aria-label="Close"><span aria-hidden="true"><img
                    src="/img/close_modal.png" width="22"/></span></button>
              </div>
              <div class="modal-body">
                <div controlled-term></div>
              </div>
            </div>
          </div>
        </div>
      </section>


    </div>
    <!-- /.container -->
  </div> <!-- /.template-body -->


</div> <!-- /.row -->


