<div class="toolbar" style="padding-right:7px;">

   <span ng-if="$root.isArray(model) && model.length > 0">
       <button type="button"
           ng-click="remove(index);$event.stopPropagation()"
           class="remove pull-right"
           uib-tooltip="{{'GENERIC.Remove' | translate}}"
           tooltip-trigger
           tooltip-animation="false"
           tooltip-placement="top"
           data-toggle="tooltip">
         <i class="fa fa-trash"></i>
       </button>
        </span>

  <button type="button" class=" remove pull-right"
      ng-if="isActive(index)"
      uib-tooltip="{{'GENERIC.Close' | translate}}"
      ng-click="setActive(index, false);$event.stopPropagation()">
    <i class="fa fa-remove "></i>
  </button>

    <span ng-if="$root.isArray(model)">
       <button type="button"
           ng-click="add();$event.stopPropagation()"
           class="add pull-right"
           uib-tooltip="{{'GENERIC.Add' | translate}}"
           tooltip-trigger
           tooltip-animation="false"
           tooltip-placement="top"
           data-toggle="tooltip">
         <i class="fa fa-plus-circle"></i>
       </button>
          </span>


  <button ng-if="$root.isArray(model)" type="button" class=" remove pull-right"
      ng-if="isActive(index)"
      uib-tooltip="{{cardinality()}}"
      ng-click="toggle();$event.stopPropagation()">
    <i ng-if="showMultiple('paged')" class="fa   fa-sort  fa-rotate-90 "></i>
    <i ng-if="showMultiple('expanded')" class="fa fa-list-ol "></i>
    <i ng-if="showMultiple('spreadsheet')" class="fa fa-table "></i>
  </button>


</div>





