<div class="text-center search-options">
  <div class="checkbox inline-block checkbox-bioportal-ontologies">
    <input type="checkbox" id="checkbox-bioportal-ontologies"
           ng-model="cctvspdc.bioportalOntologiesFilter"
           name="cctvspdc.bioportalOntologiesFilter"
           ng-true-value="true"
           ng-false-value="false"
           ng-change="cctvspdc.bioportalOntologiesFilter" />
    <label for="checkbox-bioportal-ontologies">BioPortal Ontologies</label>
  </div>
  <div class="checkbox inline-block checkbox-bioportal-value-sets">
    <input type="checkbox" id="checkbox-bioportal-value-sets"
           ng-model="cctvspdc.bioportalValueSetsFilter"
           name="bioportalValueSetsFilter"
           ng-true-value="true"
           ng-false-value="false"
           ng-change="cctvspdc.bioportalValueSetsFilter" />
    <label for="checkbox-bioportal-value-sets">BioPortal Value Sets</label>
  </div>
</div>
<div class="btn-start-over-group">
  <button type="button" class="btn btn-start-over" ng-click="cctvspdc.reset()">Start Over</button>
</div>

<div class="form-group form-group-actions clearfix" ng-class="{ 'is-searching': cctvspdc.isSearching(), 'is-browsing': cctvspdc.isBrowsing(), 'is-creating-value-set': cctvspdc.isCreatingValueSet() }">
  <div class="values-search">
    <div class="input-group values-search-input-group">
      <input id="values-search-input" type="text" class="form-control values-search-form-control" placeholder="Search for a class in BioPortal" aria-label="Values Search" ng-focus="cctvspdc.startValuesSearch()" ng-model="cctvspdc.valuesSearchTerms" ng-keyup="$event.keyCode == 13 && cctvspdc.valuesSearch($event)" with-floating-label="" />
      <span class="input-group-addon" ng-click="cctvspdc.valuesSearch()">
        <img src="../img/search-icon.png" />
      </span>
    </div>
  </div>
  <div class="values-browse">
    <div class="more-items" ng-if="!cctvspdc.valuesActionSelection">
      <button type="button" class="btn btn-values-browse btn-block" data-toggle="dropdown" aria-expanded="false" ng-click="cctvspdc.valuesBrowse($event)">
        <span class="pull-left text">Browse {{bioportalFilterResultLabel()}}</span> <i class="fa fa-angle-down fa-2x pull-right"></i>
        <span class="clearfix"></span>
      </button>
    </div>
    <div class="input-group values-search-input-group" ng-if="cctvspdc.isBrowsing()">
      <input id="ontologi_search_input" type="text" class="form-control values-search-form-control" placeholder="Search" aria-label="Browse" ng-model="cctvspdc.ontologySearchTerms" ng-keyup="cctvspdc.prepareForOntologySearch($event)" with-floating-label />
      <span class="input-group-addon" ng-click="cctvspdc.ontologySearch()">
        <img src="../img/search-icon.png" />
      </span>
    </div>
  </div>
  <div ng-if="cctvspdc.includeCreateClass" class="values-create-class">
    <div class="input-group btn-create-values" style="width: 100%">
      <button type="button" class="std-button btn" style="width: 100%" ng-click="cctvspdc.fieldCreateValueSet()">Create</button>
    </div>
  </div>
</div>

<div class="preloader" ng-show="cctvspdc.searchPreloader"></div>

<!-- add ontology values sets -->
<div class="create-value-set-widget" ng-controller="provisionalClassController as pcc" ng-if="cctvspdc.includeCreateClass && cctvspdc.valuesActionSelection == 'create'">
  <div class="form-group form-group-actions create-value-set-widget-actions" ng-init="cctvspdc.valueCreateMode = 'class'">
    <button type="button" class="std-button" ng-click="cctvspdc.valueCreateMode = 'class'" ng-class="{'active': cctvspdc.valueCreateMode == 'class'}">Create Class</button>
    <button type="button" class="std-button" ng-click="cctvspdc.valueCreateMode = 'valueset'" ng-class="{'active': cctvspdc.valueCreateMode == 'valueset'}">Create Value Set</button>
  </div>
  <div class="form-group add-ontology-class" ng-if="cctvspdc.valueCreateMode == 'class'">

    <ng-include src="'scripts/control-term/create-ontology-class.html'"></ng-include>
    <div class="clear btn-create-class">
      <button type="button"
              class="std-button btn"
              ng-click="pcc.saveAsOntologyClassValueConstraint(pcc.provisionalClass)"
              ng-disabled="!pcc.isValid()">Create Class
      </button>
    </div>

  </div>

  <div class="form-group" ng-if="cctvspdc.valueCreateMode == 'valueset'">
    <p class="instructions">
      Please, provide the following information for the value set you want to create
    </p>
    <br />
    <div class="floating-label-wrapper">
      <input type="text" class="form-control required" name="provisionalClassLabel" placeholder="Label" ng-model="pcc.provisionalClass.label" with-floating-label="" />
    </div>
    <br />
    <div class="floating-label-wrapper">
      <textarea class="form-control required"
                rows="5"
                name="provisionalClassDescription"
                placeholder="Description"
                ng-model="pcc.provisionalClass.description"
                with-floating-label="">
      </textarea>
    </div>
    <div class="add-values-to-value-set">
      <p class="add-values-header">Add Values to the Value Set</p>
      <p class="instructions">Use the options below to add values here</p>

      <div class="provisional-value-set-value" ng-if="pcc.provisionalValueSetValues.length > 0">
        <table class="table table-striped">
          <thead>
            <tr>
              <td>Class</td>
              <td>URI</td>
              <td>&nbsp;</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="value in pcc.provisionalValueSetValues">
              <td>{{value.label}}</td>
              <td>{{value['@id']}}</td>
              <td>
                <div class="item item-delete" ng-click="pcc.deleteProvisionalValueSetValue($index)">
                  <i class="fa fa-close"></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <cedar-control-term-ontology-picker
        class-details="pcc.pickedOntologyClassDetails"
        current-ontology="pcc.pickedCurrentOntology"
        include-create-class="false"
        reset-callback="pcc.startOver"
        is-loading-class-details="pcc.isLoadingPickedOntologyClassDetails"
        selected-class-1="pcc.pickedOntologyClass"
        selected-class-2="pcc.pickedOntologyClass">
      </cedar-control-term-ontology-picker>
      <br />
      <div class="create-value-actions" ng-if="pcc.pickedOntologyClass">
        <div class="center">
          {{pcc.pickedOntologyClass.prefLabel}}<br />
          ({{pcc.pickedCurrentOntology.info.id}})
        </div>
        <br />
        <button type="button" class="std-button" ng-click="pcc.addValueToValueSet(pcc.pickedOntologyClass)">Add Value</button>
      </div>
    </div>

    <div class="clear btn-create-class">
      <button type="button"
              class="std-button btn"
              ng-click="pcc.saveAsValueSetConstraint(pcc.provisionalClass, pcc.provisionalValueSetValues)"
              ng-disabled="!pcc.isValid()">Create Value Set
      </button>
    </div>

  </div>
</div>

<!-- Values Search Results and Ontology Tree -->
<div class="clear search-results-section" ng-if="cctvspdc.searchResults.length > 0">
  <div class="search-results-headers" ng-hide="cctvspdc.valuesTreeVisibility">
    <table class="table table-condensed results-headers-table search-results-headers-table" ng-if="cctvspdc.isSearching()">
      <thead>
        <tr>
          <th>Result</th>
          <th>Type</th>
          <th>Source Name</th>
        </tr>
      </thead>
    </table>

    <table class="table table-condensed results-headers-table browse-results-headers-table values-browse-results-headers-table" ng-if="cctvspdc.isBrowsing()">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Categories</th>
          <!--<th>Size</th>-->
        </tr>
      </thead>
    </table>
  </div>
  <div class="search-results" ng-hide="cctvspdc.valuesTreeVisibility">
    <div class="no-search-results" ng-show="cctvspdc.searchNoResults">No results.</div>
    <div class="table-responsive results-table-container">
      <table class="table table-hover results-table search-results-table" ng-if="cctvspdc.isSearching()">
        <tbody>
          <tr ng-repeat="result in cctvspdc.searchResults" ng-click="cctvspdc.selectValueResult(result)">
            <td>{{result.prefLabel}}</td>
            <td>{{result.type}}</td>
            <td>{{result.resultSource}}</td>
          </tr>
        </tbody>
      </table>

      <table class="table table-hover results-table browse-results-table values-browse-results-table" ng-if="cctvspdc.isBrowsing()">
        <tbody>
          <tr ng-repeat="result in cctvspdc.searchResults" ng-click="cctvspdc.selectValueResult(result)" ng-show="cctvspdc.isOntologyNameMatched(result)">
            <td ng-if="result.type == 'Ontology'">{{result.name}}</td>
            <td ng-if="result.type == 'ValueSet'">{{result.prefLabel}}</td>
            <td>{{result.type}}</td>
            <td ng-if="result.type == 'Ontology'">{{result.details.categories.join(", ") || "-" }}</td>
            <td ng-if="result.type == 'ValueSet'">{{result.vsCollection.substr(result.vsCollection.lastIndexOf('/') + 1)}}</td>
            <!--<td ng-if="result.resultType == 'Ontology'">{{result.metrics.classes}}</td>-->
            <!--<td ng-if="result.resultType == 'Value Set'">{{result.numChildren}}</td>-->
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="field-tree clear" ng-show="cctvspdc.selectedValueResult">
    <div class="field-tree-header table-style">
      <div class="ontology-tree-header table-cell-style" ng-if="cctvspdc.selectedValueResult.type == 'Ontology' || cctvspdc.selectedValueResult.type == 'OntologyClass'">
        <h4><a class="pull-left" ng-click="cctvspdc.hideValuesTree()"><img src="../img/left-arrow.png" /></a>&nbsp;&nbsp;&nbsp;&nbsp;{{cctvspdc.currentOntology.details.ontology.name}}</h4>
      </div>

      <div class="ontology-class-children table-cell-style" ng-show="cctvspdc.browsingSection == 'value_set'">
        <h4><a class="pull-left" ng-click="cctvspdc.hideValuesTree()"><img src="../img/left-arrow.png" /></a>&nbsp;&nbsp;&nbsp;&nbsp;{{cctvspdc.currentValueSet.prefLabel}} Value Set</h4>
      </div>

      <div class="field-details-view table-cell-style" ng-if="cctvspdc.selectedValueResult">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="detail-view-tab active"><a href="#class-details" aria-controls="class-details" role="tab" data-toggle="tab">Class Details</a></li>
          <li role="presentation" class="detail-view-tab"><a href="#ontology-details" aria-controls="ontology-details" role="tab" data-toggle="tab"><span ng-show="cctvspdc.browsingSection == 'ontology'">Ontology Details</span><span ng-show="cctvspdc.browsingSection == 'value_set'">Value Set Info</span></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="field-tree-details">
      <div class="ontology-tree pull-left" ng-if="cctvspdc.selectedValueResult && cctvspdc.currentOntology && cctvspdc.currentOntology.tree && (cctvspdc.selectedValueResult.type == 'Ontology' || cctvspdc.selectedValueResult.type == 'OntologyClass')">
        <div class="tree tree-view-ul tree-view list-unstyled class-tree-container">
          <cedar-class-tree
              get-class-details-callback="cctvspdc.getClassDetails"
              is-selected-callback="cctvspdc.checkIfSelected"
              selected-node="cctvspdc.selectedValueResult"
              tree="cctvspdc.currentOntology.tree">
          </cedar-class-tree>
        </div>
      </div><!-- /.ontology-tree -->

      <div class="ontology-class-children pull-left" ng-show="cctvspdc.browsingSection == 'value_set'">
        <div class="table-responsive ontology-class-children-table">
          <table class="table table-hover" style="width: 275px; max-height: 203px; overflow-y: auto">
            <tbody>
              <tr ng-repeat="valueSetClass in cctvspdc.valueSetClasses">
                <td class="ontology-name">
                  <span ng-show="cctvspdc.selectedValueResult['@id'] == valueSetClass['@id']">{{valueSetClass.prefLabel}}</span>
                  <a ng-hide="cctvspdc.selectedValueResult['@id'] == valueSetClass['@id']" ng-click="cctvspdc.selectedValueResult = valueSetClass">{{valueSetClass.prefLabel}}</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="field-details-view pull-right" ng-if="cctvspdc.selectedValueResult">
        <div class="tab-content">
          <div id="class-details" class="tab-pane active" role="tabpanel">
            <div class="no-selected-class text-center" ng-hide="cctvspdc.selectedValueResult.prefLabel">No class is selected</div>
            <div class="table-responsive">
              <table class="table table-striped">
                <tbody ng-show="cctvspdc.selectedValueResult.prefLabel">
                  <tr>
                    <th>Pref. Name</th>
                    <th>{{cctvspdc.selectedValueResult.prefLabel}}</th>
                  </tr>
                  <tr>
                    <td>ID</td>
                    <td>{{cctvspdc.selectedValueResult['@id']}}</td>
                  </tr>
                  <tr>
                    <td>Definition</td>
                    <td>{{cctvspdc.selectedValueResult.definition[0]}}</td>
                  </tr>
                </tbody>
              </table>
            </div><!-- /.table-responsive -->
          </div><!-- /.class-details -->
          <div id="ontology-details" class="tab-pane" role="tabpanel">
            <div class="table-responsive">
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <th>Name</th>
                    <th>
                      <span ng-show="cctvspdc.browsingSection == 'ontology'">
                        {{cctvspdc.currentOntology.details.ontology.name}}
                      </span>
                      <span ng-show="cctvspdc.browsingSection == 'value_set'">
                        {{cctvspdc.currentValueSet.prefLabel}}
                      </span>
                    </th>
                  </tr>
                  <tr>
                    <td>Acronym</td>
                    <td>
                      <span ng-show="cctvspdc.browsingSection == 'ontology'">{{cctvspdc.currentOntology.info.id}}</span>
                      <span ng-show="cctvspdc.browsingSection == 'value_set'">NLMVS</span>
                    </td>
                  </tr>
                  <tr>
                    <td>@id</td>
                    <td>
                      <span ng-show="cctvspdc.browsingSection == 'ontology'"><a ng-href="{{cctvspdc.currentOntology.info['@id']}}" target="_blank">{{cctvspdc.currentOntology.info['@id']}}</a></span>
                      <span ng-show="cctvspdc.browsingSection == 'value_set'"><a ng-href="{{cctvspdc.currentValueSet['@id']}}" target="_blank">{{cctvspdc.currentValueSet['@id']}}</a></span>
                    </td>
                  </tr>
                  <tr>
                    <td>Description</td>
                    <td>
                      <span ng-show="cctvspdc.browsingSection == 'ontology'">{{cctvspdc.currentOntology.info.description | htmlToPlainText}}</span>
                      <span ng-show="cctvspdc.browsingSection == 'value_set'">{{cctvspdc.currentValueSet.resultSource}}</span>
                    </td>
                  </tr>
                  <!--<tr>-->
                    <!--<td># of Classes</td>-->
                    <!--<td>-->
                      <!--<span ng-show="cctvspdc.browsingSection == 'ontology'">{{cctvspdc.currentOntology.size.classes | returnNullIfEmpty}}</span>-->
                      <!--<span ng-show="cctvspdc.browsingSection == 'value_set'">{{cctvspdc.currentValueSet.numChildren | returnNullIfEmpty}}</span>-->
                    <!--</td>-->
                  <!--</tr>-->
                </tbody>
              </table>
            </div><!-- /.table-responsive -->
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>

  </div>
</div>

