
<div class="controlled-terms controlled-term-options" >

  <div class="form-group floating-label-wrapper field-filter clearfix" ng-if="ctdc.filterSelection == 'field'">

    <cedar-control-term-ontology-picker
        class-details="ctdc.classDetails"
        current-ontology="ctdc.currentOntology"
        include-create-class="true"
        is-loading-class-details="ctdc.isLoadingClassDetails"
        reset-callback="ctdc.startOver"
        selected-class-1="ctdc.selectedClass1"
        selected-class-2="ctdc.selectedClass2">
    </cedar-control-term-ontology-picker>

    <div class="class-actions">
      <div class="class-action table-style" ng-if="ctdc.selectedClass1.prefLabel">
        <span class="table-cell-style text-left">{{ctdc.selectedClass1.prefLabel}}</span>
        <span class="table-cell-style text-right">
          <button class="btn btn-add-term" ng-click="ctdc.addClass(ctdc.selectedClass1, ctdc.currentOntology); ctdc.startOver()" ng-disabled="ctdc.isLoadingClassDetails">Add</button>
        </span>
      </div>
      <div class="class-action table-style" ng-if="ctdc.selectedClass2.prefLabel && ctdc.selectedClass2['@id'] != ctdc.selectedClass1['@id'] && ctdc.classDetails">
        <span class="table-cell-style text-left">{{ctdc.selectedClass2.prefLabel}}</span>
        <span class="table-cell-style text-right">
          <button class="btn btn-add-term add-btn-margin" ng-click="ctdc.addClass(ctdc.selectedClass2, ctdc.currentOntology); ctdc.startOver()">Add</button>
        </span>
      </div>
    </div>

  </div>

  <div class="value-filter" ng-if="ctdc.filterSelection == 'values'">

    <cedar-control-term-value-set-picker
        current-ontology="ctdc.currentOntology"
        current-value-set="ctdc.currentValueSet"
        include-create-class="true"
        reset-callback="ctdc.startOver"
        selected-value-result="ctdc.selectedValueResult">
    </cedar-control-term-value-set-picker>
    <div class="class-actions">
      <div ng-if="ctdc.selectedValueResult.type == 'OntologyClass' || ctdc.selectedValueResult['@type'] == 'http://www.w3.org/2002/07/owl#Class' || ctdc.selectedValueResult.type == 'Ontology'">
        <div class="element-toggles list table-style" ng-init="ctdc.stageValueConstraintAction = 'add_class'">
          <div class="element-toggle table-cell-style" ng-class="{active: ctdc.stageValueConstraintAction == 'add_class'}" ng-click="ctdc.stageOntologyClassValueConstraint(ctdc.selectedValueResult)" ng-if="!(ctdc.selectedValueResult.type == 'Ontology')">
            <span>Class</span>
          </div>
          <div class="element-toggle table-cell-style" ng-class="{active: ctdc.stageValueConstraintAction == 'add_siblings'}" ng-click="ctdc.stageOntologyClassSiblingsValueConstraint(ctdc.selectedValueResult)" ng-if="!(ctdc.selectedValueResult.type == 'Ontology')">
            <span>Siblings</span>
          </div>
          <div ng-show="ctdc.selectedValueResult.hasChildren" class="element-toggle table-cell-style" ng-class="{active: ctdc.stageValueConstraintAction == 'add_children'}" ng-click="ctdc.stageBranchValueConstraint(ctdc.selectedValueResult)" ng-if="!(ctdc.selectedValueResult.type == 'Ontology')">
            <span>Children</span>
          </div>
          <div class="element-toggle table-cell-style" ng-class="{active: ctdc.stageValueConstraintAction == 'add_ontology'}" ng-click="ctdc.stageOntologyValueConstraint()" ng-if="ctdc.currentOntology.info">
            <span>Ontology</span>
          </div>
        </div>
      </div>
      <div ng-if="ctdc.selectedValueResult.type == 'ValueSet' || ctdc.selectedValueResult.type == 'Value'">
        <div class="element-toggles list table-style stage-value-constraint-actions">
          <div ng-if="ctdc.selectedValueResult['@id'] != ctdc.currentValueSet['@id']" class="element-toggle table-cell-style" ng-class="{active: ctdc.stageValueConstraintAction == 'add_class'}" ng-click="ctdc.stageOntologyClassValueConstraint(ctdc.selectedValueResult, 'Value')">
            <span>Class</span>
          </div>
          <div class="element-toggle table-cell-style" ng-class="{active: ctdc.stageValueConstraintAction == 'add_entire_value_set'}" ng-click="ctdc.stageValueSetValueConstraint()">
            <span>Value Set</span>
          </div>
        </div>
      </div>
    </div>

    <div class="staged-ontology-class-value-constraint" ng-if="ctdc.stageValueConstraintAction == 'add_entire_value_set' && ctdc.stagedValueSetValueConstraints.length > 0">
      <table class="table">
        <thead>
          <tr>
            <th>Values</th>
            <th>Type</th>
            <th>Source</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="valueSet in ctdc.stagedValueSetValueConstraints">
            <td class="ontology-name">{{valueSet.numChildren}} values</td>
            <td class="type">Value Set</td>
            <td class="pref-label">{{valueSet.name}}</td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <button class="btn" ng-click="ctdc.addValueSetToValueConstraint()">Add</button>
      </div>
    </div>

    <div class="staged-ontology-class-value-constraint" ng-if="ctdc.stageValueConstraintAction == 'add_ontology' && ctdc.stagedOntologyValueConstraints.length > 0">
      <table class="table">
        <thead>
          <tr>
            <th>Values</th>
            <th>Type</th>
            <th>Source</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="ontology in ctdc.stagedOntologyValueConstraints">
            <td class="ontology-name">{{ontology.numChildren}} classes</td>
            <td class="type">Ontology</td>
            <td class="pref-label">{{ontology.name}} ({{ontology.acronym}})</td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <button class="btn" ng-click="ctdc.addOntologyToValueConstraint()">Add</button>
      </div>
    </div>

    <div class="floating-label-wrapper staged-ontology-class-value-constraint" ng-if="ctdc.stageValueConstraintAction == 'add_children' && ctdc.stagedBranchesValueConstraints.length > 0">
      <div class="staged-items table-style">
        <div class="form-group staged-item table-row-style" ng-repeat="constraint in ctdc.stagedBranchesValueConstraints">
          <div class="table-cell-style">
            {{constraint.name}}
          </div>
          <div class="table-cell-style floating-label-wrapper">
            <input placeholder="Maximum no. levels (default: 1)" type="textfield" class="form-control" ng-model="constraint.maxDepth" with-floating-label />
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn" ng-click="ctdc.addBranchToValueConstraint()">Add</button>
      </div>
    </div>

    <div class="staged-ontology-class-value-constraint add-class-container" ng-if="ctdc.stageValueConstraintAction == 'add_class'">
      <div class="staged-items table-style">
        <div class="staged-item table-row-style" ng-repeat="(key, constraint) in ctdc.stagedOntologyClassValueConstraints">
          <div class="table-cell-style">
            <input type="textfield" class="form-control" ng-model="constraint.label" placeholder="{{ctdc.stagedOntologyClassValueConstraintData[key].label}}" />
          </div>
          <div class="table-cell-style floating-label-wrapper text-right action-cell">
            <button class="btn" ng-click="ctdc.addOntologyClassToValueConstraint(constraint)">Add</button>
          </div>
        </div>
      </div>
    </div>

    <div class="staged-ontology-class-value-constraint" ng-if="ctdc.stageValueConstraintAction == 'add_siblings'">
      <div class="staged-items table-style">
        <div class="staged-item table-row-style" ng-repeat="(key, constraint) in ctdc.stagedOntologyClassValueConstraints">
          <div class="table-cell-style">
            {{ctdc.stagedOntologyClassValueConstraintData[key].label}}
          </div>
          <div class="table-cell-style floating-label-wrapper">
            <input type="textfield" class="form-control" ng-model="constraint.label" placeholder="{{ctdc.stagedOntologyClassValueConstraintData[key].label}}" />
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn" ng-click="ctdc.addOntologyClassesToValueConstraint()">Add <span ng-if="ctdc.stagedOntologyClassValueConstraints.length == 1">Class</span><span ng-if="ctdc.stagedOntologyClassValueConstraints.length > 1">Collection</span></button>
      </div>
    </div>

  </div>
</div>
