<p class="type-label">
  <span ng-if="field.properties._ui.inputType == 'textfield'">
    <i class="cedar-svg-text"></i>Text
  </span>
  <span ng-if="field.properties._ui.inputType == 'textarea'">
    <i class="cedar-svg-paragraph"></i>Paragraph
  </span>
  <span ng-if="field.properties._ui.inputType == 'radio'">
    <i class="cedar-svg-multiple-choice"></i>Multiple Choice
  </span>
  <span ng-if="field.properties._ui.inputType == 'phone-number'">
    <i class="cedar-svg-phone"></i>Phone Number
  </span>
  <span ng-if="field.properties._ui.inputType == 'numeric'">
    <i class="cedar-svg-numeric"></i>Numeric
  </span>
  <span ng-if="field.properties._ui.inputType == 'location'">
    <i class="cedar-svg-location"></i>Location
  </span>
  <span ng-if="field.properties._ui.inputType == 'list'">
    <i class="cedar-svg-list"></i>Pick from a list
  </span>
  <span ng-if="field.properties._ui.inputType == 'email'">
    <i class="cedar-svg-at"></i>Email
  </span>
  <span ng-if="field.properties._ui.inputType == 'date'">
    <i class="cedar-svg-calendar"></i>Date
  </span>
  <span ng-if="field.properties._ui.inputType == 'checkbox'">
    <i class="cedar-svg-checkbox"></i>Checkbox
  </span>
  <span ng-if="field.properties._ui.inputType == 'audio-visual'">
    <i class="cedar-svg-audio-visual"></i>Audio/Visual
  </span>
</p>
