<p class="instructions">
  Please, provide the following information for the class you want to create
</p>
<br />
<div class="floating-label-wrapper">
  <input type="text" class="form-control required" name="provisionalClassLabel" placeholder="Label" ng-model="pcc.provisionalClass.prefLabel" with-floating-label="" />
</div>
<br />
<div class="floating-label-wrapper">
  <textarea class="form-control required"
            rows="5"
            name="provisionalClassDescription"
            placeholder="Description"
            ng-model="pcc.provisionalClass.description"
            with-floating-label=""></textarea>
</div>
<br />
<div class="checkbox inline-block">
  <input type="checkbox"
         name="isMappingExistingClasses"
         id="is-mapping-existing-classes-checkbox"
         ng-model="pcc.isMappingExistingClasses" />
  <label for="is-mapping-existing-classes-checkbox">Map to existing classes</label>
</div>
<div class="map-existing-classes" ng-if="pcc.isMappingExistingClasses">
  <p class="mapping-header">Mappings to existing classes</p>
  <p class="instructions">Use the options below to add mappings here</p>

  <ng-include src="'scripts/control-term/provisional-class-mappings.html'"></ng-include>

  <cedar-control-term-ontology-picker
      class-details="pcc.pickedOntologyClassDetails"
      current-ontology="pcc.pickedCurrentOntology"
      include-create-class="false"
      reset-callback="pcc.startOverInner"
      is-loading-class-details="pcc.isLoadingPickedOntologyClassDetails"
      selected-class-1="pcc.pickedOntologyClass"
      selected-class-2="pcc.pickedOntologyClass">
  </cedar-control-term-ontology-picker>

  <div class="create-mapping-actions" ng-if="pcc.pickedOntologyClass">
    <div class="mapping-description">
      <center>
        <table width="80%">
          <tr>
            <td width="20%" class="center" style="padding-top: 20px">{{pcc.provisionalClass.prefLabel || '(no label)'}}</td>
            <td><div class="dotted"><span class="dashes">&ndash; &ndash; &ndash; &ndash; &ndash;</span><span class="arrow">&#10142;</span></div></td>
            <td width="20%" class="center" style="padding-top: 20px">
              {{pcc.pickedOntologyClass.prefLabel}}<br /> ({{pcc.pickedCurrentOntology.info.id}})
            </td>
          </tr>
        </table>
      </center>
    </div>
    <div class="mapping-tools inline-block btn-create-class">
      <div class="create-class-select">
        <select ng-model="pcc.provisionalClassMappingType"
                ng-options="option.label for option in pcc.provisionalClassMappingTypes"
                class="form-control select-mapping-type"
                select-picker="">
          <option value="">Select a mapping type...</option>
        </select>
      </div>
      <button class="std-button btn btn-create-mapping" ng-click="pcc.createProvisionalClassMapping(pcc.provisionalClassMappingType, pcc.pickedOntologyClass, pcc.pickedCurrentOntology)">Create Mapping</button>
    </div>
  </div>

</div>
