<div class="fields audio-visual-fields">
  <div ng-if="$root.isArray(model)" class="form-group floating-label-wrapper" ng-repeat="valueElement in model">
	<p class="extra-label-context" ng-if="ngDisabled && field.properties._ui.title">{{field.properties._ui.title}}</p>
    <input type="text"
           class="form-control"
           ng-class="{'required': field.properties._valueConstraints.requiredValue}"
           id="audiovisual"
           placeholder="{{field.properties._ui.title}}"
           aria-label="{{field.properties._ui.description}}"
           ng-model="valueElement._value"
           with-floating-label="" />
    <div class="input-indicator-icons">
      <i class="cedar-svg-help-circle" data-container="body" data-toggle="popover" data-placement="left" data-content="{{field.properties._ui.description}}"></i>
      <i class="cedar-svg-check-circle"></i>
      <i class="cedar-svg-warning"></i>
    </div><!-- /.input-indicator-icons -->
    <div class="additional-options">
      <span class="or">or</span>
      <span class="file-input btn btn-primary btn-file">Upload File<input type="file" multiple></span>
    </div>
    <div class="more-input-wrapper" ng-include="'views/partials/more-input-buttons.html'" ng-show="!field.maxItems || field.maxItems > 1"></div>
  </div><!-- /.form-group -->

  <div ng-if="!$root.isArray(model)" class="form-group floating-label-wrapper">
	<p class="extra-label-context" ng-if="ngDisabled && field.properties._ui.title">{{field.properties._ui.title}}</p>
    <input type="text"
           class="form-control"
           ng-class="{'required': field.properties._valueConstraints.requiredValue}"
           id="audiovisual"
           placeholder="{{field.properties._ui.title}}"
           aria-label="{{field.properties._ui.description}}"
           ng-model="model._value"
           with-floating-label="" />
    <div class="input-indicator-icons">
      <i class="cedar-svg-help-circle" data-container="body" data-toggle="popover" data-placement="left" data-content="{{field.properties._ui.description}}"></i>
      <i class="cedar-svg-check-circle"></i>
      <i class="cedar-svg-warning"></i>
    </div><!-- /.input-indicator-icons -->
    <div class="additional-options">
      <span class="or">or</span>
      <span class="file-input btn btn-primary btn-file">Upload File<input type="file" multiple></span>
    </div>
  </div><!-- /.form-group -->
</div>
