<div class="form-group floating-label-wrapper">
  <input  type="text" 
          class="form-control" 
          ng-class="{'required': field.properties.info.required}"
          id="audiovisual" 
          placeholder="{{field.properties.info.title}}"
          aria-label="{{field.properties.info.description}}"
          ng-model="model.value"
          with-floating-label>
  <div class="input-indicator-icons">
    <i class="cedar-svg-help-circle" data-container="body" data-toggle="popover" data-placement="left" data-content="{{field.properties.info.description}}"></i>
    <i class="cedar-svg-check-circle"></i>
    <i class="cedar-svg-warning"></i>
  </div><!-- /.input-indicator-icons -->
  <div class="additional-options">
    <span class="or">or</span>
    <span class="file-input btn btn-primary btn-file">Upload File<input type="file" multiple></span>
  </div>
</div><!-- /.form-group -->