<div ng-class="{'required': field.properties.info.required}">
	<p class="extra-label-context">{{field.properties.info.title}}</p>
	<div class="form-group checkbox-item" ng-repeat="(index, value) in field.properties.info.options">

	  <div class="checkbox checkbox-primary">
	    <input 	type="checkbox" 
	    				id="checkbox{{index}}" 
	    				ng-model="model.value[value.text]"
	    				ng-checked="model.value[value.text]">
	    <label for="checkbox{{index}}">{{field.properties.info.options[index]['text']}}</label>
	  </div><!-- ./checkbox -->
	</div><!-- /.form-group -->
</div>
