<p class="extra-label-context">{{field.title}}</p>
<div class="form-group validation-pattern">
	<select class="form-control" multiple data-max-options="" ng-model="model.value" select-picker>
	  <option value="controlled-term-1">Controlled Term Placeholder #1</option>
	  <option value="controlled-term-2">Controlled Term Placeholder #2</option>
	  <option value="controlled-term-3">Controlled Term Placeholder #3</option>
	  <option value="controlled-term-4">Controlled Term Placeholder #4</option>
	  <option value="controlled-term-5">Controlled Term Placeholder #5</option>
	</select>
</div><!-- /.form-group -->
