<div class="fields fields-date">
  <div ng-if="$root.isArray(model)" class="field field-date" ng-repeat="value_element in model">
    <!-- {{field}} -->
    <div class="form-group date-group floating-label-wrapper" ng-if="field.properties.info.date_type == 'single-date'">
      <!--<span class="date-label">Select a date</span>-->
      <div class='input-group' date-time-picker>
        <input  type="text"
                class="form-control"
                ng-class="{'required': field.properties.info.required_value}"
                placeholder="{{field.properties.info.title}} ( MM / DD / YYYY )"
                aria-label="Select a date"
                ng-model="value_element._value"
                with-floating-label/>
        <span class="input-group-addon">
            <i class="fa fa-calendar fa-2x"></i>
        </span>
      </div>
    </div><!-- /.form-group -->

    <div class="form-group date-group range floating-label-wrapper" ng-if="field.properties.info.date_type == 'date-range'">
      <span class="date-label">Select a date range</span>
      <div class='input-group' date-time-picker>
        <input  type="text"
                class="form-control"
                ng-class="{'required': field.properties.info.required_value}"
                placeholder="MM / DD / YYYY"
                aria-label="Select a start date"
                ng-model="value_element._value.start"
                with-floating-label/>
        <span class="input-group-addon">
            <i class="fa fa-calendar fa-2x"></i>
        </span>
      </div>
      <div class='input-group' date-time-picker>
        <input  type="text"
                class="form-control"
                ng-class="{'required': field.properties.info.required_value}"
                placeholder="MM / DD / YYYY"
                aria-label="Select a end date"
                ng-model="value_element._value.end"
                with-floating-label/>
        <span class="input-group-addon">
            <i class="fa fa-calendar fa-2x"></i>
        </span>
      </div>
    </div><!-- /.form-group -->
    <div class="more-input-wrapper" ng-include="'views/partials/more-input-buttons.html'" ng-show="!field.maxItems || field.maxItems > 1"></div>
  </div>

  <div ng-if="!$root.isArray(model)" class="field field-date">
    <!-- {{field}} -->
    <p class="date-field-title">{{field.properties.info.title}}</p>
    <div class="form-group date-group floating-label-wrapper" ng-if="field.properties.info.date_type == 'single-date'">
      <!--<span class="date-label">Select a date</span>-->
      <div class='input-group' date-time-picker>
        <input  type="text"
                class="form-control"
                ng-class="{'required': field.properties.info.required_value}"
                placeholder="MM / DD / YYYY"
                aria-label="Select a date"
                ng-model="model._value"
                with-floating-label/>
        <span class="input-group-addon">
            <i class="fa fa-calendar fa-2x"></i>
        </span>
      </div>
    </div><!-- /.form-group -->

    <div class="form-group date-group range floating-label-wrapper" ng-if="field.properties.info.date_type == 'date-range'">
      <span class="date-label">Select a date range</span>
      <div class='input-group' date-time-picker>
        <input  type="text"
                class="form-control"
                ng-class="{'required': field.properties.info.required_value}"
                placeholder="MM / DD / YYYY"
                aria-label="Select a start date"
                ng-model="model._value.start"
                with-floating-label/>
        <span class="input-group-addon">
            <i class="fa fa-calendar fa-2x"></i>
        </span>
      </div>
      <div class='input-group' date-time-picker>
        <input  type="text"
                class="form-control"
                ng-class="{'required': field.properties.info.required_value}"
                placeholder="MM / DD / YYYY"
                aria-label="Select a end date"
                ng-model="model._value.end"
                with-floating-label/>
        <span class="input-group-addon">
            <i class="fa fa-calendar fa-2x"></i>
        </span>
      </div>
    </div><!-- /.form-group -->
  </div>
</div>