<!-- {{field}} -->
<p class="date-field-title">{{field.title}}</p>
<div class="form-group date-group floating-label-wrapper" ng-if="field.date_type == 'single-date'">
  <span class="date-label">Select a date</span>
  <div class='input-group' date-time-picker>
    <input type='text' class="form-control" placeholder="MM / DD / YYYY" aria-label="Select a date" ng-model="model.value"with-floating-label/>
    <span class="input-group-addon">
        <i class="fa fa-calendar fa-2x"></i>
    </span>
  </div>
</div><!-- /.form-group -->

<div class="form-group date-group range floating-label-wrapper" ng-if="field.date_type == 'date-range'">
  <span class="date-label">Select a date range</span>
  <div class='input-group' date-time-picker>
    <input type='text' class="form-control" placeholder="MM / DD / YYYY" aria-label="Select a start date" ng-model="model.value.start" with-floating-label/>
    <span class="input-group-addon">
        <i class="fa fa-calendar fa-2x"></i>
    </span>
  </div>
  <div class='input-group' date-time-picker>
    <input type='text' class="form-control" placeholder="MM / DD / YYYY" aria-label="Select a end date" ng-model="model.value.end" with-floating-label/>
    <span class="input-group-addon">
        <i class="fa fa-calendar fa-2x"></i>
    </span>
  </div>
</div><!-- /.form-group -->