<div ng-class="{'required': field.properties.info.required_value}">
	<p class="extra-label-context">{{field.properties.info.title}}</p>
	<div 	ng-if="field.properties.info.selection_type == 'single'"
				class="form-group validation-pattern" 
				ng-class="{'required': field.properties.info.required_value}">
		<select	class="form-control" 
						multiple
						data-max-options="1"
						field="field"
						title="Please select one of the options..." 
						ng-model="model.value"
						defaults="field.properties.info.default_option"
						select-picker>
		  <option ng-repeat="(index, value) in field.properties.info.options" value="{{field.properties.info.options[index]['text']}}">{{field.properties.info.options[index]['text']}}</option>
		</select>
	</div><!-- /.form-group -->

	<div 	ng-if="field.properties.info.selection_type == 'multiple'"
				class="form-group validation-pattern" 
				ng-class="{'required': field.properties.info.required_value}">
		<select	class="form-control" 
						multiple 
						field="field"
						title="Please select one or more options..." 
						ng-model="model.value"
						defaults="field.properties.info.default_option"
						select-picker>
		  <option ng-repeat="(index, value) in field.properties.info.options" value="{{field.properties.info.options[index]['text']}}">{{field.properties.info.options[index]['text']}}</option>
		</select>
	</div><!-- /.form-group -->
</div>



