<div class="fields fields-list">
  <div ng-if="$root.isArray(model)" class="field-list" ng-class="{'required': field.properties._ui.requiredValue}" ng-repeat="valueElement in model">
	<p class="extra-label-context">{{field.properties._ui.title}}</p>
	<div ng-if="field.properties._ui.selectionType == 'single'"
		 class="form-group validation-pattern"
		 ng-class="{'required': field.properties._ui.requiredValue}">
	  <select class="form-control"
			  multiple=""
			  data-max-options="1"
			  field="field"
			  title="Please select one of the options..."
			  ng-model="valueElement._value"
			  defaults="field.properties._ui.defaultOption"
			  select-picker="">
		<option ng-repeat="(index, value) in field.properties._ui.options" value="{{field.properties._ui.options[index]['text']}}">{{field.properties._ui.options[index]['text']}}</option>
	  </select>
	</div><!-- /.form-group -->

	<div ng-if="field.properties._ui.selectionType == 'multiple'"
		 class="form-group validation-pattern"
		 ng-class="{'required': field.properties._ui.requiredValue}">
	  <select class="form-control"
			  multiple=""
			  field="field"
			  title="Please select one or more options..."
			  ng-model="valueElement._value"
			  defaults="field.properties._ui.defaultOption"
			  select-picker="">
		<option ng-repeat="(index, value) in field.properties._ui.options" value="{{field.properties._ui.options[index]['text']}}">{{field.properties._ui.options[index]['text']}}</option>
	  </select>
	</div><!-- /.form-group -->
	<div class="more-input-wrapper" ng-include="'views/partials/more-input-buttons.html'" ng-show="!field.maxItems || field.maxItems > 1"></div>
  </div>

  <div ng-if="!$root.isArray(model)" class="field-list" ng-class="{'required': field.properties._ui.requiredValue}">
	<p class="extra-label-context">{{field.properties._ui.title}}</p>
	<div ng-if="field.properties._ui.selectionType == 'single'"
		 class="form-group validation-pattern"
		 ng-class="{'required': field.properties._ui.requiredValue}">
	  <select class="form-control"
			  multiple=""
			  data-max-options="1"
			  field="field"
			  title="Please select one of the options..."
			  ng-model="model._value"
			  defaults="field.properties._ui.defaultOption"
			  select-picker="">
		<option ng-repeat="(index, value) in field.properties._ui.options" value="{{field.properties._ui.options[index]['text']}}">{{field.properties._ui.options[index]['text']}}</option>
	  </select>
	</div><!-- /.form-group -->

	<div ng-if="field.properties._ui.selectionType == 'multiple'"
		 class="form-group validation-pattern"
		 ng-class="{'required': field.properties._ui.requiredValue}">
	  <select class="form-control"
			  multiple=""
			  field="field"
			  title="Please select one or more options..."
			  ng-model="model._value"
			  defaults="field.properties._ui.defaultOption"
			  select-picker="">
		<option ng-repeat="(index, value) in field.properties._ui.options" value="{{field.properties._ui.options[index]['text']}}">{{field.properties._ui.options[index]['text']}}</option>
	  </select>
	</div><!-- /.form-group -->
  </div>
</div>


