<div ng-class="{'required': field.required}">
	<p class="extra-label-context">{{field.title}}</p>
	<div 	ng-if="field.selection_type == 'single'" 
				class="form-group validation-pattern" 
				ng-class="{'required': field.required}">
		<select	class="form-control" 
						multiple
						data-max-options="1"
						field="field"
						title="Please select one of the options..." 
						ng-model="model.value" 
						defaults="field.default_option" 
						select-picker>
		  <option ng-repeat="(index, value) in field.options" value="{{field.options[index]['text']}}">{{field.options[index]['text']}}</option>
		</select>
	</div><!-- /.form-group -->

	<div 	ng-if="field.selection_type == 'multiple'" 
				class="form-group validation-pattern" 
				ng-class="{'required': field.required}">
		<select	class="form-control" 
						multiple 
						field="field"
						title="Please select one or more options..." 
						ng-model="model.value" 
						defaults="field.default_option" 
						select-picker>
		  <option ng-repeat="(index, value) in field.options" value="{{field.options[index]['text']}}">{{field.options[index]['text']}}</option>
		</select>
	</div><!-- /.form-group -->
</div>



