<div class="form-group floating-label-wrapper">
  <input 	type="text" 
  				class="form-control" 
  				ng-class="{'required': field.required}" 
  				id="telephone1" 
  				placeholder="{{field.title}}" 
  				aria-label="{{field.description}}" 
  				ng-model="model.value" 
  				validate-on="blur"
  				ng-pattern= "/(\W|^)[(]{0,1}\d{3}[)]{0,1}[\s-]{0,1}\d{3}[\s-]{0,1}\d{4}(\W|$)/"
  				with-floating-label>
  <span class="warning-text">{{field.warning_text}}</span>
  <div class="input-indicator-icons">
    <i class="cedar-svg-help-circle" data-container="body" data-toggle="popover" data-placement="left" data-content="{{field.description}}"></i>
    <i class="cedar-svg-check-circle"></i>
    <i class="cedar-svg-warning"></i>
  </div><!-- /.input-indicator-icons -->
</div><!-- /.form-group -->