<div class="fields fields-phone-number">
  <div ng-if="$root.isArray(model)" class="form-group floating-label-wrapper" ng-repeat="valueElement in model">
	<p class="extra-label-context" ng-if="ngDisabled && field.properties._ui.title">{{field.properties._ui.title}}</p>
    <input type="text"
    	   class="form-control"
    	   ng-class="{'required': field.properties._ui.requiredValue}"
    	   id="telephone1"
    	   placeholder="{{field.properties._ui.title}}"
    	   aria-label="{{field.properties._ui.description}}"
    	   ng-model="valueElement._value"
    	   validate-on="blur"
    	   ng-pattern= "/(\W|^)[(]{0,1}\d{3}[)]{0,1}[\s-]{0,1}\d{3}[\s-]{0,1}\d{4}(\W|$)/"
    	   with-floating-label="" />
    <span class="warning-text">{{field.properties._ui.warning_text}}</span>
    <div class="input-indicator-icons">
      <i class="cedar-svg-help-circle" data-container="body" data-toggle="popover" data-placement="left" data-content="{{field.properties._ui.description}}"></i>
      <i class="cedar-svg-check-circle"></i>
      <i class="cedar-svg-warning"></i>
    </div><!-- /.input-indicator-icons -->
    <div class="more-input-wrapper" ng-include="'views/partials/more-input-buttons.html'" ng-show="!field.maxItems || field.maxItems > 1"></div>
  </div><!-- /.form-group -->

  <div ng-if="!$root.isArray(model)" class="form-group floating-label-wrapper">
	<p class="extra-label-context" ng-if="ngDisabled && field.properties._ui.title">{{field.properties._ui.title}}</p>
    <input type="text"
           class="form-control"
           ng-class="{'required': field.properties._ui.requiredValue}"
           id="telephone1"
           placeholder="{{field.properties._ui.title}}"
           aria-label="{{field.properties._ui.description}}"
           ng-model="model._value"
           validate-on="blur"
           ng-pattern= "/(\W|^)[(]{0,1}\d{3}[)]{0,1}[\s-]{0,1}\d{3}[\s-]{0,1}\d{4}(\W|$)/"
           with-floating-label="" />
    <span class="warning-text">{{field.properties._ui.warning_text}}</span>
    <div class="input-indicator-icons">
      <i class="cedar-svg-help-circle" data-container="body" data-toggle="popover" data-placement="left" data-content="{{field.properties._ui.description}}"></i>
      <i class="cedar-svg-check-circle"></i>
      <i class="cedar-svg-warning"></i>
    </div><!-- /.input-indicator-icons -->
  </div><!-- /.form-group -->
</div>
