<div class="form-group">
  <div class="radio radio-primary">
    <input type="radio" name="radio2" id="radio1" value="option1">
    <label for="radio1">Radio Button Option #100</label>
  </div><!-- /.radio -->
  <div class="radio radio-primary">
    <input type="radio" name="radio2" id="radio2" value="option2">
    <label for="radio2">Radio Button Option #101</label>
  </div><!-- /.radio -->
  <div class="radio radio-primary">
    <input type="radio" name="radio2" id="radio3" value="option2">
    <label for="radio3">Radio Button Option #103</label>
  </div><!-- /.radio -->
  <div class="radio radio-primary">
    <input type="radio" name="radio2" id="radio4" value="option2" checked>
    <label for="radio4">Radio Button Option #104</label>
  </div><!-- /.radio -->
</div><!-- /.form-group -->