<div class="form-group floating-label-wrapper">
<!-- {{model}} -->
  <input type="text" class="form-control" id="textfield1" placeholder="{{field.title}}" aria-label="{{field.description}}" ng-model="model.value"  with-floating-label>
  <div class="input-indicator-icons">
    <i class="cedar-svg-help-circle" data-container="body" data-toggle="popover" data-placement="left" data-content="{{field.description}}"></i>
    <i class="cedar-svg-check-circle"></i>
    <i class="cedar-svg-warning"></i>
  </div><!-- /.input-indicator-icons -->
</div><!-- /.form-group