<div class="fields text-fields">
  <div ng-if="$root.isArray(model)" class="form-group floating-label-wrapper" ng-repeat="(index, valueElement) in model">
	<p class="extra-label-context" ng-if="ngDisabled">{{field.properties._ui.title}}&nbsp;</p>
    <div ng-if="!$root.hasValueConstraint(field.properties._valueConstraints)" class="has-no-constraint">
      <input type="text"
    	     class="form-control"
    	     ng-class="{'required': field.properties._ui.requiredValue}"
    	     id="textfield1"
    	     placeholder="{{field.properties._ui.title}}"
    	     aria-label="{{field.properties._ui.description}}"
    	     ng-model="valueElement._value"
             ng-disabled="ngDisabled"
    	     with-floating-label="" />
      <div class="input-indicator-icons">
        <i class="cedar-svg-help-circle" data-container="body" data-toggle="popover" data-placement="left" data-content="{{field.properties._ui.description}}"></i>
        <i class="cedar-svg-check-circle"></i>
        <i class="cedar-svg-warning"></i>
      </div><!-- /.input-indicator-icons -->
    </div>
    <div ng-if="$root.hasValueConstraint(field.properties._valueConstraints)" class="has-constraint autocomplete-label-wrapper" ng-class="{'has-selected': modelValue[index]._value.label}">
      <ui-select ng-model="modelValue[index]" theme="bootstrap" close-on-select="true" ng-disabled="ngDisabled" aria-label="{{field.properties._ui.description}}">
        <ui-select-match placeholder="">{{$select.selected.label}}</ui-select-match>
        <ui-select-choices ui-disable-choice="option.label == 'No Results...'" refresh="$root.updateFieldAutocomplete(field, $select.search)" refresh-delay="200" repeat="option in $root.autocompleteResultsCache[field['@id']]['results'] | propsFilter: {label: $select.search}">
          <div ng-bind-html="option.label | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
      <div class="floating-label">{{field.properties._ui.title}}</div>
      <div class="input-indicator-icons">
        <i class="cedar-svg-help-circle" data-container="body" data-toggle="popover" data-placement="left" data-content="{{field.properties._ui.description}}"></i>
        <i class="cedar-svg-check-circle"></i>
        <i class="cedar-svg-warning"></i>
      </div><!-- /.input-indicator-icons -->
    </div>
    <div class="more-input-wrapper" ng-include="'views/partials/more-input-buttons.html'" ng-show="!field.maxItems || field.maxItems > 1"></div>
  </div><!-- /.form-group -->

  <div ng-if="!$root.isArray(model)" class="form-group floating-label-wrapper">
    <p class="extra-label-context" ng-if="ngDisabled">{{field.properties._ui.title}}&nbsp;</p>
    <div ng-if="!$root.hasValueConstraint(field.properties._valueConstraints)" class="has-no-constraint">
      <input type="text"
             class="form-control"
             ng-class="{'required': field.properties._ui.requiredValue}"
             id="textfield1"
             placeholder="{{field.properties._ui.title}}"
             aria-label="{{field.properties._ui.description}}"
             ng-model="model._value"
             ng-disabled="ngDisabled"
             with-floating-label="" />
      <div class="input-indicator-icons">
        <i class="cedar-svg-help-circle" data-container="body" data-toggle="popover" data-placement="left" data-content="{{field.properties._ui.description}}"></i>
        <i class="cedar-svg-check-circle"></i>
        <i class="cedar-svg-warning"></i>
      </div><!-- /.input-indicator-icons -->
    </div>
    <div ng-if="$root.hasValueConstraint(field.properties._valueConstraints)" class="has-constraint autocomplete-label-wrapper" ng-class="{'has-selected': modelValue._value.label}">
      <ui-select ng-model="modelValue._value" theme="bootstrap" close-on-select="true" ng-disabled="ngDisabled" aria-label="{{field.properties._ui.description}}">
        <ui-select-match placeholder="">{{$select.selected.label}}</ui-select-match>
        <ui-select-choices ui-disable-choice="option.label == 'No Results...'" refresh="$root.updateFieldAutocomplete(field, $select.search)" refresh-delay="200" repeat="option in $root.autocompleteResultsCache[field['@id']]['results'] | propsFilter: {label: $select.search}">
          <div ng-bind-html="option.label | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
      <div class="floating-label">{{field.properties._ui.title}}</div>
      <div class="input-indicator-icons">
        <i class="cedar-svg-help-circle" data-container="body" data-toggle="popover" data-placement="left" data-content="{{field.properties._ui.description}}"></i>
        <i class="cedar-svg-check-circle"></i>
        <i class="cedar-svg-warning"></i>
      </div><!-- /.input-indicator-icons -->
    </div>
  </div><!-- /.form-group -->
</div>
