<section class="template-container scrollable-content">
  <div class="tophead">
    <div class="nav-container" id="headerCtrl" ng-controller="HeaderCtrl as hc">
      <div class="document-title" uib-tooltip="{{hc.formatDocumentTitleFull()}}">{{hc.formatDocumentTitle()}}</div>            
      <div class="document-desciption" uib-tooltip="{{hc.formatDocumentDescription()}}">{{hc.formatDocumentDescription()}}</div>            
    </div>
  </div>
  <div class="template-body metadata">
    <div class="container">
      <div class="row">
        <div class="right-body col-sm-10 col-sm-offset-1 c ">

          <!-- Sending indicator component -->
          <app-sending is-sending="isSending"></app-sending>

          <!-- build the form -->
          <form-directive form="form" model="instance" page-index="pageIndex" is-edit-data="isEditData"
              path="0"></form-directive>

          <!-- errors and edit actions -->
          <div class="edit-actions" ng-hide="$root.isEmpty(form)">

            <!-- validation errors -->
            <div ng-if="hasKeys(validationErrors)" class="alert alert-danger" role="alert">
              <p><i class="fa fa-exclamation-triangle"></i><span
                  translate>VALIDATION.groupHeader.validationErrors</span></p>
              <ul class="list-unstyled">
                <li ng-repeat="(key, value) in validationErrors">
                  <p>{{getValidationHeader(key)}}</p>
                  <ul class="list-unstyled" style="margin:5px 5px 5px 20px;">
                    <li ng-repeat="field in value">{{field['title']}}</li>
                  </ul>
                </li>
              </ul>
            </div>
            <div ng-if="responseData">
              <p></p>
              <div ng-bind-html="responseData"></div>
              <p></p>
            </div>
            <div ng-if="canWrite()" class="flex-right">
              <!--button type="button" id="button-cancel-metadata" class="btn btn-clear metadata"
                  ng-click="cancelTemplate()" style="outline:none;" translate>GENERIC.Cancel
              </button-->
              <button type="button" ng-if="isValidationTemplate('validation')" id="button-validation-metadata"
                  ng-disabled="saveButtonDisabled" class="btn btn-clear metadata " style="outline:none;"
                  ng-click="resetValidationErrors(); doValidation()" translate>GENERIC.Validate
              </button>
              <button type="button" id="button-save-metadata" ng-disabled="saveButtonDisabled"
                  class="btn btn-save metadata" ng-click="resetValidationErrors(); saveInstance()" style="outline:none;" translate>GENERIC.Save
              </button>
            </div>
          </div>

          <!-- document preview >
          <div id="document-preview-json">
            <uib-accordion id="outputJSON" close-others="true">
              <div uib-accordion-group is-open="openStatusJSONLD" class="panel-default">
                <uib-accordion-heading>
                  <i class="cedar-svg-rdf1"></i> JSON-LD <i class="pull-right glyphicon"
                    ng-class="{'glyphicon-chevron-down': openStatusJSONLD, 'glyphicon-chevron-right': !openStatusJSONLD}"></i>
                  <i class="fa fa-clipboard copy-to-clipboard" ng-click="$event.preventDefault(); $event.stopPropagation(); copyJson2Clipboard(cleanForm() | json)" uib-tooltip="{{'GENERIC.CopyToClipboard' | translate}}"/>
                </uib-accordion-heading>
                <pre id='form-json-preview'>{{ cleanForm() | json }}</pre>
              </div>
              <div uib-accordion-group is-open="openStatusRDF" class="panel-default">
                <uib-accordion-heading>
                  <i class="cedar-svg-rdf"></i> RDF <i class="pull-right glyphicon"
                    ng-class="{'glyphicon-chevron-down': openStatusRDF, 'glyphicon-chevron-right': !openStatusRDF}"></i>
                  <i class="fa fa-clipboard copy-to-clipboard" ng-click="$event.preventDefault(); $event.stopPropagation(); copyRdf2Clipboard(RDF)" uib-tooltip="{{'GENERIC.CopyToClipboard' | translate}}"/>
                </uib-accordion-heading>
                <div ng-if="RDF">
                  <pre id='form-json-preview-rdf'>{{RDF}}</pre>
                </div>
                <div ng-if="!RDF && RDFError">
                  <div class="center warning">
                    {{RDFError}}
                  </div>
                </div>
              </div>
            </uib-accordion>
          </div>

          <ng-include src="'scripts/layout/template-yaml-preview.html'"></ng-include-->


        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container-fluid container-lg px-4 px-md-3">
        <div class="row">
            <div class="hb-footer-site-info col mb-2 text-center">
                <div class="h5">IJC Bioinformatics</div>
                <ul class="list-unstyled small mb-2">
                    <li class="mt-2">Josep Carreras Leukaemia Research Institute - Bioinformatics Unit</li>
                    <li class="mt-2">Copyright © 2024 ijcBIT. All Rights Reserved.</li>
                </ul>
            </div>
        </div>
        <div class="footer-flex-col small">
        <p>
            <a href="https://www.carrerasresearch.org/" target="_blank" >
            <img width="200" alt="Logo Insitut de Recerca Contra la Leucèmia" src="/img/logo-ijc.svg" >    
            </a>    
        </p>
    </div>
  
    <div class="footer-flex-col small">
        <div class="location-wrap">
            <div>
                <p><i class="bi bi-geo-alt-fill"></i> Carretera de Can Ruti,<br>
                Camí de les Escoles, s/n, 08916<br>
                Badalona, Barcelona. Spain</p>
            </div>
            <div>
                <p><i class="bi bi-telephone"></i> Tel: (+34) 93 557 2800</p>
            </div>
        </div>
    </div>
    <div class="footer-flex-col small">
        <div class="location-wrap">
            
        </div>
    </div>
  
    <!-- Col 4 -->
    <div class="footer-flex-col small">
        We are <br>
        <a target="blank" href="https://cerca.cat"><img width="135" alt="Logo Centres de Recerca de Catalunya" src="/img/logo-centres-recerca-catalunya.svg"></a>
    </div>        
  
    </div>
    
  </footer>
  
</section>

<section>
  <div class="modal fade controlled-terms-modal" id="controlled-term-modal" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content" style="overflow:auto">
        <div class="modal-header">
          <button type="button" class="close controlled-terms-modal-field-close" data-dismiss="modal"
              aria-label="Close"><span aria-hidden="true"><img
              src="/img/close_modal.png" width="22"/></span></button>
        </div>
        <div class="modal-body">
          <div controlled-term ></div>
        </div>
      </div>
    </div>
  </div>
</section>
