<section class="template-container scrollable-content">
  <div class="template-body metadata">
    <div class="container">
      <div class="row">
        <div class="right-body col-sm-10 col-sm-offset-1 c ">

          <!-- build the form -->
          <form-directive form="form" model="instance" page-index="pageIndex" is-edit-data="isEditData"
              path="0"></form-directive>

          <!-- errors and edit actions -->
          <div class="edit-actions" ng-hide="$root.isEmpty(form)">

            <!-- validation errors -->
            <div ng-if="hasKeys(validationErrors)" class="alert alert-danger" role="alert">
              <p><i class="fa fa-exclamation-triangle"></i><span
                  translate>VALIDATION.groupHeader.validationErrors</span></p>
              <ul class="list-unstyled">
                <li ng-repeat="(key, value) in validationErrors">
                  <p>{{getValidationHeader(key)}}</p>
                  <ul class="list-unstyled" style="margin:5px 5px 5px 20px;">
                    <li ng-repeat="field in value">{{field['title']}}</li>
                  </ul>
                </li>
              </ul>
            </div>

            <div ng-if="canWrite()" class="flex-right">
              <button type="button" id="button-cancel-metadata" class="btn btn-clear metadata"
                  ng-click="cancelTemplate()" style="outline:none;" translate>GENERIC.Cancel
              </button>
              <button type="button" ng-if="isValidationTemplate('validation')" id="button-validation-metadata"
                  ng-disabled="saveButtonDisabled" class="btn btn-clear metadata " style="outline:none;"
                  ng-click="resetValidationErrors(); doValidation()" translate>GENERIC.Validate
              </button>
              <button type="button" id="button-save-metadata" ng-disabled="saveButtonDisabled"
                  class="btn btn-save metadata" ng-click="resetValidationErrors(); saveInstance()" style="outline:none;" translate>GENERIC.Save
              </button>
            </div>
          </div>

          <!-- document preview -->
          <div id="document-preview">
            <uib-accordion id="outputJSON" close-others="true">
              <div uib-accordion-group is-open="openStatusJSONLD" class="panel-default">
                <uib-accordion-heading>
                  <i class="cedar-svg-rdf1"></i> JSON-LD <i class="pull-right glyphicon"
                    ng-class="{'glyphicon-chevron-down': openStatusJSONLD, 'glyphicon-chevron-right': !openStatusJSONLD}"></i>
                  <i class="fa fa-clipboard copy-to-clipboard" ng-click="$event.preventDefault(); $event.stopPropagation(); copyJson2Clipboard()" uib-tooltip="{{'GENERIC.CopyToClipboard' | translate}}"/>
                </uib-accordion-heading>
                <pre id='form-json-preview'>{{ cleanForm() | json }}</pre>
              </div>
              <div uib-accordion-group is-open="openStatusRDF" class="panel-default">
                <uib-accordion-heading>
                  <i class="cedar-svg-rdf"></i> RDF <i class="pull-right glyphicon"
                    ng-class="{'glyphicon-chevron-down': openStatusRDF, 'glyphicon-chevron-right': !openStatusRDF}"></i>
                  <i class="fa fa-clipboard copy-to-clipboard" ng-click="$event.preventDefault(); $event.stopPropagation(); copyRdf2Clipboard(RDF)" uib-tooltip="{{'GENERIC.CopyToClipboard' | translate}}"/>
                </uib-accordion-heading>
                <div ng-if="RDF">
                  <pre id='form-json-preview-rdf'>{{RDF}}</pre>
                </div>
                <div ng-if="!RDF && RDFError">
                  <div class="center warning">
                    {{RDFError}}
                  </div>
                </div>
              </div>
            </uib-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="modal fade controlled-terms-modal" id="controlled-term-modal" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content" style="overflow:auto">
        <div class="modal-header">
          <button type="button" class="close controlled-terms-modal-field-close" data-dismiss="modal"
              aria-label="Close"><span aria-hidden="true"><img
              src="/img/close_modal.png" width="22"/></span></button>
        </div>
        <div class="modal-body">
          <div controlled-term ></div>
        </div>
      </div>
    </div>
  </div>
</section>
