<div class="template-header">
  <div class="container">
    <div class="row">
      <div class="left-sidebar col-sm-3">
        <div id="element-name-container">
          <i class="cedar-svg-element"></i>
          <form>
            <div class="form-group floating-label-wrapper">
              <input type="text" class="form-control" id="template-name" placeholder="Template Name" aria-label="Template Name" ng-model="form.title"  with-floating-label>
            </div>
          </form>
        </div>
      </div> <!-- /.left-sidebar -->
      <div class="right-body col-sm-9">
        <div id="elemenet-description-container">
          <form>
            <div class="form-group floating-label-wrapper">
              <input type="text" class="form-control" id="template-description" placeholder="Template Description" aria-label="Template Description" ng-model="form.description"  with-floating-label>
            </div>
          </form>
        </div>
      </div> <!-- /.right-body -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /.template-header -->

<div class="template-body">
  <div class="container">
    <div class="row">
      <div class="left-sidebar col-sm-3">
        <p class="add-item">Add Element</p>
        <ul class="element-menu" role="menu">
          <li class="item" ng-repeat="e in elements track by $index" ng-if="$index <= 4"><a ng-click="addExistingElement(e)"><i class="cedar-svg-element"></i>{{e.title}}</a></li>
          <!--<li class="item"><a ng-click="addExistingElement('principal-investigator')"><i class="cedar-svg-element"></i>Principal Investigator</a></li>-->
          <!--<li class="item"><a ng-click="addExistingElement('contact-information')"><i class="cedar-svg-element"></i>Contact Information</a></li>-->
          <!-- <li class="item"><a ng-click="addExistingElement('random')"><i class="cedar-svg-element"></i>Random</a></li> -->
        </ul>

        <div class="more-items" dropdown>
          <button type="button" class="btn btn-more-items dropdown-toggle" data-toggle="dropdown" data-target=".item-menu" aria-expanded="false" dropdown-toggle>More Elements <i class="fa fa-angle-down fa-2x"></i>
          </button>
          <ul class="dropdown-menu item-menu" role="menu">
            <li class="item" ng-repeat="e in elements track by $index" ng-if="$index > 4"><a ng-click="addExistingElement(e)"><i class="cedar-svg-element"></i>{{e.title}}</a></li>
            <!--<li class="item"><a class="disabled" ng-click=""><i class="cedar-svg-element"></i>Element Name</a></li>-->
          </ul>
        </div>

        <div class="more-items" dropdown>
          <p class="add-item">Add Item</p>
          <button type="button" class="btn btn-more-items dropdown-toggle" data-toggle="dropdown" data-target=".element-menu" aria-expanded="false" dropdown-toggle>All Items <i class="fa fa-angle-down fa-2x"></i>
          </button>
          <ul class="dropdown-menu element-menu" role="menu">
            <li class="item"><a ng-click="addFieldToStaging('textfield')"><i class="cedar-svg-text"></i>Text</a></li>
            <li class="item"><a ng-click="addFieldToStaging('textarea')"><i class="cedar-svg-paragraph"></i>Paragraph</a></li>
            <li class="item"><a ng-click="addFieldToStaging('radio')"><i class="cedar-svg-multiple-choice"></i>Multiple Choice</a></li>
            <li class="item"><a ng-click="addFieldToStaging('checkbox')"><i class="cedar-svg-checkbox"></i>Checkbox</a></li>
            <li class="item"><a ng-click="addFieldToStaging('date')"><i class="cedar-svg-date"></i>Date</a></li>
            <li class="item"><a ng-click="addFieldToStaging('email')"><i class="cedar-svg-text"></i>Email</a></li>
            <li class="item"><a ng-click="addFieldToStaging('list')"><i class="cedar-svg-list"></i>Pick from a list</a></li>
            <!-- <li class="item"><a ng-click="addFieldToStaging('controlled-term')"><i class="cedar-svg-controll-term"></i>Controlled Term</a></li> -->
            <li class="item"><a ng-click="addFieldToStaging('audio-visual')"><i class="cedar-svg-audio-visual"></i>Audio Visual</a></li>
            <li class="item"><a ng-click="addFieldToStaging('numeric')"><i class="cedar-svg-numeric"></i>Numeric</a></li>
            <li class="item"><a ng-click="addFieldToStaging('phone-number')"><i class="cedar-svg-phone"></i>Phone</a></li>
            <li class="item"><a ng-click="addFieldToStaging('section-break')"><i class="cedar-svg-section-break"></i>Section Break</a></li>
            <li class="item"><a class="disabled" ng-click=""><i class="cedar-svg-page-break"></i>Page Break</a></li>
            <!-- <li class="item"><a class="disabled" ng-click=""><i class="cedar-svg-location"></i>Location</a></li> -->
          </ul>
        </div>
      </div> <!-- /.left-sidebar -->

      <div class="right-body col-sm-9">
        <div id="form-preview-section">
          <div class="checkbox checkbox-primary">
            <input type="checkbox" id="checkbox1" checked="true" data-toggle="collapse" data-target=".form-preview">
            <label for="checkbox1">Preview Template</label>
          </div>
          <div class="form-preview collapse in">
            <div class="empty-text" ng-show="isPropertiesEmpty()">
              <p>Add an element or create a new field item in order to preview form.</p>
            </div>
            <form-preview form="form"></form-preview>
          </div><!-- /.form-preview -->
        </div> <!-- /#form-preview-section -->

        <div id="form-item-config-section">
          <div class="heading-label">
            <hr><span class="section-break">Item Configuration</span><hr>
          </div>
          <div class="empty-text" ng-hide="isEmpty(staging)">
            <p>Create a new field item.</p>
          </div>
          <form name="{{form.title}}" id="{{form.guid}}">
            <div ng-repeat="field in staging | orderObjectBy: 'properties.value.created_at'" class="animate-fade">
              <field-directive field="field.properties.value" directory="create" delete="deleteField(field, staging)" add="addFieldToForm(field)" option="addOption(field)">
              </field-directive>
            </div>
          </form>
        </div> <!-- /#form-item-config-section -->
        <div class="template-actions">
          <div class="favorite {{favorite}}" ng-click="toggleFavorite()">
            <i class="cedar-svg-flag"></i><span>Favorite</span>
          </div>
          <div class="clear-save">
            <button type="button" class="btn btn-clear" ng-click="reset()">Clear</button>
            <button type="button" class="btn btn-save disabled">Save Template</button>
          </div>
        </div> <!-- /.template-actions -->
      </div> <!-- /.right-body -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /.template-body -->