<div class="template-header">
  <div class="container">
    <div class="row">
      <div class="left-sidebar col-sm-3">
        <div id="element-name-container">
          <i class="cedar-svg-metadata"></i>
          <form>
            <div class="form-group floating-label-wrapper">
              <input type="text" class="form-control" id="template-name" placeholder="Template Name" aria-label="Template Name" ng-model="form.properties.info.title"  with-floating-label>
            </div>
          </form>
        </div>
      </div> <!-- /.left-sidebar -->
      <div class="right-body col-sm-9">
        <div id="element-description-container">
          <form>
            <div class="form-group floating-label-wrapper">
              <input type="text" class="form-control" id="template-description" placeholder="Template Description" aria-label="Template Description" ng-model="form.properties.info.description"  with-floating-label>
            </div>
          </form>
        </div>
      </div> <!-- /.right-body -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /.template-header -->

<div class="template-body">
  <div class="container">
    <div class="row">
      <div class="left-sidebar col-sm-3">
        <div class="sidebar-inner" sticky-directive>
          <p class="add-item">Add Element</p>
          <ul class="element-menu" role="menu">
            <li ng-repeat="element in elementList | orderBy:'title'" class="item"><a ng-click="addElementToStaging(element)"><i class="cedar-svg-element"></i>{{element.properties.info.title}}</a></li>
          </ul>

          <!--<div class="more-items" dropdown>-->
            <!--<button type="button" class="btn btn-more-items dropdown-toggle" data-toggle="dropdown" data-target=".item-menu" aria-expanded="false" dropdown-toggle>More Elements <i class="fa fa-angle-down fa-2x"></i>-->
            <!--</button>-->
            <!--<ul class="dropdown-menu item-menu" role="menu">-->
              <!--<li class="item" ng-repeat="e in elements track by $index" ng-if="$index > 4"><a ng-click="addExistingElement(e)"><i class="cedar-svg-element"></i>{{e.properties.info.title}}</a></li>-->
              <!--&lt;!&ndash;<li class="item"><a class="disabled" ng-click=""><i class="cedar-svg-element"></i>Element Name</a></li>&ndash;&gt;-->
            <!--</ul>-->
          <!--</div>-->

          <div class="more-items" dropdown>
            <p class="add-item">Add Field</p>
            <button type="button" class="btn btn-more-items dropdown-toggle" data-toggle="dropdown" data-target=".element-menu" aria-expanded="false" dropdown-toggle>All Fields <i class="fa fa-angle-down fa-2x"></i>
            </button>
            <ul class="dropdown-menu element-menu" role="menu">
              <li class="item"><a ng-click="addFieldToStaging('textfield')"><i class="cedar-svg-text"></i>Text</a></li>
              <li class="item"><a ng-click="addFieldToStaging('textarea')"><i class="cedar-svg-paragraph"></i>Paragraph</a></li>
              <li class="item"><a ng-click="addFieldToStaging('radio')"><i class="cedar-svg-multiple-choice"></i>Multiple Choice</a></li>
              <li class="item"><a ng-click="addFieldToStaging('checkbox')"><i class="cedar-svg-checkbox"></i>Checkbox</a></li>
              <li class="item"><a ng-click="addFieldToStaging('date')"><i class="cedar-svg-calendar"></i>Date</a></li>
              <li class="item"><a ng-click="addFieldToStaging('email')"><i class="cedar-svg-at"></i>Email</a></li>
              <li class="item"><a ng-click="addFieldToStaging('list')"><i class="cedar-svg-list"></i>Pick from a list</a></li>
              <!-- <li class="item"><a ng-click="addFieldToStaging('controlled-term')"><i class="cedar-svg-controll-term"></i>Controlled Term</a></li> -->
              <li class="item"><a ng-click="addFieldToStaging('audio-visual')"><i class="cedar-svg-audio-visual"></i>Audio Visual</a></li>
              <li class="item"><a ng-click="addFieldToStaging('numeric')"><i class="cedar-svg-numeric"></i>Numeric</a></li>
              <li class="item"><a ng-click="addFieldToStaging('phone-number')"><i class="cedar-svg-phone"></i>Phone</a></li>
              <li class="item"><a ng-click="addFieldToStaging('section-break')"><i class="cedar-svg-section-break"></i>Section Break</a></li>
              <li class="item"><a ng-click="addFieldToStaging('page-break')"><i class="cedar-svg-page-break"></i>Page Break</a></li>
              <!-- <li class="item"><a class="disabled" ng-click=""><i class="cedar-svg-location"></i>Location</a></li> -->
            </ul>
          </div>
        </div> <!-- /.sticky-list -->
      </div> <!-- /.left-sidebar -->

      <div class="right-body col-sm-9">
        <div id="form-preview-section">
          <div class="form-preview collapse in">
            <div class="empty-text" ng-show="isPropertiesEmpty()">
              <p>Add an existing element or create a new item.</p>
            </div>
            <form-preview form="form" ng-if="form"></form-preview>
          </div><!-- /.form-preview -->
        </div> <!-- /#form-preview-section -->

        <div id="form-item-config-section" class="animate-fade" ng-show="$root.stagingVisible">
          <form name="{{form.properties.info.title}}" id="{{form.guid}}">
            <div ng-repeat="field in staging | orderObjectBy: 'properties.info.created_at'" class="animate-fade" ng-class="{'adding-element': !field.properties.info.input_type}">
              <div ng-if="field && !field.properties.info.input_type && previewForm">
                <form-preview form="previewForm">
                </form-preview>
              </div>
              <field-directive field="field" directory="create" delete="deleteField(field, staging)" add="addFieldToForm(field)" option="addOption(field)">
              </field-directive>
            </div>
          </form>
        </div> <!-- /#form-item-config-section -->

        <div class="template-actions">
          <div ng-if="stagingErrorMessages.length" class="alert alert-danger" role="alert">
            <p ng-repeat="message in stagingErrorMessages"><i class="fa fa-exclamation-triangle"></i>{{message}}</p>
          </div>
          <div ng-if="templateErrorMessages.length" class="alert alert-danger" role="alert">
            <p ng-repeat="message in templateErrorMessages"><i class="fa fa-exclamation-triangle"></i>{{message}}</p>
          </div>
          <div ng-if="templateSuccessMessages.length" class="alert alert-success" role="alert">
            <p ng-repeat="message in templateSuccessMessages"><i class="fa fa-check"></i>{{message}}</p>
          </div>
          <!--<div class="favorite {{favorite}}" ng-click="toggleFavorite()">-->
            <!--<i class="cedar-svg-flag"></i><span>Favorite</span>-->
          <!--</div>-->
          <div class="clear-save">
            <button type="button" class="btn btn-clear" ng-click="reset()">Clear</button>
            <button type="button" class="btn btn-save" ng-click="saveTemplate()">Save Template</button>
          </div>
        </div> <!-- /.template-actions -->

      </div> <!-- /.right-body -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /.template-body -->
