<div class="template-header">
  <div class="container">
    <div class="row">
      <div class="left-sidebar col-sm-3">
        <div id="element-name-container">
          <i class="cedar-svg-element"></i>
          <form>
            <div class="form-group floating-label-wrapper">
              <input type="text" class="form-control" id="template-name" placeholder="Template Name" aria-label="Template Name" ng-model="template.title"  with-floating-label>
            </div>
          </form>
        </div>
      </div> <!-- /.left-sidebar -->
      <div class="right-body col-sm-9">
        <div id="elemenet-description-container">
          <form>
            <div class="form-group floating-label-wrapper">
              <input type="text" class="form-control" id="template-description" placeholder="Template Description" aria-label="Template Description" ng-model="template.description"  with-floating-label>
            </div>
          </form>
        </div>
      </div> <!-- /.right-body -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /.template-header -->

<div class="template-body">
  <div class="container">
    <div class="row">
      <div class="left-sidebar col-sm-3">
        <p class="add-item">Add Element</p>
        <ul class="element-menu" role="menu">
          <li class="item"><a ng-click="embedExistingElement('principal-investigator')"><i class="cedar-svg-element"></i>Principal Investigator</a></li>
            <li class="item"><a ng-click="embedExistingElement('contact-information')"><i class="cedar-svg-element"></i>Contact Information</a></li>
          
        </ul>

        <div class="more-items">
          <button type="button" class="btn btn-more-items dropdown-toggle" data-toggle="dropdown" data-target=".item-menu" aria-expanded="false">
            More Elements <i class="fa fa-angle-down fa-2x"></i>
          </button>
          <ul class="dropdown-menu item-menu" role="menu">
            <li class="item"><a class="disabled" ng-click=""><i class="cedar-svg-element"></i>Element Name</a></li>
            <li class="item"><a class="disabled" ng-click=""><i class="cedar-svg-element"></i>Element Name</a></li>
            <li class="item"><a class="disabled" ng-click=""><i class="cedar-svg-element"></i>Element Name</a></li>
            <li class="item"><a class="disabled" ng-click=""><i class="cedar-svg-element"></i>Element Name</a></li>
            <li class="item"><a class="disabled" ng-click=""><i class="cedar-svg-element"></i>Element Name</a></li>
          </ul>
        </div>

        <div class="more-items">
          <p class="add-item">Add Item</p>
          <button type="button" class="btn btn-more-items dropdown-toggle" data-toggle="dropdown" data-target=".element-menu" aria-expanded="false">
            All Items <i class="fa fa-angle-down fa-2x"></i>
          </button>
          <ul class="dropdown-menu element-menu" role="menu">
            <li class="item"><a class="disabled" ng-click=""><i class="cedar-svg-text"></i>Text</a></li>
            <li class="item"><a class="disabled" ng-click=""><i class="cedar-svg-paragraph"></i>Paragraph</a></li>
            <li class="item"><a class="disabled" ng-click=""><i class="cedar-svg-multiple-choice"></i>Multiple Choice</a></li>
            <li class="item"><a class="disabled" ng-click=""><i class="cedar-svg-checkbox"></i>Checkbox</a></li>
            <li class="item"><a class="disabled" ng-click=""><i class="cedar-svg-date"></i>Date</a></li>
            <li class="item"><a class="disabled" ng-click=""><i class="cedar-svg-text"></i>Email</a></li>
            <li class="item"><a class="disabled" ng-click=""><i class="cedar-svg-list"></i>Pick from a list</a></li>
            <li class="item"><a class="disabled" ng-click=""><i class="cedar-svg-controll-term"></i>Controlled Term</a></li>
            <li class="item"><a class="disabled" ng-click=""><i class="cedar-svg-audio-visual"></i>Audio Visual</a></li>
            <li class="item"><a class="disabled" ng-click=""><i class="cedar-svg-numeric"></i>Numeric</a></li>
            <li class="item"><a class="disabled" ng-click=""><i class="cedar-svg-phone"></i>Phone</a></li>
            <li class="item"><a class="disabled" ng-click=""><i class="cedar-svg-section-break"></i>Section Break</a></li>
            <li class="item"><a class="disabled" ng-click=""><i class="cedar-svg-page-break"></i>Page Break</a></li>
            <li class="item"><a class="disabled" ng-click=""><i class="cedar-svg-location"></i>Location</a></li>
          </ul>
        </div>
      </div> <!-- /.left-sidebar -->

      <div class="right-body col-sm-9">
        <div class="empty-text">
          <p>Add existing element or create new item.</p>
        </div>
        <!-- <form name="{{template.name}}" id="{{template.id}}">
          <div ng-repeat="field in staging | orderObjectBy: 'properties.value.created_at'">
            <field-directive field="field.properties.value" directory="create" delete="deleteField(field)" add="addFieldToElement(field)">
            </field-directive>
          </div>
        </form> -->


        <div id="json-model-binding-example-section">
          <hr>
          <div class="text-center">
            <a class="btn btn-small btn-primary" ng-show="!showRender" ng-click="showRender = true">Hide Element Object</a>
            <a class="btn btn-small btn-primary" ng-show="showRender" ng-click="showRender = false">Show Element Object</a>
          </div>
          <hr>
          <div ng-hide="showRender">
            <pre>{{ template | json }}</pre>
          </div>
        </div> <!-- /#json-model-binding-example-section -->


      </div> <!-- /.right-body -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /.template-body -->