<div class="container">
	<div class="row">
		<section id="dashboard-list" class="dashboard-elements">
			<div class="col-sm-3">
				<h2 class="section-title" ng-bind="sectionTitle"></h2>
				<a ng-href="{{createLink}}" class="btn btn-create-new">Create New <i class="cedar-svg-plus"></i></a>
			</div>
			<div class="col-sm-9">
				<div class="dash-header">
					<div class="input-group">
			      <input type="text" class="form-control" placeholder="Search" aria-label="Search" ng-model="searchText">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
			      </span>
			    </div>
				</div>
				<div class="margin-reset-row">
					<div class="template-item" ng-repeat="item in itemList | filter:searchText" resize-height>
						<a ng-href="{{itemType}}/edit/{{item.guid}}">
							<i class="cedar-svg cedar-svg-metadata"></i>
							<p class="name">{{item.title}}</p>
							<div class="state-indication" ng-if="item.favorite">
								<i class="cedar-svg-flag"></i>
							</div>
							<div class="back-panel">
								<p class="description">{{item.description}}</p>
								<div class="edit-options">
									<span class="edit">
										<i class="cedar-svg-pencil"></i>
									</span>
									<span class="remove">
										<i class="cedar-svg-remove"></i>
									</span>
								</div>
							</div><!-- ./back-panel -->
						</a>
					</div> <!-- /.template-item elements/templates -->

					<div class="template-item" ng-repeat="item in submissions | filter:searchText" resize-height>
						<a ng-href="templates/runtime/{{item.guid}}/{{item.submission_id}}">
							<i class="cedar-svg cedar-svg-metadata"></i>
							<p class="name">{{item.title}}</p>
							<div class="state-indication" ng-if="item.favorite">
								<i class="cedar-svg-progress"></i>
							</div>
							<div class="back-panel">
								<p class="description">{{item.submission_id}}</p>
								<div class="edit-options">
									<span class="edit">
										<i class="cedar-svg-pencil"></i>
									</span>
									<span class="remove">
										<i class="cedar-svg-remove"></i>
									</span>
								</div>
							</div><!-- ./back-panel -->
						</a>
					</div> <!-- /.template-item elements/templates -->
				</div> <!-- /.margin-reset-row -->
			</div> <!-- /.col-sm-9 -->
		</section>
	</div> <!-- /.row -->
</div> <!-- /.container -->
