<div class="container">
	<div class="row">
		<section id="metadata-templates" class="dashboard-elements" ng-if="$root.applicationRole == 'creator'">
			<div class="col-sm-3">
				<h2 class="section-title">Metadata Templates</h2>
				<a href="#/templates/create" class="btn btn-create-new">Create New <i class="cedar-svg-plus"></i></a>
			</div>
			<div class="col-sm-9">
				<div class="dash-header">
					<a class="see-all" href="#/templates/list">See All</a>
				</div>
				<div class="margin-reset-row">
					<div class="template-item" ng-repeat="template in templateDefaults" cedar-resize-square="true" style="height:213px">
                        <cedar-box
                                type="{{CONST.boxType.TEMPLATE}}"
                                description="{{template.properties._ui.description}}"
                                title="{{template.properties._ui.title}}"
                                object-id="{{template['@id']}}"
                                allow-remove="true"
                                >
                        </cedar-box>
					</div> <!-- /.template-item -->
				</div> <!-- /.margin-reset-row -->
			</div> <!-- /.col-sm-9 -->
		</section>
		<section id="template-elements" class="dashboard-elements" ng-if="$root.applicationRole == 'creator'">
			<div class="col-sm-3">
				<h2 class="section-title">Template Elements</h2>
				<a href="#/elements/create" class="btn btn-create-new">Create New <i class="cedar-svg-plus"></i></a>
			</div>
			<div class="col-sm-9">
				<div class="dash-header">
					<a class="see-all" href="#/elements/list">See All</a>
				</div>
				<div class="margin-reset-row">
					<div class="template-item" ng-repeat="element in elementDefaults" cedar-resize-square="true" style="height:213px">
                        <cedar-box
                                type="{{CONST.boxType.ELEMENT}}"
                                description="{{element.properties._ui.description}}"
                                title="{{element.properties._ui.title}}"
                                object-id="{{element['@id']}}"
                                allow-remove="true"
                                >
                        </cedar-box>
					</div> <!-- /.template-item -->
				</div> <!-- /.margin-reset-row -->
			</div> <!-- /.col-sm-9 -->
		</section>
		<section id="data-submission" class="dashboard-elements" ng-if="$root.applicationRole == 'instantiator'">
			<div class="col-sm-3">
				<h2 class="section-title">POPULATED TEMPLATES</h2>
				<!-- <p class="instructions">Choose a template to fill out.</p> -->
				<a href="#/instances/create" class="btn btn-create-new">Fill Out Template</a>
			</div>
			<div class="col-sm-9">
				<div class="dash-header">
					<a class="see-all" href="#/submissions/list">See All</a>
				</div>
				<div class="margin-reset-row">
					<div class="template-item" ng-repeat="submission in submissionDefaults" cedar-resize-square="true" style="height:213px">
                        <cedar-box
                                type="{{CONST.boxType.INSTANCE}}"
                                description="{{submission._ui.templateDescription}}&lt;br/&gt;{{'(' + (submission._ui.creationDate | date:'short') + ')'}}"
                                title="{{submission._ui.templateTitle}}"
                                object-id="{{submission['@id']}}"
                                allow-remove="true"
                                >
                        </cedar-box>
					</div> <!-- /.template-item -->
				</div> <!-- /.margin-reset-row -->
			</div> <!-- /.col-sm-9 -->
		</section>
	</div> <!-- /.row -->
</div> <!-- /.container -->
