<div class="container">
	<div class="row">
		<section class="dashboard-elements">
			<div class="col-sm-3">
				<h2 class="section-title">Template Elements</h2>
				<button type="button" class="btn btn-create-new">Create New <i class="cedar-svg-plus"></i></button>
			</div>
			<div class="col-sm-9">
				<div class="dash-header">
					<div class="input-group">
			      <input type="text" class="form-control" placeholder="Search" aria-label="Search">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
			      </span>
			    </div>
					<p class="see-all">See All</p>
				</div>
				<div class="margin-reset-row">
					<div class="template-item" resize-height>
						<i class="cedar-svg cedar-svg-element"></i>
						<p class="name">Element Name Goes Here</p>
						<div class="state-indication">
							<i class="cedar-svg-flag"></i>
						</div>
						<div class="back-panel">
							<p class="description">Mixtape freegan mumblecore Wes Anderson literally, retro PBR four loko you probably haven't heard of them hashtag banh mi McSweeney's.</p>
							<div class="edit-options">
								<span class="edit">
									<i class="cedar-svg-pencil"></i>
								</span>
								<span class="remove">
									<i class="cedar-svg-remove"></i>
								</span>
							</div>
						</div><!-- ./back-panel -->
					</div> <!-- /.template-item -->
					<div class="template-item" resize-height>
						<i class="cedar-svg cedar-svg-element"></i>
						<p class="name">Element Name Goes Here</p>
						<div class="state-indication">
							<i class="cedar-svg-flag"></i>
						</div>
						<div class="back-panel">
							<p class="description">Mixtape freegan mumblecore Wes Anderson literally, retro PBR four loko you probably haven't heard of them hashtag banh mi McSweeney's.</p>
							<div class="edit-options">
								<span class="edit">
									<i class="cedar-svg-pencil"></i>
								</span>
								<span class="remove">
									<i class="cedar-svg-remove"></i>
								</span>
							</div>
						</div><!-- ./back-panel -->
					</div> <!-- /.template-item -->
					<div class="template-item" resize-height>
						<i class="cedar-svg cedar-svg-element"></i>
						<p class="name">Element Name Goes Here</p>
						<div class="state-indication">
							<i class="cedar-svg-flag"></i>
						</div>
						<div class="back-panel">
							<p class="description">Mixtape freegan mumblecore Wes Anderson literally, retro PBR four loko you probably haven't heard of them hashtag banh mi McSweeney's.</p>
							<div class="edit-options">
								<span class="edit">
									<i class="cedar-svg-pencil"></i>
								</span>
								<span class="remove">
									<i class="cedar-svg-remove"></i>
								</span>
							</div>
						</div><!-- ./back-panel -->
					</div> <!-- /.template-item -->
				</div> <!-- /.margin-reset-row -->
			</div> <!-- /.col-sm-9 -->
		</section>
		<section class="dashboard-elements">
			<div class="col-sm-3">
				<h2 class="section-title">Metadata Templates</h2>
				<button type="button" class="btn btn-create-new">Create New <i class="cedar-svg-plus"></i></button>
			</div>
			<div class="col-sm-9">
				<div class="dash-header">
					<div class="input-group">
			      <input type="text" class="form-control" placeholder="Search" aria-label="Search">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
			      </span>
			    </div>
					<p class="see-all">See All</p>
				</div>
				<div class="margin-reset-row">
					<div class="template-item" resize-height>
						<i class="cedar-svg cedar-svg-metadata"></i>
						<p class="name">Template Name Goes Here</p>
						<div class="state-indication">
							<i class="cedar-svg-flag"></i>
						</div>
						<div class="back-panel">
							<p class="description">Mixtape freegan mumblecore Wes Anderson literally, retro PBR four loko you probably haven't heard of them hashtag banh mi McSweeney's.</p>
							<div class="edit-options">
								<span class="edit">
									<i class="cedar-svg-pencil"></i>
								</span>
								<span class="remove">
									<i class="cedar-svg-remove"></i>
								</span>
							</div>
						</div><!-- ./back-panel -->
					</div> <!-- /.template-item -->
					<div class="template-item" resize-height>
						<i class="cedar-svg cedar-svg-metadata"></i>
						<p class="name">Template Name Goes Here</p>
						<div class="state-indication">
							<i class="cedar-svg-flag"></i>
						</div>
						<div class="back-panel">
							<p class="description">Mixtape freegan mumblecore Wes Anderson literally, retro PBR four loko you probably haven't heard of them hashtag banh mi McSweeney's.</p>
							<div class="edit-options">
								<span class="edit">
									<i class="cedar-svg-pencil"></i>
								</span>
								<span class="remove">
									<i class="cedar-svg-remove"></i>
								</span>
							</div>
						</div><!-- ./back-panel -->
					</div> <!-- /.template-item -->
					<div class="template-item" resize-height>
						<i class="cedar-svg cedar-svg-metadata"></i>
						<p class="name">Template Name Goes Here</p>
						<div class="state-indication">
							<i class="cedar-svg-flag"></i>
						</div>
						<div class="back-panel">
							<p class="description">Mixtape freegan mumblecore Wes Anderson literally, retro PBR four loko you probably haven't heard of them hashtag banh mi McSweeney's.</p>
							<div class="edit-options">
								<span class="edit">
									<i class="cedar-svg-pencil"></i>
								</span>
								<span class="remove">
									<i class="cedar-svg-remove"></i>
								</span>
							</div>
						</div><!-- ./back-panel -->
					</div> <!-- /.template-item -->
				</div> <!-- /.margin-reset-row -->
			</div> <!-- /.col-sm-9 -->
		</section>
		<section class="dashboard-elements">
			<div class="col-sm-3">
				<h2 class="section-title">Data Submission</h2>
				<p class="instructions">Choose a template to fill out.</p>
			</div>
			<div class="col-sm-9">
				<div class="dash-header">
					<div class="input-group">
			      <input type="text" class="form-control" placeholder="Search" aria-label="Search">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
			      </span>
			    </div>
					<p class="see-all">See All</p>
				</div>
				<div class="margin-reset-row">
					<div class="template-item" resize-height>
						<i class="cedar-svg cedar-svg-submission"></i>
						<p class="name">Submission Name Goes Here</p>
						<div class="state-indication">
							<i class="cedar-svg-complete"></i>
						</div>
						<div class="back-panel">
							<p class="description">Mixtape freegan mumblecore Wes Anderson literally, retro PBR four loko you probably haven't heard of them hashtag banh mi McSweeney's.</p>
							<div class="edit-options">
								<span class="edit">
									<i class="cedar-svg-pencil"></i>
								</span>
								<span class="remove">
									<i class="cedar-svg-remove"></i>
								</span>
							</div>
						</div><!-- ./back-panel -->
					</div> <!-- /.template-item -->
					<div class="template-item" resize-height>
						<i class="cedar-svg cedar-svg-submission"></i>
						<p class="name">Submission Name Goes Here</p>
						<div class="state-indication">
							<i class="cedar-svg-complete"></i>
						</div>
						<div class="back-panel">
							<p class="description">Mixtape freegan mumblecore Wes Anderson literally, retro PBR four loko you probably haven't heard of them hashtag banh mi McSweeney's.</p>
							<div class="edit-options">
								<span class="edit">
									<i class="cedar-svg-pencil"></i>
								</span>
								<span class="remove">
									<i class="cedar-svg-remove"></i>
								</span>
							</div>
						</div><!-- ./back-panel -->
					</div> <!-- /.template-item -->
					<div class="template-item" resize-height>
						<i class="cedar-svg cedar-svg-submission"></i>
						<p class="name">Submission Name Goes Here</p>
						<div class="state-indication">
							<i class="cedar-svg-complete"></i>
						</div>
						<div class="back-panel">
							<p class="description">Mixtape freegan mumblecore Wes Anderson literally, retro PBR four loko you probably haven't heard of them hashtag banh mi McSweeney's.</p>
							<div class="edit-options">
								<span class="edit">
									<i class="cedar-svg-pencil"></i>
								</span>
								<span class="remove">
									<i class="cedar-svg-remove"></i>
								</span>
							</div>
						</div><!-- ./back-panel -->
					</div> <!-- /.template-item -->
					<div class="template-item" resize-height>
						<i class="cedar-svg cedar-svg-submission"></i>
						<p class="name">Submission Name Goes Here</p>
						<div class="state-indication">
							<i class="cedar-svg-complete"></i>
						</div>
						<div class="back-panel">
							<p class="description">Mixtape freegan mumblecore Wes Anderson literally, retro PBR four loko you probably haven't heard of them hashtag banh mi McSweeney's.</p>
							<div class="edit-options">
								<span class="edit">
									<i class="cedar-svg-pencil"></i>
								</span>
								<span class="remove">
									<i class="cedar-svg-remove"></i>
								</span>
							</div>
						</div><!-- ./back-panel -->
					</div> <!-- /.template-item -->
					<div class="template-item" resize-height>
						<i class="cedar-svg cedar-svg-submission"></i>
						<p class="name">Submission Name Goes Here</p>
						<div class="state-indication">
							<i class="cedar-svg-complete"></i>
						</div>
						<div class="back-panel">
							<p class="description">Mixtape freegan mumblecore Wes Anderson literally, retro PBR four loko you probably haven't heard of them hashtag banh mi McSweeney's.</p>
							<div class="edit-options">
								<span class="edit">
									<i class="cedar-svg-pencil"></i>
								</span>
								<span class="remove">
									<i class="cedar-svg-remove"></i>
								</span>
							</div>
						</div><!-- ./back-panel -->
					</div> <!-- /.template-item -->
					<div class="template-item" resize-height>
						<i class="cedar-svg cedar-svg-submission"></i>
						<p class="name">Submission Name Goes Here</p>
						<div class="state-indication">
							<i class="cedar-svg-progress"></i>
						</div>
						<div class="back-panel">
							<p class="description">Mixtape freegan mumblecore Wes Anderson literally, retro PBR four loko you probably haven't heard of them hashtag banh mi McSweeney's.</p>
							<div class="edit-options">
								<span class="edit">
									<i class="cedar-svg-pencil"></i>
								</span>
								<span class="remove">
									<i class="cedar-svg-remove"></i>
								</span>
							</div>
						</div><!-- ./back-panel -->
					</div> <!-- /.template-item -->
					<div class="template-item" resize-height>
						<i class="cedar-svg cedar-svg-submission"></i>
						<p class="name">Submission Name Goes Here</p>
						<div class="state-indication">
							<i class="cedar-svg-progress"></i>
						</div>
						<div class="back-panel">
							<p class="description">Mixtape freegan mumblecore Wes Anderson literally, retro PBR four loko you probably haven't heard of them hashtag banh mi McSweeney's.</p>
							<div class="edit-options">
								<span class="edit">
									<i class="cedar-svg-pencil"></i>
								</span>
								<span class="remove">
									<i class="cedar-svg-remove"></i>
								</span>
							</div>
						</div><!-- ./back-panel -->
					</div> <!-- /.template-item -->
					<div class="template-item" resize-height>
						<i class="cedar-svg cedar-svg-submission"></i>
						<p class="name">Submission Name Goes Here</p>
						<div class="state-indication">
							<i class="cedar-svg-progress"></i>
						</div>
						<div class="back-panel">
							<p class="description">Mixtape freegan mumblecore Wes Anderson literally, retro PBR four loko you probably haven't heard of them hashtag banh mi McSweeney's.</p>
							<div class="edit-options">
								<span class="edit">
									<i class="cedar-svg-pencil"></i>
								</span>
								<span class="remove">
									<i class="cedar-svg-remove"></i>
								</span>
							</div>
						</div><!-- ./back-panel -->
					</div> <!-- /.template-item -->
					<div class="template-item" resize-height>
						<i class="cedar-svg cedar-svg-submission"></i>
						<p class="name">Submission Name Goes Here</p>
						<div class="state-indication">
							<i class="cedar-svg-progress"></i>
						</div>
						<div class="back-panel">
							<p class="description">Mixtape freegan mumblecore Wes Anderson literally, retro PBR four loko you probably haven't heard of them hashtag banh mi McSweeney's.</p>
							<div class="edit-options">
								<span class="edit">
									<i class="cedar-svg-pencil"></i>
								</span>
								<span class="remove">
									<i class="cedar-svg-remove"></i>
								</span>
							</div>
						</div><!-- ./back-panel -->
					</div> <!-- /.template-item -->
					<div class="template-item" resize-height>
						<i class="cedar-svg cedar-svg-submission"></i>
						<p class="name">Submission Name Goes Here</p>
						<div class="state-indication">
							<i class="cedar-svg-progress"></i>
						</div>
						<div class="back-panel">
							<p class="description">Mixtape freegan mumblecore Wes Anderson literally, retro PBR four loko you probably haven't heard of them hashtag banh mi McSweeney's.</p>
							<div class="edit-options">
								<span class="edit">
									<i class="cedar-svg-pencil"></i>
								</span>
								<span class="remove">
									<i class="cedar-svg-remove"></i>
								</span>
							</div>
						</div><!-- ./back-panel -->
					</div> <!-- /.template-item -->
					<div class="template-item" resize-height>
						<i class="cedar-svg cedar-svg-submission"></i>
						<p class="name">Submission Name Goes Here</p>
						<div class="state-indication">
							<i class="cedar-svg-complete"></i>
						</div>
						<div class="back-panel">
							<p class="description">Mixtape freegan mumblecore Wes Anderson literally, retro PBR four loko you probably haven't heard of them hashtag banh mi McSweeney's.</p>
							<div class="edit-options">
								<span class="edit">
									<i class="cedar-svg-pencil"></i>
								</span>
								<span class="remove">
									<i class="cedar-svg-remove"></i>
								</span>
							</div>
						</div><!-- ./back-panel -->
					</div> <!-- /.template-item -->
					<div class="template-item" resize-height>
						<i class="cedar-svg cedar-svg-submission"></i>
						<p class="name">Submission Name Goes Here</p>
						<div class="state-indication">
							<i class="cedar-svg-complete"></i>
						</div>
						<div class="back-panel">
							<p class="description">Mixtape freegan mumblecore Wes Anderson literally, retro PBR four loko you probably haven't heard of them hashtag banh mi McSweeney's.</p>
							<div class="edit-options">
								<span class="edit">
									<i class="cedar-svg-pencil"></i>
								</span>
								<span class="remove">
									<i class="cedar-svg-remove"></i>
								</span>
							</div>
						</div><!-- ./back-panel -->
					</div> <!-- /.template-item -->
				</div> <!-- /.margin-reset-row -->
			</div> <!-- /.col-sm-9 -->
		</section>
	</div> <!-- /.row -->
</div> <!-- /.container -->
