<div class="container">
	<div class="row">
		<section id="metadata-templates" class="dashboard-elements">
			<div class="col-sm-3">
				<h2 class="section-title">Metadata Templates</h2>
				<a href="templates/create" class="btn btn-create-new">Create New <i class="cedar-svg-plus"></i></a>
			</div>
			<div class="col-sm-9">
				<div class="dash-header">
					<a class="see-all" href="/templates/list">See All</a>
				</div>
				<div class="margin-reset-row">
					<div class="template-item" ng-repeat="template in templateDefaults" resize-height>
						<a ng-href="templates/edit/{{template.guid}}">
							<i class="cedar-svg cedar-svg-metadata"></i>
							<p class="name">{{template.title}}</p>
							<div class="state-indication" ng-if="template.favorite">
								<i class="cedar-svg-flag"></i>
							</div>
							<div class="back-panel">
								<p class="description">{{template.description}}</p>
								<div class="edit-options">
									<span class="edit">
										<i class="cedar-svg-pencil"></i>
									</span>
									<span class="remove">
										<i class="cedar-svg-remove"></i>
									</span>
								</div>
							</div><!-- ./back-panel -->
						</a>
					</div> <!-- /.template-item -->
				</div> <!-- /.margin-reset-row -->
			</div> <!-- /.col-sm-9 -->
		</section>
		<section id="template-elements" class="dashboard-elements">
			<div class="col-sm-3">
				<h2 class="section-title">Template Elements</h2>
				<a href="elements/create" class="btn btn-create-new">Create New <i class="cedar-svg-plus"></i></a>
			</div>
			<div class="col-sm-9">
				<div class="dash-header">
					<a class="see-all" href="/elements/list">See All</a>
				</div>
				<div class="margin-reset-row">
					<div class="template-item" ng-repeat="element in elementDefaults" resize-height>
						<a ng-href="elements/edit/{{element.guid}}">
							<i class="cedar-svg cedar-svg-element"></i>
							<p class="name">{{element.title}}</p>
							<div class="state-indication" ng-if="element.favorite">
								<i class="cedar-svg-flag"></i>
							</div>
							<div class="back-panel">
								<p class="description">{{element.description}}</p>
								<div class="edit-options">
									<span class="edit">
										<i class="cedar-svg-pencil"></i>
									</span>
									<span class="remove">
										<i class="cedar-svg-remove"></i>
									</span>
								</div>
							</div><!-- ./back-panel -->
						</a>
					</div> <!-- /.template-item -->
				</div> <!-- /.margin-reset-row -->
			</div> <!-- /.col-sm-9 -->
		</section>
		<section id="data-submission" class="dashboard-elements">
			<div class="col-sm-3">
				<h2 class="section-title">Data Submission</h2>
				<!-- <p class="instructions">Choose a template to fill out.</p> -->
				<a href="templates/runtime" class="btn btn-create-new">Fill Out Template</a>
			</div>
			<div class="col-sm-9">
				<div class="dash-header">
					<a class="see-all" href="/submissions/list">See All</a>
				</div>
				<div class="margin-reset-row">
					<div class="template-item" ng-repeat="submission in submissionDefaults" resize-height>
						<a ng-href="templates/runtime/{{submission.guid}}/{{submission.submission_id}}">
							<i class="cedar-svg cedar-svg-submission"></i>
							<p class="name">{{submission.title}}</p>
							<div class="state-indication">
								<i class="cedar-svg-progress"></i>
							</div>
							<div class="back-panel">
								<p class="description">{{submission.submission_id}}</p>
								<div class="edit-options">
									<span class="edit">
										<i class="cedar-svg-pencil"></i>
									</span>
									<span class="remove">
										<i class="cedar-svg-remove"></i>
									</span>
								</div>
							</div><!-- ./back-panel -->
						</a>
					</div> <!-- /.template-item -->
				</div> <!-- /.margin-reset-row -->
			</div> <!-- /.col-sm-9 -->
		</section>
	</div> <!-- /.row -->
</div> <!-- /.container -->
