<div class="container">
    <div class="row">
        <section id="metadata-templates" class="dashboard-elements">
            <div class="col-sm-9" style="width:100%">
                <div class="margin-reset-row" style="margin: 0 auto;">
                    <div class="template-item" resize-height style="height:213px;width:40%;margin-right:100px;">
                        <cedar-box
                                type="{{CONST.boxType.LINK}}"
                                description="Create template elements and templates"
                                title="Design Template"
                                allow-remove="false"
                                allow-edit="false"
                                icon-class="cedar-svg-edit"
                                href="/dashboard/as-creator"
                                css-class="roleSelectorCreator"
                                >
                        </cedar-box>
                    </div>
                    <div class="template-item" resize-height style="height:213px;width:40%">
                        <cedar-box
                                type="{{CONST.boxType.LINK}}"
                                description="Fill out existing templates"
                                title="Edit Metadata"
                                allow-remove="false"
                                allow-edit="false"
                                icon-class="cedar-svg-puzzle"
                                href="/dashboard/as-instantiator"
                                css-class="roleSelectorInstantiator"
                                >
                        </cedar-box>
                    </div>
                </div>
                <!-- /.margin-reset-row -->
            </div>
            <!-- /.col-sm-9 -->
        </section>
    </div>
    <!-- /.row -->
</div> <!-- /.container -->
