<div class="template-header">
  <div class="container">
    <div class="row">
      <div class="left-sidebar col-sm-12">
        <h2 ng-if="form.properties.info.title" class="runtime-template-name" ng-bind="form.properties.info.title"></h2>
        <h2 ng-if="!form.properties.info.title" class="runtime-template-name">Fill Out a Template</h2>
      </div> <!-- /.left-sidebar -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /.template-header -->

<div class="template-body">
  <div class="container">
    <div class="row">
      <div class="left-sidebar col-sm-3">
        <p class="add-item">Templates</p>
        <ul class="element-menu" role="menu">
          <!--<li ng-repeat="form in formList" class="item"><a ng-class="{active: $location.path() == '/templates/runtime/{{form.guid}}'}" ng-href="/templates/runtime/{{form.guid}}"><i class="cedar-svg-metadata"></i>{{form.title}}</a></li>-->
          <li ng-repeat="form in formList" class="item"><a ng-class="{active: $location.path() == '/instances/create/' + form['@id']}" ng-href="/instances/create/{{form['@id']}}"><i class="cedar-svg-metadata"></i>{{form.properties.info.title}}</a></li>
        </ul>

        <div class="more-items hidden-xs">
          <button type="button" class="btn btn-more-items dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            More Templates <i class="fa fa-angle-down fa-2x"></i>
          </button>
          <ul class="dropdown-menu element-menu" role="menu">
            <li class="item"><a class="disabled"><i class="cedar-svg-metadata"></i>Sample Template #6</a></li>
            <li class="item"><a class="disabled"><i class="cedar-svg-metadata"></i>Sample Template #7</a></li>
            <li class="item"><a class="disabled"><i class="cedar-svg-metadata"></i>Sample Template #8</a></li>
            <li class="item"><a class="disabled"><i class="cedar-svg-metadata"></i>Sample Template #9</a></li>
            <li class="item"><a class="disabled"><i class="cedar-svg-metadata"></i>Sample Template #10 that also has a really long title</a></li>
          </ul>
        </div>

      </div> <!-- /.left-sidebar -->
      <div class="right-body col-sm-9">
        <form-directive form="form" page="currentPage" model="instance"></form-directive>

        <div ng-if="form.pages.length > 1" class="pagination-container">
          <ul class="pagination">
            <li ng-if="pageIndex > 0"><a ng-click="previousPage()"><span class="prev"><i class="fa fa-lg fa-angle-left"></i>Previous</span></a></li>
            <li ng-repeat="(index, value) in form.pages" ng-class="{active: index == pageIndex}"><a ng-click="setCurrentPage(index)">{{index + 1}}</a></li>
            <li ng-if="pageIndex < (form.pages.length - 1)"><a ng-click="nextPage()"><span class="next">Next<i class="fa fa-lg fa-angle-right"></i></span></a></li>
          </ul>
        </div><!-- /.pagination-container -->

        <div class="edit-actions" ng-show="$root.isEmpty(form)">
          <div ng-if="failedValidation.length" class="alert alert-danger" role="alert">
            <p>The following fields are required:</p>
            <ul>
              <li ng-repeat="field in failedValidation">{{field}}</li>
            </ul>
          </div>
          <div ng-if="emptyRequiredFields.length" class="alert alert-danger" role="alert">
            <p><i class="fa fa-exclamation-triangle"></i>The following fields are required:</p>
            <ul>
              <li ng-repeat="field in emptyRequiredFields">{{field}}</li>
            </ul>
          </div>
          <div ng-if="runtimeErrorMessages.length" class="alert alert-danger" role="alert">
            <p ng-repeat="message in runtimeErrorMessages"><i class="fa fa-exclamation-triangle"></i>{{message}}</p>
          </div>
          <div ng-if="runtimeSuccessMessages.length" class="alert alert-success" role="alert">
            <p ng-repeat="message in runtimeSuccessMessages"><i class="fa fa-check"></i>{{message}}</p>
          </div>
          <button type="button" class="btn btn-save" ng-click="savePopulatedTemplate()">Save</button>
          <button type="button" class="btn btn-clear disabled">Clear Form</button>
          <button type="button" class="btn btn-submit disabled" ng-click="submitForm()">Submit</button>
        </div><!-- /.edit-actions -->
      </div> <!-- /.right-body -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /.template-body -->
	
