<div id="messaging-report">

  <div class="navbar-back flex" style="font-size: 16px;cursor: pointer;">
    <div class="back-arrow-click flex-left" style="margin-right: 10px;font-weight: 100;font-size: 18px;"
        ng-click="goToDashboardOrBack()">
      <i class="back-arrow fa fa-arrow-left"></i>
      <div class="document-title" style="margin-left: 10px;font-weight:normal">Messages</div>
    </div>
  </div>

  <div class="content message-content">

    <div class="message-box" ng-repeat="message in userMessages.messages">

      <div ng-if="message.from.screenName">
        <span class="message-label">{{message.from.screenName}}</span>
        <span class="message-date">{{message.creationDate}}</span>
      </div>
      <div ng-if="message.from.processId">
        <span class="message-label">{{'messaging.from.process.' + message.from.processId | translate}}</span>
        <span class="message-date">{{toLocalDate(message.creationDate)}}</span>
      </div>

      <div class="message-subject" ng-class="{ 'rejected': isRejected(message.subject),'bold': isUnread(message.readStatus)}">
        {{message.subject}}
      </div>

      <hr />
      <div class="message-body">{{message.body}}</div>

    </div>
  </div>
</div>
</div>