<div class="modal-dialog">
  <div class="modal-content" ng-if="dc.shareModalVisible" ng-class="share.canWrite() ? '' : 'cannotWrite'">
    <div class="modal-header" id="shareModalHeader">
      <button type="button" class="close"
          ng-click="dc.shareModalVisible=false;dc.refreshWorkspace(dc.selectedResource);" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
      <div ng-if="!share.showGroups"><h4><span translate>DASHBOARD.share.share</span> <i class="fa fa-share"></i></h4>
      </div>
      <div ng-if="share.showGroups"><h4><span translate>DASHBOARD.share.groups</span> <i class="fa fa-users"></i></h4>
      </div>
    </div>

    <div class="modal-body">
      <!-- body  for share  -->
      <div ng-if="share.model.show == 'users'" >

        <div class="row">
          <div ng-if="share.canWrite()" class="col-sm-6">

            <div class="row">
              <div class="col-sm-12">
                <h5 translate>DASHBOARD.share.withUsers</h5></div>
            </div>

            <div class="half-padding-top" id="share-people" >
              <div class="row">
                <div class="col-sm-8 typeaheadDropDown">

                  <input auto-focus placeholder="enter user name" type="text"
                      ng-change="share.updateUserPermission(share.model.users.user['@id'])"
                      ng-model="share.model.users.user"
                      typeahead-editable="false"
                      uib-typeahead="user as user.name for user in share.resourceUsers | filter:{name:$viewValue} | limitTo:8 "
                      typeahead-select-on-exact="true"
                      class="form-control user-name"></div>


                <select ng-disabled="!share.model.users.user" ng-model="share.model.users.userPermission"
                    data-dropup-auto="false" class="dropdown col-sm-4 select-picker user-permission" select-picker
                    select-model="share.model.users.user['@id']"
                    cedar-live-search="true" block="'#share-people'">
                  <option value="read" translate>GENERIC.canRead</option>
                  <option value="write" translate>GENERIC.canWrite</option>
                  <option ng-show="share.canBeOwner(share.model.users.user['@id'])" value="own" translate>GENERIC.isOwner
                  </option>
                </select>

              </div>
              <div ng-show="share.canWrite() && share.model.users.user" class="confirmation first">
                <div class="flex-left clear-save">
                  <button type="button" class="btn btn-save" translate
                      ng-click="share.addShare(share.model.users.user['@id'], share.model.users.userPermission, 'shared-users', resource);share.model.users.user = null;">
                    GENERIC.Ok
                  </button>
                  <button type="button" class="btn btn-clear" ng-click="share.model.users.user = null;" translate>
                    GENERIC.Cancel
                  </button>

                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-sm-12">
                <h5 translate>DASHBOARD.share.withGroups</h5></div>
            </div>

            <div class="half-padding-top" id="share-group" >
              <!-- share with groups -->
              <div class="row first">
                <div class="col-sm-8">
                  <input auto-focus placeholder="enter group name" type="text"
                      ng-change="share.updateGroupPermission(share.model.users.group['@id'])"
                      ng-model="share.model.users.group"
                      typeahead-editable="false"
                      uib-typeahead="group as group.name for group in share.resourceGroups | filter:{name:$viewValue} | limitTo:8 "
                      typeahead-on-select="share.groupTypeaheadOnSelect('users',$item, $model, $label)"
                      typeahead-select-on-exact="true"
                      class="form-control group-name share-with-group">
                </div>

                <select ng-disabled="!share.model.users.group" class="col-sm-4 select-picker group-permission"
                    ng-model="share.model.users.groupPermission"
                    data-dropup-auto="false" class="dropdown group-permission" select-picker
                    select-model="share.model.users.group['@id']"
                    cedar-live-search="true"
                    block="'#share-group'">
                  <option value="read">can read</option>
                  <option value="write">can write</option>
                </select>

              </div>

              <div ng-show="share.canWrite() && share.model.users.group" class="confirmation first">
                <div class="flex-left clear-save">
                  <button type="button" class="btn btn-save" translate
                      ng-click="share.addShare(share.model.users.group['@id'], share.model.users.groupPermission, 'shared-users', resource);share.model.users.group = null">
                    GENERIC.Ok
                  </button>
                  <button type="button" class="btn btn-clear" ng-click="share.model.users.group = null"
                      translate>
                    GENERIC.Cancel
                  </button>
                </div>
              </div>

              <div class="row second">
                <div class="col-sm-12">
                  <form ng-submit="share.createGroup('users',share.model.users.name)">
                    <input ng-model="share.model.users.name" type="text"
                        placeholder="enter new group name" class="new-group"/>
                  </form>
                </div>
              </div>

              <div class="confirmation second" ng-if="share.canWrite() && share.model.users.name">
                <div class="flex-left clear-save">

                  <button type="button" class="btn btn-save " translate
                      ng-click="share.createGroup('users', share.model.users.name);share.model.users.group = null">
                    GENERIC.Ok
                  </button>
                  <button type="button" class="btn btn-clear" ng-click="share.model.users.name=''" translate>
                    GENERIC.Cancel
                  </button>

                </div>
              </div>
            </div>


            <!-- link to groups -->
            <div class="row">
              <div class="col-sm-12 center"><a href="#"
                  ng-click="share.model.show = 'groups'"
                  class="group-settings">
                <h5><span translate>DASHBOARD.share.groupSettings</span> <i class="fa fa-users"></i></h5>
              </a></div>
            </div>

          </div>
          <div ng-class="share.canWrite() ? 'col-sm-6' : 'col-sm-12'">


            <div ng-model="share.resourcePermissions" id="shared-users" class="scroll-container">
              <div class="row">

                <div class="col-sm-7 name">
                  {{share.getName(share.resourcePermissions.owner)}}
                </div>

                <select class="col-sm-4 select-picker" select-picker ng-disabled="!share.canWrite()">
                  <option value="own" translate>GENERIC.isOwner</option>
                </select>
              </div>

              <div class="row" ng-repeat="sh in share.shares">

                <div class="col-sm-7 name">{{sh.node['schema:name']}}</div>

                <select ng-model="sh.permission" class="col-sm-4 select-picker" select-picker
                    ng-change="share.addShare(sh.node['@id'], sh.permission, 'shared-users', resource)"
                    select-model="sh"
                    cedar-live-search="true" ng-disabled="!share.canWrite()" block="share.permission">


                  <option ng-show="(!share.canWrite() && sh.permission === 'read') || share.canWrite()" value="read"
                      translate>
                    GENERIC.canRead
                  </option>
                  <option ng-show="(!share.canWrite() && sh.permission === 'write') || share.canWrite()"
                      value="write" translate>GENERIC.canWrite
                  </option>
                  <option ng-show="share.canBeOwner(sh.node.id)" value="own" translate>GENERIC.isOwner</option>
                </select>

                <button class=" col-sm-1  btn  btn-info btn-circle btn-sm btn-delete" ng-if="share.canWrite()"
                    ng-model="share.resourcePermissions"
                    type="button"
                    uib-tooltip="{{'HELP.removeShare' | translate}}"
                    tooltip-trigger
                    tooltip-animation="false"
                    tooltip-placement="top"
                    data-toggle="tooltip"
                    ng-click="share.removeShare(sh.node, resource)"><i class="fa fa-times"
                ></i></button>
              </div>
            </div>

            <!-- select group -->
            <div class="row">
              <div class="col-sm-12">
                <h5>&nbsp;</h5></div>
            </div>

          </div>
        </div>
      </div>

      <!-- body  for groups  -->
      <div ng-show="share.model.show == 'groups'" class="groups">
        <div class="row">
          <div class="col-sm-6">

            <!-- select group -->
            <div class="row">
              <div class="col-sm-12">
                <h5 translate>DASHBOARD.share.selectGroup</h5></div>
            </div>
            <div class="row">
              <div class="col-sm-11 ">
                <input auto-focus placeholder="enter group name" type="text"
                    ng-change="share.updateGroupPermission(share.model.groups.group['@id'])"
                    ng-model="share.model.groups.group"
                    typeahead-editable="false"
                    uib-typeahead="group as group.name for group in share.resourceGroups | filter:{name:$viewValue} | limitTo:8 "
                    typeahead-select-on-exact="true"
                    typeahead-on-select="share.groupTypeaheadOnSelect('groups',$item, $model, $label)"
                    class="form-control group-name">
              </div>
              <div class="col-sm-1 pull-right">
                <button
                    class="btn btn-sm btn-info btn-circle btn-delete delete-group" ng-if="share.canWriteGroup()"
                    ng-model="share.resourcePermissions"
                    type="button"
                    uib-tooltip="{{'HELP.removeGroup' | translate}}"
                    tooltip-trigger
                    tooltip-animation="false"
                    tooltip-placement="top"
                    data-toggle="tooltip"
                    ng-click="share.model.groups.removeConfirm = true;"
                    ng-disabled="!share.model.groups.group">
                  <i class="fa fa-remove"></i>
                </button>
              </div>
            </div>

            <div class="confirmation" ng-show="share.model.groups.removeConfirm && share.canWriteGroup() && share.model.groups.group">
              <div class="flex-left clear-save">

                <button type="button" class="btn btn-save confirm" translate
                    ng-click="share.model.groups.removeConfirm=false;share.deleteGroup('groups', resource);share.model.groups.group = null"
                    aria-label="Remove">
                  GENERIC.Remove
                </button>
                <button type="button" class="btn btn-clear" ng-click="share.model.groups.removeConfirm=false;share.model.groups.group = null;" translate>
                  GENERIC.Cancel
                </button>


              </div>
            </div>

            <div class="row" ng-if="!share.model.groups.group">
              <div class="col-sm-12">
                <form ng-submit="share.createGroup('groups',share.model.groups.name)">
                  <input ng-model="share.model.groups.name" type="text"
                      placeholder="enter new group name" class="new-group-name"/>
                </form>
              </div>
            </div>

            <div ng-if="share.model.groups.name" class="confirmation">
              <div class="flex-left clear-save">
                <button type="button" class="btn btn-save" translate
                    ng-click="share.createGroup('groups',share.model.groups.name)">
                  GENERIC.Ok
                </button>
                <button type="button" class="btn btn-clear" ng-click="share.model.groups.name = ''" translate>
                  GENERIC.Cancel
                </button>
              </div>
            </div>

            <!-- add users to group -->
            <div class="row">
              <div class="col-sm-12" class="topMinus10">
                <h5 translate>DASHBOARD.share.addPeople</h5></div>
            </div>
            <div class="row">

              <div class="col-sm-12 typeaheadDropDown">
                <input auto-focus placeholder="enter user name" type="text"
                    ng-change="share.updateUserPermission(share.model.groups.user['@id'])"
                    ng-model="share.model.groups.user"
                    typeahead-editable="false"
                    uib-typeahead="user as user.name for user in share.resourceUsers | filter:{name:$viewValue} | limitTo:8 "
                    typeahead-select-on-exact="true"
                    ng-disabled="!share.model.groups.group"
                    class="form-control user-name"></div>
            </div>

            <div ng-if="share.canWriteGroup() && share.model.groups.user && share.model.groups.user" class="confirmation">
              <div class="flex-left clear-save">

                <button type="button" class="btn btn-save " translate
                    ng-click="share.addUserToGroup(share.model.groups.user,  share.model.groups.group, 'group-members');share.model.groups.user = null">
                  GENERIC.Ok
                </button>
                <button type="button" class="btn btn-clear" ng-click="share.model.groups.user = null" translate>
                  GENERIC.Cancel
                </button>


              </div>
            </div>


            <!-- link to share -->
            <div class="row">
              <div class="col-sm-12 center">
                <a href="#" ng-click="share.model.show ='users';">
                  <h5><span translate>DASHBOARD.share.manageShare</span> <i class="fa fa-share"></i></h5>
                </a>
              </div>
            </div>

          </div>
          <div class="col-sm-6">

            <!-- group members -->
            <div ng-if="share.model.groups.show == 'people'">
              <div ng-model="share.resourcePermissions" id="group-members" class="scroll-container">

                <div ng-if="!share.model.groups.group" class="row">
                  <div class="center" style="margin-top:100px;">Select a group to display</div>
                </div>

                <div ng-if="share.model.groups.group" class="row" ng-repeat="member in share.model.groups.group.users">

                  <div class="col-sm-8 name">{{member.user.firstName}} {{member.user.lastName}}</div>

                  <div class="col-sm-3">
                    <div class="checkbox checkbox-primary">
                      <input type="checkbox"
                          ng-change="share.updateGroupAdmin(member, share.model.groups.group, member.administrator)"
                          ng-disabled="share.model.groups.group.specialGroup"
                          id="{{member.user.id}}"
                          ng-model='member.administrator'>
                      <label for="{{member.user.id}}" translate>DASHBOARD.share.admin</label>
                    </div>
                  </div>

                  <button class=" col-sm-1  btn  btn-info btn-circle btn-sm btn-delete" ng-if="share.canWriteGroup()"
                      ng-model="share.resourcePermissions"
                      type="button"
                      uib-tooltip="{{'HELP.removeFromGroup' | translate}}"
                      tooltip-trigger
                      tooltip-animation="false"
                      tooltip-placement="top"
                      data-toggle="tooltip"
                      ng-disabled="share.model.groups.group.specialGroup"
                      ng-click="share.removeFromGroup('groups',member)"><i class="fa fa-times"
                  ></i></button>
                </div>
              </div>
            </div>

            <!-- group details -->
            <div ng-if="share.model.groups.show == 'details'" class="scroll-container"
                style="padding-left:20px;height:250px;overflow:hidden">
              <div ng-if="!share.model.groups.group" class="row">
                <div class="center" style="margin-top:100px;">Select a group to display</div>
              </div>
              <div ng-if="share.model.groups.group">
                <h5>
                  <form ng-submit="share.updateGroupName('groups', share.model.groups.name)">
                    <div class="row inline-editing">
                      <div class="col-sm-9 ">
                        <input class="borderless group-name" ng-click="share.editingTitle=true;"
                            ng-disabled="share.model.groups.group.specialGroup" type="text"
                            ng-model="share.model.groups.name" placeholder="enter group name"/></div>
                      <div class="col-sm-3">
                        <button ng-if="share.editingTitle" type="button"
                            ng-click="share.editingTitle=false;"
                            class="remove-group"><i class="fa fa-remove"></i></button>
                        <button ng-if="share.editingTitle" type="button"
                            ng-click="share.updateGroupName('groups', share.model.groups.name)" aria-label="ok"><i
                            class="fa fa-check"></i></button>
                      </div>
                    </div>
                  </form>
                </h5>


                <table class="table details">

                  <tbody>

                  <tr>
                    <td class="left">Modified</td>
                    <td>
                      <span class="no-wrap">{{ share.model.groups.group['pav:lastUpdatedOn'] | prettyDate }}</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="left">Created</td>
                    <td>
                      <span class="no-wrap">{{ share.model.groups.group['pav:createdOn'] | prettyDate }}</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="left">Members</td>
                    <td>
                      <span class="no-wrap">{{share.model.groups.group.users.length}}</span>
                    </td>
                  </tr>
                  </tbody>
                </table>

                <h5>
                  <form ng-submit="share.updateGroupDescription('groups', share.newDescription)">
                    <div class="row inline-editing">
                      <div class="col-sm-9">
                        <input class="borderless" ng-disabled="share.model.groups.group.specialGroup" type="text"
                            ng-click="share.editingDescription=true;"
                            ng-model="share.newDescription" placeholder="enter group description"/>
                      </div>
                      <div class="col-sm-3">
                        <button ng-if="share.editingDescription" type="button"
                            ng-click="share.newDescription=false;share.newDescription=share.model.groups.group.description"
                            aria-label="ok"><i class="fa fa-remove"></i></button>
                        <button ng-if="share.editingDescription" type="button"
                            ng-click="share.updateGroupDescription(share.model.groups.group, share.newDescription)"><i
                            class="fa fa-check"></i></button>
                      </div>
                    </div>
                  </form>
                </h5>

              </div>
            </div>

            <!-- members or details -->
            <div class="row">
              <div class="col-sm-6 center">
                <a href="#" ng-click="share.model.groups.show = 'people'">
                  <h5><span translate>DASHBOARD.share.people</span></h5>
                </a>
              </div>
              <div class="col-sm-6 center">
                <a href="#" ng-click="share.model.groups.show = 'details'">
                  <h5><span translate>DASHBOARD.share.groupDetails</span></h5>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- footer closes the dialog -->
    <div class="modal-footer actions">
      <div class="clear-save">
        <button type="button" ng-disabled="share.incomplete()" ng-click="dc.shareModalVisible=false;dc.refreshWorkspace(dc.selectedResource);"
            data-dismiss="modal" aria-label="Done"
            class="btn btn-save confirm" translate>GENERIC.Done
        </button>
      </div>
    </div>

  </div>
</div>

