<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header" id="publishModalHeader">
      <button type="button" class="close" ng-click="dc.publishModalVisible=false" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" translate>{{publish.titleText}}</h4>
    </div>
    <div class="modal-body">

      <h5 translate>Set Version</h5>

      <form ng-submit="publish.updateResource();dc.publishModalVisible=false">
        <div class="publish" >

          <div class="version-part" >
            <input name="major" id="version-major" ng-model="publish.parts[0]"
                ng-change="publish.change(0, publish.parts[0], '{{publish.parts[0]}}')">
            <div class="flex incrementor" >
              <i  class="fa fa-caret-up" ng-class="{'disabled':!publish.canIncrement(0)}" ng-disabled="!publish.canIncrement(0)" ng-click="publish.increment(0)"></i>
              <i  class="fa fa-caret-down" ng-class="{'disabled':!publish.canDecrement(0)}" ng-disabled="!publish.canDecrement(0)" ng-click="publish.decrement(0)"></i>
            </div>
          </div>


          <div class="version-part">
            <input name="minor" id="version-minor" ng-model="publish.parts[1]"
                ng-change="publish.change(1, publish.parts[1], '{{publish.parts[1]}}')">
            <div class="flex incrementor" >
              <i  class="fa fa-caret-up" ng-class="{'disabled':!publish.canIncrement(1)}" ng-disabled="!publish.canIncrement(1)" ng-click="publish.increment(1)"></i>
              <i  class="fa fa-caret-down" ng-class="{'disabled':!publish.canDecrement(1)}" ng-disabled="!publish.canDecrement(1)" ng-click="publish.decrement(1)"></i>
            </div>
          </div>

          <div class="version-part">
            <input name="build" id="version-build" ng-model="publish.parts[2]"
                ng-change="publish.change(2, publish.parts[2], '{{publish.parts[2]}}')">
            <div class="flex incrementor" >
              <i class="fa fa-caret-up" ng-class="{'disabled':!publish.canIncrement(2)}" ng-disabled="!publish.canIncrement(2)" ng-click="publish.increment(2)"></i>
              <i class="fa fa-caret-down" ng-class="{'disabled':!publish.canDecrement(2)}" ng-disabled="!publish.canDecrement(2)" ng-click="publish.decrement(2)"></i>
            </div>
          </div>

        </div>
      </form>
    </div>
    <div class="modal-footer actions">
      <div class="clear-save">
        <button
            ng-click="publish.callback(publish.resource, publish.getVersionString(), publish.buttonText);dc.publishModalVisible=false;"
            type="button"
            class="btn btn-save confirm" translate>
          GENERIC.Ok
        </button>
      </div>
      <div class="clear-save">
        <button type="button" class="btn btn-clear" ng-click="dc.publishModalVisible=false;" translate="">Cancel
        </button>
      </div>
    </div>
  </div>
</div>
