<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header" id="finderModalHeader">
      <div class="row toolbar">
        <div class="col-sm-8 col-sm-offset-2">
          <form id="finder-search-form">
            <div class="form-group  floating-label-wrapper">
              <input autocomplete="off" ng-keyup="$event.keyCode == 13 && finder.search(finder.searchTerm)"
                     type="search"
                     class="form-control search-input"
                     id="finder-search-input" placeholder="Search" aria-label="Search" ng-model="finder.searchTerm"/>
              <a class="clear do-search" ng-click="finder.search(finder.searchTerm)"><i class="fa fa-search"></i></a>
              <a class="clear clear-search" ng-show="finder.searchTerm" ng-click="finder.search('')">
                <span class="fa fa-remove"></span></a>
            </div>
          </form>
        </div>
        <div class="col-sm-2 ">
          <ul class="list-inline ">
            <li uib-tooltip="{{ 'Sort' | translate  }}"
                tooltip-trigger
                tooltip-animation="false"
                tooltip-placement="right"
                data-toggle="tooltip">
              <div class="btn-group dropdown">
                <button type="button" class="menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <i class="fa fa-sort-amount-asc"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-left">
                  <li class="sort-by-name">
                    <a ng-click="finder.setSortByName()"><i class="fa fa-check" ng-class="finder.sortName()"></i>
                      <span translate="DASHBOARD.sort.name"></span></a>
                  </li>
                  <li class="sort-by-created">
                    <a ng-click="finder.setSortByCreated()"><i class="fa fa-check" ng-class="finder.sortCreated()"></i>
                      <span translate="DASHBOARD.sort.createdOnTS"></span></a>
                  </li>
                  <li class="sort-by-updated">
                    <a ng-click="finder.setSortByUpdated()"><i class="fa fa-check" ng-class="finder.sortUpdated()"></i>
                      <span translate="DASHBOARD.sort.lastUpdatedOnTS"></span></a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div ng-if="finder.isSearching" class="search-result"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!--    <div class="modal-body scrollable-content" style="overflow-y:scroll" ng-if="finder.isListView()"-->
    <!--         cedar-infinite-scroll load-more="finder.loadMore()">-->
    <div class="modal-body">

      <!--      <section class="all-items-view" ng-class="as-modal">-->

      <div class="container-fluid">

        <div class="row">
          <!-- Left column (category tree)-->
          <div class="col-sm-3 filters-panel">

            <div class="shares">
              <a class="share workspace" ng-class="{active: finder.isHomeMode()}" href="#"
                 ng-click="finder.goToMyWorkspace()"
                 translate>DASHBOARD.sidebar.myWorkspace</a>
              <a class="share shared" ng-class="{active: finder.isSharedWithMeMode()}" href="#"
                 ng-click="finder.goToSharedWithMe()"
                 translate>DASHBOARD.sidebar.sharedWithMe</a>
              <a class="share shared" ng-class="{active: finder.isSharedWithEverybodyMode()}" href="#"
                 ng-click="finder.goToSharedWithEverybody()"
                 translate>DASHBOARD.sidebar.sharedWithEverybody</a>
              <a class="share shared" ng-class="{active: finder.isSpecialFoldersMode()}" href="#"
                 ng-click="finder.goToSpecialFolders()"
                 translate>DASHBOARD.sidebar.specialFolders</a>
            </div>

            <ul class="list-unstyled">
              <li>{{'GENERIC.Categories' | translate}}
                <ul id="filter-resource-category" class="list-inline">
                  <li ng-if="!finder.categoryTreeAvailable">
                    <div class="latest no-select">
                      <i class="btn fa" ng-class="finder.getLatestIcon()"></i>{{'GENERIC.Loading' | translate}}
                    </div>
                  </li>
                  <li ng-if="finder.categoryTreeAvailable">
                    <div class="latest no-select">
                      <div ng-controller="categoryTreeController" class="category-tree-container">
                        <category-tree helper="categoryTreeHelper" category="finder.categoryTree"
                                       callback="finder.categorySearch"></category-tree>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- Center column (resources)-->
          <div class="col-sm-5">

            <div class="results-panel" id="results-panel-id">

              <div class="breadcrumbs-sb">

                <p ng-if="finder.isSearching">
                  <span class="search-result">
                    <span ng-class="{'no-search-results':finder.searchTerm}">
                      <div ng-if="finder.isSearching" ng-bind-html="finder.breadcrumbTitle"></div>
                    </span>
                  </span>
                </p>

                <p ng-if="!finder.isSearching">
                <span class="folder-path" ng-repeat="folder in finder.pathInfo track by $index">
                  <a ng-click="finder.goToFolder(folder['@id'])" class="breadcrumbs" ng-if="finder.linkFolder(folder)">{{finder.breadcrumbName(finder.getTitle(folder))}}</a>
                  <span class="breadcrumbs" ng-if="!finder.linkFolder(folder)">{{finder.breadcrumbName(finder.getTitle(folder))}}</span>
                  /
                </span>
                  <a class="breadcrumbs">{{finder.breadcrumbName(finder.getTitle(finder.currentPath))}}</a>
                </p>
              </div>

              <div class="results">

                <div class="no-selection" ng-if="finder.resourceListIsEmpty()">
                  <div class="row no-file">
                    <div class="col-sm-12 center"><i class="fa fa-file"></i></div>
                  </div>
                  <div class="row no-message">
                    <div class="col-sm-12 center" translate>Nothing found</div>
                  </div>
                </div>

                <div
                    ng-if="finder.isFolder(resource)" class="box-row"
                    ng-class="{ selected: finder.isResourceSelected(resource) }"
                    ng-click="finder.selectResource(resource)"
                    ng-dblclick="finder.openResource(resource)"
                    ng-repeat="(index, resource) in finder.getFolders()">

                  <div class="outer flex resource-instance" ng-class="finder.getResourceTypeClass(resource)">
                    <div class="flex ellipsis" style="justify-content:space-between">
                      <cedar-resource-icon resource-type="resource.resourceType"></cedar-resource-icon>
                      <div id="{{finder.getId(resource, 'row')}}"
                           class="ellipsis" style="width:100%"
                           uib-tooltip='{{finder.getTitle(resource)}}'
                           tooltip-append-to-body="true"
                           tooltip-trigger="mouseenter"
                           tooltip-animation="false"
                           tooltip-placement="bottom"
                           data-toggle="tooltip"
                           tooltip-enable="finder.isOverflow(resource, 'row')"
                      > {{ finder.getTitle(resource)}}
                      </div>
                    </div>
                  </div>
                </div>

                <div
                    ng-if="!finder.isFolder(resource)" class="box-row"
                    ng-class="{ selected: finder.isResourceSelected(resource) }"
                    ng-click="finder.selectResource(resource)"
                    ng-dblclick="finder.openResource(resource)"
                    ng-repeat="(index, resource) in finder.getElementsAndFields()">

                  <div
                      class="outer flex resource-instance"
                      ng-class="finder.getResourceTypeClass(resource)">
                    <div class="flex ellipsis" style="justify-content:space-between">
                      <cedar-resource-icon resource-type="resource.resourceType"></cedar-resource-icon>
                      <div id="{{finder.getId(resource, 'row')}}" class="ellipsis" style="width:100%"
                           uib-tooltip='{{finder.getTitle(resource)}}'
                           tooltip-append-to-body="true"
                           tooltip-trigger="mouseenter"
                           tooltip-animation="false"
                           tooltip-placement="bottom"
                           data-toggle="tooltip"
                           tooltip-enable="finder.isOverflow(resource, 'row')"
                      >{{ finder.getTitle(resource)}}
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Right column (info panel)-->
          <div class="col-sm-4 info-panel">

            <div class="info" ng-if="finder.selectedResource">

              <div class="title flex resource-instance"
                   ng-class="finder.getResourceTypeClass(finder.selectedResource)">
                <div class="flex ellipsis" style="justify-content:space-between">
                  <cedar-resource-icon resource-type="finder.selectedResource.resourceType"></cedar-resource-icon>
                  <div class="ellipsis" style="width:100%"> {{ finder.getTitle(finder.selectedResource)}}</div>
                </div>
              </div>

              <table class="table-details">

                <tbody>
                <tr>
                  <td class="label">Location</td>
                  <td>{{ finder.selectedResource.path }}</td>
                </tr>
                <tr>
                  <td class="label">Owner</td>
                  <td>{{ finder.selectedResource.ownedByUserName }}</td>
                </tr>
                <tr>
                  <td class="label">Created</td>
                  <td>
                    <span class="no-wrap">{{ finder.selectedResource['pav:createdOn'] | prettyDate }}</span>
                    by
                    <span class="no-wrap">{{ finder.selectedResource.createdByUserName }}</span>
                  </td>
                </tr>
                <tr>
                  <td class="label">Modified</td>
                  <td>
                    <span class="no-wrap">{{ finder.selectedResource['pav:lastUpdatedOn'] | prettyDate }}</span>
                    by
                    <span class="no-wrap">{{ finder.selectedResource.lastUpdatedByUserName }}</span>
                  </td>
                </tr>
                <tr>
                  <td class="label">Permissions</td>
                  <td>
                          <span ng-if="finder.canRead()" class="can-read ellipsis"><i
                              class="fa fa-check"></i>read </span>
                    <span ng-if="finder.canWrite()" class="can-write ellipsis"><i
                        class="fa fa-check"></i>write </span>
                    <span ng-if="finder.canChangeOwner()" class="can-change-owner ellipsis"><i
                        class="fa fa-check"></i>owner</span></td>
                </tr>
                <tr ng-if="!finder.isFolder(resource)">
                  <td class="label">Version</td>
                  <td>
                    <div style="white-space:nowrap">
                      <div ng-if="finder.isPublished(resource)" style="display:inline"
                           uib-tooltip="{{'GENERIC.PublishedVersion' | translate}}"
                           tooltip-placement="top">
                        <i class="action fa fa-globe"></i>
                      </div>
                      <div style="display:inline"
                           uib-tooltip="{{'GENERIC.DraftVersion' | translate}}"
                           tooltip-placement="top">{{finder.getResourceVersion(resource)}}
                      </div>
                      <div ng-if="finder.isOpen(resource)" style="display:inline; float:right;"
                           uib-tooltip="{{'GENERIC.IsOpen' | translate}}"
                           tooltip-placement="top"
                      >
                        <i class="action fa fa-external-link-square"></i>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" class="description">{{ finder.selectedResource['schema:description'] }}</td>
                </tr>
                </tbody>
              </table>

            </div>
            <div class="info" ng-if="!finder.selectedResource">
              <div class="no-title" translate>GENERIC.SelectToViewDetails</div>
            </div>

          </div>
        </div>
      </div>

      <!--        <div class="populate-form-boxes">-->
      <!--          <div class="list-view">-->

      <!--            <div class="info-side">-->
      <!--              <div class="info" ng-if="finder.selectedResource" >-->

      <!--                <div class="title flex resource-instance" ng-class="finder.getResourceTypeClass(finder.selectedResource)">-->
      <!--                  <div class="flex ellipsis" style="justify-content:space-between">-->
      <!--                    <cedar-resource-icon resource-type="finder.selectedResource.resourceType"></cedar-resource-icon>-->
      <!--                    <div class="ellipsis" style="width:100%"> {{ finder.getTitle(finder.selectedResource)}}</div>-->
      <!--                  </div>-->
      <!--                </div>-->

      <!--                <table class="table-details">-->

      <!--                  <tbody>-->
      <!--                  <tr>-->
      <!--                    <td class="label">Location</td>-->
      <!--                    <td>{{ finder.selectedResource.path }}</td>-->
      <!--                  </tr>-->
      <!--                  <tr>-->
      <!--                    <td class="label">Owner</td>-->
      <!--                    <td>{{ finder.selectedResource.ownedByUserName }}</td>-->
      <!--                  </tr>-->
      <!--                  <tr>-->
      <!--                    <td class="label">Created</td>-->
      <!--                    <td>-->
      <!--                      <span class="no-wrap">{{ finder.selectedResource['pav:createdOn'] | prettyDate }}</span>-->
      <!--                      by-->
      <!--                      <span class="no-wrap">{{ finder.selectedResource.createdByUserName }}</span>-->
      <!--                    </td>-->
      <!--                  </tr>-->
      <!--                  <tr>-->
      <!--                    <td class="label">Modified</td>-->
      <!--                    <td>-->
      <!--                      <span class="no-wrap">{{ finder.selectedResource['pav:lastUpdatedOn'] | prettyDate }}</span>-->
      <!--                      by-->
      <!--                      <span class="no-wrap">{{ finder.selectedResource.lastUpdatedByUserName }}</span>-->
      <!--                    </td>-->
      <!--                  </tr>-->
      <!--                  <tr>-->
      <!--                    <td class="label">Permission</td>-->
      <!--                    <td>-->
      <!--                      <span ng-if="finder.canRead()" class="can-read ellipsis"><i class="fa fa-check"></i>read </span>-->
      <!--                      <span ng-if="finder.canWrite()" class="can-write ellipsis"><i-->
      <!--                          class="fa fa-check"></i>write </span>-->
      <!--                      <span ng-if="finder.canChangeOwner()" class="can-change-owner ellipsis"><i-->
      <!--                          class="fa fa-check"></i>owner</span></td>-->
      <!--                  </tr>-->
      <!--                  <tr ng-if="finder.isPublished(finder.selectedResource) || (!finder.isPublished(finder.selectedResource) && finder.getResourceVersion(finder.selectedResource) != '0.0.1')">-->
      <!--                    <td class="label">Version</td>-->
      <!--                    <td>-->
      <!--                      <div style="white-space:nowrap" ng-if="finder.isPublished(finder.selectedResource)"><i class="action fa fa-globe"></i> {{finder.getResourceVersion(finder.selectedResource)}}</div>-->
      <!--                      <div ng-if="!finder.isPublished(finder.selectedResource) && finder.getResourceVersion(finder.selectedResource) != '0.0.1'" >{{finder.getResourceVersion(finder.selectedResource)}}</div>-->
      <!--                    </td>-->
      <!--                  </tr>-->
      <!--                  <tr>-->
      <!--                    <td colspan="2" class="description">{{ finder.selectedResource['schema:description'] }}</td>-->
      <!--                  </tr>-->
      <!--                  </tbody>-->
      <!--                </table>-->

      <!--              </div>-->
      <!--              <div class="info" ng-if="!finder.selectedResource">-->
      <!--                <div class="no-title" translate>GENERIC.SelectToViewDetails</div>-->
      <!--              </div>-->
      <!--            </div>-->

      <!--            <div class="list-side">-->

      <!--              <div ng-show="!finder.hasElementsOrFields() && !finder.hasFolders()"   >-->
      <!--                <div class="row no-file">-->
      <!--                  <div class="col-sm-12 center"><i class="fa fa-file"></i></div>-->
      <!--                </div>-->
      <!--                <div class="row no-message">-->
      <!--                  <div class="col-sm-12 center" translate>Nothing found</div>-->
      <!--                </div>-->
      <!--              </div>-->

      <!--              <div ng-show="!finder.isSearching" ng-if="finder.isFolder(resource)" class="box-row"-->
      <!--                  ng-class="{ selected: finder.isResourceSelected(resource) }"-->
      <!--                  ng-click="finder.selectResource(resource)"-->
      <!--                  ng-dblclick="finder.openResource(resource)"-->
      <!--                  ng-repeat="(index, resource) in finder.getFolders()">-->


      <!--                <div class="outer flex resource-instance" ng-class="finder.getResourceTypeClass(resource)">-->
      <!--                  <div class="flex ellipsis" style="justify-content:space-between">-->
      <!--                    <cedar-resource-icon resource-type="resource.resourceType"></cedar-resource-icon>-->
      <!--                    <div class="ellipsis" style="width:100%"> {{ finder.getTitle(resource)}}</div>-->
      <!--                  </div>-->

      <!--                </div>-->
      <!--              </div>-->

      <!--              <div ng-if="!finder.isFolder(resource)" class="box-row"-->
      <!--                  ng-class="{ selected: finder.isResourceSelected(resource) }"-->
      <!--                  ng-click="finder.selectResource(resource)"-->
      <!--                  ng-dblclick="finder.openResource(resource)"-->
      <!--                  ng-repeat="(index, resource) in finder.getElementsAndFields()">-->

      <!--                <div class="outer flex resource-instance" ng-class="finder.getResourceTypeClass(resource)">-->
      <!--                  <div class="flex ellipsis" style="justify-content:space-between">-->
      <!--                    <cedar-resource-icon resource-type="resource.resourceType"></cedar-resource-icon>-->
      <!--                    <div class="ellipsis" style="width:100%">{{ finder.getTitle(resource)}}</div>-->
      <!--                  </div>-->

      <!--                  <div style="white-space:nowrap" ng-if="finder.isPublished(resource)"><i class="action fa fa-globe"></i> {{finder.getResourceVersion(resource)}}</div>-->
      <!--                  <div ng-if="!finder.isPublished(resource) && finder.getResourceVersion(resource) != '0.0.1'" >{{finder.getResourceVersion(resource)}}</div>-->
      <!--                </div>-->
      <!--              </div>-->

      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </section>-->
    </div>

    <div class="modal-footer actions">
      <div class="row">
        <!--        <div class="col-lg-8 breadcrumbs-sb ">-->
        <!--          <p ng-show="!finder.isSearching" class="not-searching">-->
        <!--          <span ng-repeat="folder in finder.pathInfo">-->
        <!--              <a ng-click="finder.goToFolder(folder['@id'])"-->
        <!--                 class="breadcrumbs browsing">{{finder.breadcrumbName(folder['schema:name'])}}</a> /-->
        <!--            </span>-->
        <!--            <a class="breadcrumbs browsing">{{finder.breadcrumbName(finder.currentPath['schema:name'])}}</a>-->
        <!--          </p>-->

        <!--          <p ng-show="finder.isSearching" class="searching"> {{finder.buildBreadcrumbTitle(finder.params.search)}}</p>-->
        <!--        </div>-->
        <div class="col-lg-12">
          <div class="clear-save">
            <button data-dismiss="modal" type="cancel" class="btn btn-clear canc">Cancel</button>
            <button ng-disabled="!finder.hasSelection()" class="btn btn-save subm" ng-click="finder.openResource()">
              Select
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
