<div class="modal-dialog">
  <!-- The modal uses ng-flow to manage the file uploads (documentation available at https://github.com/flowjs/ng-flow).
  Note that in flow-init we set the chunkSize to less than 1MB because that's the default max size allowed by ningx
  -->
  <div class="modal-content"
       ng-init="import.init()"
       flow-init="{target: import.getTarget(),
       testChunks:false,
       forceChunkSize: true,
       maxChunkRetries: 1,
       chunkRetryInterval: 1000,
       chunkSize: (1024*1024)/2}"
       flow-complete="import.flowComplete($flow)"
       flow-progress="import.flowProgress( $flow )"
       flow-file-progress="import.flowFileProgress( $file, $flow )"
       flow-file-success="$file.msg = $message; import.flowFileSuccess( $file, $message, $flow )"
       flow-file-added="import.flowFileAdded( $file, $event, $flow )"
       flow-files-added="import.flowFilesAdded( $files, $event, $flow )"
       flow-files-submitted="import.flowFilesSubmitted( $files, $event, $flow )"
       flow-file-retry="import.flowFileRetry( $file, $flow )"
       flow-file-error="import.flowFileError( $file, $message, $flow )"
       flow-error="import.flowError( $file, $message, $flow )"
       flow-upload-started="import.flowUploadStarted($flow )">

    <div class="modal-header" id="importModalHeader">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Import files</h4>
    </div>

    <div class="modal-body">

      <uib-tabset active="import.state.active">
        <uib-tab index="0" heading="Upload files">
          <div class="fileUpload">
            <div class="row">
              <div class="col-sm-5">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="actions" style="text-align:left">
                      Click the button below to select the files that will be imported into CEDAR. Accepted file types:
                      caDSR forms (.xml).
                      <div style="margin-top: 20px; text-align: center">
                        <div class="btn btn-save" flow-btn ng-disabled="!canInsert()">Select files</div>
                        <div ng-if="$flow.files.length > 0" style="margin-top: 20px">
                          <span ng-if="$flow.files.length == 1">{{$flow.files.length}} file selected</span>
                          <span ng-if="$flow.files.length > 1">{{$flow.files.length}} files selected</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-7">
                <div class="row progress-zone" flow-drag-enter="style={}"
                     flow-drag-leave="style={}"
                     ng-style="style" class="alert" flow-drop>
                  <div class="col-sm-12">


                    <div ng-if="$flow.files.length==0" class="empty"></div>
                    <div ng-repeat="file in $flow.files">

                      <div class="row">
                        <div class="col-sm-11">

                          <form class="form-inline">
                            <div class="progress">
                              <div class="progress-bar"
                                   ng-class="{'progress-bar-success active': (file.progress()*100 <= 100) && !file.error, 'progress-bar-danger': file.error, 'progress-bar-warning': file.paused}"
                                   style="min-width: 5%; width: {{file.progress()*100}}%;"
                                   value="{{file.progress()*100}}"
                                   role="progressbar" aria-valuenow="{{file.progress()*100}}" aria-valuemin="0"
                                   aria-valuemax="100">
                                <strong ng-show="!file.error" class="error">
                                  {{file.name}} </strong> <strong
                                  ng-show="file.error">Ooops...</strong>
                              </div>

                            </div>
                          </form>

                        </div>
                        <div class="col-sm-1 clear-item">
                          <button type="button" ng-click="removeItem($flow, file)" aria-label="Close"><i
                              class="fa fa-remove"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-5 actions">
              <!--<div style="width:100%;text-align:center;"><span class="btn btn-clear" flow-btn>Select</span></div>-->
            </div>
            <div class="col-sm-7 actions">
              <div>
                <button type="button" ng-click="pauseAll($flow)" ng-disabled="!canPause($flow)" aria-label="Pause"
                        class="btn btn-clear " translate>GENERIC.Pause
                </button>
                <button type="button" ng-click="resumeAll($flow)" ng-disabled="!canResume($flow)" aria-label="Resume"
                        class="btn btn-clear " translate>GENERIC.Resume
                </button>
              </div>
            </div>
          </div>

        </uib-tab>
      </uib-tabset>

    </div>

    <!-- Validation messages -->
    <div ng-if="showValidation==true" style="color:red; margin: 20px">
      <span>Please correct the following errors and try again:</span>
      <ul>
        <li ng-repeat="message in validationMessages">
          {{message}}
        </li>
      </ul>
    </div>

    <!-- footer closes the dialog -->
    <div class="modal-footer actions">
      <div style="display: flex;justify-content:space-between;align-items: center;">
        <div style="font-weight:bold;display:flex;justify-content:center;width:100%">
          <span>{{getStatus()}}</span>
        </div>
        <div class="clear-save" style="width:100%">

          <button type="button" ng-click="importModalVisible=false"
                  data-dismiss="modal" aria-label="Cancel"
                  class="btn done" ng-class="{'btn-save': import.state.complete, 'btn-clear': !import.state.complete}"
                  translate>
            Cancel
          </button>

          <span ng-if="import.state.active == 0">
            <button type="button" ng-disabled="!import.canSubmit($flow)" ng-click="import.startUpload($flow)"
                    aria-label="Submit"
                    class="btn btn-save" translate>Import
            </button>
          </span>

        </div>
      </div>
    </div>

  </div>
</div>