<div class="modal-dialog">
  <div class="modal-content">
    <div class="row copyToModalContainer">

      <div class="col-sm-4">

        <div class="copyToModalLeftPanel">
          <ul>
            <li><a class="share workspace" ng-class="{active: dc.isHomeMode()}" href="#" ng-click="move.openHome()"
                   translate>DASHBOARD.sidebar.myWorkspace</a></li>
            <li><a class="share shared" ng-class="{active: dc.isSpecialFoldersMode()}" href="#" ng-click="move.openSpecialFolders()"
                   translate>DASHBOARD.sidebar.specialFolders</a></li>
          </ul>
        </div>

      </div>

      <div class="col-sm-8 copyToModalRightPanel">

        <div class="modal-header row" id="moveModalHeader">

          <div class="col-sm-11">
            <p ng-if="move.isCommunity">
                <span>
                  Community Folders
                </span>
            </p>
            <p ng-if="!move.isCommunity">
                <span class="folder-path" ng-repeat="folder in move.destinationPathInfo track by $index">
                  <a ng-click="move.openDestination(folder)" class="breadcrumbs" ng-if="dc.linkFolder(folder)">{{dc.breadcrumbName(dc.getTitle(folder))}}</a>
                  <span class="breadcrumbs"
                        ng-if="!dc.linkFolder(folder)">{{dc.breadcrumbName(dc.getTitle(folder))}}</span>
                  /
                </span>
            </p>
          </div>

          <div class="col-sm-1 pull-right">
            <button class="close" type="button" ng-click="dc.copyModalVisible=false;move.hideModal()" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          </div>

        </div>

        <div id="moveModalContent" class="modal-body scrollable-content" cedar-infinite-scroll load-more="move.loadMore()">


          <!-- show the folders first -->
          <div ng-if="move.isFolder(resource)" class="box-row row"
               ng-class="{ selected: move.isDestinationSelected(resource)}"
               ng-repeat="(index, resource) in destinationResources">
            <div class="col-sm-1 " ng-click="move.selectDestination(resource)"><i style="color:#9e9e9e;font-size:20px;padding-right:5px"
                                                                                  class="fa" ng-class="move.getResourceIconClass(resource)"></i>
            </div>
            <a class="contents-folder-title col-sm-10" ng-click="move.selectDestination(resource)">{{resource['schema:name']}}
            </a>
            <div class="col-sm-1 arrow-click"
                 ng-click="move.openDestination(resource)"
                 uib-tooltip="{{'HELP.openFolder' | translate}}"
                 tooltip-trigger
                 tooltip-animation="false"
                 tooltip-placement="left"
                 data-toggle="tooltip"><i class="fa fa-arrow-right"></i></div>
          </div>

          <!-- then the resources -->
          <div ng-if="!move.isFolder(resource)" class="box-row row disabled"
               ng-repeat="(index, resource) in destinationResources">
            <div class="col-sm-1" ng-click="move.selectDestination(resource)" disabled="disabled"><i style="font-size:20px;padding-right:5px"
                                                                                                     class="fa"
                                                                                                     ng-class="move.getResourceIconClass(resource)"></i>
            </div>
            <div class="contents-resource-title col-sm-10" ng-click="move.selectDestination(resource)" disabled="disabled">{{resource['schema:name']}}
            </div>

          </div>

        </div>

        <div class="modal-footer actions">
          <div class="clear-save">
            <button ng-disabled="move.moveDisabled()" ng-click="move.updateResource();dc.moveModalVisible=false;dc.refresh();move.hideModal()"
                    type="button"
                    class="btn btn-save confirm"> Move
            </button>
          </div>
          <div class="clear-save">
            <button type="button" class="btn btn-clear" ng-click="dc.moveModalVisible=false;dc.refresh();move.hideModal()" translate="">Cancel
            </button>
          </div>
        </div>

      </div>

    </div>
  </div>
