<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header" id="updateTemplateWithInstancesModalHeader">
      <button type="button" class="close" ng-click="publish.doCancel()" ng-disabled="publish.saving" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title"><span translate>DELTAFINDER.ChangedTemplate.title</span></h4>
    </div>
    <div class="modal-body">
      <p ng-bind-html="'DELTAFINDER.ChangedTemplate.templateInfo' | translate: { templateName: publish.templateName, currentVersion: publish.currentVersion }"></p>
      <p ng-bind-html="'DELTAFINDER.ChangedTemplate.text1' | translate: { numInstances: publish.numberOfInstances }"></p>
      <p translate>DELTAFINDER.ChangedTemplate.text2</p>
    </div>
    <div class="modal-footer actions">
      <div class="version-actions">
        <button type="button" class="btn version-secondary" translate ng-disabled="publish.saving" ng-click="publish.doDiscard()">DELTAFINDER.ChangedTemplate.discardButton</button>
        <button type="button" class="btn version-create" translate ng-disabled="publish.saving" ng-click="publish.doAccept()">DELTAFINDER.ChangedTemplate.acceptButton</button>
        <button type="button" class="btn version-secondary" translate ng-disabled="publish.saving" ng-click="publish.doCancel()">DELTAFINDER.ChangedTemplate.cancelButton</button>
      </div>
    </div>
  </div>
</div>
