<div class="modal-dialog">
  <!-- The modal uses ng-flow to manage the file uploads (documentation available at https://github.com/flowjs/ng-flow).
  Note that in flow-init we set the chunkSize to less than 1MB because that's the default max size allowed by ningx
  -->
  <div class="modal-content"
       flow-init="{target: import.getImportUrl(),
       testChunks:false,
       forceChunkSize: true,
       maxChunkRetries: 1,
       chunkRetryInterval: 1000,
       chunkSize: (1024*1024)/2}"
       flow-complete="import.flowComplete($flow)"
       flow-progress="import.flowProgress( $flow )"
       flow-file-progress="import.flowFileProgress( $file, $flow )"
       flow-file-success="$file.msg = $message; import.flowFileSuccess( $file, $message, $flow )"
       flow-file-added="import.flowFileAdded( $file, $event, $flow )"
       flow-files-added="import.flowFilesAdded( $files, $event, $flow )"
       flow-files-submitted="import.flowFilesSubmitted( $files, $event, $flow )"
       flow-file-retry="import.flowFileRetry( $file, $flow )"
       flow-file-error="import.flowFileError( $file, $message, $flow )"
       flow-error="import.flowError( $file, $message, $flow )"
       flow-upload-started="import.flowUploadStarted($flow )">

    <div class="modal-header" id="importModalHeader">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Import files</h4>
    </div>

    <div class="modal-body">

      <uib-tabset active="import.uploadStatus.active">
        <uib-tab index="0" heading="{{'GENERIC.UploadFiles' | translate}}">
          <div class="fileUpload">
            <div class="row">
              <div class="col-sm-5">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="actions" style="text-align:left">
                      Click the button below to select the files that will be imported into CEDAR. Accepted file types:
                      caDSR forms (.xml).
                      <div style="margin-top: 20px; text-align: center">
                        <div class="btn btn-save" flow-btn ng-disabled="import.uploadStatus.submitted">Select files</div>
                        <div ng-if="!import.uploadStatus.submitted && $flow.files.length > 0" style="margin-top: 20px">
                          <span ng-if="$flow.files.length == 1">{{$flow.files.length}} file selected</span>
                          <span ng-if="$flow.files.length > 1">{{$flow.files.length}} files selected</span>
                        </div>
                        <div ng-if="import.isImportComplete()" style="margin-top: 20px">
                          <span>Import complete. Click on the 'Report' tab for details</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-7">
                <div class="row progress-zone" flow-drag-enter="style={}"
                     flow-drag-leave="style={}"
                     ng-style="style" class="alert" flow-drop>
                  <div class="col-sm-12">
                    <div ng-if="$flow.files.length==0" class="empty"><p class="msg">No files selected</p></div>
                    <div ng-repeat="file in $flow.files">
                      <div class="row">
                        <div class="col-sm-11">
                          <form class="form-inline">
                            <div class="progress">
                              <div class="progress-bar"
                                   ng-class="{'progress-bar-success active': (file.progress()*100 <= 100) && !file.error,
                                   'progress-bar-danger': file.error, 'progress-bar-warning': file.paused}"
                                   style="min-width: 5%; width: {{file.progress()*100}}%;"
                                   value="{{file.progress()*100}}"
                                   role="progressbar" aria-valuenow="{{file.progress()*100}}" aria-valuemin="0"
                                   aria-valuemax="100">
                                <strong ng-class="{ 'msg': !file.error, 'msg-error': file.error}">{{file.name}} </strong>
                                <strong ng-if="import.uploadStatus.submitted" ng-class="{ 'msg': !file.error, 'msg-error': file.error}">
                                  {{'(' + import.getImportStatus(file.name).message + ')'}}</strong>
                              </div>
                            </div>
                          </form>
                        </div>

                        <div class="col-sm-1 clear-item">
                          <!-- Not submitted -->
                          <button ng-if="!import.uploadStatus.submitted" type="button" ng-click="removeItem($flow, file)" aria-label="Close"><i
                              class="fa fa-remove"></i></button>
                          <!-- Uploading or Importing -->
                          <div ng-if="import.getImportStatus(file.name) == import.importFileStatus.UPLOAD_COMPLETE ||
                          import.getImportStatus(file.name) == import.importFileStatus.UPLOADING ||
                           import.getImportStatus(file.name) == import.importFileStatus.IMPORTING">
                            <i class="fa fa-spinner fa-spin"></i>
                          </div>
                          <!-- Import Complete -->
                          <div ng-if="import.getImportStatus(file.name) == import.importFileStatus.IMPORT_COMPLETE">
                            <i class="fa fa-check"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </uib-tab>
        <uib-tab index="1" heading="{{'GENERIC.Report' | translate}}" disable="!import.isImportComplete()">
          <uib-tabset class="nested-tabs">
            <uib-tab index="file.name" ng-repeat="file in $flow.files" heading="{{file.name}}">
              <div class="report"><p>{{import.getImportFileReport(file.name)}}</p></div>
            </uib-tab>
          </uib-tabset>
        </uib-tab>
      </uib-tabset>

    </div>

    <!-- Validation messages -->
    <div ng-if="showValidation==true" style="color:red; margin: 20px">
      <span>Please correct the following errors and try again:</span>
      <ul>
        <li ng-repeat="message in validationMessages">
          {{message}}
        </li>
      </ul>
    </div>

    <!-- footer closes the dialog -->
    <div class="modal-footer actions">
      <div style="display: flex;justify-content:space-between;align-items: center;">

        <div class="clear-save" style="width:100%">
          <button type="button" ng-click="import.resetModal($flow)"
                  data-dismiss="modal" aria-label="Cancel"
                  class="btn done btn-clear"
                  translate>
            Close
          </button>

          <span ng-if="!import.uploadStatus.submitted">
            <button type="button" ng-click="import.startUpload($flow)" ng-disabled="$flow.files.length == 0"
                    aria-label="Import"
                    class="btn btn-save" translate>
              Import
            </button>
          </span>

        </div>
      </div>
    </div>

  </div>
</div>