<div class="modal-dialog">
  <!-- The modal uses ng-flow to manage the file uploads (documentation available at https://github.com/flowjs/ng-flow).
  Note that in flow-init we set the chunkSize to less than 1MB because that's the default max size allowed by ningx
  -->
  <div class="modal-content"
       flow-init="{target: import.getImportUrl(),
       testChunks:false,
       forceChunkSize: true,
       maxChunkRetries: 1,
       chunkRetryInterval: 1000,
       chunkSize: (1024*1024)/2}"
       flow-complete="import.flowComplete($flow)"
       flow-progress="import.flowProgress( $flow )"
       flow-file-progress="import.flowFileProgress( $file, $flow )"
       flow-file-success="$file.msg = $message; import.flowFileSuccess( $file, $message, $flow )"
       flow-file-added="import.flowFileAdded( $file, $event, $flow )"
       flow-files-added="import.flowFilesAdded( $files, $event, $flow )"
       flow-files-submitted="import.flowFilesSubmitted( $files, $event, $flow )"
       flow-file-retry="import.flowFileRetry( $file, $flow )"
       flow-file-error="import.flowFileError( $file, $message, $flow )"
       flow-error="import.flowError( $file, $message, $flow )"
       flow-upload-started="import.flowUploadStarted($flow )">

    <div class="modal-header" id="importModalHeader">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Import files</h4>
    </div>

    <div class="modal-body">

      <uib-tabset active="import.uploadStatus.active">
        <uib-tab index="0" heading="{{'GENERIC.UploadFiles' | translate}}">
          <div class="fileUpload">
            <div class="row">
              <div class="col-sm-5">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="actions" style="text-align:left">
                      Click the button below to select the files that will be imported into CEDAR. Accepted file types:
                      caDSR forms (.xml).
                      <div style="margin-top: 20px; text-align: center">
                        <div class="btn btn-save" flow-btn ng-disabled="import.uploadStatus.submitted">Select files</div>
                        <div ng-if="!import.uploadStatus.submitted && $flow.files.length > 0" style="margin-top: 20px">
                          <span ng-if="$flow.files.length == 1">{{$flow.files.length}} file selected</span>
                          <span ng-if="$flow.files.length > 1">{{$flow.files.length}} files selected</span>
                        </div>
                        <div ng-if="import.isImportComplete()" style="margin-top: 20px">
                          <span>Import completed. Click on the 'Report' tab for details</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-7">
                <div class="row progress-zone" flow-drag-enter="style={}"
                     flow-drag-leave="style={}"
                     ng-style="style" class="alert" flow-drop>
                  <div class="col-sm-12">
                    <div ng-if="$flow.files.length==0" class="empty"></div>
                    <div ng-repeat="file in $flow.files">
                      <div class="row">
                        <div class="col-sm-11">
                          <form class="form-inline">
                            <div class="progress">
                              <div class="progress-bar"
                                   ng-class="{'progress-bar-success active': (file.progress()*100 <= 100) && !file.error,
                                   'progress-bar-danger': file.error, 'progress-bar-warning': file.paused}"
                                   style="min-width: 5%; width: {{file.progress()*100}}%;"
                                   value="{{file.progress()*100}}"
                                   role="progressbar" aria-valuenow="{{file.progress()*100}}" aria-valuemin="0"
                                   aria-valuemax="100">
                                <strong ng-class="{ 'msg': !file.error, 'msg-error': file.error}">{{file.name}} </strong>
                                <strong ng-if="import.uploadStatus.submitted" ng-class="{ 'msg': !file.error, 'msg-error': file.error}">
                                  {{'(' + import.getImportStatus(file.name).message + ')'}}</strong>
                              </div>
                            </div>
                          </form>
                        </div>

                        <div class="col-sm-1 clear-item">
                          <!-- Not submitted -->
                          <button ng-if="!import.uploadStatus.submitted" type="button" ng-click="removeItem($flow, file)" aria-label="Close"><i
                              class="fa fa-remove"></i></button>
                          <!-- Uploading or Importing -->
                          <div ng-if="import.getImportStatus(file.name) == import.importFileStatus.UPLOAD_COMPLETE ||
                          import.getImportStatus(file.name) == import.importFileStatus.UPLOADING ||
                           import.getImportStatus(file.name) == import.importFileStatus.IMPORTING">
                            <i class="fa fa-spinner fa-spin"></i>
                          </div>
                          <!-- Import Complete -->
                          <div ng-if="import.getImportStatus(file.name) == import.importFileStatus.IMPORT_COMPLETE">
                            <i class="fa fa-check"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </uib-tab>
        <uib-tab index="1" heading="{{'GENERIC.Report' | translate}}" disable="!import.isImportComplete()">
          <div class="report">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consectetur efficitur placerat. Vivamus
              in lacus mattis, vestibulum risus nec, aliquet eros. Aenean sagittis, odio maximus semper lacinia, nibh
              dui gravida neque, eu lacinia ligula nunc eget erat. Aenean a neque dolor. Duis dignissim quam nibh, quis
              condimentum sapien feugiat id. Sed maximus elit ac mauris placerat, sit amet egestas sem tempor. Maecenas
              accumsan turpis urna, ut imperdiet justo imperdiet et. Sed tincidunt est vitae tellus commodo, vel mattis
              neque faucibus.

              Curabitur consequat posuere vestibulum. Nunc rutrum congue quam at convallis. Maecenas non enim
              sollicitudin, lobortis nisl mattis, aliquam ligula. Donec dictum non ligula ultrices tempor. Sed rhoncus
              sollicitudin arcu at volutpat. Nam at sapien accumsan, pellentesque erat id, luctus massa. Aliquam erat
              volutpat.

              Praesent faucibus diam sit amet mi faucibus vulputate. Nulla luctus tortor eget ante consequat, ac
              consectetur dui efficitur. Integer nec placerat enim, sed maximus sem. Nunc auctor faucibus elit, eget
              auctor tortor. Integer id elementum velit. Mauris vel justo sem. Ut placerat diam sit amet ante efficitur,
              in venenatis diam mollis. Donec feugiat purus nec justo eleifend euismod. Nulla facilisi. Sed a dolor ut
              ante pretium molestie ut non sem.

              Ut ut tellus id erat aliquam mattis nec in sem. Proin fermentum justo et risus ullamcorper pretium. Etiam
              vehicula augue eu iaculis feugiat. Mauris vitae porta eros. Mauris pharetra molestie elit eu bibendum. Nam
              justo nisi, finibus non nisl vitae, cursus varius ex. Aliquam tristique urna odio, sit amet placerat dolor
              pulvinar a. Etiam nibh metus, dapibus nec vestibulum vitae, gravida eget magna. Sed suscipit commodo dolor
              eget finibus. Donec eros mi, venenatis a ligula at, malesuada interdum tellus.

              Praesent pellentesque tristique odio at lobortis. Sed sed semper sem. Nulla facilisi. In hac habitasse
              platea dictumst. Proin cursus, tortor eu interdum iaculis, odio ex vulputate ipsum, sed ullamcorper dui
              nibh in arcu. Curabitur lorem sem, ultricies ac neque placerat, consectetur viverra risus. Phasellus et
              elit sodales, aliquam velit et, euismod dolor. Donec a felis id lectus tempor scelerisque non sit amet
              velit. Nunc tempor ligula in tellus fringilla volutpat. Ut elementum sapien ut purus viverra, ut porta
              nisi laoreet. Etiam eget sem et lectus semper placerat. Phasellus ligula nulla, sagittis in congue ut,
              lobortis et nulla. Pellentesque at tincidunt odio.</p>
          </div>

        </uib-tab>
      </uib-tabset>

    </div>

    <!-- Validation messages -->
    <div ng-if="showValidation==true" style="color:red; margin: 20px">
      <span>Please correct the following errors and try again:</span>
      <ul>
        <li ng-repeat="message in validationMessages">
          {{message}}
        </li>
      </ul>
    </div>

    <!-- footer closes the dialog -->
    <div class="modal-footer actions">
      <div style="display: flex;justify-content:space-between;align-items: center;">

        <div class="clear-save" style="width:100%">
          <button type="button" ng-click="import.resetModal($flow)"
                  data-dismiss="modal" aria-label="Cancel"
                  class="btn done btn-clear"
                  translate>
            Close
          </button>

          <span ng-if="!import.uploadStatus.submitted">
            <button type="button" ng-click="import.startUpload($flow)" ng-disabled="$flow.files.length == 0"
                    aria-label="Import"
                    class="btn btn-save" translate>
              Import
            </button>
          </span>

        </div>
      </div>
    </div>

  </div>
</div>